{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block banner %}
	<!-- <img src="/static/img/banner-resources.jpg"> -->
	<p>About</p>
	<style type="text/css">
	.banner{
		background-image:url('/static/img/banner-about.jpg');
	}
	</style>
{% endblock %}
{% set active_page = "ABOUT" %}
{% block main %}
	<section class='block'>
		{% block sidebar %}
		<section class='sidebar'>
				<!-- <h2><a href="/resources.html#main">Resources</a></h2> -->
				<ul>
				{% set nav_bar = [
					('/people.html','People'),
					('/contact.html','Contact'),
					] %}
				{% for href, caption in nav_bar %}
				<li><a href="{{href}}" {% if caption == sub_active_page %} class='active' {% endif %}>{{caption}}</a></li>
				{% endfor %}
				</ul>
		</section>
		{% endblock %}
		<section class='main-block'>
		{% block mainblock %}
		<div class='blog'>
			<h1>Who We Are</h1>
			<article>
				<img src="/static/img/about.JPG">
				<p>
					Housed in the Biological Sciences Division of the University of Chicago, the Center for Data Intensive Science focuses on data science and its applications to problems in biology, medicine, and health care. 
				</p>
				<p>
					We collaborate in ongoing projects with the Institute for Genomics and Systems Biology and the Computation Institute at the University of Chicago. 
				</p>
				<p>
					Our vision is a world in which researchers have ready access to the data needed and to the tools required to make discoveries from data that increase our scientific knowledge and improve the quality of life.
				</p>
				
				
			</article>
		</div>
			</section>
			
		{% endblock %}
		</section>
	</section>
	

{% endblock %}