{% extends "technology.html" %}

{% set sub_active_url='atwood' %}
{% set sub_active_page = "Protected Data Clouds" %}
{% block mainblock %}
<div class='blog'>
	<div class='title'>
		<h1>Atwood Protected Data Cloud</h1>
		{% import 'util.html' as util %}
		{{ util.share(sub_active_url) }}
	</div>
<article>
	<p>
		The Atwood Protected Data Cloud supports numerous faculty and research projects at the University of Chicago. Atwood provides scalable storage and compute resources with co-located data, informatics applications, and tools. Numerous researchers throughout the Biological Sciences Division rely on Atwood for their projects, specifically in the departments of Health Studies, Medicine, Pediatrics, and Human Genetics. 
	</p>
	
</article>

	

{% endblock %}