<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- <meta name="viewport" content="width=device-width" /> -->
<meta name="viewport" content="initial-scale=1" />
<link rel="stylesheet"  type="text/css" href="/static/css/layout.css">
<link rel="shortcut icon" href="/static/img/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/css/base.css">
<!-- <link rel='stylesheet' media='screen and (max-width: 700px)' href='/static/css/responsive.css'> -->
{% block css %}
{% endblock %}
<link rel="stylesheet"  type="text/css" href="/static/css/responsive.css">
<title>CDIS - {% block title %}{% endblock %}</title>
</head>
{% set root_url = 'http://cdis.uchicago.edu/' %}
<body>
	<header>
		<nav>
			<div class="logo">
				<a href="/" >
					<img src="/static/img/logo-short.png">
				</a>
			</div>	
			<div class='nav'>
				<input type=checkbox class='toggle' id='menu'>
				<label for='menu' class="icon-menu"></label>
				<ul>
				{% set nav_bar = [
					('/','HOME'),
					('/about.html','ABOUT'),
					('/research.html','RESEARCH'),
					('/technology.html','TECHNOLOGY'),
					('/careers.html','CAREERS'),
					] %}
				{% for href, caption in nav_bar %}
					<li><a href="{{href}}" {% if caption == active_page %} class='active' {% endif %}>{{caption}}</a></li>
				{% endfor %}
				</ul>
			</div>
		</nav>
	</header>
	<main >
		{% block bannerwrapper %}
		<section class='banner banner-{{active_page}}'>
		{% block banner %}

			<p>{{active_page|title}}</p>
			<style type="text/css">
			.banner{
				background-image:url('/static/img/banner-{{active_page|lower}}.jpg');
			}
			@media screen and (max-width:930px){
				.banner{
					background-image:url('/static/img/mobile/banner-{{active_page|lower}}.jpg');
				}	
			}
			</style>

		{% endblock %}
		</section>
		{% endblock %}
		<div class='main' id='main'>
		{% block main %}

		{% endblock %}
		</div>
	</main>
	<footer>
		<section class='nav'>
			<div class="logo">
				<img src="/static/img/logo-white.png">
			</div>
			<nav>
				
				<ul>
					{% set nav_bar = [
					('/about.html','ABOUT'),
					('/people.html','PEOPLE'),
					('/contact.html','CONTACT'),
					] %}
				{% for href, caption in nav_bar %}
				<li><a href="{{href}}" >{{caption}}</a></li>
				{% endfor %}

				</ul>
				<ul>
					{% set nav_bar = [
					('/technology.html','TECHNOLOGY'),
					('/careers.html','CAREERS'),
					('/research.html','RESEARCH'),
					] %}
				{% for href, caption in nav_bar %}
				<li><a href="{{href}}" >{{caption}}</a></li>
				{% endfor %}

				</ul>
			</nav>
		</section>
		<section class='copyright'>
			© 2015. Center for Data Intensive Science & The University of Chicago. 
		</section>
		

	</footer>
</body>