{% extends "resources.html" %}
{% block title %} Resources {% endblock %}
{% set active_page = "RESOURCES" %}
{% set sub_active_page = "Collaborations with NCI" %}
{% block mainblock %}
<section>
	<div>
		<h2>Genomic Data Commons (GDC)</h2>
	</div>
	<article>
		<p>
		The GDC is a collaboration with the National Cancer Institute (NCI) to create the nation’s most comprehensive computational facility. The GDC will store and harmonize cancer genomic data generated through NCI-funded research programs. 
		</p>
		<a href="/gdc.html#main">Learn More</a>
	</article>
</section>
{% endblock %}