{% extends "technology.html" %}
{% block title %} Education {% endblock %}
{% set sub_active_page = "Education" %}
{% block mainblock %}
<section>
	<div>
		<h2>Data Commons and Data Cloud User Training</h2>
	</div>
	<article>
		<p>
			User training and workshops are held to onboard new researchers to our clouds and provide resources and guidance to ongoing collaborators for optimizing research on our infrastructure. These sessions are tailored to the applications and technical acumen of the participants. 
		</p>
		<a href="mailto:cdis@uchicago.edu">Contact us to schedule a Cloud Workshop</a>
	</article>
</section>
<section>
	<div>
		<h2>PIRE Annual Workshop</h2>
	</div>
	<article>
		<p>
			The PIRE annual workshop, funded in part by the NSF PIRE program, has gathered young researchers and experts together for the past three years to address current challenges and develop understanding of how to best exploit our growing wealth of data. Participants from North and South America, Japan, and Europe, engage in lectures, discussions, hands-on tutorials, and debate. The outcomes include fresh ideas, new understanding, and lasting international alliances pursuing collaborative research. 
		</p>
		<a href="http://pire.opensciencedatacloud.org/workshops/">Learn more about the annual PIRE Workshop</a>
	</article>
</section>
<section>
	<div>
		<h2>PIRE International Summer Fellowships</h2>
	</div>
	<article>
		<p>
			The PIRE program provides up to 15 competitive summer fellowships abroad at one of our international partner sites to qualified graduate students and early career scientists to develop skills in data intensive computing and work on research projects involving big data and cloud computing using the Open Science Data Cloud. 
		</p>
		<a href="http://pire.opensciencedatacloud.org/">Apply for a PIRE Fellowship</a>
	</article>
</section>
<section>
	<div>
		<div>
			<h2>Student Research Opportunities</h2>
		</div>
		<article>
			<p>
				Graduate and undergraduate students alike are valued members of UChicago research teams. The Center for Data Intensive Science provides opportunities for collaboration with students in big data research, networking, programming, and user services. 
			</p>
			Submit your resume and a letter of interest to <a href="mailto:cdis-jobs@lists.uchicago.edu">cdis-jobs@lists.uchicago.edu.</a>
		</article>
	</div>

</section>
	{% import 'util.html' as util %}
	{{ util.share(active_page) }}	

{% endblock %}