{% extends "technology.html" %}

{% set sub_active_url='gdc' %}
{% set sub_active_page = "Collaborations with NCI" %}
{% block mainblock %}
<div class='blog'>
	<div class='title'>
		<a class='icon gdc' href='https://gdc.nci.nih.gov/'><img src="/static/img/gdc-logo.png"></a>
		<h1>Genomic Data Commons</h1>
		{% import 'util.html' as util %}
		{{ util.share(sub_active_url) }}
	</div>

</h1>
<article>
	<p>
	The Genomic Data Commons (GDC), which hosts cancer genomics data produced by research projects funded by the National Cancer Institute (NCI) and makes the data available to researchers around the world. This is funded by a NIH/NCI contract that was awarded to the University of Chicago in May, 2014.
	</p>
</article>
<div>
	<h2>What is the GDC?</h2>
</div>
<article>
	<p>
		The GDC centralizes and standardizes cancer genomics data so that any authorized researcher can access and analyze it. 
	</p>
	<p>
		The GDC is taking the same approach to cancer data that Google takes with advertising data–-it stores massive amounts of cancer data so that researchers can gain new insights into cancer and its treatment
	</p>
</article>
<div>
	<h2>Why is there a need?</h2>
</div>
<article>
	<p>
		<ul>
			<li>The root of cancer is genomic mutations. The current model for analyzing genomic mutations is broken. It is no longer feasible for individual researchers and research groups to download and analyze cancer genomics data. It is too big, too distributed, and too diverse. This is one of the major obstacles to understanding the roots of established cures and discovering new cures.</li>
			<li>
				A cancer researcher would need millions of dollars and several years to set up a sufficient infrastructure. Only a handful of medical researcher centers can set up an informatics infrastructure capable of analyzing large scale genomic datasets.
			</li>
		</ul>
	</p>
</article>
<div>
	<h2>How is this transformational?</h2>
</div>
<article>
	<p>
		Computations that would have taken many years, millions of dollars, and the coordination of multiple research teams, will be completed in days or even hours by a skilled bioinformatician with access to the GDC.

	</p>
	<p>
		Think of this as the democratization of cancer research. With the GDC, any talented cancer researcher now has access to the data he or she needs to make discoveries. 
	</p>
	<p>
		This is an essential step on the road to personalized genomic therapy. In the future, the genome of a patient’s tumor will be compared to thousands of other tumors to create an individual therapy using the best combination of drugs for that patient’s tumor.
	</p>
	<p>
		The GDC will transform cancer research.
	</p>
</article>
<div>
	<h2>
		What does a layperson need to know?
	</h2>
</div>
<article>
	<p>
		In a few years we will probably have enough cancer genomics data, but without a project like the GDC, we won’t be able to analyze and make use of all this data. This will allow us to optimize each patient’s treatment and the patients can be anywhere.
</article>

</div>
	

{% endblock %}