{% extends "base.html" %}
{% set active_page = "HOME" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% endblock %}
{% block title %} Home {% endblock %}


{% block bannerwrapper %}
{% endblock %}
{% block main %}
	<section class='block welcome'>
		<div class='middle'>
			<div>
				<h1>Welcome</h1>
			</div>
			<article>
				Housed in the Biological Sciences Division at the University of Chicago, the Center for Data Intensive Science focuses on data science and its applications to problems in biology, medicine, and health care.

				Learn more about our <a href="/about.html">center</a> and our <a href="/resources.html">resources</a>. Interested in joining? We currently have several <a href="/careers.html">job openings</a>.
			</article>
		</div>
	</section>
	<section class='block midgray'>
		<div><h1>News</h1>
		</div>
		{% set news = [
			('/static/img/news/campus_tech.jpg', '11 Mar 2015', 'OCC Featured in Campus Technology','The Open Cloud Consortium is featured in an article in Campus Technology that showcases our efforts to provide the research community with the tools they need for discovery.'),
			('/static/img/news-4.png','09 Feb 2015', 'OCC Announced as a Matter Member',"Today we're pleased to announce that the OCC has joined the Matter community. OCC staff will have a dedicated workspace in the Matter ecosystem in Chicago's historic Merchandise Mart."),
			('/static/img/news/OSDC_video.png', '14 Jan 2015', "OSDC Milestone - Over 700 Resource Allocations Granted", "Today we're proud to announce another Open Science Data Cloud milestone. Over 700 resource allocations have been granted to researchers to use the OSDC and the list of publications that utilized the OSDC continues to grow."),
			('/static/img/news-3.png', '09 Feb 2015', 'Genomics Data Commons @ University of Chicago Announced',
			"The University of Chicago announced today their collaboration with the National Cancer Institute to establish the Genomic Data Commons.")] 
		%}
		{% set news_number = news|length %}
		{% set slide_number = (news_number/3)|round(0,'ceil')|int %}
		<input checked type="radio" name="slider" id="slide0">

		{% for n in range(1,slide_number) %}
		<input type="radio" name="slider" id="slide{{n}}">
		{% endfor %}
		<div class="wrapper">
			
			<div class='news'>

				{% for img, date, title, article in news %}
				<section>
					<div>
						<img src="{{img}}">
						<article>
							<p class='date'>{{date}}</p>
							<h3>{{title}}</h3>
							<p>The Open Cloud Consortium is featured in an article in Campus Technology that showcases our efforts to provide the research community with the tools they need for discovery.</p>
						</article>
					</div>
				</section>
				{% endfor %}
			</div>
		</div>
		<style type="text/css">
		.news {
			width: {{100/3*news_number}}%;
		}
		.news >section {
			width:{{100/news_number}}%;
		}
		</style>
		<div id="active">
			{% for n in range(slide_number) %}
			<label class='slide{{n}} left' for="slide{{(n+1)%slide_number}}"><p><</p></label>
			<label class='slide{{n}} right' for="slide{{(n+1)%slide_number}}"><p>></p></label>
			{% endfor %}
		</div>
		<div id="controls">
			{% for n in range(slide_number) %}
			<label for="slide{{n}}"></label>
			{% endfor %}
		</div>
	</section>
	<section class='dark block'>
		<div class='featured-projects wrapper'>
		<div>
			<h1>Featured Projects</h1>
		</div>
			<section>
				<a href='/osdc.html' class='circle osdc'>
					<div>
						<img src="/static/img/osdc-logo.png">
					</div>
					<p>Open Science Data Cloud</p>
				</a>
			</section>
			<section>
				<a href='/pdc.html' class='circle pdc'>
					<div>
						<img src="/static/img/pdc-logo.png">
					</div>
					<p>Bionimbus Protected Data Cloud</p>
				</a>
			</section>
			<section>
				<a href='/gdc.html' class='circle gdc'>
					<div>
						<img src="/static/img/gdc-logo.png">
					</div>
					<p>Genomic Data Commons</p>
				</a>
			</section>
		</div>
	</section>
</div>
<style type="text/css">
{% for n in range(slide_number) %}
#slide{{n}}:checked ~ #active label.slide{{n}}{
	display: table;
}
#slide{{n}}:checked ~ #controls label:nth-child({{n+1}}){
	background: #333;
	border-color: #333 !important;
}
#slide{{n}}:checked ~ .wrapper .news { margin-left:-{{100*n}}%; }
{% endfor %}
</style>
{% endblock %}
