{% extends "resources.html" %}
{% block title %} Resources {% endblock %}

{% set active_page = "RESOURCES" %}
{% set sub_active_page = "Protected Data Clouds" %}
{% block mainblock %}
<section>
	<div>
		<h2>Bionimbus Protected Data Cloud (PDC)</h2>
	</div>
	<article>
		<p>
		The PDC is the first open-source, cloud-based computational platform that allows researchers authorized by NIH to compute over human genomic data in a secure and compliant fashion. Bionimbus and related cloud-based infrastructures are used by researchers working on cancer, diabetes, and neuropsychiatric disorders. 
		</p>
		<a href="/pdc.html">Learn More</a>
	</article>
</section>
<section>
	<div>
		<h2>Atwood Protected Data Cloud</h2>
	</div>
	<article>
		<p>
			The Atwood Protected Data Cloud supports numerous faculty and research projects at the University of Chicago. Atwood provides scalable storage and compute resources with co-located data, informatics applications, and tools. Numerous researchers throughout the Biological Sciences Division rely on Atwood for their projects, specifically in the departments of Health Studies, Medicine, Pediatrics, and Human Genetics. 

		</p>
	</article>
</section>
{% endblock %}