{% extends "base.html" %}
{% block title %} Research {% endblock %}
{% set active_page = "RESEARCH" %}
{% if not sub_active_page %}
	{% set sub_active_page='Research' %}
{% endif %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/research.css">
{% endblock %}
{% block main %}

	<section class='block'>
		{% block sidebar %}
		<section class='sidebar'>
				<ul>
				{% set nav_bar = [
					('#pilot','Pilot Projects'),
					('#funding','Funding Opportunities'),
					('#collaborators','Collaborators'),

					] %}
				{% for href, caption in nav_bar %}
				<li><a href="{{href}}" {% if caption == sub_active_page %} class='active' {% endif %}>{{caption}}</a></li>
				{% endfor %}
				</ul>
		</section>
		{% endblock %}
		<section class='main-block'>
		{% block mainblock %}
			<section id='pilot'>
				<div>
					<h2>Pilot Projects</h2>
				</div>
				<article>
					<ul class='items'>
						<li>
							<p>Medical Imaging and Informatics </p>
							<p class='desc'>Maryellen L. Giger, PhD</p>
						</li>
						<li>
							<p>NIDDK Inflammatory Bowel Disease Genetics Consortium (IBDGC) </p>
							<p class='desc'>Phil Schumm, MA</p>
						</li>
						<li>
							<p>International Neuroblastoma Risk Group (INRG) </p>
							<p class='desc'>Susan L. Cohn, MD</p>
						</li>
						<li>
							<p>Research on datacenter and exascale system architecture, programming, and resilience </p>
							<p class='desc'>Andrew A. Chien </p>
						</li>
						<li>
							<p>IGSB Protected Data Cloud </p>
							<p class='desc'>Kevin White, PhD</p>
						</li>
					</ul>
				</article>
			</section>
			<section id='funding'>
				<div>
					<h2>Funding Opportunities</h2>
				</div>
				<article>
					We provide funding and support to University of Chicago researchers for selected projects leveraging data science with data clouds and data commons. CDIS offers a collaborative approach to stimulate data-driven research across disciplines, defuse technological barriers, and promote discovery through informatics. 
				</article>
			</section>
			<section id='collaborators'>
				<div>
					<h2>Collaborators</h2>
				</div>
				<article>
					We engage with innovative research teams across a variety of disciplines around the world.
				</article>
				{% for img in [
					"INRG-HEADER-with-flags.jpg", "OICR2logo.png", "nci.png", "igsb_204x84.png",
					"cri.jpeg", "ICGC_Logo_eng_large.jpg",
					"jhu.png", "northwestern.png", "EMBL_EBI_Logo_white.png", "ASGC TWGrid.jpg", 
					"nsf1.png", "OCC_RGB_HORIZ.jpg", "ci_site_logo.png", "ITM-Logo.jpg", ]%}
					<img class="research-logo" src="/static/img/collaborator-logos/{{img}}">
				{% endfor %}
			</section>
		{% endblock %}
		</section>
	</section>
	

{% endblock %}