{% extends "base.html" %}
{% block title %} Technology {% endblock %}

{% set active_page = "TECHNOLOGY" %}
{% set current_url = "/technology.html" %}
{% if not sub_active_page %}
	{% set sub_active_page = "All Resources" %}
{% endif %}
{% block main %}
	<section class='block'>
		{% block sidebar %}
		<section class='sidebar'>
				<!-- <h2><a href="/resources.html">Resources</a></h2> -->
				<ul>
				{% set nav_bar = [
					(current_url,'All Resources'),
					('/protected-data-clouds.html','Protected Data Clouds'),
					('/gdc.html','Collaborations with NCI'),
					('/collaborations-with-open-cloud-consortium.html','Collaborations with OCC'),
					(current_url~'#education','Education'),
					] %}
				{% for href, caption in nav_bar %}
				<li><a href="{{href}}" {% if caption == sub_active_page %} class='active' {% endif %}>{{caption}}</a></li>
				{% endfor %}
				</ul>
		</section>
		{% endblock %}
		<section class='main-block'>
		{% block mainblock %}
			<section>
				<article>
					<p>
						Our scalable, open-source software architecture powers the following data clouds and data commons for the scientific research community. 
					</p>
				</article>
			</section>
			<section>
				<div>
					<h2>Protected Data Clouds</h2>
				</div>
				<article>
					<ul>
						<li>
							<div class="arrow-right"></div>
							<a href="/pdc.html">Bionimbus Protected Data Cloud (PDC)</a>
						</li>
						<li>
							<div class="arrow-right"></div>
							<a href="/atwood.html">Atwood Protected Data Cloud</a>
						</li>
						</li>
					</ul>
				</article>
			</section>
			<section>
				<div>
					<h2>CDIS Collaborations with the National Cancer Institute</h2>
				</div>
				<article>
					<ul>
						<li>
							<div class="arrow-right"></div>
							<a href="/gdc.html">Genomic Data Commons (GDC)</a>
						</li>
					</ul>
				</article>
			</section>
			<section>
				<div>
					<h2>CDIS Collaborations with the Open Commons Consortium</h2>
				</div>
				<article>
					<ul>
						<li>
							<div class="arrow-right"></div>
							<a href="/osdc.html">Open Science Data Cloud (OSDC)</a>
						</li>
						<li>
							<div class="arrow-right"></div>
							<a href="http://matsu.opensciencedatacloud.org/">Project Matsu</a>
						</li>
						<li>
							<div class="arrow-right"></div>
							<a href="/bcc.html">Biomedical Data Commons (BDC)</a>
						</li>
					</ul>
				</article>
			</section>
			<section id="education">
				<div>
					<h2>Education</h2>
				</div>
				<article>
					<ul class='bullets'>
						<li>Data Commons and Data Cloud User Training
						</li>
						<li>PIRE Annual Workshop</li>
						<li>PIRE International Summer Fellowships</li>
						<li>Student Research Opportunities</li>
					</ul>
					<a class="button" href="/education.html">Detail</a>
				</article>
			</section>
		{% endblock %}
		</section>
	</section>
	

{% endblock %}