{% set root_url='http://cdis.uchicago.edu/' %}
{% macro share(active_page) %}
<div class='share'>
	<p class='icon-share-alt'></p>
	<div class='share-detail'>
		<p>Share</p>
		<a href='https://plus.google.com/share?url={{root_url}}{{active_page|lower}}.html' class='icon-google-plus'></a>
		<a href='https://www.facebook.com/sharer/sharer.php?u={{root_Url}}{{active_page|lower}}.html' class='icon-facebook'></a>
		<a href='https://twitter.com/intent/tweet?text={{root_url}}{{active_page|lower}}.html' class='icon-twitter'></a>
	</div>

</div>

{% endmacro %}