<!-- start custom footer snippets -->
<input type="image" class="top-var" src="/assets/images/arrow_top_icon.png" 
  		onClick="javascript:window.scrollTo(0,0)" alt="맨위로" />

<!-- 구글 애드센스 코드 -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pubxxx" crossorigin="anonymous"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).pauseAdRequests=1;</script>
// This will pause ad requests, so users have time to interact with your consent solution.

<!-- One test unit for GDPR -->
<ins class="adsbygoogle"     
     style="display:inline-block;width:970px;height:250px"
     data-ad-client="ca-pubxxx"
     data-ad-slot="slot_id">
</ins>
<!-- Another test unit for GDPR -->
<ins class="adsbygoogle"     
     style="display:inline-block;width:250px;height:250px"
     data-ad-client="ca-pubxxx"
     data-ad-slot="slot_id">
</ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
<!-- end custom footer snippets -->
