<!-- insert favicons. use http://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png?v=7kkOzmnx2k">
<link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png?v=7kkOzmnx2k" sizes="32x32">
<link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png?v=7kkOzmnx2k" sizes="16x16">
<link rel="manifest" href="/images/favicon/manifest.json?v=7kkOzmnx2k">
<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg?v=7kkOzmnx2k" color="#5bbad5">
<link rel="shortcut icon" href="/images/favicon/favicon.ico?v=7kkOzmnx2k">
<meta name="msapplication-config" content="/images/favicon/browserconfig.xml?v=7kkOzmnx2k">
<meta name="theme-color" content="#ffffff">

<!-- end favicons. -->
