---
title: "Chinatown"
permalink: /chinatown/
---
<h2>Chinatown Revitalization</h2>

A century ago, Portland had the second largest Chinese population next to San Francisco. It once counted for 10% of population in Portland. Chinatown has been not only one of the prominent landmarks but a legacy for this city. Chinatown had its up and down in the past, but never lost its hope. With the new generation of Chinese immigrants moving into this city in the last 30 years, the Chinese community has pledged to work together to revitalize Chinatown, to make it great again.

<p><br/><img src="/assets/images/chinatown/chinatown1small.jpg"></p>

<p><img src="/assets/images/chinatown/chinatown2small.jpg"></p>
Illustrations by Wayne Chin

<h2>Portland Chinatown Performance Photo Galleries</h2>

<p>【4/27/2016 西北兆】记得我们在大群里从纽约的梁警官聊到咱们眼皮底下的中国城，华人的境地似乎是与我们自己的 感觉出入得不是一点半点。对于没落的老城中国城，虽然是这么多年来华人和华人社团在不断地 努力着，但是，看结果就明白了，华人已经基本上不在游戏之中了。</p>

<p>还好，还有那么一些志同道合的华人，一定要这些游戏规则的制定者们，给我们华人社区一个说 法。所以，我们建起了一个《对老城中国城复兴的思考和努力》小群。昨天下午，在 PSU 搞了第 一次聚会。此次聚会也还是蛮高大上的，现代化的活动场地，红白葡萄酒，水果，点心。。。甚 至还安排了高学位的门童为各位来宾开门指路。</p>

<p>会中，经历过老城过去二十多年历史的朋友介绍了华人的抗争史。有刚刚落脚在波特兰的华人渴 望在中国城拥有一家介绍中国文化并能与主流文化交流的这样一家店面。有熟悉 EB5 的朋友献计 献策。又刚参加了老城居委会例会的朋友介绍了会场上见不到华人的业主地主的景象。当然更多 的是对现在中国城的破落感到郁闷，希望能做些什么。</p>

<p>今天我们继续在微信群里面讨论我们到底能做什么。其中一个点子就是想办法在中国城刷我们的 存在感。让主流社会感觉到我们还在，还在关心（惦记）着这里发生的一切，还想给这个原来属 于我们的社区做点什么。</p>

<p>具体的想法就是打算配合 5 月份的玫瑰节，在中国城搞一些小型但是“连续不断”的文化娱乐活 动。现在这个季节开始事宜与室外活动了，如果有可能，从现在开始，到玫瑰节，每个周末都有 一个小型的活动，舞狮，舞蹈，抖空竹，武术，绘画，演讲，小合唱。。。找到了感觉，也可以 做大，偶尔甚至可以请到来自国内和台湾的团体。</p>

<p>最后，就像是周末市场，人们都不用刻意去记，到时去了，就会有什么活动在那。那时，不仅是 老百姓，即便是 PDC 和地产大鳄们，也就会接受这个现实了。而实际上，一街之隔，就是热闹的 Saturday Market。如果时间上安排和 Saturday Market 一致，效果会更佳。</p>

<p>我们需要尽快做出安排，每个星期六一个演出小组，时间控制在两个小时之内。我们会组织安排 演出和封街许可，保险，当然还有我们 220 集会的功勋安全保卫志愿者们负责大家的安全，因为 参加演出的都是我们自己的亲人。希望咱们华人的业余演出团体能加入我们的小群。谢谢！</p>

{% for gallery in site.chinatown_gallery %}
  <a href="{{ gallery.url }}"><h3>{{ gallery.title }}</h3></a>
{% endfor %}

<h2>Chinese Community Against OTCTCA's Rebranding</h2>

【8/21/2016 CCBA】各位僑領,
<p>我們懷著憤懣的心情向近期發生在「老城/華埠」一些不合理和不公義的事 情表達不滿。</p><p>
在1989年「老城/華埠」地段以「新華埠/日本埠歷史區」命名，登記在「國 家歷史地區册」中，但一直没有人關注，「老城/華埠」名稱仍源用至今。最近老 城華埠社區委員會新聘的品牌經理舊事重提，為粉飾該區將會印製兩批奪目的旗幟 上面寫著「老城/華埠」和「老城/日本埠」分別掛在華埠每條紅色燈柱上。令人誤 會華埠變成了日本埠，對此我們表示極力反對。</p><p>
回想我們的先賢在百多年前由於各種原因離開家鄉，千里迢迢遠赴美洲，歷 盡滄桑磨難，受盡諸多不平和歧視，何等艱辛。他們憑著無比勇氣，毅力在這裏安 生立命。在他們努力不懈苦心經營下漸漸成為中土以外的一個樂土。由於我們華人 喜歡群居，一方面增加安全感方便互相照應，而另一方面可以保存我們固有傳統文 化發揮守望相助精神，因此聚居之地就漸漸發展成為我們現時的華埠唐人街，由此 可知華埠是有其長遠歷史和不斷濾積和沉澱的文化，因此我們僑胞對這裏很有感情 和歸屬感，不是任何人可以改變。儘管市政府處理不善令華埠發展走向下坡，但多 個傳統僑社仍然留守着，它是我們精神上的根，折射出中國人移民海外的歷史足迹 ，延續的是中華文化。
</p><p>
這次改名事件引致的後果卻是非常嚴重和具破壞性， 甚至不能彌補，首先 會破壞上述歷史和文化，因為華埠唐人街是美國歷史不可或缺的一部份，再者會引 致種族關係緊張，破壞社會和平穩定，得不償失。</p><p>
因此，為了捍衛這個屬於所有華僑的華埠，爭取社會理解和支持，維護華人 固有的權益和神聖的尊嚴，我們要匯聚僑團的力量全力以赴，大聲向倡議者說不， 據理力爭，盡早表達我們的堅決反對，以免造成既定事實。我呼籲大家務必踴躍準 時出席由老城華埠社區委員會舉辦的研討會, 作進一步的探討和積極發聲。</p>

{% for gallery in site.chinatown_sayno %}
  <a href="{{ gallery.url }}"><h3>{{ gallery.title }}</h3></a>
{% endfor %}
