---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true
redirect_from:
  - /wordpress/cv/
---


{% include base_path %}
{% capture written_label %}'None'{% endcapture %}

<u><a style="line-height: 1.5;" href="http://www.mebilgin.com/cv.pdf"><span style="color: #333333;"><span>Also available in PDF format.</span></span></a></u>
<h1 class="western" align="center"><b>Muhammed Bilgin</b></h1>
<p style="line-height: 1.5;" align="center"><span><b>Curriculum Vitae</b> </span></p>
<p style="line-height: 1.5;" align="center"><span>bilgin at  mebilgin.com | <a href="http://www.mebilgin.com/">http://www.mebilgin.com</a> | <a href="http://www.twitter.com/itsmebilgin">@itsmebilgin</a> | <a href="https://is.gd/DZCAIS">Google Scholar</a></span></p>

<a name="education"><h2 class="western">Education:</h2></a>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span><b>Ph.D. </b></span><span><b>Candidate</b></span><span></span>
<ul>
</ul>
</li>
</ul>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span><b>MEng., Engineering Management</b>, <b> Galatasaray University</b></span>
<ul>
 	<li><strong><span><b>Date:</b></span></strong><span>Dec 2022 *Expected</span></li>
 	<li><span><b>Master’s Project</b>: Dynamic Pricing Management with Machine Learning</li</span>
 	<li><span><b>Advisor: </b>Prof. </span><span> Temel Ozcan</span></li>
</ul>
</li>
</ul>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span><b>MBA., Master of Business Administration</b>, <b> Istanbul University</b></span>
<ul>
 	<li><strong><span><b>Date:</b></span></strong><span>Mar 2021</span></li>
 	<li><span><b>Master’s Project</b>: Digital Marketing with Artificial Intelligence</li</span>
 	<li><span><b>Advisor: </b>Prof. </span><span> Zehra Bozbay</span></li>
</ul>
</li>
</ul>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span><b>BSc., Computer Engineering</b> <b>Istanbul Arel University</b></span>
<ul>
 	<li><strong><span><b>Date: </b></span></strong><span>Jun 2017</span></li>
  <li><span><b>Senior Thesis</b>: Remote fuzzy logic controlled robotic arm design</li></span>
 	<li><span><b>Advisor:</b></span><span> Prof. Osman Yildirim</span></li>
</ul>
</li>
</ul>
<a name="employment"><h2>Employment</h2></a>
<ul style="line-height: 1.5; margin: 10px 0;">
  <li><span><b>Senior ML Engineer</b>, Albayrak Holding (Dec 2019 to present)</span></li>
  <li><span><b>Founder</b>, talentbu.com (Apr 2018 to Dec 2019)</span></li>
  <li><span><b>R&D Director</b>, DGR Project (Jun 2017 to Apr 2018)</span></li>
</ul>
<a name="employment"><h2>Freelance Experience</h2></a>
<ul style="line-height: 1.5; margin: 10px 0;">
  <li><span><b>Project Manager and Senior ML Engineer</b>, <b> Multiple Routing and Optimization Project</b>, Lead Shipment Company in Turkey</span></li>
  <li><span><b>Project Manager and Senior ML Engineer</b>, <b> Dynamic Pricing and Recommendation Engine</b>, Confidential Company Information</span></li>
  <li><span><b>Project Manager and Senior ML Engineer</b>, <b> Knowledge Extraction</b>, Confidential Company Information</span></li>
</ul>

<a name="publications"><h2 id="peer-reviewed-journal-publications-">Peer-Reviewed Journal Publications:</h2></a>
<ol style="line-height: 1.5; margin: 10px 0;">
<li><strong>Bilgin, Muhammed,</strong> (2021). &quot; Language Generation for Computational Cognitive Neuroscience &quot;  <em>Cognitive Neuroscience Society (CNS).</em> <a href="link">link</a></li>
</ol>

<h2 id="peer-reviewed-conference-proceedings-">Peer-Reviewed Archived Conference Proceedings:</h2>
<ol style="line-height: 1.5; margin: 10px 0;">
<li><strong>Bilgin, Muhammed,</strong> Ensari Tolga (2017). &quot; Robot Localization with Monte Carlo Method &quot; <em>Electrical - Electronics, Computer, Biomedical Engineers Conference</em>(EBBT* 2017). <a href-"https://ieeexplore.ieee.org/abstract/document/7956755">https://ieeexplore.ieee.org/abstract/document/7956755</a></li>
</ol>

<h2 id="reports-working-papers-and-preprints-non-peer-reviewed-">Reports, Working Papers, and Preprints (non-peer reviewed):</h2>
<ol style="line-height: 1.5; margin: 10px 0;">
<li><strong>Bilgin, Muhammed</strong>, MCMC Tensor &quot; <em>arXiv</em> <a href="link">link</a></li>
<li><strong>Bilgin, Muhammed</strong>, Topic Driven Question Generation with Self-Supervised Learning &quot; <em>arXiv</em> <a href="link">link</a></li>
<li><strong>Bilgin, Muhammed</strong>, Language Generation for Computational Cognitive Neuroscience &quot; <em>arXiv</em> <a href="link">link</a></li>
</ol>

<a name="awards"><h2>Awards and Competitions</h2></a>
<ul>
<li>Istanbul Technical University/Robotic Lab (2016-2017) &amp; Flexible and sensitive robot leg &amp; Supervisor: Berk Ustundag</li>
<li>Istanbul Arel University/Texas/ABD (2016-2017) &amp; Model Satellite Competition Team Captain @CanSaT NASA &amp; Supervisor: Prof. Osman Yildirim</li>
</ul>


<h2>Professional Service</h2> 
<a name="memberships"><h3>Memberships in professional associations</h3></a>
<ul>
<li>Istanbul University - Computational Intelligence and Machine Learning <b><u><a href="http://www.ciml.group">CIML web site</a></u></b> Research Lab, 2017-present </li>
<li>Data Istanbul, 2016-present</li>
</ul>

<a name="service"><h3>Service activities</h3></a>
<ul>
<li>Istanbul Arel University, Informatics, Technology and Industry 4.0 (March 2017)</li>
<li>Istanbul University, Computational Linguistics and NLP (May 2019)</li>
</ul>

<a name="talks"><h2>Talks</h2></a>
  <ul>{% for post in site.talks reversed %}
    {% unless post.talk_type == "Conference proceedings talk" %}
      {% include archive-single-talk-cv.html %}
    {% endunless %}
  {% endfor %}</ul>

<h2>Teaching</h2>
  <ul>{% for post in site.teaching reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>

<h2 class="western">Research Interests and Skills:</h2>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span><b>Research Interests:</b></span>
<ul>
 	<li><span>Natural Language Processing</span></li>
	 <li><span>Neural Networks and Graphs</span></li>
 	<li><span>Tensors</span></li>
 	<li><span>Cognitive Brain</span></li>
	<li><span>Computational Neural Systems</span></li>
</ul>
 	<li><span><b>Skills:</b></span>
<ul>
 	<li><span><strong>Programming Languages </strong>: Python, Julia, Go, Qt Framework</span></li>
 	<li><span><strong>Tools</strong>: Octave</span></li>
 	<li><span><strong>Libs</strong>: RASA, NLTK, scikit-learn, Tensorflow, PyTorch, pandas, matplotlib</span></li>
 	<li><span><strong>Management Tools</strong>: Jira</span></li>
</ul>
</li>
</ul>
