---
title: "Many Solutions, One Goal."
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_filter: ".65"
  overlay_image: assets/images/aplura-splash-graphic.jpg
  actions:
      - label: "About"
        url: /Services/

excerpt: "Information Security: Operations, Consulting, and Development"

intro:
  - image_path: assets/images/alogo_cleaned.png
    image_size: 224px
    title: "What We Do"
    excerpt: "We are committed to improving the IT security of organizations by providing expert knowledge and ingenuity to
              produce solutions tailored to our clients’ specific needs. Our measurable results are highlighted by diminished
              security-related incidents leading to reduced overall client costs."


feature_row:
  - image_path: assets/images/logo_splunk_powered_high_resized.png

    alt: "Splunk_Logo"
    title: "Splunk - need to confirm use of logos"
    excerpt: "As a [Splunk](https://www.splunk.com/) integration partner and [powered consultant](https://www.splunk.com/view/partner-directory/SP-CAAAGQY) since 2008, Aplura is Splunk’s longest-running partner in this category.
      Aplura is trusted to fulfill professional services on behalf of Splunk via sub-contract and is regarded highly throughout the international Splunk community."
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: assets/images/Gigamon_Logo_resized.png
    image_size: 100%
    alt: "placeholder image 2"
    title: "Gigamon"
    excerpt: "Our staff’s security engineering and intrusion detection experience is complimented by the innovative features of [Gigamon](https://www.gigamon.com/)
    which we have supported since 2011. Additionally, through Aplura’s partner relationship, we provided sub-contract Gigamon professional
    services. Rely on our staff to help your organization get the most out of your network’s data and tool analytics by having us help you implement and or manage your Gigamon products."


  - image_path: assets/images/pan-logo-badge-blue-medium-kick-up_resize.png
    image_size: 100%
    title: "Palo Alto Networks"
    excerpt: "To shore up your organization’s network gateway, Aplura can assist with your Palo Alto Networks deployment. After integrating with Palo firewalls for years with other technologies (Splunk and Gigamon), and leveraging them internal to our organization, we began providing Palo consulting services in 2014. A properly executed Palo engagement will provide your organization tremendous functionality over legacy firewalls.  Additionally, we can plan the engagement to minimize and potentially eliminate network downtime."


feature_row2:
  - image_path: assets/images/placeholder_image.png
    image_size: 50%
    title: "I need something here"
    excerpt: "Something needs to go here to help break up the page but i would like a secound opion on what should go here"
    btn_class: "btn--primary"

feature_row3:
  - image_path: assets/images/lock.png
    image_size: 4em
    alt: "placeholder image 2"
    title: "Security Services"
    excerpt: 'Aplura provides robust and innovative solutions for our clients, including: <br /><br />
              • [Consulting]()  <br />
              • [Operations and Managment]() <br />
              • [Development]()

                '
    url: "/Services"
    btn_label: "Services"
    btn_class: "btn--primary"


  - image_path: assets/images/news.png
    image_size: 4em
    alt: "book_logo"
    title: "Resources"
    excerpt: 'Aplura’s staff provide papers, seminars, and lectures to raise security awareness for their peers, clients,
              and community. We encourage interested parties to contact us if a specific paper or lecture topic might be
              valuable to their organization. Feel free to check the schedule or download any content that might be valuable to your organization.'
    url: "/Services"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: assets/images/paper.png
    image_size: 4em
    alt: "placeholder image 2"
    title: "News"
    excerpt: '[Splunk Application Development]() <br /><br /> [Introducing Aplura Security for Splunk]() <br /><br /> [ISC2 Exam Developer Workshop]()'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="left" %}
<p>
    Aplura’s staff of credentialed IT security professionals provides our clients information security
  resources for daily operations as well as project-based expert technical assistance. Our engineers
  specialize in the following technologies: <br />

</p>

{% include feature_row %}
<!-- {% include feature_row id="feature_row" type="left" %} -->

{% include feature_row id="feature_row2" type="right" %}

{% include feature_row id="feature_row3" %}
