---
layout: archive
title: "Recipes Archive"
permalink: /recipes/
---
{% include absolute-url.liquid %}
{% include group-by-array.html collection=site.recipes field='categories' %}

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h3>{{ category }}</h3>
  {% for post in posts %}
    <article itemscope itemtype="http://schema.org/CreativeWork">
      {% if post.link %}
        <h2 class="link-post" itemprop="headline"><a href="{{ absurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></a></h2>
      {% else %}
        <h2 itemprop="headline"><a href="{{ absurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p itemprop="description">{{ post.excerpt | markdownify | strip_html | strip_newlines | escape_once }}</p>
      {% endif %}
    </article>
  {% endfor %}
{% endfor %}