---
layout: archive
permalink: /tag-archive/
title: "Posts by Tags"
---
{% include absolute-url.liquid %}
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_list = site_tags | split:',' | sort %}

{% for item in (0..site.tags.size) %}
  {% unless forloop.last %}
    {% capture tag_name %}{{ tag_list[item] | strip_newlines }}{% endcapture %}
      <h3>{{ tag_name }}</h3>
      {% for post in site.tags[tag_name] %}{% if post.title != null %}
        <article itemscope itemtype="http://schema.org/CreativeWork">
          {% if post.link %}
            <h2 class="link-post" itemprop="headline"><a href="{{ absurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></a></h2>
          {% else %}
            <h2 itemprop="headline"><a href="{{ absurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
            <p itemprop="description">{{ post.excerpt | markdownify | strip_html | strip_newlines | escape_once }}</p>
          {% endif %}
        </article>
        {% endif %}
      {% endfor %}
  {% endunless %}
{% endfor %}