---
layout: single
author_profile: true
title: Portfolio of Projects organized by cases
shortdesc: "Cases assessed"
permalink: /collections/Cases
category: Index
excerpt: "Code Markdows by cases"
header:
  overlay_color: "#333"
---

Projects/codes in this collection organized by cases (or datasets):
<style>
tbody {
  font-size: 95%;
  font-style: italic;
}
</style>

{% for collection in site.collections | reverse %}
    {% for code in collection.Case_code%}
    	{% assign cases = code | first %}
    	<li>
    	{{code}}: {{collection.Case}}
    	{% for collection in site.collections %}
	  {% if collection.Case_code contains code %} 
	  <table>
          <tr>
            <td colspan="3"><h2 href="{{ collection.url }}">{{ collection.title }}</h2></td>
          </tr>
          <tr>
            <td rowspan="3"><a href="{{ collection.url }}"><image src={{ collection.image }} alt = {{collection.title}} style="max-height:100%; max-width:100%; object-fit: cover"></a></td>
            </tr>
          <tr>
            <td colspan="2"><a href="{{ collection.url }}">{{ collection.shortdesc }}</a></td>
          </tr>
          <tr>
            <td width="30%><a href="{{ collection.url }}">{{ collection.Method }}</a></td>
            <td width="40%><a href="{{ collection.url }}"><b>Data from: </b>{{ collection.Datafrom }}</a></td>
          </tr>
        </table>	  
	  {% endif %}
	  </li>
	{% endfor %}
    {% endfor %}    
{% endfor %}
<ul>
	
</ul>


