---
layout: single
author_profile: true
title: Structural equation modelling
permalink: /collections/SEM_Examples
category: index
excerpt: "Some example codes"
header:
  overlay_color: "#333"
---

Collection and projects:

<ul>
  {% for collection in site.collections %}
  {% if collection.category == 'SEM' %}
      <li>
        <h2><a href="{{ collection.url }}">{{ collection.title }}</a></h2>
        <h3>{{ collection.position }}</h3>
        <p>{{ collection.shortdesc }}</p>
      </li>
  {% endif %}
  {% endfor %}
</ul>
