/* ==========================================================================
   ANIMATIONS
   ========================================================================== */

@keyframes intro {
  0% {
    opacity: 0;
    transform: translate3d(0, -25px, 0)
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}