/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include container;
  @include clearfix;
  margin-top: 3em;
  padding: 0 1em 3em;
  color: mix(#fff, $gray, 25%);
  animation: intro 0.3s both;
  animation-delay: 0.45s;

  @include breakpoint($x-large) {
    max-width: $x-large;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.page__footer-copyright {
  font-family: $global-font-family;
  font-size: $type-size-7;

  @include breakpoint($large) {
    @include prefix(2.5 of 12);
  }
}

.page__footer-follow {
  @include breakpoint($large) {
    @include prefix(2.5 of 12);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: $sans-serif-narrow;
    font-size: $type-size-6;
    text-transform: uppercase;
  }

  li + li:before {
    content: "";
    padding-right: 5px;
  }

  a {
    padding-right: 10px;
    font-weight: bold;
  }
}