/* ==========================================================================
   NOTICE TEXT BLOCKS
   ========================================================================== */

/**
 *  Default Kramdown usage (no indents!):
 *  <div class="notice" markdown="1">
 *  #### Headline for the Notice
 *  Text for the notice
 *  </div>
 */

@mixin notice($notice-color) {
  margin: 2em 0 !important;  // override
  padding: 1em;
  font-family: $sans-serif;
  font-size: $type-size-6 !important;
  text-indent: initial; // override
  background-color: mix(#fff, $notice-color, 90%);
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  h4 {
    margin-top: 0 !important; // override
    margin-bottom: 0.75em;
  }

  @at-root .page__content #{&} h4 {
    // using at-root to override .page-content h4 font size
    margin-bottom: 0;
    font-size: 1em;
  }

  @at-root .page__content #{&} a {
    border-bottom-width: 2px;
    box-shadow: none !important; // override

    &:hover {
      background-color: transparent !important; // override
    }
  }

  p {
    &:last-child {
      margin-bottom: 0 !important; // override
    }

    a {
      border-bottom: 1px solid mix(#fff, $notice-color, 50%) !important; // override
    }
  }

  h4 + p {
    // remove space above paragraphs that appear directly after notice headline
    margin-top: 0;
    padding-top: 0;
  }

  code {
    background-color: mix(#fff, $notice-color, 95%)
  }

  ul {
    &:last-child {
      margin-bottom: 0; // override
    }
  }
}

/* Default notice */

.notice {
  @include notice($primary-color);
}

/* Info notice */

.notice--info {
  @include notice($info-color);
}

/* Warning notice */

.notice--warning {
  @include notice($warning-color);
}

/* Success notice */

.notice--success {
  @include notice($success-color);
}

/* Danger notice */

.notice--danger {
  @include notice($danger-color);
}