/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

.sidebar {
  @include clearfix();
  margin-bottom: 2em;
  padding-bottom: 1em;
  @include breakpoint($large) {
    @include span(2 of 12);
    @include suffix(0.25 of 12);
  }
  @include breakpoint($x-large) {
    padding-right: 0;
  }
  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }
  p, li {
    font-size: 14px;
  }
  img {
    width: 100%;
  }
}

.sidebar__right {
  @include breakpoint($medium) {
    position: absolute;
    top: 0;
    right: 1em;
    width: $right-sidebar-width-narrow;
    padding-left: 2em;
    @include breakpoint($large) {
      width: $right-sidebar-width;
    }
    @include breakpoint($x-large) {
      width: $right-sidebar-width-wide;
    }
  }
  @include breakpoint($large) {
    right: calc(50% - (0.5 * #{$large}) + 1em); // 50% - 1/2 of wrapper's max-width + wrapper padding
  }
  @include breakpoint($x-large) {
    right: calc(50% - (0.5 * #{$x-large}) + 1em); // 50% - 1/2 of wrapper's max-width + wrapper padding
  }
}

/*
   Author profile and links
   ========================================================================== */

.author__avatar {
  float: left;
  width: 50px;
  margin-right: 10px;
  @include breakpoint($large) {
    float: none;
    width: initial;
  }
  img {
    max-width: 110px;
    border-radius: 50%;
  }
}

.author__content {
  float: right;
  width: calc(100% - 60px); // subtract avatar width + any margin/padding
  @include breakpoint($large) {
    float: none;
    width: 100%;
  }
}

.author__name {
  margin: 0;
  font-family: $sans-serif-narrow;
  font-size: 20px;
  @include breakpoint($large) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.author__bio {
  margin-bottom: 10px;
  font-size: 14px;
  font-style: italic;
  @include breakpoint($large) {
    margin-bottom: 20px;
  }
}

.author__urls {
  a {
    display: inline-block;
    margin-bottom: 5px;
    padding-right: 5px;
    font-size: 14px;
    text-decoration: none;
    @include breakpoint($large) {
      display: block;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}