/* ==========================================================================
   SPLASH
   ========================================================================== */

.splash__item {
  margin-bottom: 2em;

  @include breakpoint($small) {
    text-align: center;
    @include gallery(4 of 12);

    .splash__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  .archive__item-excerpt {
    margin-bottom: 1em;
  }
}

