/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  width: 100%;
  font-family: $sans-serif;
  font-size: $type-size-6;
  border-collapse: collapse;
  border: 2px solid $border-color;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $lighter-gray;
  border-bottom: 2px solid $border-color;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 2px solid $border-color;
}

td {
  padding: 0.5em;
  border-bottom: 2px solid $border-color;
  border-right: 2px solid $border-color;
}

tr, td, th {
  vertical-align: middle;
}