### Jekyll ###
_site
.sass-cache
.jekyll-metadata
Gemfile.lock


### Gulp ###
package.json
/node_modules/


### Atom ###
.ftpconfig
.sftpconfig


### Compiled Source ###
*.com
*.class
*.dll
*.exe
*.o
*.so


### Compressed Packages ###
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


### Logs and Databases ###
*.log
*.sql
*.sqlite


### Linux ###
*~
.fuse_hidden*
.Trash-*
.nfs*


### MacOS ###
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Windows ###
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
