* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    height: 100vh;
    background-color: #F3F3F3;
    /*background-image: url('https://github.com/webdevcreative/responsive-navbar-design/assets/162293185/53f0bb3f-044c-4039-bc27-1016613d255d');*/
    background-size: cover;
    background-position: center;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }

  a:hover {
    color: orange;
  }

  header {
    position: relative;
    padding: 0 2rem;
  }

  .navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navbar .links {
    display: flex;
    gap: 2rem;
  }

  .navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }

  .action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
  }