/* ==========================================================================
   자체 커스텀한 부분
   ========================================================================== */
.hide{
  display:none;
}

.open-new {
  cursor: pointer;
}