.mh_toogle {
    display: none;
    + .mh_toggle_btn {
        box-sizing: border-box;
        outline: 0;
        display: block;
        width: 3em;
        height: 1.5em;
        position: relative;
        cursor: pointer;
        user-select: none;
        border-radius: 1.5em;
        padding: 2px;
        transition: all 0.4s ease;
        font-size: 1em;

        &:after {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            border-radius: 50%;
            transition: all 0.4s ease;
            color: gray;
            background: white;
        }

        background: lightgray;
        &:after {
            left: 0;
            content: "brightness_7";
        }
    }

    &:checked + .mh_toggle_btn {
        background: gray;
        &:after {
            left: 50%;
            content: "brightness_4";
        }
    }
}