$customFont: 'GowunBatang-Regular' !default;
$serif: $customFont, Georgia, serif !default;

$global-font-family: $serif !default;
$header-font-family: $serif !default;
$caption-font-family: $serif !default;