---
layout: splash
title: "Elternbriefe"
excerpt: "Manchmal möchten wir Ihnen auch einen netten Brief über aktuelles Geschehen schreiben."
header:
  overlay_color: "#fff"
  overlay_image: /assets/images/feature-elternbriefe.jpg
---

{% for post in paginator.posts %}
<hr>

{{ post.date | date: "%d.%m.%Y %H:%M Uhr" }}

<h1><a href="{{ post.url }}">§</a> {{ post.title }}</h1>

{% if post.read_time %}
  <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
{% endif %}

{{ post.content }}
{% endfor %}

{% include paginator.html %}
