/* ==========================================================================
   Theme Color
   ========================================================================== */
$sign-color: #70cac3; /* Downy */

:root {
  --bg-color: #fafafa;
  --bg-white-color: #fafafa;
  --text-color: #212121;
  --text-white-color: #fafafa;
  --primary-color: hsl(175, 46%, 62%);
  --primary-hover-color: hsl(175, 25%, 45%);
  --page-footer-color: #333333;
  --page-footer-hover-color: #000000;
  --masthead-color: #3d4144;
  --masthead-hover-color: #53595e;
}

[data-theme="dark"] {
  --bg-color: #252a34;
  --bg-white-color: #fafafa;
  --text-color: #fafafa;
  --text-white-color: #fafafa;
  --primary-color: hsl(175, 46%, 62%);
  --primary-hover-color: hsl(175, 25%, 45%);
  --page-footer-color: #333333;
  --page-footer-hover-color: #000000;
  --masthead-color: #fafafa;
  --masthead-hover-color: #999999;

  /* ==========================================================================
        Dark skin
        ========================================================================== */
  $border-color: mix(#fff, $background-color, 20%) !default;
  $code-background-color: mix(#000, $background-color, 15%) !default;
  $code-background-color-dark: mix(#000, $background-color, 20%) !default;
  $form-background-color: mix(#000, $background-color, 15%) !default;
  $footer-background-color: mix(#000, $background-color, 30%) !default;
  $link-color: mix($primary-color, $text-color, 40%) !default;
  $link-color-hover: mix(#fff, $link-color, 25%) !default;
  $link-color-visited: mix(#000, $link-color, 25%) !default;
  $masthead-link-color: $text-color !default;
  $masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
  $navicon-link-color-hover: mix(#000, $background-color, 30%) !default;
}

html,
body {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}
