@mixin back-to-top {
  .back-to-top {
    box-sizing: border-box;
    position: fixed;
    bottom: $b2t-position-bottom;
    right: $b2t-position-right;
    z-index: $zindex-5;
    padding: 0 6px;
    width: if(jekyll-config('sidebar.scrollpercent'), initial, 24px);
    background: $b2t-bg-color;
    font-size: $b2t-font-size;
    opacity: $b2t-opacity;
    color: $b2t-color;
    cursor: pointer;
    text-align: center;
    -webkit-transform: translateZ(0);
    transition-property: bottom;
    @include the-transition();

    @include mobile() {
      display: none;
    }
    @include tablet() {
      display: none;
    }

    &.back-to-top-on {
      bottom: $b2t-position-bottom-on;
    }
  }
}
