<div class="google-ads">
  <!-- 320 x 50 ad -->
  <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:inline-block;width:320px;height:50px"
       data-ad-client="{{ site.owner.google.ad-client }}"
       data-ad-slot="{{ site.owner.goodle.slot }}"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div><!-- /.google-ads -->


<span>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}. Center for Data Intensive Science & The University of Chicago. <A HREF="http://www.uchicago.edu"><IMG SRC="{{site.url}}/images/UChicago-logo.jpg" WIDTH=120 HEIGHT=25> </span> 
