{% if map.location %}
  {% assign location = site.data.locations[map.location] %}
{% elsif page.location %}
  {% assign location = site.data.locations[page.location] %}
{% else %}
  {% assign location = false %}
{% endif %}

{% if map.options %}
  {% assign options = map.options %}
{% elsif site.data.default_map.options %}
  {% assign options = site.data.default_map.options %}
{% endif %}

<script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>window.L || document.write('<script src="{{ site.url }}/assets/js/vendor/leaflet-0.7.3.js"><\/script>')</script>
<script charset="utf-8">
// Create map
var map = L.map('feature-map', {
  {% for option in options %}
    {{ option[0] }}: {{ option[1] }}{% if forloop.last == false %},{% endif %}
  {% endfor %}
})
// Set view & zoom
{% if location %}
  .setView([{{ location.coordinates | join: ',' }}])
{% endif %}
{% if location.zoom %}
  .setZoom({{ location.zoom }})
{% elsif map.zoom %}
  .setZoom({{ map.zoom }})
{% elsif site.data.default_map.zoom %}
  .setZoom({{ site.data.default_map.zoom }})
{% endif %}
;

// Add baselayer
L.tileLayer(
{% if map.mapboxlayer %}
  '//{s}.tiles.mapbox.com/v3/{{ map.mapboxlayer }}/{z}/{x}/{y}.png'
{% elsif map.baselayer %}
  {{ map.baselayer }}
{% elsif site.data.default_map.mapboxlayer %}
  '//{s}.tiles.mapbox.com/v3/{{ site.data.default_map.mapboxlayer }}/{z}/{x}/{y}.png'
{% elsif site.data.default_map.baselayer %}
  {{ site.data.default_map.baselayer }}
{% endif %}
).addTo(map);

// Add markers
{% if location %}

  L.marker([{{ location.coordinates | join: ',' }}])
  .bindPopup(""
    {% if location.url %}
      + "<a href='{{ location.url }}' {% if location.target %}target='{{ location.target }}{% else %}target='_blank'{% endif %} name='{{ location.name}}'>"
    {% endif %}
      + "<b>{{ location.name }}</b>"
    {% if location.url %}
      + "</a>"
    {% endif %}
    {% if location.address %}
      + "<br />{{ location.address }}"
    {% endif %}
    {% if location.extra %}
      + "<br />{{ location.extra }}"
    {% endif %}
  )
  .addTo(map)

  {% if location.open %}
    .openPopup({{ location.open }})
  {% else %}
    .openPopup(true)
  {% endif %}
  ;
{% endif %}

{% for marker in map.markers %}
  {% if marker.coordinates %}
    L.marker([{{ marker.coordinates | join: ',' }}])

    {% if marker.content %}
      .bindPopup("{{ marker.content }}")
    {% endif %}

    .addTo(map)

    {% if marker.open %}
      .openPopup({{ marker.open }})
    {% endif %}
    ;
  {% endif %}
{% endfor %}
</script>
