<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>
<script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>window.L || document.write('<script src="{{ site.url }}/assets/js/vendor/leaflet-0.7.3.js"><\/script>')</script>
{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  var _gaq = _gaq || [];
  var pluginUrl =
 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', '{{ site.owner.google.analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
{% if page.comments %}
  {% include _disqus_comments.html %}
{% endif %}

{% if page.map %}
<script charset="utf-8">
var map = L.map('feature-map', {
  {% for option in page.map.options %}
    {{ option[0] }}: {{ option[1] }}
    {% if forloop.last == false %},{% endif %}
  {% endfor %}
})
{% if page.map.location %}
  .setView([{{ page.map.location | join: ',' }}])
{% endif %}
{% if page.map.zoom %}
  .setZoom({{ page.map.zoom }})
{% endif %}
;

L.tileLayer(
{% if page.map.mapboxlayer %}
  'http://{s}.tiles.mapbox.com/v3/{{ page.map.mapboxlayer }}/{z}/{x}/{y}.png'
{% elsif page.map.baselayer %}
  {{ page.map.layer }}
{% endif %}
).addTo(map);

{% for marker in page.map.markers %}
  {% if marker.location %}
    L.marker([{{ marker.location | join: ',' }}])

    {% if marker.content %}
      .bindPopup("{{ marker.content }}")
    {% endif %}

    .addTo(map)

    {% if marker.open %}
      .openPopup({{ marker.open }})
    {% endif %}
    ;
  {% endif %}
{% endfor %}


</script>
{% endif %}
