<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@pepibumur">
<meta name="twitter:creator" content="@pepibumur">
<meta name="twitter:title" content="PPinera Mobile Development newsletter">
<meta name="twitter:description" content="Subscribe to PPinera weekly newsletter and stay tuned with the mobile development community. News, articles, libraries and reflexions">
<meta name="twitter:image" content="https://farm7.staticflickr.com/6077/6027625030_588665ef1e_b.jpg">