{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% capture teaser %}{{ site.teaser }}{% endcapture %}
{% endif %}

<div class="grid__item">
  <a href="{{ base_path }}{{ post.url }}">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "http" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="{{ page.title }}">
      </div>
      <h2 class="archive__item-title" itemprop="headline">{% if post.id %}{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}{% else %}{{ post.title }}{% endif %}</h2>
      {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
    </article>
  </a>
</div>