<article itemscope itemtype="http://schema.org/CreativeWork">
  <a class="archive__item" href="{{ site.url }}{{ post.url }}">

    <div class="archive__item-body">
      {% if post.categories contains 'mastering-paper' %}
        <h1 class="archive__item-title" itemprop="headline">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' | remove: 'Mastering Paper by FiftyThree: ' | remove: 'Mastering Paper by 53: ' | remove: ' with Paper by FiftyThree' }}</h1>
        {% else %}
        <h1 class="archive__item-title" itemprop="headline">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
      {% endif %}
      <div class="archive__item-meta">
        <span class="date published" itemprop="datePublished"><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time></span>
        {% assign readtime = post.content | strip_html | number_of_words | divided_by:site.words_per_minute %}
        <span class="archive__item-time"><svg class="icon"><use xlink:href="#icon-stopwatch"></use></svg> {% if readtime <= 1 %}1{% else %}{{ readtime }}{% endif %} min read</span>
      </div>
      <p class="archive__item-excerpt" itemprop="text">{{ post.excerpt markdownify | strip_html | strip_newlines | escape_once }}</p>
    </div>

    <div class="archive__item-thumb" {% if post.image.teaser %}style="background-image: url('{{ site.url }}/assets/images/{{ post.image.teaser }}');"{% endif %}></div>

  </a>
</article>
