{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" %}
          {% if post.teaser %}
            <img src="{{ site.url }}{{ site.baseurl }}{{ post.teaser }}" style="width: 150px; height: 150px;"></img>
            {% else %}
            <img src="{{ site.url }}{{ site.baseurl }}/assets/images/transparent.png"
              style="width: 150px; height: 150px;"></img>
          {% endif %}
    {% endif %}

    <h2 class="archive__item-title no_toc" itemprop="headline">
    {% if include.type == "list" %}
    <div style="float: left; padding-right: 25px; background-size: cover;">
      {% if post.teaser %}
        <img src="{{ site.url }}{{ site.baseurl }}{{ post.teaser }}" style="width: 150px; height: 150px;"></img>
      {% else %}
        <img src="{{ site.url }}{{ site.baseurl }}/assets/images/transparent.png" style="width: 150px; height: 150px;"></img>
      {% endif %}
  
      </div>
    {% endif %}


  {% if post.link %}
  <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i
      class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
  {% else %}
  <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
  {% endif %}
  {% include page__meta.html type=include.type %}
</h2>

</article>
</div>