<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
{% if author.pgp %}
    <li>
        <a href="{{ author.pgp }}" itemprop="sameAs">
            <i class="fa fa-fw fa-lock" aria-hidden="true"></i> PGP-Key
        </a>
    </li>
{% endif %}

{% if author.cansat %}
    <li>
        <a href="{{ author.cansat }}" itemprop="sameAs">
            <i class="fa fa-fw fa-rocket" aria-hidden="true"></i> CanSat-Webseite
        </a>
    </li>
{% endif %}
