<HTML>
<HEAD>
  <TITLE>capabilities_map.html</TITLE>
  <meta NAME = "GENERATOR"          CONTENT = "IHMC CmapTools vr. 4.12 ">
  <meta NAME = "KEYWORDS"           CONTENT = "Brian Hu, Concept Map, cmap, CmapTools, IHMC, capabilities_map,  New Methodologies,  Activity Recognition,  Challenge Areas,  Autonomous systems,  Research and Development,  New Technologies,  XAI Toolkit,  Image Analysis,  Explanation Effectiveness,  About the DARPA XAI PROGRAM,  New Conceptual Models,  Human-Machine Systems Evaluation,  The process of explaining and sensemaking,  Research Findings">
  <meta NAME = "DESCRIPTION"        CONTENT = "This Concept Map, created with IHMC CmapTools, has information related to: capabilities_map, Research and Development led to New Conceptual Models, Research and Development led to Research Findings, Research and Development led to New Technologies, New Methodologies are for Human-Machine Systems Evaluation, Challenge Areas include Autonomous systems, New Technologies span Challenge Areas, Challenge Areas include Image Analysis, New Methodologies are presented in the XAI Toolkit, New Conceptual Models are about The process of explaining and sensemaking, Research Findings are about Explanation Effectiveness, Research and Development led to New Methodologies, New Technologies are presented in the XAI Toolkit, Challenge Areas include Activity Recognition">
  <meta NAME = "AUTHOR"             CONTENT = "IHMC CmapTools">
  <meta HTTP-EQUIV = "Content-Type" CONTENT = "text/html; charset = UTF-8">
  <script LANGUAGE="JavaScript1.2">
  <!--
    //  PopUp --
    //  Institute for Human and Machine Cognition, http://www.ihmc.us/
    //  CmapTools, Version 4.11, http://cmap.ihmc.us/
    //  Modify by: CmapTools Developers, cmapsupport@ihmc.us
    //  Date: 12/14/2006

    var IE = 0;
    var IE4PC = 0;
    var NS = 0;
    var GECKO = 0;

    var openpopups = new Array();

    if (document.all) {                 // Internet Explorer Detected
	   IE = true;	
    }
    else if (document.layers) {         // Netscape Navigator Detected
	   NS = true;	
    }
    else if (document.getElementById) { // Netscape 6 Detected
       GECKO = true;
    }
    else {
	   alert("Unrecognized Browser Detected::\nSorry, your browser is not compatible.");
    }

    if (IE)
    {
	   OS = navigator.platform;
	   VER = new String(navigator.appVersion);
	   VER = VER.substr (0, VER.indexOf(" "));
	   if ((VER < 4.8) && (OS == "Win32")) 
	   {
	       IE4PC = 1;
	   }
    }

    function handleResize() {
	    location.reload();
	    return false;
    }


    if ((NS) && (navigator.platform == "MacPPC")) {
	   window.captureEvents (Event.RESIZE);
	   window.onresize = handleResize;
    }

    function openResource(event, resourcePath, resourceName, resourceType)
    {
	   var newwindow;

       // Resource MIMETypes are enumerated as follows: 
       // cMap     = Undefined
       // Image    = 0
       // Video    = 1
       // Text     = 2
       // Audio    = 3

       popDown();

	   switch (resourceType) 
	   {
	    case 0:     //Image
                    newwindow = window.open (resourcePath,resourceName);
                    newwindow.onBlur = newwindow.focus()
                    var text ='<center><img src=\"';
                    text += resourcePath;
                    text +='\"> </center>';
             break;
		
	    case 1:  text   // Video
		     newwindow = window.open (resourcePath,resourceName);
                     newwindow.onBlur = newwindow.focus()
                     var text ='<embed src=\"';
                     text += resourcePath;
                     text +='\" autostart=true> </embed> ';
             break;

	    case 2:      // Text or Unknown 
		     newwindow = window.open(resourcePath,resourceName);
                     newwindow.onBlur = newwindow.focus()
              break;

	    case 3:       // Audio
                    newwindow = window.open (resourcePath,resourceName);
                    newwindow.onBlur = newwindow.focus()
                    var text ='<embed src=\"';
                    text += resourcePath;
                    text +='\" autoplay=true> </embed> ';
             break;

	    case 4:
                    newwindow = window.open(resourcePath,resourceName);
                    newwindow.onBlur = newwindow.focus()
	     break;
	    }
        return;
    }



    function popUpEvt(event, popupName)
    {
	popDown();

	if (GECKO)
	{
	    document.getElementById(popupName).style.left = event.layerX;
	    document.getElementById(popupName).style.top = event.layerY;
	    document.getElementById(popupName).style.background = "#B3B3B3";
	    document.getElementById(popupName).style.visibility = "visible";
	    openpopups.push(popupName);
	}
	else if (NS) 
	{
	    document.layers[popupName].moveTo (event.pageX, event.pageY);
	    document.layers[popupName].bgColor = "#B3B3B3";
	    document.layers[popupName].visibility = "show";
	    openpopups.push(popupName);
	}
	else // if (IE)
	{
	    window.event.cancelBubble = true;
	    if (!IE4PC) {
		document.all[popupName].style.backgroundColor = "#B3B3B3";
	    }	
	    document.all[popupName].style.left = window.event.clientX + document.body.scrollLeft;
	    document.all[popupName].style.top = window.event.clientY + document.body.scrollTop;
	    document.all[popupName].style.visibility = "visible";
	    openpopups[openpopups.length] = popupName;
	}
	return false;
    }

    function popDown()
    {
	var popupname;
	
	for (var i = 0; i < openpopups.length; i++) 
	{
	    popupname = new String (openpopups[i]);      
	    if (GECKO) {
		document.getElementById(popupname).style.visibility = "hidden";
	    }
	    else if (NS) {
		document.layers[popupname].visibility = "hide";
	    }
	    else {
		document.all[popupname].style.visibility = "hidden";
	    }
	}
	openpopups = new Array();
	return;
    }

    function popDownNoGecko() 
    {
	var popupname;
	for (var i = 0; i < openpopups.length; i++) 
	{
	    popupname = new String (openpopups[i]);      
	    if (GECKO) {
           //  document.getElementById(popupname).style.visibility = "hidden"; 
	        return;   // erased for test purposes
	    }  
	    else if (NS) {
	        document.layers[popupname].visibility = "hide";
	    }
	    else {
	        document.all[popupname].style.visibility = "hidden";
	    }
	}
	openpopups = new Array();
        return;
    }
  //-->
  </script>
</HEAD>
<BODY bgcolor="#FFFFFF" leftmargin="0" topmargin="0">
<noscript>
  <table width=90% cellpadding=10>
    <tr>
      <td bgcolor=ff4447>
        <font color=000000 size=+1 face="helvetica">
        <h1>WARNING:</h1>
        <b>JavaScript is turned OFF.  None of the links on this concept map will <br>
           work until it is reactivated.
          <p>
            <a href="http://cmap.ihmc.us/docs/EnablingJavaScript.html">
                            If you need help turning JavaScript On, click here.
            </a>
          </p>
        </b>
      </td>
    </tr>
  </table>
This Concept Map, created with IHMC CmapTools, has information related to: capabilities_map, Research and Development led to New Conceptual Models, Research and Development led to Research Findings, Research and Development led to New Technologies, New Methodologies are for Human-Machine Systems Evaluation, Challenge Areas include Autonomous systems, New Technologies span Challenge Areas, Challenge Areas include Image Analysis, New Methodologies are presented in the XAI Toolkit, New Conceptual Models are about The process of explaining and sensemaking, Research Findings are about Explanation Effectiveness, Research and Development led to New Methodologies, New Technologies are presented in the XAI Toolkit, Challenge Areas include Activity Recognition

</noscript>

<map name="capabilities_map.html">
</map>

<center>
    <tr>
      <td valign=center align=center>
        <img USEMAP="#capabilities_map.html"
             SRC="/assets/kitware/images/capabilities_map.jpg"
             ALIGN=middle
             BORDER=0>
      </td>
    </tr>
    <tr>
      <td VALIGN=top ALIGN=right>
        <table>
          <tr>
            <td ALIGN=right VALIGN=middle>
              <map NAME="CmapToolsTrademark">
                <area SHAPE="rect"
                      href="http://cmap.ihmc.us/"
                      onClick="openResource(event,'http://cmap.ihmc.us/', 0, 2); return false;"
                      coords="1,1,210,50">
              </map>
            </td>
          </tr>
          <tr>
            <td  ALIGN=right VALIGN=middle>
              <img USEMAP="#CmapToolsTrademark"
                   SRC="/assets/kitware/images/CmapToolsTrademark.gif" 
                   ALT="IHMC Cmap Tools Trademark" width="210" height="50"
                   ALIGN=middle
                   BORDER=0>
            </td>
            <td VALIGN=middle>
            </td>
          </tr>
        </table>
      </td>
    </tr>
</center>
</BODY>
</HTML>

