<form accept-charset="UTF-8" action="https://getform.io/{YOUR_UNIQUE_FORM_ENDPOINT}" method="POST" enctype="multipart/form-data" target="_blank">
    <h2>Formulário de Contato</h2>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" name="name" class="form-control" id="exampleInputName" placeholder="nome" required="required">
    </div>
    <div class="form-group">
        <label for="email" required="required">Seu e-mail</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="email" required="required">
    </div>
    <div class="form-group">
        <label for="telefone" required="required">Telefone</label>
        <input type="tel" name="telefone" class="form-control" id="telefone" placeholder="(xx) xxxxx-xxxx">
    </div>
    <div class="form-group">
        <label for="mensagem" required="required">Mensagem</label>
        <textarea rows="4" cols="50" name="mensagem" class="form-control" id="mensagem" required="required"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>