<form
  action="https://formspree.io/xrgbqzlp"
  method="POST"
  enctype="multipart/form-data"
>
  <label >
    Nome:
  <input type="text" name="name" placeholder="Ex.: Futuro cliente satisfeito">
  </label>
  <label>
    Seu email para contato:
    <input type="text" name="_replyto" placeholder="Ex.: cliente@gmail.com">
  </label>
  <label>
    Assunto:
    <input type="text" name="_subject" placeholder="Ex.: Cotação de projeto" />
  </label>
  <label>
    Mensagem:
    <textarea name="message" placeholder="Digite sua mensagem aqui..."></textarea>
  </label>

  <button type="submit">Enviar</button>
</form>