<form
  action="https://formspree.io/xrgbqzlp"
  method="POST"
  enctype="multipart/form-data"
>
  <label>
    Nome:
  <input type="text" name="name">
  </label>
  <label>
    Seu email para contato:
    <input type="text" name="_replyto">
  </label>
  <label>
    Assunto:
    <input type="text" name="_subject" value="Digite um assunto aqui..." />
  </label>
  <label>
    Mensagem:
    <textarea name="message"></textarea>
  </label>
  <label>
    Envio de arquivo:
    <label for="files" class="btn">Selecione um arquivo</label>
    <input id="files" style="visibility:hidden;" type="file" name="upload">
  </label>

  <button type="submit">Enviar</button>
</form>