<form
  action="https://formspree.io/xrgbqzlp"
  method="POST"
  enctype="multipart/form-data"
>
  <label>
    Nome:
  <input type="text" name="name">
  </label>
  <label>
    Seu email para contato:
    <input type="text" name="_replyto">
  </label>
  <label>
    Assunto:
    <input type="hidden" name="_subject" value="Digite um assunto aqui..." />
  </label>
  <label>
    Mensagem:
    <textarea name="message"></textarea>
  </label>
  <input type="submit" value="Send">
  <label>
    Envio de arquivo:
    <input type="file" name="upload">
  </label>

  <button type="submit">Send</button>
</form>