<!-- begin comments -->
<div class="show-comments">
  <button class="button disqus-button" id="show-comments-button" onclick="disqus();return false;">Comments</button>
</div>

<div id="disqus_thread" class="post__comments">
  <div id="disqus_empty"></div>
</div>

<script>
  var disqus_loaded = false;
  var disqus_shortname = '{{ site.data.settings.disqus-identifier }}';
  var disqus_container = document.getElementById("disqus_thread");
  function disqus() {
    if (!disqus_loaded) {
      disqus_loaded = true;
      var e = document.createElement("script");
      e.type = "text/javascript";
      e.async = true;
      e.src = "//" + disqus_shortname + ".disqus.com/embed.js";
      (document.getElementsByTagName("head")[0] ||
        document.getElementsByTagName("body")[0])
        .appendChild(e);
      // Hide the button after opening
      document.getElementById("show-comments-button").style.display = "none";
      // Show disqus comments
      disqus_container.classList.add("is-open");
    }
  }
</script>

<noscript>Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
<!-- end comments -->