<div class="event-card">
  <!-- Event Images Carousel -->
  <div class="event-images">
    
      <img
        src="{{ site.baseurl }}/assets/images/events/hackathons.png"
        alt="External Hackathons - 1"
      />
      <img
        src="{{ site.baseurl }}/assets/images/events/interiit.png"
        alt="External Hackathons - 2"
      />
    </div>
  </div>
  <h3>External Hackathons</h3>
  <p>
    We participate in exciting hackathons hosted by external organizations,
    showcasing our skills to solve real-world challenges.
  </p>
</div>

<div class="event-card">
  <!-- Event Images Carousel -->
  <div class="event-images">
    
      <img
        src="{{ site.baseurl }}/assets/images/events/wwt-talk.jpg"
        alt="Industry Collaborations - 1"
      />
    </div>
  </div>
  <h3>Industry Collaborations</h3>
  <p>
    DSG collaborates with leading industries to work on cutting-edge
    technologies and gain hands-on experience in the professional world.
  </p>
</div>

<div class="event-card">
  <!-- Event Images Carousel -->
  <div class="event-images">
    
      <img
        src="{{ site.baseurl }}/assets/images/events/BH.png"
        alt="Exclusive DSG Events - 1"
      />
      <img
        src="{{ site.baseurl }}/assets/images/events/BYOP.png"
        alt="Exclusive DSG Events - 2"
      />
      <img
        src="{{ site.baseurl }}/assets/images/events/workshop1.png"
        alt="Exclusive DSG Events - 3"
      />
      <img
        src="{{ site.baseurl }}/assets/images/events/workshop2.png"
        alt="Exclusive DSG Events - 3"
      />
      <img
        src="{{ site.baseurl }}/assets/images/events/workshop3.png"
        alt="Exclusive DSG Events - 3"
      />
      <img
        src="{{ site.baseurl }}/assets/images/events/Blogathon.png"
        alt="Exclusive DSG Events - 3"
      />
    </div>
  </div>
  <h3>Exclusive DSG Events</h3>
  <p>
    DSG conducts exclusive events as workshops, to learn through varied project
    making, hackathons, blog writing, and expand your network.
  </p>
</div>

<div class="event-card">
  <!-- Event Images Carousel -->
  <div class="event-images">
    
      <img
        src="{{ site.baseurl }}/assets/images/events/rmsxdsg.png"
        alt="Internal IITR Collaboration - 1"
      />
      <img
        src="{{ site.baseurl }}/assets/images/events/srishti.png"
        alt="Internal IITR Collaboration - 2"
      />
      <img
        src="{{ site.baseurl }}/assets/images/events/techshila.png"
        alt="Internal IITR Collaboration - 3"
      />
    </div>
  </div>
  <h3>Internal IITR Collaboration</h3>
  <p>
    We also collaborate with various departments and student groups within IIT
    Roorkee on internal projects that focus on innovation and research.
  </p>
</div>
