<div class="gallery">
    
    {% for post in site.posts %}
        {% if post.tags contains "Gallery" %}

            {% if post.header.overlay_image %}

                <div class="gallery_img_container">
                    <a href="{{ post.url }}">
                        <img class = "gallery_img" data-cursor-text="{{ post.title }}" src="{{ post.header.overlay_image }}" alt="{{ post.title }}">
                    </a>
                </div>
                
            {% endif %}

        {% endif %}
    {% endfor %}
    
</div>

<script> 
    Promise.all(
    Array.from(document.images)
    .filter(img => !img.complete)
    .map(img => new Promise(resolve => { img.onload = img.onerror = resolve; })))
    .then(() => { 
        var elem = document.querySelector('.gallery'); 
        var msnry = new Masonry( elem, { 
            columnWidth: 300,
            itemSelector: '.gallery_img_container',
            gutter: 10, 
        }); 
    }); 
</script>
