<div class="gallery">
    
    {% for post in site.posts %}
        {% if post.tags contains "Gallery" %}

            {% if post.header.overlay_image %}

                <div class="gallery_img_container">
                    <a href="{{ post.url }}">
                        <img class = "gallery_img" data-cursor-text="{{ post.title }}" src="{{ post.header.overlay_image }}" alt="{{ post.title }}">
                    </a>
                </div>

                <!-- <img class = "gallery_img" data-cursor-text="{{ post.title }}" src="{{ post.header.overlay_image }}" alt="{{ post.title }}"> -->
                
            {% endif %}

        {% endif %}
    {% endfor %}
    
</div>

<script> 
    Promise.all(
    Array.from(document.images)
    .filter(img => !img.complete)
    .map(img => new Promise(resolve => { img.onload = img.onerror = resolve; })))
    .then(() => { 
        var elem = document.querySelector('.gallery'); 
        var msnry = new Masonry( elem, { 
            columnWidth: 300,
            itemSelector: '.gallery_img_container',
            gutter: 10, 
        }); 
    }); 
</script>

<script>
    const cursor = new MouseFollower({
        el: null,
        container: "#main",
        className: 'mf-cursor',
        innerClassName: 'mf-cursor-inner',
        textClassName: 'mf-cursor-text',
        mediaClassName: 'mf-cursor-media',
        mediaBoxClassName: 'mf-cursor-media-box',
        iconSvgClassName: 'mf-svgsprite',
        iconSvgNamePrefix: '-',
        iconSvgSrc: '',
        dataAttr: 'cursor',
        hiddenState: '-hidden',
        textState: '-text',
        iconState: '-icon',
        activeState: '-active',
        mediaState: '-media',
        stateDetection: {
            '-pointer': 'a,button',
            '-hidden': 'iframe'
        },
        visible: true,
        visibleOnState: false,
        speed: 0.8,
        ease: 'expo.out',
        overwrite: true,
        skewing: 0,
        skewingText: 2,
        skewingIcon: 2,
        skewingMedia: 2,
        skewingDelta: 0.001,
        skewingDeltaMax: 0.15,
        stickDelta: 0.15,
        showTimeout: 20,
        hideOnLeave: true,
        hideTimeout: 300,
        hideMediaTimeout: 300
    });
</script>

