<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% if site.masthead_title %}
          <a class="site-title" href="{{ '/' | relative_url }}">{{ site.masthead_title }}</a>
        {% elsif site.title %}
          <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
        {% endif %}
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
        
        <a href="/search/" class="search-toggle" style="display: inline-block; text-align: center; color: inherit; background: none; border: none; padding: 0.5em; margin-left: 1em;">
  <i class="fas fa-search" aria-hidden="true"></i>
  <span class="visually-hidden">Search</span>
</a>

        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>