{% if page.last_modified_at %}
  <p class="page__date">
    <strong>
      {% if site.global_icons.calendar_icon %}
        <svg class="icon">
          {% capture svg %}
            {% include {{ site.global_icons.calendar_icon }} %}
          {% endcapture %}
          {{ svg | remove: '<?xml version="1.0" encoding="UTF-8"?>' }}
        </svg>
      {% else %}
        <svg class="icon">
          {% capture svg %}
            {% include {{ site.global_icons.no_icon }} %}
          {% endcapture %}
          {{ svg | remove: '<?xml version="1.0" encoding="UTF-8"?>' }}
        </svg>
      {% endif %} 
      {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}
    </strong>
    <time datetime="{{ page.last_modified_at | date: "%Y-%m-%d" }}">{{ page.last_modified_at | date: "%B %-d, %Y" }}</time>
  </p>
{% elsif page.date %}
  <p class="page__date">
    <strong>
      {% if site.global_icons.calendar_icon %}
        <svg class="icon">
          {% capture svg %}
            {% include {{ site.global_icons.calendar_icon }} %}
          {% endcapture %}
          {{ svg | remove: '<?xml version="1.0" encoding="UTF-8"?>' }}
        </svg>
      {% else %}
        <svg class="icon">
          {% capture svg %}
            {% include {{ site.global_icons.no_icon }} %}
          {% endcapture %}
          {{ svg | remove: '<?xml version="1.0" encoding="UTF-8"?>' }}
        </svg>
      {% endif %}  
      {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}
    </strong> 
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
  </p>
{% endif %}
