<div id="posts" class="posts-expand">
{% include _partials/page-header.html %}
  {% comment %} tagcloud page support {% endcomment %}
  {% if page.type == "tags" %}
    <div class="tag-cloud">
      <div class="tag-cloud-title">
          {% if site.tags.size == 0 %}
            {{ __.counter.tag_cloud.zero }}
          {% elsif site.tags.size == 1 %}
            {{ __.counter.tag_cloud.one }}
          {% else %}
            {{ __.counter.tag_cloud.other | replace: '%d', site.tags.size }}
          {% endif %}
      </div>
      <div class="tag-cloud-tags">
        {% assign min_font = 12 %}
        {% assign max_font = 30 %}
        {% assign amount = 200 %}
        {% assign color = true %}
        {% assign start_color = '204,204,204' %}
        {% assign end_color = '17,17,17' %}
        {% include _helper/tagcloud.html %}
        {{ tagcloud }}
      </div>
    </div>
  {% elsif page.type == 'categories' %}
    <div class="category-all-page">
      <div class="category-all-title">
          {% if site.categories.size == 0 %}
            {{ __.counter.categories.zero }}
          {% elsif site.categories.size == 1 %}
            {{ __.counter.categories.one }}
          {% else %}
            {{ __.counter.categories.other | replace: '%d', site.categories.size }}
          {% endif %}
      </div>
      <div class="category-all">
        {% include _helper/list_categories.html %}
        {{ list_categories }}
      </div>
    </div>
  {% else %}
    {{ content }}
  {% endif %}
</div>
