{% assign document = post | default: page %}
{% if document.read_time or document.show_date %}
  <p class="page__meta">
    {% if document.show_date and document.date %}
      <span class="page__meta-date">
        <i class="far fa-calendar-alt" aria-hidden="true"></i>
        <time datetime="{{ document.date | date_to_xmlschema }}">
          {{ document.date | date: site.date_format | default: "%B %-d, %Y" }}
        </time>
      </span>
    {% endif %}

    {% if document.read_time and document.show_date %}
      <span class="page__meta-sep">•</span>
    {% endif %}

    {% if document.read_time %}
      {% assign wpm = document.words_per_minute | default: site.words_per_minute | default: 200 %}
      {% assign words = document.content | strip_html | number_of_words %}
      <span class="page__meta-readtime">
        <i class="far fa-clock" aria-hidden="true"></i>
        {% if words < wpm %}
          less than 1 minute read
        {% else %}
          {{ words | divided_by: wpm }} minute read
        {% endif %}
      </span>
    {% endif %}
  </p>
{% endif %}
