{% assign author = include.author %}

<div class="{{ include.type | default: 'grid' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <center>
      <img src="{{ site.url }}{{ site.baseurl }}{{ author.avatar }}" style="width: 150px; height: 150px;" />

      <!-- <h4 class="author__name p-name" itemprop="name">
      {{ author.firstname }} {{ author.surname }}{% if author.title %}, {{ author.title }} {% endif %}
    </h4> -->

      <h2 class="archive__item-title no_toc" itemprop="headline">
        {{ author.firstname }} {{ author.surname }}{% if author.title %}, {{ author.title }} {% endif %}
      </h2>

      {% include page__meta.html type=include.type %}
      {% if author.bio %}<p class="archive__item-excerpt" itemprop="description">{{ author.bio | markdownify |
        strip_html }}</p>{% endif %}
    </center>
  </article>
</div>