<div class="card">
   <img src="{{ site.baseurl }}/assets/images/projects/visualml.png" alt="Project">
  <h3>Visual ML: Interactive Visual Machine Learning Demos. Machine Learning in the browser powered by TF JS.</h3>
</div>

<div class="card">
  <img src="/assets/images/research3.jpg" alt="Blog">
  <h3>ChebNet: CNN on Graphs with Fast Localized Spectral Filtering</h3>
</div>

<div class="card">
   <img src="{{ site.baseurl }}/assets/images/projects/d2l_pytorch.svg" alt="Project">
  <h3>d2l-pytorch: This project reproduces the book Dive Into Deep Learning (www.d2l.ai), adapting the code from MXNet into PyTorch.</h3>
</div>
