<div id="refs" class="references" role="doc-bibliography">
<div id="ref-chor.ea2020a">
<p>[1] <strong>Chor, Tomas</strong>, McWilliams J, Chamecki M. 2020 Diffusive-nondiffusive flux decompositions in atmospheric boundary layers. <em>Journal of the Atmospheric Sciences</em>, In press.</p>
</div>
<div id="ref-chamecki.ea2019">
<p>[2] Chamecki M, <strong>Chor</strong> T, Yang D, Meneveau C. 2019 Material transport in the ocean mixed layer: Recent developments enabled by large eddy simulations. <em>Reviews of Geophysics</em> (doi:<a href="https://doi.org/10.1029/2019RG000655">10.1029/2019RG000655</a>)</p>
</div>
<div id="ref-chor.ea2019a">
<p>[3] <strong>Chor, Tomas</strong>, Ruiz de Zárate A, Dias NL. 2019 A generalized series solution for the boussinesq equation with constant boundary conditions. <em>Water Resources Research</em> 55, 3567–3575. (doi:<a href="https://doi.org/10.1029/2018WR024154">10.1029/2018WR024154</a>)</p>
</div>
<div id="ref-diasjunior.ea2019">
<p>[4] Dias-Júnior CQ,..., <strong>Tomas Chor</strong>, Manzi A. 2019 Is there a classical inertial sublayer over the amazon forest? <em>Geophysical Research Letters</em> 46, 5614–5622. (doi:<a href="https://doi.org/10.1029/2019GL083237">10.1029/2019GL083237</a>)</p>
</div>
<div id="ref-chor.ea2018b">
<p>[5] <strong>Chor, Tomas</strong>, Yang D, Meneveau C, Chamecki M. 2018 A turbulence velocity scale for predicting the fate of buoyant materials in the oceanic mixed layer. <em>Geophysical Research Letters</em> 45, 11, 817–11, 826. (doi:<a href="https://doi.org/10.1029/2018GL080296">10.1029/2018GL080296</a>)</p>
</div>
<div id="ref-chor.ea2018a">
<p>[6] <strong>Chor, Tomás</strong>, Yang D, Meneveau C, Chamecki M. 2018 Preferential concentration of noninertial buoyant particles in the ocean mixed layer under free convection. <em>Phys. Rev. Fluids</em> 3, 064501. (doi:<a href="https://doi.org/10.1103/PhysRevFluids.3.064501">10.1103/PhysRevFluids.3.064501</a>)</p>
</div>
<div id="ref-chor.ea2017">
<p>[7] <strong>Tomás L. Chor</strong>, Dias NL, Araújo A,... 2017 Flux-variance and flux-gradient relationships in the roughness sublayer over the amazon forest. <em>Agricultural and Forest Meteorology</em> 239, 213–222. (doi:<a href="https://doi.org/http://dx.doi.org/10.1016/j.agrformet.2017.03.009">http://dx.doi.org/10.1016/j.agrformet.2017.03.009</a>)</p>
</div>
<div id="ref-chor.ea2015">
<p>[8] <strong>Chor, Tomas L.</strong>, Dias NL. 2015 Technical Note: A simple generalization of the Brutsaert and Nieber analysis. <em>Hydrology and Earth System Sciences</em> 19, 2755–2761. (doi:<a href="https://doi.org/10.5194/hess-19-2755-2015">10.5194/hess-19-2755-2015</a>)</p>
</div>
<div id="ref-chor.ea2013">
<p>[9] <strong>Chor, Tomas</strong>, Dias NL, Ruiz de Zárate A. 2013 An exact series and improved numerical and approximate solutions for the boussinesq equation. <em>Water Resources Research</em> 49, 7380–7387. (doi:<a href="https://doi.org/10.1002/wrcr.20543">10.1002/wrcr.20543</a>)</p>
</div>
</div>
