<div id="refs" class="references" role="doc-bibliography">
<div id="ref-chamecki.ea2019">
<p>Chamecki, M., <strong>Chor, Tomas</strong>, Yang, D., Meneveau, C., 2019. Material transport in the ocean mixed layer: Recent developments enabled by large eddy simulations. Reviews of Geophysics. doi:<a href="https://doi.org/Submitted">Submitted</a></p>
</div>
<div id="ref-chor.ea2019a">
<p><strong>Chor, Tomas</strong>, Ruiz de Zárate, A., Dias, N.L., 2019. A generalized series solution for the boussinesq equation with constant boundary conditions. Water Resources Research 55, 3567–3575. doi:<a href="https://doi.org/10.1029/2018WR024154">10.1029/2018WR024154</a></p>
</div>
<div id="ref-diasjunior.ea2019">
<p>Dias-Júnior, C.Q.,..., <strong>Chor, Tomas</strong>, Manzi, A., 2019. Is there a classical inertial sublayer over the amazon forest? Geophysical Research Letters 46, 5614–5622. doi:<a href="https://doi.org/10.1029/2019GL083237">10.1029/2019GL083237</a></p>
</div>
<div id="ref-chor.ea2018b">
<p><strong>Chor, Tomas</strong>, Yang, D., Meneveau, C., Chamecki, M., 2018. A turbulence velocity scale for predicting the fate of buoyant materials in the oceanic mixed layer. Geophysical Research Letters 45, 11, 817–11, 826. doi:<a href="https://doi.org/10.1029/2018GL080296">10.1029/2018GL080296</a></p>
</div>
<div id="ref-chor.ea2018a">
<p><strong>Chor, Tomás</strong>, Yang, D., Meneveau, C., Chamecki, M., 2018. Preferential concentration of noninertial buoyant particles in the ocean mixed layer under free convection. Phys. Rev. Fluids 3, 064501. doi:<a href="https://doi.org/10.1103/PhysRevFluids.3.064501">10.1103/PhysRevFluids.3.064501</a></p>
</div>
<div id="ref-chor.ea2017">
<p><strong>Tomás L. Chor</strong>, Dias, N.L., Araújo, A., Wolff, S., Zahn, E., Manzi, A., Trebs, I., Sá, M.O., Teixeira, P.R., Sörgel, M., 2017. Flux-variance and flux-gradient relationships in the roughness sublayer over the amazon forest. Agricultural and Forest Meteorology 239, 213–222. doi:<a href="https://doi.org/http://dx.doi.org/10.1016/j.agrformet.2017.03.009">http://dx.doi.org/10.1016/j.agrformet.2017.03.009</a></p>
</div>
<div id="ref-chor.ea2015">
<p><strong>Chor, T. L.</strong>, Dias, N.L., 2015. Technical Note: A simple generalization of the Brutsaert and Nieber analysis. Hydrology and Earth System Sciences 19, 2755–2761. doi:<a href="https://doi.org/10.5194/hess-19-2755-2015">10.5194/hess-19-2755-2015</a></p>
</div>
<div id="ref-dias.ea2014--semi.analytical.sol">
<p>Dias, N.L., <strong>Chor, Tomás L.</strong>, Zárate, A.R. de, 2014. A semianalytical solution for the boussinesq equation with nonhomogeneous constant boundary conditions. Water Resources Research 50, 6549–6556. doi:<a href="https://doi.org/10.1002/2014WR015437">10.1002/2014WR015437</a></p>
</div>
<div id="ref-chor.ea2013">
<p><strong>Chor, T.</strong>, Dias, N.L., Zarate, A.R. de, 2013. An exact series and improved numerical and approximate solutions for the boussinesq equation. Water Resources Research 49, 7380–7387. doi:<a href="https://doi.org/10.1002/wrcr.20543">10.1002/wrcr.20543</a></p>
</div>
</div>
