<div id="refs" class="references csl-bib-body hanging-indent" role="doc-bibliography">
<div id="ref-chor.ea2022a" class="csl-entry" role="doc-biblioentry">
<p>Chor, Tomas, Jacob Wenegrat, and John Taylor. 2022. <span>“Insights into the Mixing Efficiency of Submesoscale Centrifugal-Symmetric Instabilities.”</span> <em>Under Review for the Journal of Physical Oceanography</em> Preprint available at https://doi.org/10.31223/X5PG8G.
</p></div>

<div id="ref-chor.ea2021a" class="csl-entry" role="doc-biblioentry">
<p>Chor, Tomas, James C. McWilliams, and Marcelo Chamecki. 2021. <span>“Modifications to the k-Profile Parameterization with Nondiffusive Fluxes for Langmuir Turbulence.”</span> <em>Journal of Physical Oceanography</em>. <a href="https://doi.org/10.1175/JPO-D-20-0250.1">https://doi.org/10.1175/JPO-D-20-0250.1</a>.
</p></div>

<div id="ref-chor.ea2020a" class="csl-entry" role="doc-biblioentry">
<p>Chor, Tomas, James C. McWilliams, and Marcelo Chamecki. 2020. <span>“<span class="nocase">Diffusive–Nondiffusive Flux Decompositions in Atmospheric Boundary Layers</span>.”</span> <em>Journal of the Atmospheric Sciences</em> 77 (10): 3479–94. <a href="https://doi.org/10.1175/JAS-D-20-0093.1">https://doi.org/10.1175/JAS-D-20-0093.1</a>.
</p></div>

<div id="ref-chamecki.ea2019" class="csl-entry" role="doc-biblioentry">
<p>Chamecki, Marcelo, Tomas Chor, Di Yang, and Charles Meneveau. 2019. <span>“Material Transport in the Ocean Mixed Layer: Recent Developments Enabled by Large Eddy Simulations.”</span> <em>Reviews of Geophysics</em>. <a href="https://doi.org/10.1029/2019RG000655">https://doi.org/10.1029/2019RG000655</a>.
</p></div>

<div id="ref-chor.ea2019a" class="csl-entry" role="doc-biblioentry">
<p>Chor, Tomas, Ailín Ruiz de Zárate, and Nelson L. Dias. 2019. <span>“<span class="nocase">A generalized series solution for the Boussinesq equation with constant boundary conditions</span>.”</span> <em>Water Resources Research</em> 55 (4): 3567–75. <a href="https://doi.org/10.1029/2018WR024154">https://doi.org/10.1029/2018WR024154</a>.
</p></div>

<div id="ref-diasjunior.ea2019" class="csl-entry" role="doc-biblioentry">
<p>Dias-Júnior, Cléo Quaresma,..., Tomas Chor, and Antonio Manzi. 2019. <span>“Is There a Classical Inertial Sublayer over the Amazon Forest?”</span> <em>Geophysical Research Letters</em> 46 (10): 5614–22. <a href="https://doi.org/10.1029/2019GL083237">https://doi.org/10.1029/2019GL083237</a>.
</p></div>

<div id="ref-chor.ea2018b" class="csl-entry" role="doc-biblioentry">
<p>Chor, Tomas, Di Yang, Charles Meneveau, and Marcelo Chamecki. 2018. <span>“A Turbulence Velocity Scale for Predicting the Fate of Buoyant Materials in the Oceanic Mixed Layer.”</span> <em>Geophysical Research Letters</em> 45 (21): 11, 817–11, 826. <a href="https://doi.org/10.1029/2018GL080296">https://doi.org/10.1029/2018GL080296</a>.
</p></div>

<div id="ref-chor.ea2018a" class="csl-entry" role="doc-biblioentry">
<p>Chor, Tomás, Di Yang, Charles Meneveau, and Marcelo Chamecki. 2018. <span>“Preferential Concentration of Noninertial Buoyant Particles in the Ocean Mixed Layer Under Free Convection.”</span> <em>Phys. Rev. Fluids</em> 3: 064501. <a href="https://doi.org/10.1103/PhysRevFluids.3.064501">https://doi.org/10.1103/PhysRevFluids.3.064501</a>.
</p></div>

</div>
