{% assign words_per_minute = site.words_per_minute | default: 200 %}

{% if post.read_time %}
  {% assign contents = post.content | strip_html %}
{% elsif page.read_time %}
  {% assign contents = page.content | strip_html %}
{% endif %}

{% if site.words_count_method == "size" %}
  {% assign words = contents | size %}
{% else %}
  {% assign words = contents | number_of_words %}
{% endif %}

{% if words < words_per_minute %}
  {{ site.data.ui-text[site.locale].less_than | default: "less than" }} 1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
{% elsif words == words_per_minute %}
  1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
{% else %}
  {{ words | divided_by:words_per_minute }} {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
{% endif %}