<div class="card">
  <img src="{{ site.baseurl }}/assets/images/research/ImageAlchemy.png" alt="Research Paper">
  <h3>Image-Alchemy: Advancing Subject Fidelity in Personalized Text-to-Image Generation</h3>
</div>
<div class="card">
  <img src="{{ site.baseurl }}/assets/images/research/OneNoisetoFool.png" alt="Research Paper">
  <h3>One Noise to Fool Them All: Universal Adversarial Defenses Against Image Editing</h3>
</div>
<div class="card"> 
  <img src="{{ site.baseurl }}/assets/images/research/LanguageGuidance.png" alt="Research Paper">
  <h3>Impact of Language Guidance: A Reproducibility Study</h3>
</div>
