<div class="card">
  <img
    src="{{ site.baseurl }}/assets/images/research/dac-lora.png"
    alt="2025 Research Paper"
  />
  <h3>
    DAC-LoRA: Dynamic Adversarial Curriculum for Efficient and Robust Few-Shot
    Adaptation
  </h3>
</div>
<div class="card">
  <img
    src="{{ site.baseurl }}/assets/images/research/DINOHash.png"
    alt="2025 Research Paper"
  />
  <h3>
    DINOHash: Learning Adversarially Robust Perceptual Hashes from
    Self-Supervised Features
  </h3>
</div>
<div class="card">
  <img
    src="{{ site.baseurl }}/assets/images/research/blogpost.png"
    alt="2025 Research Paper"
  />
  <h3>
    SPD Attack - Prevention of AI Powered Image Editing by Image Immunization
  </h3>
</div>
