{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | relative_url }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
{% endif %}

{% if site.search == true or page.layout == "search" %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include_cached search/lunr-search-scripts.html %}
    {%- when "google" -%}
      {% include_cached search/google-search-scripts.html %}
    {%- when "algolia" -%}
      {% include_cached search/algolia-search-scripts.html %}
  {%- endcase -%}
{% endif %}

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

{% if site.after_footer_scripts %}
  {% for script in site.after_footer_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | relative_url }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}"></script>
  {% endfor %}
{% endif %}

{% if page.mathjax %}
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endif %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

{% if page.pandas_profile %}
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
  $(function () {
        $('[data-toggle="tooltip"]').tooltip()
  })

  $("a[href^='#'].anchor").on('click', function(e) {

   // prevent default anchor click behavior
   e.preventDefault();

   // store hash
   var hash = this.hash;

   // animate
   $('html, body').animate({
       scrollTop: $(hash).offset().top
     }, 300, function(){

       // when done, add hash to url
       // (default click behaviour)
       window.location.hash = hash;
     });

  });
</script>

<style>

  .variablerow {
      border: 1px solid #e1e1e8;
      border-top: hidden;
      padding-top: 2em;
      padding-bottom: 2em;
      padding-left: 1em;
      padding-right: 1em;
  }

  .headerrow {
      border: 1px solid #e1e1e8;
      background-color: #f5f5f5;
      padding: 2em;
  }
  .namecol {
      margin-top: -1em;
      overflow-x: auto;
  }

  .dl-horizontal dt {
      text-align: left;
      padding-right: 1em;
      white-space: normal;
  }

  .dl-horizontal dd {
      margin-left: 0;
  }

  .ignore {
      opacity: 0.4;
  }

  .container.pandas-profiling {
      max-width:975px;
  }

  .col-md-12 {
      padding-left: 2em;
  }

  .indent {
      margin-left: 1em;
  }

  .center-img {
      margin-left: auto !important;
      margin-right: auto !important;
      display: block;
  }

  /* Table example_values */
  table.example_values {
      border: 0;
  }

  .example_values th {
      border: 0;
      padding: 0 ;
      color: #555;
      font-weight: 600;
  }

  .example_values tr, .example_values td{
      border: 0;
      padding: 0;
      color: #555;
  }

  /* STATS */
  table.stats {
      border: 0;
  }

  .stats th {
      border: 0;
      padding: 0 2em 0 0;
      color: #555;
      font-weight: 600;
  }

  .stats tr {
      border: 0;
  }

  .stats td{
      color: #555;
      padding: 1px;
      border: 0;
  }


  /* Sample table */
  table.sample {
      border: 0;
      margin-bottom: 2em;
      margin-left:1em;
  }
  .sample tr {
      border:0;
  }
  .sample td, .sample th{
      padding: 0.5em;
      white-space: nowrap;
      border: none;

  }

  .sample thead {
      border-top: 0;
      border-bottom: 2px solid #ddd;
  }

  .sample td {
      width:100%;
  }


  /* There is no good solution available to make the divs equal height and then center ... */
  .histogram {
      margin-top: 3em;
  }
  /* Freq table */
  table.freq {
      margin-bottom: 2em;
      border: 0;
  }
  table.freq th, table.freq tr, table.freq td {
      border: 0;
      padding: 0;
  }

  .freq thead {
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

  }

  td.fillremaining{
      width:auto;
      max-width: none;
  }

  td.number, th.number {
      text-align:right ;
  }

  /* Freq mini */
  .freq.mini td{
      width: 50%;
      padding: 1px;
      font-size: 12px;

  }
  table.freq.mini {
       width:100%;
  }
  .freq.mini th {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 5em;
      font-weight: 400;
      text-align:right;
      padding-right: 0.5em;
  }

  .missing {
      color: #a94442;
  }
  .alert, .alert > th, .alert > td {
      color: #a94442;
  }


  /* Bars in tables */
  .freq .bar{
      float: left;
      width: 0;
      height: 100%;
      line-height: 20px;
      color: #fff;
      text-align: center;
      background-color: #337ab7;
      border-radius: 3px;
      margin-right: 4px;
  }
  .other .bar {
      background-color: #999;
  }
  .missing .bar{
      background-color: #a94442;
  }
  .tooltip-inner {
      width: 100%;
      white-space: nowrap;
      text-align:left;
  }

  .extrapadding{
      padding: 2em;
  }

  .pp-anchor{

  }
</style>
{% endif %}