{% if site.footer_scripts %} {% for script in site.footer_scripts %} {% if
script contains "://" %} {% capture script_path %}{{ script }}{% endcapture %}
{% else %} {% capture script_path %}{{ script | relative_url }}{% endcapture %}
{% endif %}
<script src="{{ script_path }}"></script>
{% endfor %} {% else %}
<script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/fa.js' | relative_url }}"></script>
<script src="{{ '/assets/js/aos.js' | relative_url }}"></script>
<script>
  AOS.init({
      // Global settings:
      disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
      startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
      initClassName: 'aos-init', // class applied after initialization
      animatedClassName: 'aos-animate', // class applied on animation
      useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
      disableMutationObserver: false, // disables automatic mutations' detections (advanced)
      debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
      throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


      // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
      offset: 120, // offset (in px) from the original trigger point
      delay: 0, // values from 0 to 3000, with step 50ms
      duration: 1200, // values from 0 to 3000, with step 50ms
      easing: 'ease', // default easing for AOS animations
      once: false, // whether animation should happen only once - while scrolling down
      mirror: false, // whether elements should animate out while scrolling past them
      anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

    });
</script>
{% include slider_scripts.html %}
{% endif %} {% if site.search == true or page.layout == "search" %} {%- assign
search_provider = site.search_provider | default: "lunr" -%} {%- case
search_provider -%} {%- when "lunr" -%} {% include_cached
search/lunr-search-scripts.html %} {%- when "google" -%} {% include_cached
search/google-search-scripts.html %} {%- when "algolia" -%} {% include_cached
search/algolia-search-scripts.html %} {%- endcase -%} {% endif %} {% include
analytics.html %} {% include /comments-providers/scripts.html %} {% if
site.after_footer_scripts %} {% for script in site.after_footer_scripts %} {% if
script contains "://" %} {% capture script_path %}{{ script }}{% endcapture %}
{% else %} {% capture script_path %}{{ script | relative_url }}{% endcapture %}
{% endif %}
<script src="{{ script_path }}"></script>
{% endfor %} {% endif %}
