<!-- begin portfolio
<section class="section portfolio">

  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__head">
          <h2 class="section__title">{{ site.data.settings.portfolio.portfolio__title }}</h2>
          <div class="portfolio__view">
            <div class="portfolio__toggle">
              <div class="icon">
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio__gallery animate">
    <div class="container">
      <div class="row">
        {% for photo in site.data.settings.portfolio.portfolio__gallery %}
        <div class="col col-4 col-d-6 col-t-12">
          <div class="portfolio__item">
            <a href="{% if photo.video %}{{photo.video}}{% else %}{{photo.image}}{% endif %}" class="portfolio__link glightbox" {% if photo.video %}aria-label="Video"{% else %}data-glightbox='title: {{photo.title}}; description: {{photo.description}}; descPosition: bottom;'{% endif %}>
              <span class="portfolio__icon"><i class="ion ion-ios-eye"></i></span>
              <img data-src="{{photo.image}}" class="portfolio__image lazy" alt="{{photo.title}}">
            </a>
           </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</section>
 end portfolio -->