{% assign maxRelated = 3 %}
{% assign minCommonTags = 1 %}
{% assign maxRelatedCounter = 0 %}

{% for post in site.posts %}
{% assign sameTagCount = 0 %}
{% assign commonTags = '' %}
{% for tag in post.tags %}
{% if post.url != page.url %}
{% if page.tags contains tag %}
{% assign sameTagCount = sameTagCount | plus: 1 %}
{% endif %}
{% endif %}
{% endfor %}
{% if sameTagCount >= minCommonTags %}
{% assign related = 'is-related' %}
{% endif %}
{% endfor %}

<!-- begin related posts -->
<div class="container">
  <section class="section related-posts {{related}} animate">
    <div class="row">
      <div class="col col-12">
        <div class="container__inner">
          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">You may also like</h2>
              <a class="section__link" href="{{ '/blog' | relative_url }}">
                {% if page.tags.size >= 1 %}
                {% for tag in page.tags %}
                {% if forloop.index == 1 %}
                <a href="{{ site.baseurl }}/tags#{{ tag }}" class="section__link related-tag">See all<span> {{ tag }}</span></a>
                {% endif %}
                {% endfor %}
                {% endif %}
              </a>
            </div>
          </div>
          <div class="row">

            {% for post in site.posts %}
            {% assign sameTagCount = 0 %}
            {% assign commonTags = '' %}

            {% for tag in post.tags %}
            {% if post.url != page.url %}
            {% if page.tags contains tag %}
            {% assign sameTagCount = sameTagCount | plus: 1 %}
            {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
            {% assign commonTags = commonTags | append: tagmarkup %}
            {% endif %}
            {% endif %}
            {% endfor %}

            {% if sameTagCount >= minCommonTags %}

            {% include article.html %}

            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
            {% if maxRelatedCounter >= maxRelated %}
            {% break %}
            {% endif %}
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end related posts -->
{% include advertisements.html %}