{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% if page.sidebar.top_image %}
    <img class="sidebar-top-img" style="opacity:initial;" src={% if page.sidebar.top_image contains "://" %}
      "{{ page.sidebar.top_image }}"
    {% else %}
      "{{ page.sidebar.top_image | absolute_url }}"
    {% endif %}
    alt="{% if page.sidebar.top_image_alt %}{{ page.sidebar.top_image_alt }}{% endif %}">
    {% endif %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | absolute_url }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
    {% if page.sidebar.promo %}
      <div class="promo">
        <a href="https://www.etsy.com/listing/1110740215/testme-plugin-t-shirt-auto-generate-test?utm_source=testme">
          <img class="" style="opacity:initial;" src="/assets/images/testme-tshirt.jpg" alt="TestMe plugin t-shirt">
          <h4 class="promo-text">TestMe plugin T-shirt</h4>
        </a>
      </div>
    {% endif %}
  </div>
{% endif %}