<script>
  $(window).scroll(function() {
    
    var windowTop = Math.max($('body').scrollTop(), $('html').scrollTop());
    
    $('h2').each(function (index) {
        if (windowTop > ($(this).position().top - 200))
        {
            // console.log($(this).position().top)
            $('#my_toc a.current').removeClass('current');
            $('#my_toc a:eq(' + index + ')').addClass('current');
            $('.cm-blog-content h2.current').removeClass('current')
            $('.cm-blog-content h2:eq(' + index + ')').addClass('current')
        }
    });
    
}).scroll();
</script>