/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #eeeeee !default;
$text-color: #434c5d !default;
$muted-text-color: #434c5d !default;
$primary-color: #006cff !default;
$border-color: #eef1f5 !default;
$footer-background-color: #023692 !default;
$link-color: #006cff !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;
$code-background-color: #ffffff !default;
$code-background-color-dark: #fafafa !default;

/* Fonts */
$global-font-family: 'Open Sans' !default;
$header-font-family: 'Open Sans' !default;


/* Other */
   $border-radius: 7px !default;


.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.layout--single {
  background-color: #ffffff;
}

.btn--info {
  background-color: #006cff!important;
  color:#fff
}

.btn--info:visited {
  background-color: #006cff!important;
  color:#fff
}

.btn--info:hover {
  background-color: #0051bf!important;
  color:#fff
}