.featured-projects{
	overflow: hidden;
	padding: 4em 8em;
	background: #4F4F4F;
}
.featured-projects section{
	float: left;
	display: block;
	width: 33%;

}
.featured-projects section .circle{
	display: block;
	margin: auto;
	background: white;
	border-radius: 50%;
	width: 260px;
	height: 260px;
	position: relative;
	cursor: pointer;
	transition:0.2s;
	border: 5px solid #4F4F4F;
}
.featured-projects section .circle:hover{
	border: 5px solid white;

}
.circle img{
	margin: auto;
	vertical-align: middle;
	margin-top: 85px;
	width: 80%;
}
.dark h1 {
	color: white;
	margin-bottom: 1em;
}
.circle p {
	font-size: 0.8em;
	color: #a1a1a1;
	text-align: right;
	padding-right: 15px;
	padding-top: 5px;
}
.circle.gdc img {
	width: 70%;
	margin-top: 75px;
}
.circle.pdc img{
	width: 60%;
	margin-top: 90px;
}