.featured-projects{
	overflow: hidden;
}
.featured-projects section{
	float: left;
	display: block;
	width: 33%;

}
.welcome {
	background-image: url('/static/img/banner-long.JPG');
	background-size: cover;
}
.welcome h1 {
	color: white;
}
.welcome article {
	color: #E4E4E4;

}
.block.dark{
	background: #4F4F4F;
	background-image: url('/static/img/debut_dark.png')
}


@-webkit-keyframes bump {
	0% 	{margin-top: 0.5em;}
	50%	{margin-top: 0em;} 
	100%	{margin-top: 0.5em;}
}

@-webkit-keyframes color {
  0%   { background: red; }
  100% { background: blue; }
}

.featured-projects section .circle{
	display: block;
	margin: auto;
	background: #F9F3F3;
	border-radius: 50%;
	width: 220px;
	height: 220px;
	position: relative;
	cursor: pointer;
	transition:0.2s ease-in-out;
	margin-top: 1em;
	border: 5px solid #F9F3F3;
}
.featured-projects section .circle:hover{
	background: white;
	border-color: white;
	margin-top: 0.7em;
}
.circle img{
	margin: auto;
	vertical-align: middle;
	margin-top: 80px;
	width: 80%;
}
.dark h1 {
	color: white;
	margin-bottom: 1em;
	border-bottom: 1px solid #707070;
}
.featured-projects p {
	font-size: 0.8em;
	text-align: right;
	color: #696969;
	margin-right: 25px;
	padding-top: 5px;
	width: 150px;
	float: right;
}
.circle.gdc img {
	width: 70%;
	margin-top: 70px;
}
.circle.pdc img{
	width: 60%;
	margin-top: 80px;
}
.block.midgray{
	padding: 4em 5em;
}
.wrapper {
	overflow: hidden;
	/*margin: 0em 5em;*/
	width: 100%;
}
.news {
	white-space:nowrap;
	overflow-x:scroll;
	overflow-y:hidden;
	padding-bottom: 5px;
	transition: 0.2s ease-in;
}
.news section {
	width: 33.33333%;
	padding: 0em 2em;
	display: inline-block;
	vertical-align: top;

}
.news section img {
	/*border-radius: 5px 5px 0px 0px;*/
	height: 200px;
	width: 100%;
}
.news section >div{
	/*box-shadow: 0 0 10px #DAC2C2;*/
	border-radius: 10px;
	display: block;
	margin: auto;
	width: 320px;
}
.midgray h1 {
	color: #8B8484;
}
.news section article{
	background: white;
	padding: 0em;
	padding-top: 1em;
	text-align: left;
	border-radius: 0px 0px 10px 10px;
	font-family: 'Titillium Web', sans-serif;
}
.midgray{
	/*background: #F9F3F3;*/
	background: white;
	position: relative;

}
.date{
	color: #dfdfdf;
	font-size: 0.8em;
}
.news section p, .news section h3 {
	width: 100%;
	white-space: initial;
}
.news section p {
	font-weight: 300;
}
.news section h3 {
	font-size: 1.2em;
	padding-bottom: 1em;
}
.block.midgray input {
	display: none;
}
.midgray #active{
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0em 3em;
  /*top: 50%;*/
  top: 0;
  height: 100%;
}

#controls label{
	border-radius: 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #bbb;
	cursor: pointer;
}
#active label{
	display: none;
	cursor: pointer;
	margin-top: 250px;
	opacity: 0;
	width: 50px;
	height: 50px;
	background: #EBE2F2;
	border-radius: 50%;
	transition:0.2s ease-in;
}
.midgray:hover #active label{
	/*background: #dfdfdf;*/
	margin-top: 300px;
	opacity: 1;

}
#active label p {
	/*padding-top: 300px;*/
	font-family: monospace;
	font-size: 25px;
	margin-top: 10px;
}

#active label.left{
	float: left;
}
#active label.right {
	float: right;
}
#active label:hover{
	background: #D1CBED;
}
