/* ==========================================================================
   Top navigation
   ========================================================================== */

.navigation-wrapper {
  text-align: center;
  @include clearfix;

  .nav-menu {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 0 0 50px;
    padding: 4px 20px;
    background-color: $black;

    @include media($medium) {
      width: auto;
      @include rounded(0 0 10px 10px);
    }

    @include clearfix;
  }
  
  .submenu {
    list-style: none;
    margin: 0;
    padding: 0 15px 10px 15px;
    background-color: $black;
    text-align: center;
    @include rounded(0 0 10px 10px);

    &__item {
      display: block;
      white-space: nowrap;
      @include font-size(14,no);

    }
  }

  .dropdown {
    transition: all 0.3s;
    opacity: 0;
    max-height: 0;

    &_opened {
      max-height: 700px;
      opacity: 1;
    }

    @include media($medium) {
      position: absolute;
      left: -15px;
      width: calc(100% + 30px);

    }
  }

  .dropdown-toggle {
    transition: all 0.3s;
    display: inline-block;
    line-height: 100%;  
    position: absolute;
    right: 0;
    padding: 9px;
    @include rounded (10px);

    @include media($medium) {
      position: static;
    }

    &:hover {
      background-color: lighten($black, 10);
      @include box-shadow($shadow: inset 0 0 1px $white);
    }
  }

  .nav-menu__item {
    display: block;
    float: left;
    list-style: none;
    text-align: center;
    @include font-size(24,no);
    text-transform: uppercase;
    color: $white;
    position: relative;
    white-space: nowrap;
    margin-right: 10px;

    @include media($medium) {
      @include font-size(14,no);
    }

  .nav-link:hover {
      @include box-shadow($shadow: inset 0 0 1px $white);
    }
  }

  .nav-link, a {
    display: inline-block;
    margin-bottom: 10px;
    padding: 12px 20px;

    @include media($medium) {
      margin-bottom: 0;
      padding: 6px 10px;
    }

    color: $white;
    @include rounded(4px);

    &:hover {
      background-color: lighten($black, 10);
    }
  }
}

/*
   Responsive navigation toggle
   ========================================================================== */

#site-nav {
  display: none;
  z-index: 5;

  @include media($medium) {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
  }

  &.closed {

    @include media($medium) {
      display: block;
    }
  }

  &.opened {
    display: block;
    max-height: 100%;

    li {
      float: none;

      @include media($medium) {
        float: left;
      }
    }
  }
}

/* display when JavaScript is disabled */
.no-js #site-nav {
  display: block;
}

#nav-toggle {
  z-index: 20;
  display: block;
  vertical-align: top;
  margin: 0;
  padding: 6px 20px;
  background-color: $black;
  height: 44px;
  @include rounded(0);

  @include media($medium) {
    display: none;
  }
}
