@charset "utf-8";

/* Post Custom CSS
*/

// 19.08.01 : Post 내 code highlighter 의 배경 색을 변경
// 영향받는 범위 (클래스) : .highlighter-rouge .highlight 
// 영향받는 범위 (태그) : pre code 
.highlighter-rouge .highlight {
  background: #F2F2F2;
}

// 
pre, code {
  background-color: #F2F2F2;
}

h1.cm-cover-title {
  font-size: 30pt;
}

div.cm-doc-foot {
  font-size: 18pt;
  margin-bottom: 10px;
}

p.cm-cover-subtitle {
  font-size: 12pt;
  opacity: .8;
}

.cm-container {
  display: flex;
  align-items: center;  
  justify-content: center;
}

.cm-right {
  justify-content: flex-end;
}

.cm-left {
  justify-content: flex-start;
}

.cm-top-padding {
  padding-top: 50px;
}

.cm-author {
  font-size: 10pt;
  font-style: italic;
}

.cm-seperator {
  width: 20%;
  height: 10px;
  border-bottom: 2px solid $cm-post-border-color;
  margin-top: 10px;
  margin-bottom: 35px;
}


// 포스트 타이틀
.cm-title {
  // 중앙 정렬
  // border-bottom: 1px solid #976868;
  // padding-bottom: 10px;
  // border-bottom-width: 1px;
  color: $cm-post-title-color;
  // 폰트 크기 변경
  font-size: $cm-post-title-font-size;
}

.cm-left-sidebar {
  display: none;
}
.cm-right-sidebar {
  display: none;
}

// Wide View 에서만 보이도록 설정
// Home.html 의 광고 노출 부분 작업
.cm-wide-view {
  display: none;  
}

@media (min-width: 1762px) {
  // Code-machina 편집 
  // Floating Table Of Content (ToC)
  .cm-googlead {
    display: inline-block;
    margin-top: 10px;
    // width: 352px;
    width: 352px;
  }

  .cm-toc {
    background-color: #eee;
    border: 1px solid;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
  }

  .cm-right-sidebar {
    display: inline-block;
    // float: right;
    float: none;
    position: fixed;
    right: 60px;

    width: 352px;
    // padding: 24px;
    // margin-right: 50px;

    color: #767676;
  }

  .cm-left-sidebar {
    display: inline-block;
    // float: right;
    float: none;
    position: fixed;
    left: 60px;

    width: 352px;
    // padding: 24px;
    // margin-right: 50px;

    color: #767676;
  }

  div.cm-sidebar > ul {

  };

  div.cm-sidebar > ul > li {
    position: relative;
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
  }
}
