@charset "utf-8";

/* Post Custom CSS
*/

// 19.08.01 : Post 내 code highlighter 의 배경 색을 변경
// 영향받는 범위 (클래스) : .highlighter-rouge .highlight 
// 영향받는 범위 (태그) : pre code 
.highlighter-rouge .highlight {
  background: #F2F2F2;
  border-radius: 5px;
  box-shadow: 1px 1px grey;
}

header {
  z-index: 1200;
}

body, button, input, textarea {
  font-family: "Source Sans Pro","Roboto","Open Sans",Arial,sans-serif;
}

code, pre {
  font-family: "Source Code Pro","Inconsolata",monospace;
  // 폰트 굵기 조정 600 -> 550
  font-weight: 200;
  font-size: 12px;
}

// Nesting SASS, https://marksheet.io/sass-nesting.html
.cm-blog-content {
  // 테이블 수정시 조금 과하다. 주석 처리 고고
  // table { 
  //   border: 1px solid DarkOrange;
  //   border-radius: 25px; 
  //   border-spacing: 0;
  //   }
  // table td, table th { 
  //   border-bottom: 1px solid DarkOrange;
  //   padding: 10px; 
  //   }
  // table tr:last-child > td {
  //   border-bottom: none;
  // }
  h2 {
    font-family: "Google Sans", "Helvetica", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-top: 160px;
    margin-bottom: 32px;
    border-bottom-color: #E8EAED;
    border-bottom: 2px solid #E8EAED;
  }

  h3 {
    // h3 태그 가독성 향상이 필요
    font-family: "Google Sans", "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 80px;
  }

  // 사용자 읽는 위치의 서브 타이틀에 강조효과
  h2.current {
    border-bottom-color: #1A73E8;
  }
} 

// 19.08.02 : 블로그 본문 배경색 변경
.cm-blog-page {
  background: #EAEAEA;
}

// 19.08.02 : 블로그 글 목록 페이지 배경색 변경
.cm-home-content {
  background: #FFFFFF;
}

// 19.08.02 : 블로그 본문 게시글 영역 배경색 변경
.cm-blog-content {
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #d6d6d6; // 블로그 컨텐츠 프레임의 경계 지정
  box-shadow: 1px 1px 0px #c2c2c2; // 블로그 컨텐츠 프레임의 경계 지정
}



#my_toc {
  // ToC CSS 추가 2019.08.10 
  // 코드 유지 관리를 위해 Nested 형태를 사용
  // 참고: https://stackoverflow.com/questions/18564187/using-jquery-find-the-div-class-that-the-top-of-the-viewport-is-inside
  li > a.current, li:hover > a {
    border-left-color: #1A73E8;
    color: #202124;
  }
  ul, li {
    list-style-type: none;
   }
   a {
    border-left: 2px solid #E8EAED;
    color: #5F6368;
    display: block;
    font-family: "Google Sans", "Helvetica", sans-serif;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 0 8px 16px;
    position: relative;

  }
}

pre, code {
  background-color: #F2F2F2;
}

h1.cm-cover-title {
  font-size: 30pt;
}

div.cm-doc-foot {
  font-size: 18pt;
  margin-bottom: 10px;
}

p.cm-cover-subtitle {
  font-size: 12pt;
  opacity: .8;
}

.cm-container {
  display: flex;
  align-items: center;  
  justify-content: center;
}

.cm-right {
  justify-content: flex-end;
}

.cm-left {
  justify-content: flex-start;
}

.cm-top-padding {
  padding-top: 50px;
}

.cm-author {
  font-size: 10pt;
  font-style: italic;
}

.cm-seperator {
  width: 20%;
  height: 10px;
  border-bottom: 2px solid $cm-post-border-color;
  margin-top: 10px;
  margin-bottom: 35px;
}


// 포스트 타이틀
.cm-title {
  // 중앙 정렬
  // border-bottom: 1px solid #976868;
  // padding-bottom: 10px;
  // border-bottom-width: 1px;
  color: $cm-post-title-color;
  // 폰트 크기 변경
  font-size: $cm-post-title-font-size;
  // TODO: word wrap 을 제공한다.
  padding: 20px;
  overflow-wrap: break-word;
}

.cm-left-sidebar {
  display: none;
}
.cm-right-sidebar {
  display: none;
}

// Wide View 에서만 보이도록 설정
// Home.html 의 광고 노출 부분 작업
.cm-wide-view {
  display: none;  
}

// https://dev.to
// 이 css 는 매우 복잡함. 굳이 이렇게 까지 하는 건 아님
// @media screen and (min-width: 1250px)
// .primary-sticky-nav {
//     display: block;
//     position: fixed;
//     left: calc(50% + 298px);
//     top: 80px;
//     bottom: 20px;
//     width: 310px;
//     display: -webkit-box;
//     display: flex;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//     flex-flow: column wrap;
//     overflow: hidden;
//     z-index: 100;
// }

// 2019.08.11 code-machina
// 
@media (min-width: 1562px) {
  // Code-machina 편집 
  // Floating Table Of Content (ToC)
  .cm-googlead {
    display: inline-block;
    margin-top: 10px;
    // width: 352px;
    width: 352px;
  }
  .cm-toc-title {
    border-radius: 10px 0px;
    background: #00ffff;
    height: 30px;
    font-size: 20px;
    font-weight: 1000;
    padding: 10px 10px;
    text-align: center;
    color: #ffffff;
    background: #767676;
  }

  .cm-toc-items {
    padding: 10px 0px 0px 0px;
    font-size: 12px;
    a {
      color: #777;
      font-weight: 900;
    }
  }

  .cm-toc-version {
    // 우측 ToC Navigator 의 버전 표시임
    height: 10px;
    border-top: 1px solid;
    border-top-color: #c2c2c2;
    font-style: italic;
    text-align: right;
    font-size: 12px;
  }

  .cm-toc {
    background-color: #ffffff;
    // border: 1px solid;
    // padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    p {
      padding: 4px 20px;
    }
    // border-radius: 10px;
    // box-shadow: 1px 1px #767676;
    border: 1px solid #d6d6d6; // 블로그 컨텐츠 프레임의 경계 지정
    box-shadow: 1px 1px 0px #c2c2c2; // 블로그 컨텐츠 프레임의 경계 지정
  }

  .cm-right-sidebar {
    display: inline-block;
    // float: right;
    float: none;
    position: fixed;
    // right: 60px;
    left: calc(60% + 250px);


    width: 352px;
    // padding: 24px;
    // margin-right: 50px;

    color: #767676;
  }

  .cm-left-sidebar {
    display: inline-block;
    // float: right;
    float: none;
    position: fixed;
    left: 60px;

    width: 352px;
    // padding: 24px;
    // margin-right: 50px;

    color: #767676;
  }

  div.cm-sidebar > ul {

  };

  div.cm-right-sidebar > ul > li {
    position: relative;
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
  }
}
