body {
  direction: rtl;
}

blockquote {
  border-left: none;
  border-right: .25em solid $primary-color;
  margin: 2em 0 2em 1em;
}

.page__taxonomy {
  strong {
    margin-right: 0;
    margin-left: 10px;
  }
}

.page__content {
  h1, h2, h3, h4, h5, h6 {
    .header-link {
      left: 0;
      right: .5em;
    }
  }
}

.author__urls-wrapper {
  .author__urls {
    span.label {
      padding-left: 0;
      padding-right: 5px;
    }
  }
}

.page {
  @include breakpoint($large) {
    padding-right: 0;
    padding-left: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    padding-right: 0;
    padding-left: $right-sidebar-width;
  }
}

.page__related {
  float: right;

  @include breakpoint($large) {
    float: left;
  }
}

.sidebar {
  @include breakpoint($large) {
    float: right;
  }
}


.sidebar__right {
  @include breakpoint($large) {
    right: auto;
    left: 0;
    margin-right: 0;
    margin-left: -1 * $right-sidebar-width-narrow;
    padding-left: 0;
    padding-right: 1em;

    &.sticky {
      float: left;
    }
  }

  @include breakpoint($x-large) {
    margin-right: 0;
    margin-left: -1 * $right-sidebar-width;
  }
}

.archive {
  @include breakpoint($large) {
    padding-right: 0;
    padding-left: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    padding-right: 0;
    padding-left: $right-sidebar-width;
  }
}

.author__urls {
  a {
    padding-right: 0;
    padding-left: 5px;
  }
}

.page__taxonomy-item {
  margin-right: 0;
  margin-left: 5px;
}

.task-list .task-list-item-checkbox {
  margin-right: 0;
  margin-left: .5em;
}

.greedy-nav {
  a {
    &.site-title {
      margin: 0 0 0 1rem;
    }
  }
}

div.highlighter-rouge,
figure.highlight {
  direction: ltr;
}

.full {
  @include breakpoint($large) {
    margin-right: 0 !important;
    margin-left: -1 * span(2.5 of 12) !important;
  }
}

.toc__menu {
  li ul > li a {
    padding-left: 0;
    padding-right: 1.25rem;
  }

  li ul li ul > li a {
    padding-left: 0;
    padding-right: 1.75rem;
  }

  li ul li ul li ul > li a {
    padding-left: 0;
    padding-right: 2.25rem;
  }

  li ul li ul li ul li ul > li a {
    padding-left: 0;
    padding-right: 2.75rem;
  }

  li ul li ul li ul li ul li ul > li a {
    padding-left: 0;
    padding-right: 3.25rem;
  }
}
