/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  margin-bottom: 2em;
  @include breakpoint($medium) {
    @include span(10 of 12 last);
  }
  @include breakpoint($large) {
    @include suffix(3 of 12);
  }
  @include breakpoint($x-large) {
    @include prefix(0.5 of 12);
  }
}

.archive__subtitle {
  margin: 0;
  padding-bottom: 0.5em;
  font-family: $serif;
  font-size: 28px;
  border-bottom: 1px solid $border-color;
}

.archive__item-title {
  margin-bottom: 4px;
  font-family: $sans-serif-narrow;
  font-size: 20px;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.archive__item-excerpt {
  font-size: 14px;
  & + p {
    text-indent: 0;
  }
}