# Jekyll and Ruby specific.
.sass-cache
_site/*
Gemfile.lock
Gemfile

# Bundler related.
.bundle
vendor/bundle/

# Other.
*.orig
*.core
*.rej
*~
*.swp
*.log
*.tmp
*.bak
.*\#.*\#$

# OS garbage.
Thumbs.db
.DS_Store

# IntelliJ IDEA
.idea/*
