/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  @include container;
  @include grid(12,10);
  @include prefix(12,1);
  @include suffix(12,1);
  margin-bottom: 2em;
  @include breakpoint($small) {
    @include grid(12,8);
    @include prefix(12,0);
    @include suffix(12,0);
  }
  @include breakpoint($large) {
    @include grid(12,6);
  }
  @include breakpoint($x-large) {
    @include grid(12,5);
  }
}

.archive__subtitle {
  margin: 0;
  padding-bottom: 0.5em;
  font-size: 28px;
  border-bottom: 1px solid $border-color;
}

.archive__item-title {
  margin-bottom: 4px;
  font-size: 20px;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.archive__item-excerpt {
  font-size: 14px;
  & + p {
    text-indent: 0;
  }
}