/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include container;
  @include clearfix;
  margin-top: 3em;
  padding: 0 2em 3em;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.page__footer-copyright {
  @include breakpoint($medium) {
    @include span(10 of 12);
    @include pre(2);
  }
  font-size: 14px;
}

.page__footer-follow {
  @include breakpoint($medium) {
    @include span(10 of 12);
    @include pre(2);
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    font-family: $sans-serif-narrow;
    font-size: 16px;
    text-transform: uppercase;
  }

  li + li:before {
    content: "";
    padding-right: 5px;
  }
}