/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  @include container;
  @include clearfix;
  padding: 2em 2em 1em;
  font-family: $sans-serif-narrow;
  font-weight: 700;
  text-transform: uppercase;
  a {
    text-decoration: none;
  }
}

/* Site name */
.site-name {
  @include breakpoint($medium) {
    @include span(10 of 12);
    @include pre(2);
  }
  font-size: 24px;
}

.masthead__menu {
  @include breakpoint($medium) {
    @include span(10 of 12);
    @include pre(2);
  }
  margin-bottom: 1em;
  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
    display: block;
    list-style-type: none;
    border-bottom: 1px solid $border-color;
    font-size: 16px;
    &:last-child {
      border-bottom: 0 solid transparent;
    }
    @include breakpoint($small) {
      display: inline;
      margin-right: 25px;
      white-space: nowrap;
      border-bottom: 0 solid transparent;
    }
    a {
      display: block;
      padding: 10px 0;
      @include breakpoint($small) {
        display: inline;
        padding: 0;
      }
    }
  }