/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

body {
  background-color: $body-color;
  font-family: $serif;
  color: $text-color;
}

/*
   Header
   ========================================================================== */

.navigation-wrapper {
  @include container;
  padding: 2em 0 1em;
  font-family: $sans-serif-narrow;
  font-weight: 700;
  text-transform: uppercase;
  @include clearfix;
}

/* Site name */
.site-name {
  @include grid(12,10);
  @include prefix(12,1);
  @include suffix(12,1);
  margin-bottom: 1em;
  float: none;
  display: block;
  font-size: 24px;
  @include breakpoint($small) {
    @include grid(12,2);
    @include prefix(12,0.5);
    @include suffix(12,0.5);
    font-size: 16px;
  }
  @include breakpoint($x-large) {
    @include grid(12,1.5);
    @include prefix(12,2);
  }
}

/* Top navigation links */
.top-navigation {
  @include grid(12,10);
  @include prefix(12,1);
  @include suffix(12,1);
  margin-bottom: 1em;
  float: none;
  display: block;
  @include breakpoint($small) {
    @include grid(12,9);
    @include prefix(12,0);
    @include suffix(12,0);
  }
  @include breakpoint($x-large) {
    @include grid(12,8);
  }
  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
  li {
    display: block;
    list-style-type: none;
    border-bottom: 1px solid lighten(#000,80);
    border-bottom: 1px solid fade(#000,10);
    font-size: 16px;
    &:last-child {
      border-bottom: 0 solid transparent;
    }
    @include breakpoint($small) {
      display: inline;
      margin-right: 25px;
      white-space: nowrap;
      border-bottom: 0 solid transparent;
    }
    a {
      display: block;
      padding: 10px 0;
      decoration: none;
      border-bottom: 0 solid transparent;
      @include breakpoint($small) {
        display: inline;
        padding: 0;
      }
    }
  }
}

/* Main content */
#main {
  counter-reset: captions;
  @include container;
  @include clearfix;
  clear: both;
  margin-top: 2em;
}

.page {
  @include container;
  @include grid(12,10);
  @include prefix(12,1);
  @include suffix(12,1);
  margin-bottom: 2em;
  @include breakpoint($small) {
    @include grid(12,8);
    @include prefix(12,0);
    @include suffix(12,0);
  }
  @include breakpoint($large) {
  @include grid(12,6);
  }
  @include breakpoint($x-large) {
    @include grid(12,5);
  }
}

/* Archive listing specific styling */
.archive {
  @include container;
  @include grid(12,10);
  @include prefix(12,1);
  @include suffix(12,1);
  margin-bottom: 2em;
  @include breakpoint($small) {
    @include grid(12,8);
    @include prefix(12,0);
    @include suffix(12,0);
  }
  @include breakpoint($large) {
    @include grid(12,6);
  }
  @include breakpoint($x-large) {
    @include grid(12,5);
  }
  h3 {
    margin: 0;
    padding-bottom: .5em;
    font-size: 28px;
    border-bottom: 1px solid mix(#fff, #000, 70%);
  }
  article {
    h2 {
      margin-bottom: 4px;
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
    p + p {
      text-indent: 0;
    }
  }
}

/* Large feature header image */
.image-wrap {
  position: relative;
  margin-bottom: 2em;
  @include clearfix;
  &:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 8%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: $body-color;
    @include breakpoint($small) {
      left: 25%;
    }
    @include breakpoint($large) {
      border-width: 20px;
    }
    @include breakpoint($x-large) {
      left: 33.333333333%;
    }
  }
  img {
    width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
  }
}

/* Post byline */
.byline {
  clear: both;
  font-size: 80%;
}

/* Author profile */
.sidebar {
  display: none;
  a, a:hover {
    border-bottom: 0 solid transparent;
  }
  img {
    width: 100%;
  }
  @include breakpoint($small) {
    display: block;
    @include grid(12,2);
    @include prefix(12,0.5);
    @include suffix(12,0.5);
  }
  @include breakpoint($x-large) {
    @include grid(12,1.5);
    @include prefix(12,2);
  }
}
.author-name {
  margin-bottom: 0;
  @include breakpoint($small) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.author-bio {
  font-size: 80%;
  font-style: italic;
  @include breakpoint($small) {
    margin-bottom: 20px;
  }
}
.author-avatar {
  max-width: 110px;
  border-radius: 50%;
}
.author-social {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #000;
  &:visited {
    color: #000;
  }
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: translate(0, 2px);
  }
  .fa {
    margin-right: 5px;
  }
}
@include breakpoint($small) {
  display: block;
  max-width: 125px;
}
@include breakpoint($large) {
  .author-name,
  .author-avatar,
  .author-bio,
  .author-social {
    max-width: 150px;
  }
}

/* Post content wrapper */
.article-wrap {
  // Dotted line underlines for links
  p > a,
  p > em > a,
  p > strong > a,
  li > a {
    text-decoration: underline;
  }
}

/* Image grid - not used */
.image-grid {
  @include clearfix;
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  li {
    @include grid(12,6);
    @include breakpoint($micro) {
      width: 33.333333%;
    }
    @include breakpoint($small) {
      width: 25%;
    }
    @include breakpoint($medium) {
      width: 20%;
    }
    @include breakpoint($large) {
      width: 16.666666666%;
    }
  }
}

/* Recent grid - not used */
.recent-grid {
  @include clearfix;
  list-style: none;
  margin: 1em 0;
  li {
    display: inline;
    a {
      border-bottom: 0 solid transparent;
      &:hover {
        border-bottom: 0 solid transparent;
      }
    }
  }
  img {
    width: 19%;
    margin-bottom: 1%;
  }
}

/* Social sharing links */
.social-share {
  h4 {
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}


/* Footer wrapper */
.footer-wrap {
  @include container;
  @include clearfix;
  clear: both;
  padding-bottom: 3em;
  .copyright {
    font-size: 14px;
  }
  footer {
    @include grid(12,10);
    @include prefix(12,1);
    @include suffix(12,1);
    @include breakpoint($small) {
      @include grid(12,6);
      @include prefix(12,3);
      @include suffix(12,3);
    }
    @include breakpoint($x-large) {
      @include grid(12,4.5);
      @include prefix(12,4);
      @include suffix(12,3.5);
    }
  }
}

/* Follow links */
.follow {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    display: inline-block;
  }
  li + li:before {
    content: "";
    padding-right: 5px;
  }
}

/* Related articles list */
.related-articles {
  @include grid(12,10);
  @include prefix(12,1);
  @include suffix(12,1);
  margin-bottom: 2em;
  @include breakpoint($small) {
    @include grid(12,6);
    @include prefix(12,3);
    @include suffix(12,3);
  }
  @include breakpoint($x-large) {
    @include grid(12,4.5);
    @include prefix(12,4);
    @include suffix(12,3.5);
  }
  h4 {
    text-transform: uppercase;
    margin-bottom: 0;
  }
  li {
    margin-bottom: 0;
  }
}

/*
   Browser upgrade alert
   ========================================================================== */

.browser-upgrade {
  background: #000;
  text-align: center;
  margin: 0 0 2em 0;
  padding: 10px;
  text-align: center;
  color: #fff;
  a {
    color: #fff;
    border-bottom: 1px dotted #fff;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid #fff;
    }
  }
}

/*
   Google search form
   ========================================================================== */

#goog-fixurl {
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
}
#goog-wm-qt {
  width: auto;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 8px 20px;
  display: inline-block;
  font-size: 14px;
  background-color: #fff;
  color: #000;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: lighten(#000,50);
  border-radius: $border-radius;
}
#goog-wm-sb {
  @extend .btn;
}

/*
   Breadcrumbs
   ========================================================================== */

.breadcrumbs {
  ol {
    padding: 0;
    list-style: none;
  }
  li {
    display: inline;
  }
  .current {
    font-weight: bold;
  }
}

/*
   Post pagination links
   ========================================================================== */

.pagination {
  padding-top: 0.5em;
  border-top: 1px solid mix(#fff, #000, 70%);
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    display: inline-block;
  }
  li + li:before {
    content: "";
    padding-right: 10px;
  }
  .current {
    font-weight: bold;
  }
}