/* ==========================================================================
   SIDEBAR
   ========================================================================== */

.sidebar {
  @include breakpoint($medium) {
    display: block;
    margin-bottom: 1em;
    @include span(2);
    @include suffix(0.5);
    // @include grid(12,2);
    // @include prefix(12,0.5);
    // @include suffix(12,0.5);
  }
  @include breakpoint($x-large) {
    // @include grid(12,1.5);
    // @include prefix(12,2);
  }
  h2, h3, h4, h5, h6 {
    font-family: $sans-serif-narrow;
  }
  p, li {
    font-size: 14px;
  }
  img {
    width: 100%;
  }
}

/*
   Author profile and links
   ========================================================================== */

.author__name {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: $sans-serif-narrow;
  font-size: 24px;
}

.author__bio {
  margin-bottom: 20px;
  font-size: 80%;
  font-style: italic;
}

.author__avatar {
  max-width: 110px;
  border-radius: 50%;
}

.author__social-url {
  display: block;
  margin-bottom: 5px;
  padding-right: 5px;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// .author__name,
// .author__avatar,
// .author__bio,
// .author__social-url {
//   max-width: 150px;
// }