/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  width: 100%;
  font-family: $sans-serif;
  font-size: 0.8rem;
  border-collapse: collapse;
  border-bottom: 2px solid $border-color;
  & + table {
    margin-top: 1em;
  }
}

thead {
  border-bottom: 2px solid $border-color;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
}

td {
  border-bottom: 1px solid $border-color;
  padding: 0.5em;
}

tr, td, th {
  vertical-align: middle;
}
