/* ==========================================================================
   TABLE OF CONTENTS
   ========================================================================== */

.toc {
  padding: 0 0 1em;
  font-family: $sans-serif-narrow;
  color: $gray;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #fff;
  @include breakpoint($large) {
    @include span(3 of 10 last);
    @include prefix(0.25);
    // @include grid(12,2);
    // position: absolute;
    // top: 0;
    // right: 6.250005%;
  }
}

.toc__title {
  margin: 0;
  padding: 10px 20px;
  font-family: $sans-serif-narrow;
  font-size: 16px;
  border: 1px solid $border-color;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  background: mix(#fff, $light-gray, 50%);
}

.toc__menu {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  border: 1px solid $border-color;
  border-top: none;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  a {
    display: block;
    padding: 10px 20px;
    color: $gray;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.5;
    border-bottom: 1px solid $border-color;
    &:hover {
      color: #000;
    }
  }
  li ul > li a {
    font-weight: normal;
  }
  // hide sub sub links on small screens
  li > ul li {
    display: none;
    @include breakpoint($large) {
      display: block;
    }
  }
}
