/* ==========================================================================
   TABLE OF CONTENTS
   ========================================================================== */

.toc {
  padding: 0 1em 1em;
  font-family: $sans-serif-narrow;
  border-top: 8px solid $gray;
  @include breakpoint($large) {
    display: block;
    @include grid(12,2);
    @include prefix(12,0.5);
    @include suffix(12,0.5);
    position: absolute;
    top: 5.5em;
    right: 0;
  }
}

.toc__title {
  margin: 1em 0;
  font-family: $serif;
  font-size: 18px;
  color: $gray;
}

.toc__menu {
  padding-left: 0;
  font-size: 14px;
  border-bottom: 2px solid #e2e2e2;
  ul {
    @include clearfix();
    > li {
      padding: 5px 0;
      font-weight: normal;
      &:before {
        content: "\2192";
        width: 20px;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $light-gray;
      }
    }
  }
  li {
    clear: both;
    display: block;
    font-weight: bold;
    &:before {
      display: block;
      float: left;
      margin-right: 10px;
      margin-bottom: 5px;
      width: 10px;
      font-weight: bold;
    }
    a {
      display: block;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  > li {
    padding: 5px 0;
    border-top: 2px solid $light-gray;
  }
}
