/* assets/css/custom.css */
.intro-text {
    font-size: 0.7em;
    text-align: justify;
    margin: 20px auto;
    max-width: 800px;
  }
  
  .archive {
    padding-left: 20px;
  }
  
  .author_content {
    padding-right: 10px
  }

  .tabs {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .tab-button {
    flex: 1;
    text-align: center;
    padding: 12px 20px; /* Increased padding */
    border: 1px solid #ccc;
    background-color: #f8f8f8; /* Slightly lighter background */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
    border-radius: 5px 5px 0 0; /* Rounded corners on top */
  }
  
  .tab-button:hover {
    background-color: #f0f0f0; /* Hover effect */
  }
  
  .tab-button.active {
    background-color: #e0e0e0; /* More distinct active color */
    font-weight: 600; /* Bolder font */
  }

  .project {
    font-size: 0.7em; /* Same font size as intro-text */
    text-align: justify; /* Justify text */
    margin: 20px auto; /* Same margin as intro-text */
    max-width: 800px; /* Same max-width as intro-text */
  }