// 전체 폰트 바꾸기
body {
  font-family: 'Jua', sans-serif;
}

// 본문에만 적용하고 싶을 경우
.post-content {
  font-family: 'Jua', sans-serif;
}

// 제목에 적용하고 싶으면
h1, h2, h3, h4, h5, h6 {
  font-family: 'Jua', sans-serif;
}
