---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

body {
    font-size: 70%; 
    // letter-spacing: 0.01em;
    // line-height: 1.6; 
  }
  
//   h1, h2, h3, h4, h5, h6 {
//     font-size: inherit; 
//   }

.element-class {
    white-space: normal;
    overflow-wrap: break-word;

  }