---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
  font-family: 'Nanum Myeongjo';
  src: url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
}
