---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

$serif: Lora, Georgia, Times, serif !default;
$sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
// $global-font-family           : $sans-serif !default;
$global-font-family           : $serif !default;

@import "minimal-mistakes"; // main partials

html {
  font-family: serif;
  font-size: 16px;

  @include breakpoint($medium) {
    font-size: 18px;
  }

  @include breakpoint($large) {
    font-size: 18px;
  }

  @include breakpoint($x-large) {
    font-size: 18px;
  }
}

.author__avatar {
    display: table-cell;
    vertical-align: top;
    width: 36px;
    height: 36px;
  
    @include breakpoint($large) {
      display: block;
      width: auto;
      height: auto;
    }

    opacity: 1;
  
    img {
      max-width: 150px;
      border-radius: 0%;
  
      @include breakpoint($large) {
        padding: 0px;
        border: 0px solid $border-color;
      }
    }
  }
  