---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import url('//fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

body {
    font-family: serif;
}
