---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials