
@charset "utf-8";
/* syntax highlighting */
$base00: "263238" ;
$base01: "37474F" ;
$base02: "455A64" ;
$base03: "546E7A" ;
$base04: "90A4AE" ;
$base05: "B0BEC5" ;
$base06: "CFD8DC" ;
$base07: "ECEFF1" ;
$base08: "FF1744" ;
$base09: "FF9100" ;
$base0A: "FFC400" ;
$base0B: "00E676" ;
$base0C: "00B0FF" ;
$base0D: "2979FF" ;
$base0E: "651FFF" ;
$base0F: "8D6E63" ;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
