---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes"; // main partials


@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap');

body::-webkit-scrollbar {
  width: 9px;
  background-color: #383838;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #6b6b6b;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #383838;
}

