---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import "minimal-mistakes";

// 폰트변경
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

html {
font-size: 16px; // change to whatever

@include breakpoint($medium) {
    font-size: 18px; // change to whatever
}

@include breakpoint($large) {
    font-size: 18px; // change to whatever
}

@include breakpoint($x-large) {
    font-size: 18px; // change to whatever
}
}