---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
	font-size: 13px;

	@include breakpoint($medium) {
		font-size: 14px;
	}

	@include breakpoint($large) {
		font-size: 16px;
	}

	@include breakpoint($x-large) {
		font-size: 18px;
	}
}
