---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.profile-photo {
  width: 150px;
  height: 225px;
}

.post-image {
  max-width: 640px;
  max-height: 640px;
}
