---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/* 사이드바 항상 표시 */
.sidebar {
  @include breakpoint($large) {
    float: left;
    width: calc(#{$right-sidebar-width-narrow} - 1em);
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  @include breakpoint($x-large) {
    width: calc(#{$right-sidebar-width} - 1em);
  }
}

/* 모바일에서도 사이드바 항상 표시 */
.sidebar__right {
  margin-bottom: 1em;
  
  @include breakpoint(max-width $large - 1px) {
    position: relative !important;
    float: none;
    width: 100%;
    clear: both;
  }
}

/* MENU 토글 버튼 숨기기 */
.greedy-nav__toggle {
  display: none !important;
}

/* 네비게이션 항상 표시 */
.greedy-nav .visible-links {
  display: flex !important;
}

.greedy-nav .hidden-links {
  position: static !important;
  visibility: visible !important;
  opacity: 1 !important;
  display: block !important;
}
