---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



// 커스텀 CSS
.greedy-nav__toggle {
  display: none !important;
}

.greedy-nav .visible-links {
  display: flex !important;
}

// 사이드바 항상 보이기
.sidebar {
  position: sticky !important;
  top: 2em;
}

.sidebar nav {
  display: block !important;
}
