---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// https://github.com/mmistakes/minimal-mistakes/issues/1219

html {
   font-size: 16px; // change to whatever 16px
 
   @include breakpoint($medium) {
     font-size: 18px; // change to whatever 18px
   }
 
   @include breakpoint($large) {
     font-size: 20px; // change to whatever 20px
   }
 
   @include breakpoint($x-large) {
     font-size: 22px; // change to whatever 22px
   }
 }
