/* variable for color */

:root {
    --rudra_text_color: #000000;
    --rudra_shadow_color: #eaeaea;
}

body {
    background-color: transparent;
    font-family: 'Roboto' !important;
}

a {
    color: var(--rudra_text_color) !important;
    text-decoration: underline;
}

.team_member {
    background: rgba(0, 0, 0, 0);
	padding-bottom: 50px;
	overflow: hidden;
}
.single_team_content{
padding:45px;
margin-top:60px;
}
.single_team_content h1 {
	font-size: 50px;
	font-weight: 600;
	line-height: 60px;
}

.our-team {
	margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
    /* height: 300px; */

    border: 1px solid #ffffff00;
}
.our-team .team_img{
    position: relative;
    overflow: hidden;
}
.our-team .team_img:after{
    content: "";
    width: 100%;
    height: 100%;
    /* background-color: rgba(255,255,255,0.2); */
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: all 0.3s ease 0s;
}
.our-team:hover .team_img:after{
    bottom: 0;
}
.our-team img{
    /* width: auto; */
    width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

/* .our-team:hover {
    top: 0;
    -webkit-box-shadow: 10px var(--rudra_shadow_color);
    box-shadow: 10px var(--rudra_shadow_color);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;

    border: 1px solid var(--rudra_text_color);
} */

.our-team .team-content{
    padding: 20px 0;
}
.our-team .title{
    font-size: 22px;
    font-weight: bold;
    color: var(--rudra_text_color);
    text-transform: capitalize;
    margin: 0 0 20px;
    position: relative;
}
.our-team .title:before{
    content: "";
    width: 25px;
    height: 1px;
    background: var(--rudra_text_color);
    position: absolute;
    bottom: -10px;
    right: 50%;
    margin-right: 9px;
    transition-duration: 0.25s;
}
.our-team .title:after{
    content: "";
    width: 25px;
    height: 1px;
    background: var(--rudra_text_color);
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: 9px;
    transition-duration: 0.25s;
}
.our-team:hover .title:before,
.our-team:hover .title:after{
    width: 50px;
}
.our-team .post{
    display: inline-block;
    font-size: 18px;
}

.our-team .blurp{
    font-size: 16px;

}

.our-team .email{
    font-size: 14px;
}


.our-team .post:before{
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--rudra_text_color);
    margin: 0 auto;
    position: relative;
    top: -13px;
}

.n_holder {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.nuttida_lab_avatar {
    height: 90%; 
    width: 100%; 
    border-radius: 5px; 
    overflow: hidden;
}

@media (max-width: 900px){
    .our-team{ margin-bottom: 30px; }
    .lab_avatar {
        width: 300px;
        height: 300px;
    }
    .nuttida_lab_avatar {
        height: 100%;
    }
}

/* Ensure images are 400x400 on smaller screens
@media (max-width: 768px) {

} */


