<head>
    <title>{{site.resume.title}}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Giulio Troccoli-Allard's latest resumé">
    <meta name="author" content="Giulio Troccoli-Allard">
    <link rel="shortcut icon" href="{{site.baseurl}}/assets/resume/images/favicon.ico">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/resume/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{{site.baseurl}}/assets/resume/css/{% if site.resume.style %}{{ site.resume.style}}.css{% else %}orbit-1.css{% endif %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/resume.css">
</head>
