{% if site.data.resume.projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-layers fa-fw fa-lg">
      <i class="fas fa-circle fa-lg"></i>
      <i class="fa-inverse fas fa-archive fa-lg" data-fa-transform="shrink-8"></i>
    </span>
    Projects
  </h2>

  {% for intro in site.data.resume.projects %}
  <div class="intro">
      <p>{{ intro.description }}</p>
  </div><!--//intro-->
  {% endfor%}

  {% for project in site.data.resume.projects %}
    <div class="item">

      <span class="project-title"><a href="{{ project.link }}">{{ project.title }}</a></span>

      {% if project.tagline %}
      - <span class="project-tagline">{{ project.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
