{% if site.data.resume.skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-layers fa-fw fa-lg">
      <i class="fas fa-circle fa-lg"></i>
      <i class="fa-inverse fas fa-rocket fa-lg" data-fa-transform="shrink-8"></i>
    </span>
    Skills & Proficiency
  </h2>

  <div class="skillset">

    {% for skill in site.data.resume.skills %}
    <div class="item">
      <h3 class="level-title">{{ skill.name }}</h3>
      <div class="progress level-bar">
        <div class="progress-bar theme-progress-bar" role="progressbar" style="width: {{ skill.level }}%" aria-valuenow="{{ skill.level }}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
