body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.exchange-box{
  border: 1px solid black;
  background-color: white;
  width: 400px;
}


/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
}

/* Change color of dropdown links on hover */
.dropdown-content li:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.amount-box {
  width: 100%;
  border: none;
  text-align: right;
}

.amount-box:focus {
  outline: none;
}

.korean-num {
  height: 50px;
  text-align: right;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.input-area{
  width: 100%;
  border: 1px solid #dcdcde;
}

.input-area input{
  width: 100%;
  box-sizing: border-box;
}

li{
  list-style: none;
}