/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #eeeeee !default;
$text-color: #222831 !default;
$muted-text-color: #393e46 !default;
// $primary-color: #0092ca !default;
$primary-color: #666666 !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;
// $link-color: #393e46 !default;
$link-color: #da3624 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;



$code-color                 : #C72557 !default;
$code-background-color      : #F9F2F4 !default;
$code-background-color-dark : #F9F2F4 !default;
$success-color              : #27ae60 !default;
$warning-color              : #e67e22 !default;
$danger-color               : #c0392b !default;
$info-color                 : #03a9f4 !default;
$link-color-hover           : mix(#000, $link-color, 25%) !default;
$link-color-visited         : mix(#fff, $link-color, 25%) !default;

.page__content {
  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
    color: $text-color;
  }
}

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
