/* ==========================================================================
   Custom skin
   ========================================================================== */


/* Colors */
$background-color: #8b0029 !default;
$text-color: #d6cabc !default;
$muted-text-color: #d6cabc !default;
$primary-color: #8b0029 !default;
$border-color: mix(#fff, #8b0029, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #8b0029 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #8b0029 !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
