/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank


$background-color: #fbfcfc !default; // 배경색 
$text-color: #000 !default; // 폰트색
$primary-color: #3d719b !default; // 주 컨셉 색깔(상단 메뉴바의 밑줄, 목차 등)
$footer-background-color:  #3d719b/* mix(#000, $background-color, 25%)*/ !default; // footer 색
$link-color: #3d719b !default; // 링크색(글 제목)