/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
