/* ==========================================================================
   Midnight skin
   ========================================================================== */

/* Colors */
$background-color: #252525 !default;
$text-color: #f0e7d5 !default;
$primary-color: #e8ba00 !default;
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: #1e1e1e !default;
$code-background-color-dark: mix(#000, $code-background-color, 25%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#000, $background-color, 30%) !default;
$link-color: $primary-color !default;
$link-color-visited: mix(#fff, $link-color, 40%) !default;
$link-color-hover: mix(#fff, $link-color, 60%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

/* sunrise syntax highlighting (base16) */
$base00: $code-background-color !default;
$base01: $code-background-color-dark !default;
$base02: #3b3b3b !default;
$base03: #969896 !default;
$base04: #888    !default;
$base05: #d0d0d0 !default;
$base06: #e0e0e0 !default;
$base07: #ffffff !default;
$base08: #ac4142 !default;
$base09: #90a959 !default;
$base0a: #f0c674 !default;
$base0b: #90a959 !default;
$base0c: #d0d0d0 !default;
$base0d: #6a9fb5 !default;
$base0e: #aa759f !default;
$base0f: #a3685a !default;

/* notices */
$notice-background-mix: 75% !default;

.page__content {
  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
    color: $text-color; // default
  }

  .notice {
    background-color: $base02;
  }
}

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}
