/* ==========================================================================
   Cybersecurity Research Theme
   ========================================================================== */

/* Colors */
$background-color: #1c1c1c; // Dark background
$text-color: #00FF00; // Lime green text
$primary-color: #3498db; // Blue accent color (Hack The Box)
$border-color: #005000; // Darker than background, but not as dark as text
$code-background-color: #282828; // Slightly different shade of dark background

/* Additional Colors (Adjust as needed) */
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#333, #000, 10%) !default;
$link-color: $primary-color !default;
$link-color-hover: mix(#fff, $link-color, 25%) !default;
$link-color-visited: mix(#000, $link-color, 25%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

/* New Color for Footer Text */
$footer-text-color: #ff9900; // Orange color (HackerOne)

/* Notices */
$notice-background-mix: 90% !default;
$code-notice-background-mix: 95% !default;

/* Neon Syntax Highlighting (Base16) */
$base00: #111111 !default; // Slightly darker background
$base01: #a0a0a0 !default;
$base02: #c0c0c0 !default;
$base03: #d0d0d0 !default;
$base04: #000000 !default;
$base05: #00ff00 !default; // Lime green text
$base06: #00ff00 !default;
$base07: #ffffff !default;
$base08: #006400 !default; // Slightly darker green accent color
$base09: #006400 !default;
$base0a: #006400 !default;
$base0b: #006400 !default;
$base0c: #006400 !default;
$base0d: #006400 !default;
$base0e: #006400 !default;
$base0f: #006400 !default;

/* Author and Social Icons */
.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

/* Next/Previous Buttons */
.pagination--pager {
  color: $text-color;
  background-color: $primary-color;
  border-color: transparent;

  &:visited {
    color: $text-color;
  }
}

/* Search Box */
.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}

/* Footer Bar Text Color */
.page__footer-text {
  color: $footer-text-color;
}

/* Navigation Bar Text Color */
.site-header {
  .inner {
    .masthead {
      .site-title {
        color: $text-color;
      }
    }
    .masthead__title {
      color: $text-color;
    }
    .masthead__tagline {
      color: $text-color;
    }
    .nav-links {
      a {
        color: $text-color;
      }
    }
  }
}

/* ==========================================================================
   Rest of the Original Theme Styles...
   ========================================================================== */
