---
layout: default
title: Blog
description: My corner of the internet to share what I’m working on, what I’m figuring out, and whatever I happen to be obsessed with at the moment.
---

<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-10 col-d-12">
        <div class="hero__inner">
          {% if page.title %}
          <h1 class="hero__title">{{ page.title }}</h1>
          {% endif %}
          {% if page.description %}
          <p class="hero__description">{{ page.description }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->

<div class="container">
  <div class="row animate">
    {% if site.posts.size > 0 %}
    {% for post in paginator.posts %}
    {% include article.html %}
    {% endfor %}
    {% endif %}
  </div>
</div>

{% include pagination.html %}

{% include section-subscribe.html %}