.alignmentMiddle {
	z-index: 3;
	position: absolute;
	top: 50%;
	left: 50%;
}							/* for explorer only*/

.alignmentInner{
	z-index: 4;
	position: relative;
	top: -50%;
	left: -50%;
}							/* for explorer only */
.alignmentOuterGrid {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}


.dropShadow:before,
.dropShadow:after {
	display: none;
}

.dropShadow .inner,
.dropShadow {
	background: none;
	display: inline;
	float: none;
	position: static;
	content: inherit;
	margin: 0;
	right: 0;
	left: 0;
	top: 0;
	height: auto;
	width: auto;

}

.thumb, .preview {
}

