@import url('/static/css/font.css');

* {
vertical-align: baseline;
font-weight: inherit;
font-family: inherit;
font-style: inherit;
font-size: 100%;
border: 0 none;
outline: 0;
padding: 0;
margin: 0;
box-sizing:border-box;
-webkit-box-sizing: border-box; 
-moz-box-sizing: border-box;
}
ul {
	list-style: none;
}
section ul {
	margin-bottom: 1em;
}
a {
	text-decoration: none;
	color: inherit;
}
h2{
	font-size: 1.5em;
	margin-bottom: 10px;
}
header{
	overflow: hidden;
}
body {
	background: white;
	font-family: 'Open Sans', sans-serif;
}

header nav {
	width:100%;
	height: 80px;

}
header nav .logo {
	display: block;
	float: left;
}
header nav .logo a{
	width:250px;
	display: block;
	padding-top:15px;
	padding-bottom: 15px;
	border-bottom: 8px solid white;
	height: 80px;
	cursor: pointer;
}
.italic {
	font-style: italic;
}
.indent {
	margin-left: 5px;
}
header ul{
	display: block;
	float: right;
	height: 80px;
	font-size: 14px;
}
header nav ul li {
	display: inline-block;
}
header nav ul li a{
	display: block;
	margin-left: 1em;
	color: #565656;
	padding-top:28px;
	padding-bottom: 25px;
	border-bottom: 8px solid white;
	cursor: pointer;
}
header {
	height: 80px;
}
header .nav {
	height: 80px;
}
.banner {
	height: 400px;
	overflow: hidden;
	background-size: 100%;
	background-position-y: 0px;
	background-attachment: fixed;
	color: white;
	position: relative;
}
.banner p{
	position: absolute;
	bottom: 10px;
	font-size: 4em;
	font-family: 'Titillium Web';
}
.main-block section.gallery {
	overflow: hidden;
	border-bottom: 0px;
	padding-top: 0px;
}
.row {
	display: block;
	overflow: hidden;
}
.column-3{
	width: 33.3333333%;
	float: left;
	display: block;
	padding-right: 20px;
	text-align: center;
}
.gallery p{
	padding-top: 10px;
	font-weight: 300;
	font-size: 14px;
}
.desc{
	color: #A3A3A3;
}
.gallery .desc{
	padding-top: 5px;
	margin: 0px;
	margin-bottom: 1em;
	opacity: 1;
	/*margin-top: -5em;*/
	transition:0.5 ease-in;
	/*display: block;*/
}
.gallery .column:hover .desc{
	/*opacity: 1;*/
	/*margin-top: 0em;*/
}
.gallery .column img{
	width: 100%;
	height: 100%;
}
.button {
	color: white;
	text-decoration: none;
	font-style: inherit;
	border-radius: 15px;
	background: #963565;
	border: 1px solid #963565;
	padding: 0px 10px;
	margin: 10px 0px;
	text-decoration: none;
	/* font-style: italic; */
	border-radius: 15px;
	border: 1px solid #963565;

}
.button:hover{
	background: white;
	color: #963565;
}
img {
	display: block;
}
header nav a.active {
	border-bottom: 8px solid #C1C0C0;
}
header nav .logo a:hover, header nav ul li a:hover {
	border-bottom: 8px solid #C1C0C0;
	transition:0.2s ease-in-out;
}
img {
	width:100%;
}
h1 {
	font-size:2em;
	display: inline-block;
	padding-bottom: 0.3em;
	margin-bottom: 1em;
	border-bottom: 1px solid #dfdfdf;
}
.main {
	text-align:center;
}
.block {
	padding: 5em 0em 6em 0em;
}
.nav {
	overflow: hidden;
	display: block;
	float: right;
}
.toggle {
	display: none;
}
.icon-menu {
	color: #B0A8AE;
	font-size: 25px;
	position: absolute;
	right: 0px;
	top: 0px;
	display: none;
	padding: 28px 50px;
}
.icon-share {
	cursor: auto;
}
.sidebar {
	float: left;
	width: 35%;
	text-align: left;
	color:#A4A4A4;
	text-transform: uppercase;
	line-height: 40px;
	font-weight: 500;
	font-size: 0.8em;
}
.sidebar h2 {
	color: #8C2620;
	font-weight: 700;
	font-size: 1.4em;
}
.sidebar li a.active {
	color:#565656;
}
.sidebar li a:hover {
	color: #565656;

}
.main-block {
	float: left;
	width: 65%;
	text-align: left;
	margin-bottom: 8em;
}
.main-block section:first-child{
	border-top: 8px solid #E9E9E9;

}
.main-block section{
	border-bottom:8px solid #E9E9E9;
	padding: 3em 0em;
}
.main-block section div.block {
	padding: 0em 0em 1em 0em;
}
.main-block h2 {
	font-size:1.3em;
	margin-bottom: 30px;
}

.main-block .blog h2 {
	border-bottom:1px solid #dfdfdf;
	padding-bottom: 10px;
	margin-top: 20px;
	display: inline-block;
}
.main-block section li {
	overflow: hidden;
	transition: 0.3s ease-in-out;
}
.main-block section li:hover {
	background: #dfdfdf;
}
.main-block section .items li:first-child {
	border-top: 1px dashed #dfdfdf;
}
.main-block section .items li {
	border-bottom: 1px dashed #dfdfdf;
}
.main-block section .bullets li {
	list-style: disc inside;
}
.main-block section li a {
	color: #565656;
	padding: 10px 0px;
	display: block;
	font-style: inherit;
}
.main-block article p {
	margin: 0.5em 0em;
}
.column {
	float: left;
	display: block;
	/*line-height: 40px;*/
	padding-top: 12px;
}
.column-4 {
	width: 40%;
}
.column-6 {
	width: 60%;
}
article {
	font-family: 'Titillium Web', sans-serif;
	color:#767676;
	line-height: 25px;

}
article .comment {
	font-style: italic;
	font-size: 0.8em;
}
article a {
	color:#963565;
	text-decoration: none;
	font-style: italic;

}
article a:hover {
	color: #60163B;
}
.blog {
	overflow: hidden;
}
.blog .title{
	margin-bottom: 3em;
}
.blog img{
	margin-top: -10px;
	margin-bottom: 10px;
}
.blog h1 {
	display: block;
	border-bottom: 0px;
	/*margin-bottom: 0px;*/
}
.middle{
	width:60%;
	margin:auto;
	padding: 5em 0em;

}
.middle>div{
	margin-bottom: 3em;
}
.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 0.6em solid transparent;
	border-bottom: 0.6em solid transparent;
	
	border-left: 0.6em solid #9A5324;
	margin-right: 1em;
	float: left;
	margin-top: 12px;
}
.title {
	overflow: hidden;
	margin-bottom: 1em;
	padding: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dfdfdf;
}
.title h1 {
	margin-left: 10px;
	border-bottom: 0px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-right: 20px;
}
.icon {
	vertical-align: middle;
	width: 70px;
	height: 70px;
	display: inline-block;
	box-shadow: 0 0 5px #dfdfdf;
	padding: 5px;
	border-radius: 5px;
	margin-right: 10px;
	transition:0.2s ease-in-out;
}
.icon.gdc {
	width: 250px;

}
.icon:hover {
	box-shadow: 0 0 10px #dfdfdf;
}
.icon img{
	  margin-top: 13px;
}
footer{
	background:#767676;
	overflow: hidden;
}
footer section{
	overflow: hidden;
}
footer nav {
	overflow: hidden;
	float: right;
}
footer section.nav {
	padding: 4em 0em 3em 0em;
	width: 100%;
}
footer .logo {
	width: 400px;
	/*display: inline-block;*/
	float: left;
}
footer nav ul {
	vertical-align: top;
	display: inline-block;
	font-size: 13px;
	margin: 0px 30px;
	line-height: 30px;
}
footer nav ul li {
	color: #d4d4d4;
}
footer nav ul li:hover{
	color: #ffffff;
	transition:0.5s ease-in-out;
}
footer .copyright {
	border-top: 2px solid #8b8b8b;
	padding: 1em 0em;
	color: white;
	font-weight: 300;
	width: 100%;
	font-size: 0.8em;
}
footer	nav ul li {

}
.share {
	margin-top: 0px;
	display: inline-block;
	padding: 10px;
	vertical-align: middle;
	/*margin-left: 10px;*/
	/*margin-top: 20px;*/
	vertical-align: middle;

}
.share:hover .share-detail{
	display: inline;
}
.share-detail {
	/*display: none;*/
	display: inline;
}
.share a, .share p{
	color: #B2A7AC;
}
.share a{
	/*color: #B9B9B9;*/
	font-size: 16px;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 5px;
}
.share a:hover{
	color:#963565;
}
.share p {
	vertical-align: bottom;
	display: inline-block;
	line-height: 16px;
	font-size: 16px;
	/*color: #555;*/
	margin-right: 10px;
}