@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/static/font/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url(/static/font/Open_Sans/OpenSans-Semibold.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url(/static/font/Titillium_Web/TitilliumWeb-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 500;
  src: url(/static/font/Titillium_Web/TitilliumWeb-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: url(/static/font/Titillium_Web/TitilliumWeb-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 400;
  src: url(/static/font/Titillium_Web/TitilliumWeb-Italic.ttf) format('truetype');
}
@font-face {
	font-family: 'icomoon';
	src:url('/static/font/icomoon/icomoon.eot?-zfzpm1');
	src:url('/static/font/icomoon/icomoon.eot?#iefix-zfzpm1') format('embedded-opentype'),
		url('/static/font/icomoon/icomoon.woff?-zfzpm1') format('woff'),
		url('/static/font/icomoon/icomoon.ttf?-zfzpm1') format('truetype'),
		url('/static/font/icomoon/icomoon.svg?-zfzpm1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	cursor: pointer;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-facebook-f:before {
	content: "\f09a";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-share-alt:before {
	content: "\f1e0";
}
.icon-skyatlas:before {
	content: "\f216";
}
.icon-profile:before {
	content: "\e900";
}
.icon-user-tie:before {
	content: "\e901";
}
.icon-lab:before {
	content: "\e902";
}
.icon-share:before {
	content: "\e903";
}
.icon-left-quote:before {
	content: "\e904";
}
.icon-right-quote:before {
	content: "\e905";
}
.icon-chart:before {
	content: "\e906";
}
.icon-menu:before {
	content: "\e907";
}

