.featured-projects{
	overflow: hidden;
}
.featured-projects section{
	float: left;
	display: block;
	width: 33%;

}
.welcome {
	background-image: url('/static/img/homepagebackground.png');
	background-size: cover;
	background-attachment: fixed;
}
.middle{
	width: 100%;
}
.welcome h1 {
	color: white;
	font-size: 3em;
	border-bottom: 0px;
	margin-bottom: 0px;
}
.welcome article {
	color: #E4E4E4;

}
.welcome article a{
	color: #C43F81;

}
.welcome article a:hover{
	color: #963565;
}
.block.dark{
	background: #4F4F4F;
	background-image: url('/static/img/debut_dark.png')
}



.featured-projects section .circle{
	display: block;
	margin: auto;
	width: 220px;

}

.featured-projects section .circle>div{
	background: #F9F3F3;
	margin-top: 1em;
	border-radius: 50%;
	width: 220px;
	height: 220px;
	position: relative;
	cursor: pointer;
	transition:0.2s ease-in-out;
	border: 5px solid #F9F3F3;
}
.featured-projects section .circle:hover >p{
	/*margin-top: 0.2em;*/
	color: white;
}

.dark h1 {
	color: white;
	margin-bottom: 1em;
	border-bottom: 1px solid #707070;
}
.featured-projects p {
	transition: 0.2s ease-in;
	text-align: center;
	/*text-align: right;*/
	color: #989898;
	/*margin-right: 25px;*/
	/*margin-top: 100px;*/
	padding-top: 25px;
	width: 100%;
	/*width: 150px;*/
	float: right;
}
.featured-projects [class^="icon-"] {
	font-size: 5em;
}

.block.midgray{
	padding: 4em 5em;
}
.wrapper {
	overflow: hidden;
	/*margin: 0em 5em;*/
	width: 100%;
}
.news {
	white-space:nowrap;
	overflow:hidden;
	padding-bottom: 5px;
	transition: 0.2s ease-in;
}
.news section {
	width: 33.33333%;
	padding: 0em 2em;
	display: inline-block;
	vertical-align: top;

}
.news section .img-wrapper{

	/*height: 240px;*/
}
.news section img {
	/*height: 200px;*/
	/*height: 100%;*/
	width: 100%;
	border-radius: 5px 5px 0px 0px;
	/*border: 1px dashed #dfdfdf;*/
	box-shadow: 0px 3px 5px #dfdfdf;
}
.news section >div{
	/*box-shadow: 0 0 10px #DAC2C2;*/
	border-radius: 10px;
	display: block;
	margin: auto;
	width: 320px;
}
.midgray h1 {
	color: #8B8484;
}
.news section article{
	background: white;
	padding: 0em;
	padding-top: 1em;
	text-align: left;
	border-radius: 0px 0px 10px 10px;
	font-family: 'Titillium Web', sans-serif;
}
.midgray{
	/*background: #F9F3F3;*/
	background: white;
	position: relative;

}
.date{
	color: #dfdfdf;
	font-size: 0.8em;
}
.news section p, .news section h3 {
	width: 100%;
	white-space: initial;
}
.news section p {
	font-weight: 300;
}
.news section h3 {
	font-size: 1.2em;
	padding-bottom: 1em;
}
.block.midgray input {
	display: none;
}
.midgray #active{
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0em 3em;
  /*top: 50%;*/
  top: 0;
  height: 0px;
}

#controls label{
	border-radius: 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #bbb;
	cursor: pointer;
}

#active label{
	display: none;
	cursor: pointer;
	margin-top: 250px;
	opacity: 0;
	width: 50px;
	height: 50px;
	background: #EBE2F2;
	border-radius: 50%;
	transition:0.2s ease-in;
}
.midgray:hover #active label{
	/*background: #dfdfdf;*/
	margin-top: 300px;
	opacity: 1;

}
#active label p {
	/*padding-top: 300px;*/
	font-family: monospace;
	font-size: 25px;
	vertical-align: middle;
	display:table-cell;
}

#active label.left{
	float: left;
}
#active label.right {
	float: right;
}
#active label:hover{
	background: #D1CBED;
}
