.sidebar-wrapper {
  .profile-container {
    padding: 30px 10px;

    .profile-img {
      max-width: 100px;
      margin-bottom: 15px;
      border: 0px solid #ffffff;
      border-radius: 100%;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    h1, h2, h3, h4, h5, h6 {
      line-height: 1.1;
    }

    h4 {
      margin-top: 10px;
      font-size: 18px;
    }
  }

  .skills-section {
    padding: 0 10px;
  }

  .contact-container {
    padding: 30px 0;

    .contact-list {
      padding: 0 30px;
      margin-bottom: 30px;
    }
  }
}

.section-title {
  .fa-layers {
    background-color: white;
    margin-right: 5px;
    top: 4px;

    svg.svg-inline--fa {
      left: -3px;
    }
  }

  .fa-circle {
    color: darken($theme-color, 15%);
  }

  .fa-inverse {
    color: white;
  }
}

.tools {
  .badge {
    font-size: 14px;
    background: lighten($theme-color, 10%);
    margin-bottom: 5px;
    border: none;
  }
}

@media print {
  @page {
    size: A4;
  }

  body {
    background-color: white;
  }
  .wrapper {
    margin: 10px 10px !important;
  }
  .main-wrapper {
    padding: 30px 0;

    .summary, .details, .intro, .project-tagline {
      font-size: 17px;
    }

    .section {
      .upper-row {
        display: flex;
        :after {
          content: "";
          display: table;
          clear: both;
        }
        .job-title {
          flex: 50%;
          font-size: 20px;
        }
        .time {
          position: relative;
          float: left;
          margin-top: -3px;
          font-size: 18px;
          text-align: right;
          color: $text-color;
        }

      }

      .company {
        font-size: 18px;
        color: $text-color;
      }
    }
    .section-title {
      font-size: 30px;
      margin-left: 0px;

      .fa-layers {
        font-size: 25px;
        top: 1px;
      }
    }

    .project-title {
      font-size: 20px;
    }

    .level-title {
      font-size: 18px;
    }

    .tools {
      .badge {
        font-size: 16px;
      }
    }
  }
  .sidebar-wrapper {
    position: relative;
    width: auto;
    display: flex;
    min-height: fit-content;

    :after {
      content: "";
      display: table;
      clear: both;
    }

    .profile-container {
      flex: 40%;
      padding: 10px;

      .profile-img {
        max-width: 300px;
      }

      .tagline {
        font-size: 18px;
        color: white;
      }

      .name {
        font-size: 30px;
      }
      h4 {
        display: none;
      }
    }

    .contact-container {
      float: left;
      padding: 30px 0;

      .contact-list {
        padding: 0;
        margin: 10px;
      }

      a {
        text-decoration: none;
      }

      ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        list-style-type: none;
        justify-content: center;

        li {
          font-size: 16px;
          display: list-item;
          padding: 5px 10px 0 10px;
          margin: 0;
        }
      }

      .skills-section {
        margin-top: 100px;

        .tools {
          .badge {
            font-size: 16px;
            margin-right: 10px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  footer {
    display: none;
  }

  .only-screen {
    display: none;
  }
}

@media screen {
  .only-print {
    display: none;
  }
}
