.sidebar-wrapper {
  .profile-container {
    padding: 30px 10px;

    .profile-img {
      max-width: 100px;
      margin-bottom: 15px;
      border: 0px solid #fff;
      border-radius: 100%;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    h4 {
      font-size: 18px ;
    }
  }
}
