---
layout: archive
---

{{ content }}

{% assign dailys_max = 0 %}
{% for daily in site.dailys %}
  {% if daily[1].size > dailys_max %}
    {% assign dailys_max = daily[1].size %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
  {% for i in (1..dailys_max) reversed %}
    {% for daily in site.dailys %}
      {% if daily[1].size == i %}
        <li>
          <a href="#{{ daily[0] | slugify }}">
            <strong>{{ daily[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for i in (1..dailys_max) reversed %}
  {% for daily in site.dailys %}
    {% if daily[1].size == i %}
      <section id="{{ daily[0] | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ daily[0] }}</h2>
        <div class="entries-{{ entries_layout }}">
          {% for post in daily.last %}
            {% include archive-single.html type=entries_layout %}
          {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %}
