---
layout: default
---
<article class="home" role="article">
    <section class="landing" role="document" style="color: black">
        <h1 class="title" role="presentation">Security is a Process, not a product</h1>
        <p class="subtitle">도구가 목표가 되어서는 안됩니다. 중요한것은 프로세스입니다.</p>
        <!-- <a class="start-button" href="{{ 'https://kimkucheol.github.io/getting-started' | relative_url }}" role="link">Get Started</a> -->             
    </section>
    
    <section class="description" role="document">
        <h2 role="presentation">Microsoft Windows의 취약점을 관리하고 랜섬웨어로부터 데이터를 보호하세요.</h2>
        <p>ToSee는 취약점 진단 툴을 이용하여 운영체제의 보안 점검과 조치를 간편하게 해주고, 
            랜섬웨어의 위협을 차단하며, 지정된 폴더를 보호합니다. 또한, 문서파일을 자동으로
            백업하여, 중요한 데이터를 안전하게 지켜주는 기능을 제공합니다. 
            <br>이제부터 <b>ToSee</b>를 이용해서 개인 PC의 보안 수준을 편리하고 안전하게 향상시켜보세요.</p>
    </section>
    <section class="description" role="document">
        <h2 role="presentation">2019년 경제적 피해를 가장 크게 준 사이버 공격은 기업 이메일 침해(BEC) 공격이라고 FBI가 발표했습니다.</h2>
        <p>피싱은 큰 사업입니다. 최근 몇 년간 공격이 기록적으로 증가했으며 강력한 보안 인식 프로그램은 방어 전략의 핵심입니다. 
           <b>ToCrack</b>은 자동화 된 공격 시뮬레이션을 통해 최종 사용자를 교육하고 테스트합니다.</p>
    </section>
    <section class="description" role="document">
        <h2 role="presentation">효율적인 취약점 관리 전략에 필요한 것은 또 있다. 바로 ‘지속성’입니다. </h2>
        <p>취약점을 한 달에 한 번 혹은 일주일에 한 번 스캔하고 패치하는 건 아예 안 하는 것보다야 낫지만 순간적인 안전함만을 누리게 해줍니다.
            인터넷은 불이 한 순간도 꺼지지 않는 공간입니다. 해킹 시도 역시 꺼지지 않습니다.
            지속적으로 경계하는 것이 취약점 관리의 중요한 요소가 될 수밖에 없는 이유입니다.
            <b>ToPick</b>는 자동화된 취약점 진단을 가능하게 하여 다량의 서버들에 대한 보안 점검을 빠른 속도로 마무리해줍니다. 이는 '지속성'을 보장하는 가장 좋은 방법입니다.</p>
    </section>
    <section class="companies" role="document">
        <h2 role="presentation">다양한 고객사에서 아이시큐어의 제품들을 사용 중에 있습니다.</h2>
        <!-- <p>ToSee는 2016년 취약점 진단도구 IVA로 시작해서 5년동안 기능과 안정성이 꾸준히 업데이트 되어 온 개인용 보안솔루션입니다.</p> -->
        <div class="company-gallerys">
            <div class="gallery"><a href="https://www.makeshop.co.kr/" target="_blank" ><img src="{{ '/assets/images/companies/makeshop.png' | relative_url }}" alt="Makeshop." role="img" width="200" height="120"></a></div>
            <div class="gallery"><a href="http://www.enuri.com/" target="_blank" ><img src="{{ '/assets/images/companies/enuri3.png' | relative_url }}" alt="Enuri" role="img" width="200" height="120"></a></div>            
            <div class="gallery"><a href="https://www.naning9.com/" target="_blank" ><img src="{{ '/assets/images/companies/naning9.png' | relative_url }}" alt="Naning9" role="img" width="200" height="120"></a></div>
            <div class="gallery"><a href="http://www.mocobling.com/" target="_blank" ><img src="{{ '/assets/images/companies/mocobling.png' | relative_url }}" alt="Mocobling" role="img"width="200" height="120"></a></div>
            <div class="gallery"><a href="http://www.filejo.com/" target="_blank" ><img src="{{ '/assets/images/companies/filejo.png' | relative_url }}" alt="Filejo" role="img" width="200" height="120"></a></div>
            <div class="gallery"><a href="http://www.soim.co.kr/" target="_blank" ><img src="{{ '/assets/images/companies/soim.jpg' | relative_url }}" alt="Soim" role="img" width="140" height="100"></a></div>
        </div>
        <!-- <a class="showcases-button" href="/showcases" role="link">고객사 및 협력사 확인</a> -->
    </section>
    <section class="blog" role="document">
        
        <h2 role="latestblog">최근 포스팅</h2>
        {{ content }}
        <ul class="list">
        {% for post in site.posts limit:3 %}
            <li>
                <time class="time">
                    {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
                    {{ post.date | date: date_format }}
                </time>
                <h3>
                    <a class="link" href="{{ post.url | relative_url }}" role="link">{{ post.title | escape }}</a>
                </h3>
                <p class="meta">
                <h4>                    
                    {{ post.content | strip_html | escape | truncatewords: 60 }}
                </h4>                    
                </p>
            </li>
        {% endfor %}
        </ul>        
    </section>    
</article>
