---
layout: archive
---

{{ content }}

{% assign posts = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for post in posts %}
  <section id="{{ post.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ post.name }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
        {% for post in post.items %}
          {% if post.isPost == false %}
            {% include archive-single-not-post.html type=page.entries_layout %}
          {% endif %}
        {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
