---
layout: default
---

<article class="page">
  <h1>{{ page.title }}</h1>
  <div class="article-wrap">
    {{ content }}
    {% if page.share != false %}
      <hr />
      {% include social-share.html %}
    {% endif %}
  </div><!-- /.article-wrap -->
  {% if site.owner.disqus-shortname and page.comments == true %}
    <section id="disqus_thread"></section><!-- /#disqus_thread -->
  {% endif %}
</article>

{% if site.owner.disqus-shortname and page.comments == true %}
  <section id="disqus_thread"></section><!-- /#disqus_thread -->
{% endif %}