---
layout: default
---

{% assign breadcrumbs_enabled = site.breadcrumbs %}
{% if page.breadcrumbs != null %}
  {% assign breadcrumbs_enabled = page.breadcrumbs %}
{% endif %}
{% if page.url != "/" and breadcrumbs_enabled %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  <div class="ui-shell">
    <article class="ui-page">
      <div class="page__inner-wrap">
        {% unless page.layout == "home-custom" %}
          <header class="ui-section">
            {% if page.title %}
              <h1 id="page-title" class="page__title">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
            {% endif %}
          </header>
        {% endunless %}
        <section class="page__content">
          {{ content }}
        </section>
      </div>
    </article>
  </div>
</div>
