---
layout: single
---
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>

<body>
    <hr>
    <p>
        Las cookies son pequeñas cantidades de información que se almacenan en el navegador utilizado por cada usuario
        para
        que el servidor recuerde cierta información que posteriormente pueda utilizar.
    </p>

    <h1>
        TIPOS DE COOKIES QUE UTILIZAMOS
    </h1>

    <p>
        Esta página web utiliza cookies de terceros que son aquellas que se envían a tu ordenador o terminal desde un
        dominio o una página web que
        no es gestionada por nosotros, sino por otra entidad que trata los datos obtenidos a través de las cookies.
        En este caso las Cookies son utilizadas con fines estadísticos relacionados con las visitas que recibe y las
        páginas
        que se consultan, quedando
        aceptado su uso al navegar por ella.
    </p>


    <div>
        <p>
            <img src="/assets/images/grafico-cookie.gif" alt="cookie">
        </p>
    </div>


    <p>
        Si desea más información más sobre los tipos de cookies de seguimiento y análisis de datos de Google haga
        <a href="https://policies.google.com/technologies/cookies?hl=es&gl=es#types-of-cookies">clic aquí</a>
    </p>
    <p>
        Para informarse sobre cómo eliminar las cookies de su explorador:
    </p>
    <ul>
        <li> Firefox</li>
        <li> Chrome</li>
        <li> Internet Explorer</li>
        <li> Safari</li>
        <li> Opera</li>
    </ul>
</body>

</html>