---
layout: compress
---

{% include base_path %}
{% if (page.header.overlay_color or page.header.overlay_image) or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}

  {% endunless %}
{% endif %}
<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}">
  <head>
    {% include head.html %}
  </head>

  <body>


    {% include browser-upgrade.html %}
    {% include masthead.html %}
    <article class="profilepage-a" itemscope itemtype="http://schema.org/CreativeWork">
      {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
      {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
      {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
      {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

      {% include sidebar.html %}
    <section class="page__content2" itemprop="text">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.title %}<h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}
          {% if page.read_time %}
            <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
          {% endif %}
        </header>
      {% endunless %}

      {{ content }}
      {% if page.link %}<div><a href="{{ page.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label }}</a></div>{% endif %}
    </section>


    <footer class="page__meta">
      {% if site.data.ui-text[site.locale].meta_label %}
        <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
      {% endif %}
      {% include page__taxonomy.html %}
      {% if page.modified %}
        <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label }}</strong> <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time></p>
      {% elsif page.date %}
        <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
      {% endif %}
    </footer>
</article>
      {% include gallery %}
    {% include scripts.html %}
    {% include footer/custom.html %}

</div>
  </body>
</html>

<hr>
  <h1 class="gwp">Portfolio</h1>

<div class="grid__wrapper2">

  {% assign post = site.portfolio | sort: 'date' %}
  {% for post in site.portfolio reversed %}
    {% include archive-single.html type="grid" %}

  {% endfor %}
</div>