<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <!-- 좌측 사이드바 시작 -->
      <div class="cm-left-sidebar">
        <div class="cm-toc">
          <p> toc ver. 0.2 BY 코마</p>
          {%- include toc.html html=content -%}
        </div>
        <!-- 구글 광고 -->
        <div class="cm-googlead">
          {%- include advertisements.html html=content -%}
        </div>
        
        <div class="cm-googlead">
            {%- include advertisements.html html=content -%}
          </div>
      </div>
      <!-- 좌측 사이드바 끝 -->

      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
