---
layout: post-nav
---

<!-- Title 영역 -->
<div class="cm-top-padding"></div>

<div class="cm-container">
  <div class="cm-title">
    <h1 class="cm-cover-title">
      {{ page.title }}
    </h1>
    {%- if page.subtitle -%}
    <p class="cm-cover-subtitle"> {{ page.subtitle }} </p>
    {%- endif -%}
  </div>
</div>

<div class="cm-container cm-right">
  {%- if page.author -%}
  <div class="cm-author">
    {{ page.date | date_to_string }} by {{ page.author }}
  </div>
  {%- endif -%}

</div>

<div class="cm-container">
  <div class="cm-seperator"></div>
</div>

{{ content }}

<div class="cm-container">
  <div class="cm-seperator"></div>
</div>

<!-- 작가의 다른 포스트를 추천 (필터 기준 tag, author, top 3) -->
<div class="cm-top-padding"></div>


<div class="cm-container cm-left">
  <div class="cm-title">
    <div class="cm-doc-foot">
      이 작가의 다음 글 감상
    </div>
  </div>
</div>

<ul>
  {% for post in site.posts limit:5 %}
  {% if page.author and page.author == post.author and page.url != post.url %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>