---
layout: default
permalink: /publications/
classes: wide
layout: single
author_profile: true
title: Publications
---

<header>
    <h1 id="page-title" class="page__title" itemprop="headline">Publications</h1>
</header>

<h3 id="2021">2021</h3>

<ul>
  <li>
    <p>Jungo Kasai, Keisuke Sakaguchi, Lavinia Dunagan, <strong>Jacob Morrison</strong>, Ronan Le Bras, Yejin Choi, Noah A. Smith  <br />
<span style="color:navy">Transparent Human Evaluation for Image Captioning</span><br />
<em>arXiv</em>   <br />
<a href="https://arxiv.org/abs/2111.08940" class="btn btn--info btn--small">Paper</a></p>
  </li>
</ul>