---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% assign breadcrumbs_enabled = site.breadcrumbs %}
{% if page.breadcrumbs != null %}
  {% assign breadcrumbs_enabled = page.breadcrumbs %}
{% endif %}
{% if page.url != "/" and breadcrumbs_enabled %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page h-entry" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.title %}<h1 id="page-title" class="page__title p-name" itemprop="headline">
            <a href="{{ page.url | absolute_url }}" class="u-url" itemprop="url">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</a>
          </h1>{% endif %}
          {% include page__meta.html %}
        </header>
      {% endunless %}
      <section class="page__content e-content" itemprop="text">
        {% if page.toc %}
          <aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
            <nav class="toc">
              <header><h4 class="nav__title"><i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label | default: "On this page" }}</h4></header>
              {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" skip_no_ids=true %}
            </nav>
          </aside>
          {% endif %}
          {{ content }}



          <script src="https://cdn.jsdelivr.net/npm/onnxjs/dist/onnx.min.js"></script>
          <script src="https://sangjinoh.github.io/projects/pnid/02"></script>
          <script src="https://sangjinoh.github.io/projects/pnid/common/imagenet.js"></script>
          <script src="https://sangjinoh.github.io/projects/pnid/ndarray-browser-min.js"></script>
          <script src="https://sangjinoh.github.io/projects/pnid/image-loader.js"></script>
          <script>
            console.log(__dirname);
          </script>
          <script>
          async function runExample() {
            // Create an ONNX inference session with WebGL backend.
            const session = new onnx.InferenceSession({ backendHint: 'webgl' });
          
            // Load an ONNX model. This model is Resnet50 that takes a 1*3*224*224 image and classifies it.
            await session.loadModel("./resnet50_8.onnx");
          
            // Load image.
            const imageLoader = new ImageLoader(imageSize, imageSize);
            const imageData = await imageLoader.getImageData('./resnet-cat.jpg');
          
            // Preprocess the image data to match input dimension requirement, which is 1*3*224*224.
            const width = imageSize;
            const height = imageSize;
            const preprocessedData = preprocess(imageData.data, width, height);
          
            const inputTensor = new onnx.Tensor(preprocessedData, 'float32', [1, 3, width, height]);
            // Run model with Tensor inputs and get the result.
            const outputMap = await session.run([inputTensor]);
            const outputData = outputMap.values().next().value.data;
          
            // Render the output result in html.
            printMatches(outputData);
          }
          
          /**
           * Preprocess raw image data to match Resnet50 requirement.
           */
          function preprocess(data, width, height) {
            const dataFromImage = ndarray(new Float32Array(data), [width, height, 4]);
            const dataProcessed = ndarray(new Float32Array(width * height * 3), [1, 3, height, width]);
          
            // Normalize 0-255 to (-1)-1
            ndarray.ops.divseq(dataFromImage, 128.0);
            ndarray.ops.subseq(dataFromImage, 1.0);
          
            // Realign imageData from [224*224*4] to the correct dimension [1*3*224*224].
            ndarray.ops.assign(dataProcessed.pick(0, 0, null, null), dataFromImage.pick(null, null, 2));
            ndarray.ops.assign(dataProcessed.pick(0, 1, null, null), dataFromImage.pick(null, null, 1));
            ndarray.ops.assign(dataProcessed.pick(0, 2, null, null), dataFromImage.pick(null, null, 0));
          
            return dataProcessed.data;
          }
          
          /**
           * Utility function to post-process Resnet50 output. Find top k ImageNet classes with highest probability.
           */
          function imagenetClassesTopK(classProbabilities, k) {
            if (!k) { k = 5; }
            const probs = Array.from(classProbabilities);
            const probsIndices = probs.map(
              function (prob, index) {
                return [prob, index];
              }
            );
            const sorted = probsIndices.sort(
              function (a, b) {
                if (a[0] < b[0]) {
                  return -1;
                }
                if (a[0] > b[0]) {
                  return 1;
                }
                return 0;
              }
            ).reverse();
            const topK = sorted.slice(0, k).map(function (probIndex) {
              const iClass = imagenetClasses[probIndex[1]];
              return {
                id: iClass[0],
                index: parseInt(probIndex[1], 10),
                name: iClass[1].replace(/_/g, ' '),
                probability: probIndex[0]
              };
            });
            return topK;
          }
          
          /**
           * Render Resnet50 output to Html.
           */
          function printMatches(data) {
            let outputClasses = [];
            if (!data || data.length === 0) {
              const empty = [];
              for (let i = 0; i < 5; i++) {
                empty.push({ name: '-', probability: 0, index: 0 });
              }
              outputClasses = empty;
            } else {
              outputClasses = imagenetClassesTopK(data, 5);
            }
            const predictions = document.getElementById('predictions');
            predictions.innerHTML = '';
            const results = [];
            for (let i of [0, 1, 2, 3, 4]) {
              results.push(`${outputClasses[i].name}: ${Math.round(100 * outputClasses[i].probability)}%`);
            }
            predictions.innerHTML = results.join('<br/>');
          }
        </script>

        <div>
          <input type="button" value="Run" onclick="runExample()">
        </div>
        <div id="predictions">
        </div>







          <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
          {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
        </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
        {% include page__date.html %}
      </footer>

      {% if page.share %}{% include social-share.html %}{% endif %}

      {% include post_pagination.html %}
    </div>

    {% if jekyll.environment == 'production' and site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}
  </article>

  {% comment %}<!-- only show related on a post page when `related: true` -->{% endcomment %}
  {% if page.id and page.related and site.related_posts.size > 0 %}
    <div class="page__related">
      <h2 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h2>
      <div class="grid__wrapper">
        {% for post in site.related_posts limit:4 %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  {% comment %}<!-- otherwise show recent posts if no related when `related: true` -->{% endcomment %}
  {% elsif page.id and page.related %}
    <div class="page__related">
      <h2 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h2>
      <div class="grid__wrapper">
        {% for post in site.posts limit:4 %}
          {% if post.id == page.id %}
            {% continue %}
          {% endif %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
