---
layout: default
---
<h2 class="post_title">{{page.title}}</h2>
<ul>
	{% for post in site.posts %}
	{% for tag in post.tags %}
	{% if tag == page.tag %}
	<li class="archive_list">
		<h3 class="archive_list_header"><a class="archive_list_article_link" href='{{post.url}}'>{{post.title}}</a></h3>
		<time class="archive_list_post_date" datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%m/%e/%y"}}</time>
		<p class="summary">Summary: {{post.summary}}
		<ul class="tag_list">
			{% for tag in post.tags %}
			<li class="inline archive_list"><a class="tag_list_link" href="/tag/{{ tag }}">{{ tag }}</a></li>
			{% endfor %}
		</ul>
	</li>
	{% endif %}
	{% endfor %}
	{% endfor %}
</ul>
