---
layout: default
---

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<br>


<div class="container my-5">
    <div class="row nuttida_edge">
        <div class="col-lg-8">
            <div class="team-content" style="line-height: 1;">
                <h1> Nuttida Rungratsameetaweemana</h1>
                <p>Assistant Professor of Biomedical Engineering</p>
                <p>
                    Nuttida obtained her BA in Neuroscience and Mathematics from Middlebury College in 2014 and her PhD in Neurosciences with a Specialization in Computational Neuroscience from the University of California, San Diego in 2020. Her graduate work with John Serences and Larry Squire integrated psychophysical paradigms, neuroimaging techniques, and lesion studies to investigate how the brain organizes probabilistic sensory information for flexible decision-making. 
                    <br><br>
                    Before joining Columbia in 2023, Nuttida was a Swartz Theoretical Neuroscience Fellow in the lab of Terry Sejnowski at the Salk Institute for Biological Studies, where she explored the computational principles of adaptive learning using biologically inspired deep learning models. 
                    <br><br>
                    Additionally, she was a visiting postdoctoral scientist in the lab of Ueli Rutishauser at Cedars-Sinai Medical Center, investigating the neural correlates of contextual information processing. She was also an inaugural Provost’s Research Fellow as part of the Inclusive Faculty Pathways Initiative at Columbia University. Outside the lab, Nuttida enjoys cooking her favorite Thai comfort foods and experimenting with new recipes. She also loves drawing and spending time with her little sister.
                </p>
                <a href="" class="btn btn-outline-light">Read More</a>
            </div>
        </div>
        <div class="col-lg-4" style="padding: 0px;">
            <div style="height: 100%; width: 100%; border-radius: 5px; overflow: hidden;">
                <img style="height: 100%; object-fit: cover;" src="/assets/images/nuttida.jpg" />
            </div>
        </div>
    </div>

</div>

<hr>


{% if page.header.card %}
    {% include team_card.html %}
{% else %}
    {% include team_stack.html %}
{% endif %}


<hr>
<div class="section-title text-center">
    <h1>Summer@SEAS</h1>
</div>


<section class="team_member section-padding">
    <div class="container">	

        <!-- just list 5 people without photos in a list-->

        <div class="row our-team">
            <div class="col-lg-12">
                <div class="team-content" style="line-height: 1;">
                    
                    - Daria Nikolaeva, <i>MS student in BME (BSc in Neuroscience from King’s College London)</i>
                    <br><br>
                    - James Yu, <i>Physics & CS senior undergrad</i>
                    <br><br>
                    - Jet Li, <i>CS senior undergrad</i>
                    <br><br>
                    - Leon Dietrich Gruber, <i>CS senior undergrad</i>
                </div>
            </div>
        </div><!--- END ROW -->

    </div>
</section>


<hr>
<div class="section-title text-center">
    <h1>Alumni</h1>
</div>


<section class="team_member section-padding">
    <div class="container">	

        <!-- just list 5 people without photos in a list-->

        <div class="row our-team">
            <div class="col-lg-12">
                <div class="team-content" style="line-height: 1;">
                    
                    - Yash Bhambhani, <i> MS, Biomedical Engineering </i>
                </div>
            </div>
        </div><!--- END ROW -->

    </div>
</section>
