---
layout: default
---

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<br>

<div class="container my-5">
    <div class="row our-team" style="background-color: #1a1d24;">
        <div class="col-lg-6">
            <div class="team-content">
                <h1> Nuttida Rungratsameetaweemana</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  </p>
                <a href="" class="btn btn-outline-light">Read More</a>
            </div>
        </div>
        <div class="col-lg-6" style="padding: 0px;">
            <img class="team_img" style="height: 100%;" src="/assets/images/nuttida.jpg" />
        </div>
    </div>

</div>

{% if site.data.team %}

    {% for section in site.data.team %}
        <hr>
        <div class="section-title text-center">
            <h1>{{ section.section }}</h1>
        </div>

        <section id="team" class="team_member section-padding">
            <div class="container">	
        
                <div class="row text-center">

                    {% for person in section.people %}
        
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="our-team">
                                <div class="team_img">
                                    <img src="{{ person.avatar }}" alt="team-image">
                                </div>
                                <div class="team-content">
                                    <h3 class="title">{{ person.name }}</h3>
                                    <span class="post">{{ person.title }}</span>
                                    <br>
                                    <span class="blurp">{{ person.bio }}</span>
                                    <br>
                                    <span class="email"> {{ person.email }} </span>
                                </div>
                            </div>
                        </div><!--- END COL -->

                    {% endfor %}
                
                </div><!--- END ROW -->
        
            </div><!--- END CONTAINER -->
        </section>

    {% endfor %}

{% endif %}

