/* ==========================================================================
   COLORED LIST
   ========================================================================== */
.colored__list {
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
  border-bottom: 1px solid;
  margin-bottom: 0;
  padding-bottom: 1em;

  tbody {
    width: 100%;
    display: inline-table;
    tr {
      &:nth-child(2n + 1) {
        background-color: #b4d9c9;
      }

      td {
        border-bottom: none;
        ul {
          margin: 0 0;
          padding-left: 0;
          list-style-type: none;

          li:before {
            content: var(--list-symbol);
            position: absolute;
            left: 0;
          }

          li {
            margin: 0 0;
            position: relative;
            padding-left: 1.5em;
          }
        }
      }
    }
  }
}

/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.course {
  .feature__item--right {
    .archive__item {
      display: flex;
      @include breakpoint(max-width $medium - 1px) {
        flex-direction: column;
        .archive__item-body {
          .archive__btn {
            text-align: center !important;
          }
        }
      }
      @include breakpoint($medium) {
        flex-direction: row-reverse;
      }
    }
  }

  img {
    max-height: 200px;
    max-width: 200px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #012e40;
  }
}

.archive {
  margin-top: 1em;
  margin-bottom: 2em;

  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-right: $right-sidebar-width;
  }
}

.archive__item {
  position: relative;

  a {
    position: relative;
    z-index: 10;
  }

  a[rel="permalink"] {
    position: static;
  }
}

.archive__subtitle {
  margin: 1.414em 0 0.5em;
  padding-bottom: 0.5em;
  font-size: $type-size-5;
  color: $muted-text-color;
  border-bottom: 1px solid $border-color;

  + .list__item .archive__item-title {
    margin-top: 0.5em;
  }
}

.archive__item-title {
  margin-bottom: 0.25em;
  font-family: $sans-serif-narrow;
  line-height: initial;
  overflow: hidden;
  text-overflow: ellipsis;

  a[rel="permalink"]::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  n {
    font-weight: normal;
  }

  a + a {
    opacity: 0.5;
  }
}

/* remove border*/
.page__content {
  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
  }
}

.archive__item-excerpt {
  margin-top: 0;
  font-size: $type-size-6;

  & + p {
    text-indent: 0;
  }

  a {
    position: relative;
  }
}

.archive__item-teaser {
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;
  display: flex;
  justify-content: center;

  img {
    width: auto;
  }
}

.archive__item-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-family: $caption-font-family;
  font-size: $type-size-8;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.5;
  border-radius: $border-radius 0 0 0;

  @include breakpoint($large) {
    padding: 5px 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

/*
   List view
   ========================================================================== */

.list__item {
  .page__meta {
    margin: 0 0 4px;
    font-size: 0.6em;
  }
}

/*
   Grid view
   ========================================================================== */

.archive {
  .grid__wrapper {
    /* extend grid elements to the right */

    @include breakpoint($large) {
      margin-right: -1 * $right-sidebar-width-narrow;
    }

    @include breakpoint($x-large) {
      margin-right: -1 * $right-sidebar-width;
    }
  }
}

.grid__item {
  margin-bottom: 2em;

  @include breakpoint($small) {
    float: left;
    width: span(5 of 10);

    &:nth-child(2n + 1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(2n + 2) {
      clear: none;
      margin-left: gutter(of 10);
    }
  }

  @include breakpoint($medium) {
    margin-left: 0; /* override margin*/
    margin-right: 0; /* override margin*/
    width: span(3 of 12);

    &:nth-child(2n + 1) {
      clear: none;
    }

    &:nth-child(4n + 1) {
      clear: both;
    }

    &:nth-child(4n + 2) {
      clear: none;
      margin-left: gutter(1 of 12);
    }

    &:nth-child(4n + 3) {
      clear: none;
      margin-left: gutter(1 of 12);
    }

    &:nth-child(4n + 4) {
      clear: none;
      margin-left: gutter(1 of 12);
    }
  }

  .page__meta {
    margin: 0 0 4px;
    font-size: 0.6em;
  }

  .page__meta-sep {
    display: block;

    &::before {
      display: none;
    }
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: $type-size-5;
  }

  .archive__item-excerpt {
    display: none;

    @include breakpoint($medium) {
      display: block;
      font-size: $type-size-6;
    }
  }

  .archive__item-teaser {
    @include breakpoint($small) {
      max-height: 200px;
    }

    @include breakpoint($medium) {
      max-height: 120px;
    }
  }
}

/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include clearfix();
  border-bottom: 1px solid $border-color;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.feature__item--team {
  position: relative;
  margin-bottom: 2em;
  font-size: 1.125em;

  @include breakpoint($small) {
    float: left;
    margin-bottom: 0;
    width: span(3 of 12);

    &:nth-child(4n + 1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(4n + 2) {
      clear: none;
      margin-left: gutter(of 12);
    }

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  .archive__item {
    text-align: center;
  }

  .archive__item-body {
    padding-left: gutter(1 of 12);
    padding-right: gutter(1 of 12);
    margin-top: -1em;
    margin-bottom: 1em;
  }

  .archive__item-excerpt {
    text-align: center;
  }

  .archive__item-teaser {
    max-height: 200px;
    max-width: 200px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid $border-color;
  }

  .team__urls {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    list-style-type: none;

    li {
      white-space: nowrap;
      margin-bottom: 0px;
    }

    a {
      display: block;
      color: inherit;
      font-size: $type-size-8;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.feature__item {
  position: relative;
  margin-bottom: 2em;
  font-size: 1.125em;
  text-align: justify;

  @include breakpoint($small) {
    float: left;
    margin-bottom: 0;
    width: span(4 of 12);

    &:nth-child(3n + 1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(3n + 2) {
      clear: none;
      margin-left: gutter(of 12);
    }

    &:nth-child(3n + 3) {
      clear: none;
      margin-left: gutter(of 12);
    }

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  .archive__item-body {
    padding-left: gutter(1 of 12);
    padding-right: gutter(1 of 12);
  }

  &--dual {
    width: 100%;

    .archive__item-teaser {
      margin: 0 auto;
      width: span(4 of 12);
    }

    @include breakpoint($small) {
      width: span(6 of 12);

      &:nth-child(2n + 1) {
        clear: both;
        margin-left: 0;
      }

      &:nth-child(2n + 2) {
        clear: none;
        margin-left: gutter(of 12);
      }

      .archive__item-teaser {
        float: left;
        width: span(2 of 12);
      }

      .archive__item-body {
        float: right;
        padding-left: gutter(0.5 of 12);
        padding-right: gutter(1 of 12);
        width: span(10 of 12);
      }
    }
  }

  &--dual-center {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    text-align: justify;

    .archive__item-teaser {
      margin: 0 auto;
      width: span(11 of 12);
    }

    .archive__item-title {
      text-align: center;
    }

    @include breakpoint($small) {
      width: span(6 of 12);

      &:nth-child(2n + 1) {
        clear: both;
        margin-left: 0;
      }

      &:nth-child(2n + 2) {
        clear: none;
        margin-left: gutter(of 12);
      }

      .archive__item-teaser {
        margin: 0 auto;
        width: 100%;
      }

      .archive__item-body {
        margin: 0 auto;
        width: 100%;
      }
    }
  }

  &--tri {
    width: 100%;

    .archive__item {
      display: flex;
      align-items: center;
    }

    .archive__item-teaser {
      margin-bottom: 2em;
      width: span(4 of 12);
    }

    .archive__item-body {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      width: span(4 of 12);

      &:nth-child(3n + 1) {
        clear: both;
        margin-left: 0;
      }

      &:nth-child(3n + 2) {
        clear: none;
        margin-left: gutter(of 12);
      }

      &:nth-child(3n + 3) {
        clear: none;
        margin-left: gutter(of 12);
      }

      .archive__item-teaser {
        float: left;
        width: span(5 of 12);
        margin-bottom: 0px;
      }

      .archive__item-body {
        float: right;
        padding-left: gutter(0.5 of 12);
        padding-right: gutter(1 of 12);
        width: span(10 of 12);
        margin-bottom: 0px;
      }
    }
  }

  &--quad {
    width: 100%;
    background-color: var(--bg-color);
    border-radius: 10px;
    margin-bottom: 1em;

    .archive__item {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .archive__item-teaser {
      margin: 0 auto;
      width: 100%;
      min-height: 148px;
    }

    .archive__item-body {
      width: 100%;
      height: 100%;
      padding-right: 10px;
      display: flex;
      flex-direction: column;
    }

    @include breakpoint($small) {
      width: span(3 of 12);

      &:nth-child(4n + 1) {
        clear: both;
        margin-left: 0;
      }

      &:nth-child(4n + 2) {
        clear: none;
        margin-left: gutter(of 12);
      }

      &:nth-child(4n + 3) {
        clear: none;
        margin-left: gutter(of 12);
      }

      &:nth-child(4n + 4) {
        clear: none;
        margin-left: gutter(of 12);
      }

      .archive__item-teaser {
        min-height: 117px;
      }

      .archive__item-body p {
        margin-top: auto;
      }
    }
  }

  &--quad-center {
    margin-bottom: 10px;
    width: 100%;
    text-align: justify;

    .archive__item-teaser {
      margin: 0 auto;
      width: span(4 of 12);
    }

    .archive__item-title {
      text-align: center;
    }

    .archive__item-excerpt {
      text-align: left;

      ul {
        padding-inline-start: 20px;
      }
    }

    @include breakpoint($small) {
      width: span(3 of 12);
      margin: 10px 0px;

      &:nth-child(4n + 1) {
        clear: both;
        margin-left: 0;
      }

      &:nth-child(4n + 2) {
        clear: none;
        margin-left: gutter(of 12);
      }

      &:nth-child(4n + 3) {
        clear: none;
        margin-left: gutter(of 12);
      }

      &:nth-child(4n + 4) {
        clear: none;
        margin-left: gutter(of 12);
      }

      .archive__item-teaser {
        margin: 0 auto;
        width: span(4 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: 100%;
      }
    }
  }

  &--penta {
    width: 100%;
    background-color: var(--bg-color);
    border-radius: 10px;
    margin-bottom: 1em;

    .archive__item {
      display: flex;
      flex-direction: column;
    }

    .archive__item-teaser {
      margin: 0 auto;
      width: 100%;
    }

    .archive__item-body {
      width: 100%;
    }

    @include breakpoint($small) {
      width: span(2 of 10);

      &:nth-child(5n + 1) {
        clear: both;
        margin-left: 0;
      }

      &:nth-child(5n + 2) {
        clear: none;
        margin-left: gutter(of 10);
      }

      &:nth-child(5n + 3) {
        clear: none;
        margin-left: gutter(of 10);
      }

      &:nth-child(5n + 4) {
        clear: none;
        margin-left: gutter(of 10);
      }

      &:nth-child(5n + 5) {
        clear: none;
        margin-left: gutter(of 10);
      }
    }
  }

  &--left {
    position: relative;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    font-size: 1.125em;
    text-align: justify;

    .archive__item {
      float: left;
    }

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      .archive__item-teaser {
        float: left;
        width: span(5 of 12);
        margin-bottom: 0px;
      }

      .archive__item-body {
        float: right;
        padding-left: gutter(0.5 of 12);
        padding-right: gutter(1 of 12);
        width: span(7 of 12);
      }
    }
  }

  &--right {
    position: relative;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    font-size: 1.125em;
    text-align: justify;

    h3 {
      margin: 0 0;
      margin-bottom: 1em;
      text-align: center;
    }

    .archive__item {
      float: left;
    }

    .archive__item-title {
      white-space: break-spaces;
    }

    .archive__item-teaser {
      margin-bottom: 2em;
      display: flex;
      flex-direction: column;

      img {
        width: fit-content;
        align-self: center;
      }
    }

    .archive__subitem-title {
      margin: 0 0;
    }

    .archive__subitem-teaser {
      text-align: right;
      float: left;
      margin-bottom: 1em;
      width: span(6 of 12);
    }

    .archive__subitem-body {
      float: right;
      text-align: left;
      display: flex;
      align-items: center;
      margin-bottom: 1em;
      width: span(6 of 12);
      padding-left: gutter(0.5 of 12);
      padding-right: gutter(1 of 12);
    }

    @include breakpoint($small) {
      text-align: right;

      .archive__item-teaser {
        float: right;
        width: span(5 of 12);
        margin-bottom: 0px;
      }

      .archive__item-body {
        float: left;
        width: span(7 of 12);
        padding-left: gutter(0.5 of 12);
        padding-right: gutter(1 of 12);
      }
    }
  }

  &--center {
    position: relative;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    font-size: 1.125em;
    text-align: justify;

    .archive__item {
      float: left;
      width: 100%;
    }

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: center !important;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }

  &--wide {
    text-align: justify;
  }

  &--wide-center {
    text-align: center !important;
  }
}

/* Place inside an archive layout */

.archive {
  .feature__wrapper {
    .archive__item-title {
      margin-top: 0.25em;
      font-size: 1em;
    }
  }

  .feature__item,
  .feature__item--left,
  .feature__item--center,
  .feature__item--right {
    font-size: 1em;
  }
}

/*
   Wide Pages
   ========================================================================== */

.wide {
  .archive {
    @include breakpoint($large) {
      padding-right: 0;
    }

    @include breakpoint($x-large) {
      padding-right: 0;
    }
  }
}

/*
   Wide Pages
   ========================================================================== */
@include breakpoint($medium) {
  .workBG {
    background-image: url(/assets/images/funcionaBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
}
