.home {
  display: flex;
  flex-flow: wrap;
}

.home__facebook {
  flex: 0 0 50%;
}

.home__pages {
  flex: 0 0 50%;
}

@media (max-width: 1050px){
  .home {
    display: block
  }

  .home__pages {

    margin: 10px 0 0 0;
  }
}
