/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  width: 100%;
  background-color: rgba($background-color, 1);
  border-bottom: 0px solid $border-color;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;


  &__inner-wrap {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    /*2023.2.3*/
    padding: 0.8em 1em 1em 1em;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $max-width;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}
.site-logo img {
  max-height: 2.2rem;
  /* 2022.01.23 rotate */
  animation: rotate_image 1s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_image{
	25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
  	transform: rotate(-5deg);
  }

  100% {
  	transform: rotate(0deg);
  }

}

.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: bold;
  /*2023.2.13*/
  font-size: 1.0em;
  color: $primary-color !important;
}

.site-subtitle {
  display: block;
  font-size: 0.4rem;
}

.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
  font-family: $sans-serif-narrow;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  font-weight: bold;
  font-size: 0.7em;
  
  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}
