// for the styling of the Recent posts thumbnails

.thumbnail-container {
    max-width: 50%;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 25px;
    float: left;
    padding-right: 15px;
  }
    
  .thumbnail-container img {
    margin-top: -11.5%;
    margin-bottom: -11.5%;
  }
  
  .technology-stack {
    max-width: 200px;
    height: auto;
  }