/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size: 16 !default;

/* paragraph indention */
$paragraph-indent: false !default; // true, false (default)
$indent-var: 1.3em !default;

/* system typefaces */
$serif: Georgia, Times, serif !default;
$sans-serif: -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Roboto", "Segoe UI",
"Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: 'NanumGothicCoding', Monaco, Consolas, "Lucida Console", monospace !default;
$D2coding: 'NanumGothicCoding', Monaco, Consolas, "Lucida Console", monospace !default;
$Ubuntu: 'Ubuntu Mono', Monaco, Consolas, "Lucida Console", monospace !default;
$NotoSansKR: -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Roboto", "Segoe UI",
"Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;

/* sans serif typefaces */
$sans-serif-narrow: $sans-serif !default;
$helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
$georgia: Georgia, serif !default;
$times: Times, serif !default;
$bodoni: "Bodoni MT", serif !default;
$calisto: "Calisto MT", serif !default;
$garamond: Garamond, serif !default;

$global-font-family: $sans-serif !default;
$header-font-family: $sans-serif !default;
$caption-font-family: $serif !default;

/* type scale */
$type-size-1: 2.441em !default; // ~39.056px
$type-size-2: 1.953em !default; // ~31.248px
$type-size-3: 1.563em !default; // ~25.008px
$type-size-4: 1.25em !default; // ~20px
$type-size-5: 1em !default; // ~16px
$type-size-6: 0.75em !default; // ~12px
$type-size-7: 0.6875em !default; // ~11px
$type-size-8: 0.625em !default; // ~10px

/* headline scale */
$h-size-1: 1.563em !default; // ~25.008px
$h-size-2: 1.25em !default; // ~20px
$h-size-3: 1.125em !default; // ~18px
$h-size-4: 1.0625em !default; // ~17px
$h-size-5: 1.03125em !default; // ~16.5px
$h-size-6: 1em !default; // ~16px

/*
   Colors
   ========================================================================== */

$gray: #7a8288 !default;
$dark-gray: mix(#000, $gray, 50%) !default;
$darker-gray: mix(#000, $gray, 60%) !default;
$light-gray: mix(#fff, $gray, 50%) !default;
$lighter-gray: mix(#fff, $gray, 90%) !default;

$background-color: #fff !default;
$code-background-color: #fafafa !default;
$code-background-color-dark: $light-gray !default;
$text-color: $dark-gray !default;
$muted-text-color: mix(#fff, $text-color, 20%) !default;
$border-color: $lighter-gray !default;
$form-background-color: $lighter-gray !default;
$footer-background-color: $lighter-gray !default;

$primary-color: #542C85 !default;
$success-color: #3fa63f !default;
$warning-color: #d67f05 !default;
$danger-color: #ee5f5b !default;
$info-color: #3b9cba !default;
$focus-color: $primary-color !default;
$active-color: mix(#fff, $primary-color, 60%) !default;

/* YIQ color contrast */
$yiq-contrasted-dark-default: $dark-gray !default;
$yiq-contrasted-light-default: #fff !default;
$yiq-contrasted-threshold: 175 !default;
$yiq-debug: false !default;

/* brands */
$behance-color: #1769ff !default;
$bitbucket-color: #205081 !default;
$dribbble-color: #ea4c89 !default;
$facebook-color: #3b5998 !default;
$flickr-color: #ff0084 !default;
$foursquare-color: #0072b1 !default;
$github-color: #171516 !default;
$gitlab-color: #e24329 !default;
$instagram-color: #517fa4 !default;
$keybase-color: #ef7639 !default;
$lastfm-color: #d51007 !default;
$linkedin-color: #007bb6 !default;
$kakaotalk-color: #FDDC3F !default;
$toss-color: #0064FF !default;
$mastodon-color: #2b90d9 !default;
$pinterest-color: #cb2027 !default;
$reddit-color: #ff4500 !default;
$rss-color: #fa9b39 !default;
$soundcloud-color: #ff3300 !default;
$stackoverflow-color: #fe7a15 !default;
$tumblr-color: #32506d !default;
$twitter-color: #55acee !default;
$vimeo-color: #1ab7ea !default;
$vine-color: #00bf8f !default;
$youtube-color: #bb0000 !default;
$xing-color: #006567 !default;

/* links */
$link-color: #BA0682 !default;
$link-color-hover: mix(#000, $link-color, 25%) !default;
$link-color-visited: mix(#fff, $link-color, 15%) !default;
$masthead-link-color: $primary-color !default;
$masthead-link-color-hover: mix(#000, $primary-color, 25%) !default;
$navicon-link-color-hover: mix(#fff, $primary-color, 75%) !default;

/* notices */
$notice-background-mix: 80% !default;
$code-notice-background-mix: 90% !default;

/*
   Code Highlight
   ========================================================================== */

/* my custom */
// $base00: #282c34 !default;
// $base01: #2e3c43 !default;
// $base02: #314549 !default;
// $base03: #546e7a !default;
// $base04: #9fa8ac !default;
// $base05: #eeffff !default;
// $base06: #eeffff !default;
// $base07: #ffffff !default;
// $base08: #f07178 !default;
// $base09: #f78c6c !default;
// $base0a: #ffcb6b !default;
// $base0b: #c3e88d !default;
// $base0c: #d4e2e7 !default;
// $base0d: #82aaff !default;
// $base0e: #c792ea !default;
// $base0f: #ff5370 !default;

/* one dark */
$base00: #282c34 !default;
$base01: #353b45 !default;
$base02: #3e4451 !default;
$base03: #545862 !default;
$base04: #727a85 !default; // default: #565c64
$base05: #bfc7d4 !default; // default: #abb2bf
$base06: #b6bdca !default;
$base07: #c8ccd4 !default;
$base08: #e06c75 !default;
$base09: #d19a66 !default;
$base0a: #e5c07b !default;
$base0b: #98c379 !default;
$base0c: #56b6c2 !default;
$base0d: #61afef !default;
$base0e: #c678dd !default;
$base0f: #be5046 !default;

/* one light */
// $base00: #fafafa !default;
// $base01: #f0f0f1 !default;
// $base02: #e5e5e6 !default;
// $base03: #a0a1a7 !default;
// $base04: #696c77 !default;
// $base05: #383a42 !default;
// $base06: #202227 !default;
// $base07: #090a0b !default;
// $base08: #ca1243 !default;
// $base09: #d75f00 !default;
// $base0a: #c18401 !default;
// $base0b: #50a14f !default;
// $base0c: #0184bc !default;
// $base0d: #4078f2 !default;
// $base0e: #a626a4 !default;
// $base0f: #986801 !default;

/* monokai */
// $base00: #272822 !default;
// $base01: #383830 !default;
// $base02: #49483e !default;
// $base03: #75715e !default;
// $base04: #a59f85 !default;
// $base05: #f8f8f2 !default;
// $base06: #f5f4f1 !default;
// $base07: #f9f8f5 !default;
// $base08: #f92672 !default;
// $base09: #fd971f !default;
// $base0a: #f4bf75 !default;
// $base0b: #a6e22e !default;
// $base0c: #a1efe4 !default;
// $base0d: #66d9ef !default;
// $base0e: #ae81ff !default;
// $base0f: #cc6633 !default;

// /* syntax highlighting (base16) - default */
// $base00: #263238 !default;
// $base01: #2e3c43 !default;
// $base02: #314549 !default;
// $base03: #546e7a !default;
// $base04: #b2ccd6 !default;
// $base05: #eeffff !default;
// $base06: #eeffff !default;
// $base07: #ffffff !default;
// $base08: #f07178 !default;
// $base09: #f78c6c !default;
// $base0a: #ffcb6b !default;
// $base0b: #c3e88d !default;
// $base0c: #89ddff !default;
// $base0d: #82aaff !default;
// $base0e: #c792ea !default;
// $base0f: #ff5370 !default;

/*
   Breakpoints
   ========================================================================== */

$small: 600px !default;
$medium: 768px !default;
$medium-wide: 900px !default;
$large: 1024px !default;
$x-large: 1280px !default;
$max-width: $x-large !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow: 100px !default;    // default 200px
$right-sidebar-width: 200px !default;           // default 300px
$right-sidebar-width-wide: 250px !default;      // default 400px

/*
   Other
   ========================================================================== */

$border-radius: 4px !default;
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125) !default;
$nav-height: 2em !default;
$nav-toggle-height: 2rem !default;
$navicon-width: 1.5rem !default;
$navicon-height: 0.25rem !default;
$global-transition: all 0.2s ease-in-out !default;
$intro-transition: intro 0.3s both !default;
