:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #de1709;
  --gray-dark-color: #909090;
  --gray-light-color: #e0e0e0;

  /* Size */
  --side-padding: 12px;
  --avaatar-size: 36px;
  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  padding: var(--side-padding);
}

ul {
  list-style: none;
}

button,
button:focus{
  border: none;
  cursor: pointer;
  outline: none;
  background-color: none;
}


/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--side-padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .logo{
  font-size: var(--font-large);
}

header .logo i{
  color: var(--red-color);
}


header .icons .fa-solid{
  margin-right: var(--side-padding);
}

.player {
  text-align: center;
  background-color: var(--black-color);
  /* position: sticky; */
  top: 0;
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

body .info{
  padding: var(--side-padding);
}

.info .metadata .hastags{
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}

.info .metadata .hastags li{
  margin-right: var(--side-padding);
}

.info .metadata .titleAndButton{
  display: flex;

}

.upNextandInfo .info .metadata .titleAndButton .title{
  font-size: var(--font-medium);
  margin-right: var(--side-padding);
}

.upNextandInfo .info .metadata .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.upNextandInfo .info .metadata .titleAndButton .moreBtn{
  height: 100%;
}

.moreBtnn.clicked{
  transform: rotate(180deg);
}

.info .views {
  font-size: var(--font-small);
  color: var(--gray-dark-color);
}

.info .action {
  display: flex;
  justify-content: space-around;
  margin: var(--side-padding) ;
}

.info .action button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--gray-dark-color);
}

.info .action button i{
  margin: 0 auto;
  margin-bottom: calc(var(--side-padding)/2);
  font-size: 16px;
}

.info .action button i.active {
  color: var(--blue-color);
}

.channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--gray-light-color);
  border-bottom: 1px solid var(--gray-light-color);
}

.channel .metadata{
  display: flex;
  align-items: center;
}

.channel .metadata img{
  width: var(--avaatar-size);
  height: var(--avaatar-size);
  border-radius: 50%;
}

.channel .metadata .channelInfo{
  display: flex;
  flex-direction: column;
}

.channel .metadata .channelInfo .name{
  font-size: var(--font-medium);
}

.channel .metadata .channelInfo .subscribers{
  font-size: var(--font-small);
  color: var(--gray-dark-color);
}

.channel .subscribe{
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
}



/* up Next */

.upNext > .title{
  font-size: var(--font-medium);
  color: var(--gray-dark-color);
  margin-bottom: calc(var(--side-padding)/2);
}

.upNext .item {
  display: flex;
  margin-top: var(--side-padding);
}

.upNext .item .img{
  flex: 1 1 35%;
  margin-right: var(--side-padding);
  min-width: 20%;
}

.upNext .item .img img{
  width: 100%;
}

.upNext .item .info{
  flex: 1 1 45%;
}
.upNext .item .moreBtn{
  flex: 1 1 5%;
  min-width: 5%;
}

.upNext .item .info{
  display: flex;
  flex-direction: column;
}

.upNextandInfo{
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px){
  .upNextandInfo{
    flex-direction: row;
    margin: var(--side-padding);
  }
}