/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

/* faux Wikipedia logo font */
@font-face { font-family: 'Linux Libertine'; font-style: normal; font-weight: 400; src: local('Linux Libertine'),url(//brick.a.ssl.fastly.net/fonts/linuxlibertine/400.woff) format('woff'); } .fa-wikipedia:before { font-family: 'Linux Libertine', 'Times New Roman', Times, serif; font-weight: 400; content: "W"; }

body {
	font: normal normal 400;
	font-size: 9pt;
	line-height: 1.35em;
	font-family: "Open sans", sans-serif;
	/*margin-top: 1em;
	margin-left: 1em;*/
}

p {
	position: relative;
	left: 28%;
	/* margin-bottom: 0.2em; */
	margin-right: 0;
	width: 70%;
}

.csl-left-margin {
  position: relative;
  float: left;
  left: 28%;
  margin-left: -3em;
  margin-right: 0.5em;
}
.csl-right-inline {
    position: relative;
    left: 28%;
    margin-right: 0;
    width: 70%;
}

code {
	font: normal normal;
	font-size: 70%;
	font-family: Menlo, monospace,s ans-serif;
	color: #444;
}

p code {
	position: absolute;
	left: -10%;
}


ul {
	position: relative;
	left: 28%;
	width: 65%;
	margin-bottom: 1em;
	margin-top: 2em;
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
}

li {
	/* empty */
}

li ul {
	position: relative;
	left: 0;
	margin-top: 0.25em;
}

h1,h2,h3,h4 {
	font-weight: 400;
	font-family: Cousine,Verdana,sans-serif;
	width: 65%;
}

h1 {
	color: #222;
	text-align: left;
	font-size: 2.2em;
	line-height: 1em;
	position: relative;
	left: 28%;
}

h1+p {
	/*subtitle*/
	font-style: italic;
	font-size: 110%;
	line-height: 2em;
	margin-top: 0.1em;
	margin-bottom: 0em !important;
}

h2 {
	font-size: 1.1em;
	color: #a00;
	margin-top: 1em;
	position: relative;
	top: 1.5em;
	text-align: right;
	width: 18%;
}

h2+p {
	margin-top: 2.1em;
}

h3 {
	color: #F07415;
	font-size: 1em;
	line-height: 2em;
	color: #444;
	position: relative;
	top: 1.6em;
	text-align: right;
	width: 20%;
}

a {
	color: inherit;
	text-decoration:none
}

a:hover {
	color:#39f
}

#webaddress {
 	margin-top: 0em;
	position: relative;
	left: 28%;
	color: #ccc;
	font-family: Menlo,monospace,sans-serif;
	font-size: 80%;
}

#webaddress a {
	text-decoration: none;
}

em {
	font-style: normal;
	color: #2d4e5e
}

strong {
	font-weight: bold;
}

#ghbutton {
	display: none;
	visibility: hidden;
}


#projects {
	 /* page-break-before: always;  */
}

.footer {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
		position: relative;
		left: 33%;
		margin-top: 2em;
		margin-bottom: 3em;
		margin-right: 0;
		width: 65%;
}
