{
    "openapi": "3.0.1",
    "info": {
        "title": "NetFoundry Public REST API",
        "description": "NetFoundry\u2019s web console and API are used to define networks by designing and instantly deploying AppWANs which are policies that describe how endpoints are permitted to access services. \n\nMost operations require an expiring auth token as described in [the authentication guide](https://developer.netfoundry.io/v1/guides/authentication/).\n\nYou may find more helpful guides, references, and tools to use with this API in the [NetFoundry Developer Portal](https://developer.netfoundry.io/).\n",
        "version": "0.0.3-SNAPSHOT"
    },
    "servers": [
        {
            "url": "https://gateway.sandbox.netfoundry.io/rest/v1"
        },
        {
            "url": "https://gateway.staging.netfoundry.io/rest/v1"
        },
        {
            "url": "https://gateway.production.netfoundry.io/rest/v1"
        }
    ],
    "paths": {
        "/azureSubscriptions": {
            "get": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "get-all-azure-subscriptions",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions1321751198"
                                },
                                "examples": {
                                    "get-all-azure-subscriptions": {
                                        "value": "{\n  \"_embedded\" : {\n    \"azureSubscriptions\" : [ {\n      \"name\" : \"AZ Sub 01\",\n      \"subscriptionId\" : \"dceb5194-5479-4972-9297-ef314005e7f1\",\n      \"tenantId\" : \"bda8c781-b355-4e21-969e-450fd8ee6a10\",\n      \"applicationId\" : \"3278bcf7-b609-4d0c-aeee-e4f73ce22406\",\n      \"applicationKey\" : \"6bcf06a4-578c-4612-89e7-89ea10e8c21c\",\n      \"organizationId\" : \"4387566a-6c77-4f64-8d0c-21bf1e080422\",\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : \"2020-05-29T11:56:30.005+0000\",\n      \"updatedAt\" : \"2020-05-29T21:56:30.005+0000\",\n      \"id\" : \"ec545a72-12ff-4634-99e2-434521872acc\",\n      \"_links\" : {\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/a01d8891-4709-4e3e-baf8-dc4d20f1e004\"\n        },\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/ec545a72-12ff-4634-99e2-434521872acc\"\n        },\n        \"resourceGroups\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/ec545a72-12ff-4634-99e2-434521872acc/resourceGroups\"\n        },\n        \"virtualWans\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/ec545a72-12ff-4634-99e2-434521872acc/virtualWans\"\n        }\n      }\n    }, {\n      \"name\" : \"AZ Sub 02\",\n      \"subscriptionId\" : \"4f2f86ac-53cc-48da-8a0f-2c05fb98727d\",\n      \"tenantId\" : \"6b6df5ab-7831-4cbe-9305-1e726c0bb6df\",\n      \"applicationId\" : \"0fa4f446-df71-4928-b7e2-dd89a1d986a9\",\n      \"applicationKey\" : \"700b5698-9897-4f49-ba54-9b82fed0da4c\",\n      \"organizationId\" : \"e7bb9f10-69b4-4631-9a3c-dc67a071acce\",\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : \"2020-05-29T11:56:30.005+0000\",\n      \"updatedAt\" : \"2020-05-29T21:56:30.005+0000\",\n      \"id\" : \"322b1a10-b8f4-4730-8024-af6797f8f81f\",\n      \"_links\" : {\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/a01d8891-4709-4e3e-baf8-dc4d20f1e004\"\n        },\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/322b1a10-b8f4-4730-8024-af6797f8f81f\"\n        },\n        \"resourceGroups\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/322b1a10-b8f4-4730-8024-af6797f8f81f/resourceGroups\"\n        },\n        \"virtualWans\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/322b1a10-b8f4-4730-8024-af6797f8f81f/virtualWans\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "create-azure-subscription",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/azureSubscriptions-1310085210"
                            },
                            "examples": {
                                "create-azure-subscription": {
                                    "value": "{\n  \"name\" : \"Test AZ Subscription 02\",\n  \"subscriptionId\" : \"841ad2f4-654a-48e2-9898-9ad5d16ee4ab\",\n  \"tenantId\" : \"64fa462e-73f6-4e2c-a6c4-a97476bf24f0\",\n  \"applicationId\" : \"0b04f6f9-a56b-4aa1-83f4-3400035dffd6\",\n  \"applicationKey\" : \"ca1c2e9b-cd6c-401f-a618-c55d9001b5f6\"\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions-azureSubscriptionId1018328653"
                                },
                                "examples": {
                                    "create-azure-subscription": {
                                        "value": "{\n  \"name\" : \"Test AZ Subscription 02\",\n  \"subscriptionId\" : \"a58287d4-2484-464b-9e47-cea72b46f04f\",\n  \"tenantId\" : \"533fecd0-1ce4-4ecb-ac5f-557871ba7815\",\n  \"applicationId\" : \"0f927c73-fe7b-416d-a6db-952dcfe5cc92\",\n  \"applicationKey\" : \"a84ef6c6-9c70-405d-bc9c-bb00f409f24f\",\n  \"organizationId\" : \"0f998143-518b-4129-bf7a-f73970a9399f\",\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : \"2020-05-29T11:56:30.053+0000\",\n  \"updatedAt\" : \"2020-05-29T21:56:30.053+0000\",\n  \"id\" : \"9a56532c-52bd-4309-9eb5-c9c313fb4d75\",\n  \"_links\" : {\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/5729c9be-12d9-4e34-840e-53b174a1f17e\"\n    },\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/9a56532c-52bd-4309-9eb5-c9c313fb4d75\"\n    },\n    \"resourceGroups\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/9a56532c-52bd-4309-9eb5-c9c313fb4d75/resourceGroups\"\n    },\n    \"virtualWans\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/9a56532c-52bd-4309-9eb5-c9c313fb4d75/virtualWans\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/azureSubscriptions/{azureSubscriptionId}": {
            "get": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "get-azure-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions-azureSubscriptionId1018328653"
                                },
                                "examples": {
                                    "get-azure-subscription": {
                                        "value": "{\n  \"name\" : \"Test AZ Subscription 01\",\n  \"subscriptionId\" : \"17f5204a-339a-41b9-96d1-9023dd8ab86c\",\n  \"tenantId\" : \"da7ed526-c0dd-421e-8f4e-b651355eedb0\",\n  \"applicationId\" : \"54f61796-2116-48aa-98a7-a85d350ae28f\",\n  \"applicationKey\" : \"f9d64128-8d4b-46d8-93d6-94db6ea22e7b\",\n  \"organizationId\" : \"d37a5315-c84a-462e-8f01-859435348260\",\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : \"2020-05-29T11:56:30.123+0000\",\n  \"updatedAt\" : \"2020-05-29T21:56:30.123+0000\",\n  \"id\" : \"8a311312-dc6b-4d03-94fe-bcf9eb796eec\",\n  \"_links\" : {\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/df0edce6-cbfa-4491-a806-6f034c120004\"\n    },\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/8a311312-dc6b-4d03-94fe-bcf9eb796eec\"\n    },\n    \"resourceGroups\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/8a311312-dc6b-4d03-94fe-bcf9eb796eec/resourceGroups\"\n    },\n    \"virtualWans\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/8a311312-dc6b-4d03-94fe-bcf9eb796eec/virtualWans\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "update-azure-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/organizations-organizationId486549215"
                            },
                            "examples": {
                                "update-azure-subscription": {
                                    "value": "{\n  \"name\" : \"Test AZ Subscription 01\",\n  \"subscriptionId\" : \"5cbe7e9e-d250-4640-bed3-81b65993c782\",\n  \"tenantId\" : \"98224839-e424-49b2-b82f-62b6769ab2b1\",\n  \"applicationId\" : \"724946c7-7b3e-4c86-b613-70498fa3bff3\",\n  \"applicationKey\" : \"3882e872-cb7b-4d57-9bb9-bccc439ca91e\",\n  \"organizationId\" : null,\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"id\" : null\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions-azureSubscriptionId1018328653"
                                },
                                "examples": {
                                    "update-azure-subscription": {
                                        "value": "{\n  \"name\" : \"Test AZ Subscription 01\",\n  \"subscriptionId\" : \"43dc49f0-b634-4c5b-a46b-1eb962dcfe12\",\n  \"tenantId\" : \"50dc7879-ffe6-42b5-96b2-4f026de36e26\",\n  \"applicationId\" : \"71b6cfd5-4e2c-4416-b9f5-e2700e592b03\",\n  \"applicationKey\" : \"193d3adb-aa6d-4f74-8026-4eca4dcbade5\",\n  \"organizationId\" : \"1bf70d3e-4d20-411a-85a5-922542156c1f\",\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : \"2020-05-29T11:56:30.092+0000\",\n  \"updatedAt\" : \"2020-05-29T21:56:30.092+0000\",\n  \"id\" : \"7b392cae-0f33-4a25-a0ec-f69409b66f82\",\n  \"_links\" : {\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/d90a31ca-6fac-43c6-883d-7bc6ac24e594\"\n    },\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/7b392cae-0f33-4a25-a0ec-f69409b66f82\"\n    },\n    \"resourceGroups\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/7b392cae-0f33-4a25-a0ec-f69409b66f82/resourceGroups\"\n    },\n    \"virtualWans\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/7b392cae-0f33-4a25-a0ec-f69409b66f82/virtualWans\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "delete-azure-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/azureSubscriptions/{azureSubscriptionId}/virtualWanSites": {
            "get": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "get-all-virtual-wan-sites-for-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions-azureSubscriptionId-virtualWanSites-670838162"
                                },
                                "examples": {
                                    "get-all-virtual-wan-sites-for-subscription": {
                                        "value": "{\n  \"_embedded\" : {\n    \"azureVirtualWanSites\" : [ {\n      \"azureId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/azsite01?api-version=2018-04-01\",\n      \"azureSubscriptionId\" : null,\n      \"azureResourceGroupName\" : \"resourceGroup01\",\n      \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n      \"publicIpAddress\" : \"8.8.8.8\",\n      \"bgp\" : false,\n      \"bgpPeeringAddress\" : null,\n      \"bgpASN\" : null,\n      \"bgpPeerWeight\" : null,\n      \"deviceLinkSpeed\" : 0,\n      \"deviceVendor\" : null,\n      \"deviceModel\" : null,\n      \"neighborPeers\" : null,\n      \"advertiseLocal\" : true,\n      \"advertisedPrefixes\" : null,\n      \"preSharedKey\" : null,\n      \"ipSecResponder01\" : null,\n      \"ipSecResponder02\" : null,\n      \"status\" : 0,\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"azsite01\",\n      \"azureVirtualWanName\" : \"wan1\",\n      \"deployable\" : false,\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/3c452f3b-7d72-460c-ab70-87b65eb70250\"\n        },\n        \"dataCenter\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/3c452f3b-7d72-460c-ab70-87b65eb70250/dataCenter\"\n        },\n        \"endpoint\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/3c452f3b-7d72-460c-ab70-87b65eb70250/endpoint\"\n        },\n        \"azureSubscription\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59\"\n        }\n      }\n    }, {\n      \"azureId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/azsite02?api-version=2018-04-01\",\n      \"azureSubscriptionId\" : null,\n      \"azureResourceGroupName\" : \"resourceGroup01\",\n      \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n      \"publicIpAddress\" : \"8.8.8.8\",\n      \"bgp\" : false,\n      \"bgpPeeringAddress\" : null,\n      \"bgpASN\" : null,\n      \"bgpPeerWeight\" : null,\n      \"deviceLinkSpeed\" : 0,\n      \"deviceVendor\" : null,\n      \"deviceModel\" : null,\n      \"neighborPeers\" : null,\n      \"advertiseLocal\" : true,\n      \"advertisedPrefixes\" : null,\n      \"preSharedKey\" : null,\n      \"ipSecResponder01\" : null,\n      \"ipSecResponder02\" : null,\n      \"status\" : 0,\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"azsite02\",\n      \"azureVirtualWanName\" : \"wan1\",\n      \"deployable\" : false,\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/566c6904-c648-4624-af5e-b16608ea12cb\"\n        },\n        \"dataCenter\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/566c6904-c648-4624-af5e-b16608ea12cb/dataCenter\"\n        },\n        \"endpoint\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/566c6904-c648-4624-af5e-b16608ea12cb/endpoint\"\n        },\n        \"azureSubscription\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "create-azure-virtual-wan-site",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/azureSubscriptions-azureSubscriptionId-virtualWanSites1393634693"
                            },
                            "examples": {
                                "create-azure-virtual-wan-site": {
                                    "value": "{\n  \"name\" : \"azsite01\",\n  \"endpointId\" : \"a49fa014-d754-467a-a4d4-13caf7ee0ae8\",\n  \"dataCenterId\" : \"ae7f7e04-8415-4b14-9a99-ba2e9b040214\",\n  \"azureSubscriptionId\" : null,\n  \"azureResourceGroupName\" : \"resourceGroup01\",\n  \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n  \"publicIpAddress\" : \"8.8.8.8\",\n  \"bgp\" : {\n    \"localPeeringAddress\" : {\n      \"ipAddress\" : \"192.168.0.1\",\n      \"asn\" : 64515\n    },\n    \"bgpPeerWeight\" : null,\n    \"deviceLinkSpeed\" : null,\n    \"deviceVendor\" : null,\n    \"deviceModel\" : null,\n    \"neighborPeers\" : [ {\n      \"ipAddress\" : \"192.168.0.2\",\n      \"asn\" : 64513\n    }, {\n      \"ipAddress\" : \"192.168.0.3\",\n      \"asn\" : 64514\n    } ],\n    \"advertiseLocal\" : true,\n    \"advertisedPrefixes\" : [ \"10.0.0.0/24\" ]\n  }\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions-azureSubscriptionId-virtualWanSites1859069655"
                                },
                                "examples": {
                                    "create-azure-virtual-wan-site": {
                                        "value": "{\n  \"azureId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/azsite01?api-version=2018-04-01\",\n  \"azureSubscriptionId\" : null,\n  \"azureResourceGroupName\" : \"resourceGroup01\",\n  \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n  \"publicIpAddress\" : \"8.8.8.8\",\n  \"bgp\" : false,\n  \"bgpPeeringAddress\" : null,\n  \"bgpASN\" : null,\n  \"bgpPeerWeight\" : null,\n  \"deviceLinkSpeed\" : 0,\n  \"deviceVendor\" : null,\n  \"deviceModel\" : null,\n  \"neighborPeers\" : null,\n  \"advertiseLocal\" : true,\n  \"advertisedPrefixes\" : null,\n  \"preSharedKey\" : null,\n  \"ipSecResponder01\" : null,\n  \"ipSecResponder02\" : null,\n  \"status\" : 0,\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"azsite01\",\n  \"azureVirtualWanName\" : \"wan1\",\n  \"deployable\" : false,\n  \"id\" : null,\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/9aad1840-fe1f-410a-9600-d64ddbe545f9\"\n    },\n    \"dataCenter\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/9aad1840-fe1f-410a-9600-d64ddbe545f9/dataCenter\"\n    },\n    \"endpoint\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/9aad1840-fe1f-410a-9600-d64ddbe545f9/endpoint\"\n    },\n    \"azureSubscription\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/azureSubscriptions/{azureSubscriptionId}/virtualWanSites/{siteId}": {
            "delete": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "delete-azure-virtual-wan-site",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "the id of the Azure vWAN VPN site",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/dataCenters": {
            "get": {
                "tags": [
                    "dataCenters"
                ],
                "operationId": "get-data-center-by-location-code",
                "parameters": [
                    {
                        "name": "locationCode",
                        "in": "query",
                        "description": "the locationCode by which to filter data centers",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/dataCenters2066924366"
                                },
                                "examples": {
                                    "get-data-center-by-location-code": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-29T11:56:33.412+0000\",\n  \"updatedAt\" : \"2020-05-29T21:56:33.412+0000\",\n  \"name\" : \"dc01\",\n  \"address\" : \"123 That Street\",\n  \"city\" : \"Nashville\",\n  \"stateCode\" : \"TN\",\n  \"stateName\" : \"Great State\",\n  \"continentName\" : \"North America\",\n  \"continentCode\" : \"NA\",\n  \"countryName\" : \"United States\",\n  \"countryCode\" : \"US\",\n  \"isp\" : \"aws\",\n  \"lat\" : 1.0,\n  \"lng\" : 2.0,\n  \"locationCode\" : \"us-east-2a\",\n  \"locationName\" : \"us-east-2\",\n  \"provider\" : \"aws\",\n  \"id\" : null,\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/dataCenters/37f4e75d-14f6-4c4f-aa68-75a1bfcecc64\"\n    },\n    \"geoRegions\" : {\n      \"href\" : \"http://localhost/dataCenters/37f4e75d-14f6-4c4f-aa68-75a1bfcecc64/geoRegions\"\n    }\n  }\n}"
                                    },
                                    "get-data-centers": {
                                        "value": "{\n  \"_embedded\" : {\n    \"dataCenters\" : [ {\n      \"createdAt\" : \"2020-05-29T11:56:33.295+0000\",\n      \"updatedAt\" : \"2020-05-29T21:56:33.295+0000\",\n      \"name\" : \"dc01\",\n      \"address\" : \"123 That Street\",\n      \"city\" : \"Nashville\",\n      \"stateCode\" : \"TN\",\n      \"stateName\" : \"Great State\",\n      \"continentName\" : \"North America\",\n      \"continentCode\" : \"NA\",\n      \"countryName\" : \"United States\",\n      \"countryCode\" : \"US\",\n      \"isp\" : \"aws\",\n      \"lat\" : 1.0,\n      \"lng\" : 2.0,\n      \"locationCode\" : \"us-east-1b\",\n      \"locationName\" : \"us-east-1\",\n      \"provider\" : \"aws\",\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/dataCenters/2b55216e-caec-46c5-817b-b8b02329f032\"\n        },\n        \"geoRegions\" : {\n          \"href\" : \"http://localhost/dataCenters/2b55216e-caec-46c5-817b-b8b02329f032/geoRegions\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-05-29T11:56:33.295+0000\",\n      \"updatedAt\" : \"2020-05-29T21:56:33.295+0000\",\n      \"name\" : \"dc01\",\n      \"address\" : \"123 That Street\",\n      \"city\" : \"Nashville\",\n      \"stateCode\" : \"TN\",\n      \"stateName\" : \"Great State\",\n      \"continentName\" : \"North America\",\n      \"continentCode\" : \"NA\",\n      \"countryName\" : \"United States\",\n      \"countryCode\" : \"US\",\n      \"isp\" : \"aws\",\n      \"lat\" : 1.0,\n      \"lng\" : 2.0,\n      \"locationCode\" : \"us-east-2c\",\n      \"locationName\" : \"us-east-2\",\n      \"provider\" : \"aws\",\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/dataCenters/7e632c2d-0dd0-40b1-8993-851450c0a718\"\n        },\n        \"geoRegions\" : {\n          \"href\" : \"http://localhost/dataCenters/7e632c2d-0dd0-40b1-8993-851450c0a718/geoRegions\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/dataCenters\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dataCenters/{dataCenterId}": {
            "get": {
                "tags": [
                    "dataCenters"
                ],
                "operationId": "get-data-center-by-id",
                "parameters": [
                    {
                        "name": "dataCenterId",
                        "in": "path",
                        "description": "the id of the data center",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/dataCenters-dataCenterId-1060459100"
                                },
                                "examples": {
                                    "get-data-center-by-id": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-29T11:56:33.384+0000\",\n  \"updatedAt\" : \"2020-05-29T21:56:33.384+0000\",\n  \"name\" : \"dc01\",\n  \"address\" : \"123 That Street\",\n  \"city\" : \"Nashville\",\n  \"stateCode\" : \"TN\",\n  \"stateName\" : \"Great State\",\n  \"continentName\" : \"North America\",\n  \"continentCode\" : \"NA\",\n  \"countryName\" : \"United States\",\n  \"countryCode\" : \"US\",\n  \"isp\" : \"aws\",\n  \"lat\" : 1.0,\n  \"lng\" : 2.0,\n  \"locationCode\" : \"us-east-1a\",\n  \"locationName\" : \"us-east-1\",\n  \"provider\" : \"aws\",\n  \"id\" : null,\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/dataCenters/abcbf30a-692b-4352-9951-420f70737aed\"\n    },\n    \"geoRegions\" : {\n      \"href\" : \"http://localhost/dataCenters/abcbf30a-692b-4352-9951-420f70737aed/geoRegions\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/elastic/ncentityevent/{orgId}/_search/": {
            "post": {
                "tags": [
                    "elastic"
                ],
                "operationId": "search",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "description": "the id of the network group",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/organizations-organizationId486549215"
                            },
                            "examples": {
                                "search": {
                                    "value": "{\n  \"query\" : {\n    \"bool\" : {\n      \"must\" : [ {\n        \"query_string\" : {\n          \"query\" : \"*\",\n          \"analyze_wildcard\" : true\n        }\n      }, {\n        \"match_phrase\" : {\n          \"tags.keyword\" : {\n            \"query\" : \"customer\"\n          }\n        }\n      }, {\n        \"range\" : {\n          \"@timestamp\" : {\n            \"gte\" : 1493587166000,\n            \"lte\" : 1525123166533,\n            \"format\" : \"epoch_millis\"\n          }\n        }\n      }, {\n        \"match_phrase\" : {\n          \"networkId\" : {\n            \"query\" : \"5d4a71e3-d676-4c37-8af8-46604f0352d1\"\n          }\n        }\n      } ],\n      \"must_not\" : [ {\n        \"match_phrase\" : {\n          \"changeType\" : {\n            \"query\" : \"soft\"\n          }\n        }\n      } ]\n    }\n  },\n  \"size\" : 500,\n  \"sort\" : [ {\n    \"@timestamp\" : {\n      \"order\" : \"desc\",\n      \"unmapped_type\" : \"boolean\"\n    }\n  } ],\n  \"_source\" : {\n    \"excludes\" : [ ]\n  }\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/elastic-ncentityevent-orgId-_search-2011801923"
                                },
                                "examples": {
                                    "search": {
                                        "value": "{\n  \"took\" : 3727,\n  \"timed_out\" : false,\n  \"_shards\" : {\n    \"total\" : 1666,\n    \"successful\" : 1666,\n    \"skipped\" : 1636,\n    \"failed\" : 0\n  },\n  \"hits\" : {\n    \"total\" : 0,\n    \"max_score\" : \"null\",\n    \"hits\" : [ ]\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/geoRegions": {
            "get": {
                "tags": [
                    "geoRegions"
                ],
                "operationId": "get-geo-regions",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/geoRegions-446812573"
                                },
                                "examples": {
                                    "get-geo-regions": {
                                        "value": "{\n  \"_embedded\" : {\n    \"geoRegions\" : [ {\n      \"createdAt\" : \"2020-05-29T11:55:44.898+0000\",\n      \"updatedAt\" : \"2020-05-29T21:55:44.898+0000\",\n      \"name\" : \"Geo Region 01\",\n      \"id\" : \"9bbca6aa-767c-4c48-b4ab-dac0ead018fc\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/geoRegions/9bbca6aa-767c-4c48-b4ab-dac0ead018fc\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-05-29T11:55:44.898+0000\",\n      \"updatedAt\" : \"2020-05-29T21:55:44.898+0000\",\n      \"name\" : \"Geo Region 02\",\n      \"id\" : \"9bbca6aa-767c-4c48-b4ab-dac0ead018fc\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/geoRegions/9bbca6aa-767c-4c48-b4ab-dac0ead018fc\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/geoRegions\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/geoRegions/{geoRegionId}": {
            "get": {
                "tags": [
                    "geoRegions"
                ],
                "operationId": "get-geo-region-by-id",
                "parameters": [
                    {
                        "name": "geoRegionId",
                        "in": "path",
                        "description": "the id of the geographic region",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/geoRegions-geoRegionId-1492212157"
                                },
                                "examples": {
                                    "get-geo-region-by-id": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-29T11:55:44.767+0000\",\n  \"updatedAt\" : \"2020-05-29T21:55:44.767+0000\",\n  \"name\" : \"Geo Region 01\",\n  \"id\" : \"9bbca6aa-767c-4c48-b4ab-dac0ead018fc\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/geoRegions/9bbca6aa-767c-4c48-b4ab-dac0ead018fc\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hosts": {
            "get": {
                "tags": [
                    "hosts"
                ],
                "operationId": "get-hosts-for-network",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/hosts-1480010628"
                                },
                                "examples": {
                                    "get-hosts-for-network": {
                                        "value": "{\n  \"_embedded\" : {\n    \"hosts\" : [ {\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"Host 1\",\n      \"networkId\" : \"b34907c9-e1b3-4585-bcd3-b53ec8ee6d4f\",\n      \"hostType\" : \"NC\",\n      \"primaryIpAddress\" : \"10.0.0.0\",\n      \"memGb\" : 0,\n      \"numCpu\" : 0,\n      \"model\" : null,\n      \"os\" : null,\n      \"providerId\" : \"i-1234\",\n      \"providerName\" : null,\n      \"userData\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"ebc754ed-cf32-4b91-8930-4a784be2f8a7\"\n    } ]\n  },\n  \"_links\" : {\n    \"network\" : {\n      \"href\" : \"http://localhost/networks/b34907c9-e1b3-4585-bcd3-b53ec8ee6d4f\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hosts/{hostId}": {
            "get": {
                "tags": [
                    "hosts"
                ],
                "operationId": "get-host",
                "parameters": [
                    {
                        "name": "hostId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/hosts-hostId-1233713338"
                                },
                                "examples": {
                                    "get-host": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"Host 1\",\n  \"networkId\" : \"070e6a07-203a-48fe-8ddc-9152c7b951fb\",\n  \"hostType\" : \"NC\",\n  \"primaryIpAddress\" : \"10.0.0.0\",\n  \"memGb\" : 0,\n  \"numCpu\" : 0,\n  \"model\" : null,\n  \"os\" : null,\n  \"providerId\" : \"i-1234\",\n  \"providerName\" : null,\n  \"userData\" : null,\n  \"status\" : 300,\n  \"ownerIdentityId\" : null,\n  \"id\" : \"f9237bb5-024c-4502-b3e6-c80c424bc9f7\",\n  \"_links\" : {\n    \"network\" : {\n      \"href\" : \"http://localhost/networks/070e6a07-203a-48fe-8ddc-9152c7b951fb\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/network-processes": {
            "get": {
                "tags": [
                    "network-processes"
                ],
                "operationId": "find-network-processes",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/network-processes-businessKey-393734757"
                                },
                                "examples": {
                                    "find-network-processes": {
                                        "value": "[ {\n  \"businessKey\" : \"200b38d8-c832-4a00-a4cd-6db1f96170c2\",\n  \"processDefinitionKey\" : \"createNetworkFromDepotAsync\",\n  \"processInstanceId\" : 123,\n  \"workFlowStatus\" : [ {\n    \"task\" : \"Started\",\n    \"status\" : \"InProgress\",\n    \"calledProcessInstanceId\" : null\n  } ]\n} ]"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/network-processes/{businessKey}": {
            "get": {
                "tags": [
                    "network-processes"
                ],
                "operationId": "get-network-processes",
                "parameters": [
                    {
                        "name": "businessKey",
                        "in": "path",
                        "description": "the business key to filter",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/network-processes-businessKey-393734757"
                                },
                                "examples": {
                                    "get-network-processes": {
                                        "value": "[ {\n  \"businessKey\" : \"eb930930-df41-47ef-b2a6-fb54ba656231\",\n  \"processDefinitionKey\" : \"createNetworkFromDepotAsync\",\n  \"processInstanceId\" : 123,\n  \"workFlowStatus\" : [ {\n    \"task\" : \"Started\",\n    \"status\" : \"InProgress\",\n    \"calledProcessInstanceId\" : null\n  } ]\n} ]"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networkConfigMetadata": {
            "get": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "operationId": "find-network-config-metadata",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkConfigMetadata-1344539778"
                                },
                                "examples": {
                                    "find-network-config-metadata": {
                                        "value": "{\n  \"_embedded\" : {\n    \"networkConfigMetadatas\" : [ {\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"small\",\n      \"awsNetworkControllerSize\" : null,\n      \"awsGatewaySize\" : null,\n      \"awsTransferNodeSize\" : null,\n      \"azureTransferNodeSize\" : null,\n      \"alicloudTransferNodeSize\" : null,\n      \"gcpTransferNodeSize\" : null,\n      \"networkControllerVolumeSize\" : 0,\n      \"transferNodeVolumeSize\" : 0,\n      \"gatewayVolumeSize\" : 0,\n      \"id\" : \"66785697-cf14-4fac-86f2-3e99f23a7f41\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/66785697-cf14-4fac-86f2-3e99f23a7f41\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "operationId": "create-network-config-metadata",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networkConfigMetadata-networkConfigMetadataId-1781842714"
                            },
                            "examples": {
                                "create-network-config-metadata": {
                                    "value": "{\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : \"T2Medium\",\n  \"awsGatewaySize\" : \"T2Large\",\n  \"awsTransferNodeSize\" : \"T2Large\",\n  \"azureTransferNodeSize\" : \"T2Large\",\n  \"alicloudTransferNodeSize\" : \"T2Large\",\n  \"gcpTransferNodeSize\" : \"T2Large\",\n  \"networkControllerVolumeSize\" : 20,\n  \"transferNodeVolumeSize\" : 10,\n  \"gatewayVolumeSize\" : 10\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkConfigMetadata-networkConfigMetadataId-299031831"
                                },
                                "examples": {
                                    "create-network-config-metadata": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : null,\n  \"awsGatewaySize\" : null,\n  \"awsTransferNodeSize\" : null,\n  \"azureTransferNodeSize\" : null,\n  \"alicloudTransferNodeSize\" : null,\n  \"gcpTransferNodeSize\" : null,\n  \"networkControllerVolumeSize\" : 0,\n  \"transferNodeVolumeSize\" : 0,\n  \"gatewayVolumeSize\" : 0,\n  \"id\" : \"6fef4892-ae74-47d9-b2ce-ab1e43222022\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/6fef4892-ae74-47d9-b2ce-ab1e43222022\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networkConfigMetadata/{networkConfigMetadataId}": {
            "get": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "operationId": "get-network-config-metadata",
                "parameters": [
                    {
                        "name": "networkConfigMetadataId",
                        "in": "path",
                        "description": "the id of the configuration",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkConfigMetadata-networkConfigMetadataId-299031831"
                                },
                                "examples": {
                                    "get-network-config-metadata": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : null,\n  \"awsGatewaySize\" : null,\n  \"awsTransferNodeSize\" : null,\n  \"azureTransferNodeSize\" : null,\n  \"alicloudTransferNodeSize\" : null,\n  \"gcpTransferNodeSize\" : null,\n  \"networkControllerVolumeSize\" : 0,\n  \"transferNodeVolumeSize\" : 0,\n  \"gatewayVolumeSize\" : 0,\n  \"id\" : \"f5453e92-a855-4e8f-8652-866587a61a92\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/f5453e92-a855-4e8f-8652-866587a61a92\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "operationId": "update-network-config-metadata",
                "parameters": [
                    {
                        "name": "networkConfigMetadataId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networkConfigMetadata-networkConfigMetadataId-1781842714"
                            },
                            "examples": {
                                "update-network-config-metadata": {
                                    "value": "{\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : \"T2Medium\",\n  \"awsGatewaySize\" : \"T2Large\",\n  \"awsTransferNodeSize\" : \"T2Large\",\n  \"azureTransferNodeSize\" : \"T2Large\",\n  \"alicloudTransferNodeSize\" : \"T2Large\",\n  \"gcpTransferNodeSize\" : \"T2Large\",\n  \"networkControllerVolumeSize\" : 20,\n  \"transferNodeVolumeSize\" : 10,\n  \"gatewayVolumeSize\" : 10\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkConfigMetadata-networkConfigMetadataId-299031831"
                                },
                                "examples": {
                                    "update-network-config-metadata": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : null,\n  \"awsGatewaySize\" : null,\n  \"awsTransferNodeSize\" : null,\n  \"azureTransferNodeSize\" : null,\n  \"alicloudTransferNodeSize\" : null,\n  \"gcpTransferNodeSize\" : null,\n  \"networkControllerVolumeSize\" : 0,\n  \"transferNodeVolumeSize\" : 0,\n  \"gatewayVolumeSize\" : 0,\n  \"id\" : \"7701e660-d4fa-4f1c-947a-604197a4f348\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/7701e660-d4fa-4f1c-947a-604197a4f348\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "operationId": "delete-network-config-metadata",
                "parameters": [
                    {
                        "name": "networkConfigMetadataId",
                        "in": "path",
                        "description": "the id of the configuration",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/networkgroups/{networkGroupId}/endpoints": {
            "get": {
                "tags": [
                    "networkgroups"
                ],
                "operationId": "get-all-endpoints-for-network-group",
                "parameters": [
                    {
                        "name": "networkGroupId",
                        "in": "path",
                        "description": "the id of the network group for which to get endpoints",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkgroups-networkGroupId-endpoints-592200708"
                                },
                                "examples": {
                                    "get-all-endpoints-for-network-group": {
                                        "value": "{\n  \"_embedded\" : {\n    \"endpoints\" : [ {\n      \"createdAt\" : \"2020-05-29T11:56:39.730+0000\",\n      \"updatedAt\" : \"2020-05-29T21:56:39.730+0000\",\n      \"name\" : \"Endpoint 01\",\n      \"networkId\" : null,\n      \"endpointType\" : \"GW\",\n      \"clientType\" : \"\",\n      \"clientVersion\" : \"\",\n      \"source\" : null,\n      \"syncId\" : null,\n      \"registrationKey\" : \"regKey value\",\n      \"registrationAttemptsLeft\" : 5,\n      \"status\" : 100,\n      \"currentState\" : 100,\n      \"stateLastUpdated\" : null,\n      \"endpointProtectionRole\" : null,\n      \"haEndpointType\" : \"HAGW\",\n      \"o365BreakoutNextHopIp\" : null,\n      \"gatewayClusterId\" : null,\n      \"clientMfaEnable\" : \"NO\",\n      \"ownerIdentityId\" : null,\n      \"countryId\" : null,\n      \"geoRegionId\" : null,\n      \"dataCenterId\" : null,\n      \"sessionIdentityId\" : null,\n      \"id\" : \"ee516fe2-dbde-43ff-b837-981a90a045aa\",\n      \"componentId\" : \"\"\n    }, {\n      \"createdAt\" : \"2020-05-29T11:56:39.731+0000\",\n      \"updatedAt\" : \"2020-05-29T21:56:39.731+0000\",\n      \"name\" : \"Endpoint 02\",\n      \"networkId\" : null,\n      \"endpointType\" : \"GW\",\n      \"clientType\" : \"\",\n      \"clientVersion\" : \"\",\n      \"source\" : null,\n      \"syncId\" : null,\n      \"registrationKey\" : \"regKey value\",\n      \"registrationAttemptsLeft\" : 5,\n      \"status\" : 100,\n      \"currentState\" : 100,\n      \"stateLastUpdated\" : null,\n      \"endpointProtectionRole\" : null,\n      \"haEndpointType\" : \"HAGW\",\n      \"o365BreakoutNextHopIp\" : null,\n      \"gatewayClusterId\" : null,\n      \"clientMfaEnable\" : \"NO\",\n      \"ownerIdentityId\" : null,\n      \"countryId\" : null,\n      \"geoRegionId\" : null,\n      \"dataCenterId\" : null,\n      \"sessionIdentityId\" : null,\n      \"id\" : \"018b458e-8c28-4e0a-ae52-a4e2370b2578\",\n      \"componentId\" : \"\"\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networkgroups/24dc6aa1-009a-44ef-b32c-d5f5f02c1966/endpoints\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networkgroups/{networkGroupId}/services": {
            "get": {
                "tags": [
                    "networkgroups"
                ],
                "operationId": "get-all-services-for-network-group",
                "parameters": [
                    {
                        "name": "networkGroupId",
                        "in": "path",
                        "description": "the id of the network group",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkgroups-networkGroupId-services-1977395650"
                                },
                                "examples": {
                                    "get-all-services-for-network-group": {
                                        "value": "{\n  \"_embedded\" : {\n    \"services\" : [ {\n      \"serviceClass\" : \"CS\",\n      \"serviceInterceptType\" : null,\n      \"serviceType\" : null,\n      \"lowLatency\" : null,\n      \"dataInterleaving\" : null,\n      \"transparency\" : null,\n      \"localNetworkGateway\" : null,\n      \"multicast\" : null,\n      \"dnsOptions\" : null,\n      \"icmpTunnel\" : null,\n      \"cryptoLevel\" : null,\n      \"permanentConnection\" : null,\n      \"collectionLocation\" : null,\n      \"pbrType\" : null,\n      \"rateSmoothing\" : null,\n      \"networkIp\" : null,\n      \"networkNetmask\" : null,\n      \"networkFirstPort\" : 0,\n      \"networkLastPort\" : 0,\n      \"interceptIp\" : null,\n      \"interceptDnsHostname\" : null,\n      \"interceptDnsPort\" : 0,\n      \"interceptFirstPort\" : 0,\n      \"interceptLastPort\" : 0,\n      \"gatewayIp\" : null,\n      \"gatewayCidrBlock\" : 0,\n      \"netflowIndex\" : 0,\n      \"profileIndex\" : 0,\n      \"o365Conflict\" : false,\n      \"status\" : 0,\n      \"protectionGroupId\" : null,\n      \"portInterceptMode\" : null,\n      \"endpointId\" : null,\n      \"gatewayClusterId\" : null,\n      \"networkId\" : null,\n      \"ownerIdentityId\" : null,\n      \"interceptIncludePorts\" : null,\n      \"interceptExcludePorts\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"Service 01\",\n      \"gatewayNetmask\" : \"\",\n      \"interceptPorts\" : {\n        \"include\" : [ ],\n        \"exclude\" : [ ]\n      },\n      \"id\" : null\n    }, {\n      \"serviceClass\" : \"CS\",\n      \"serviceInterceptType\" : null,\n      \"serviceType\" : null,\n      \"lowLatency\" : null,\n      \"dataInterleaving\" : null,\n      \"transparency\" : null,\n      \"localNetworkGateway\" : null,\n      \"multicast\" : null,\n      \"dnsOptions\" : null,\n      \"icmpTunnel\" : null,\n      \"cryptoLevel\" : null,\n      \"permanentConnection\" : null,\n      \"collectionLocation\" : null,\n      \"pbrType\" : null,\n      \"rateSmoothing\" : null,\n      \"networkIp\" : null,\n      \"networkNetmask\" : null,\n      \"networkFirstPort\" : 0,\n      \"networkLastPort\" : 0,\n      \"interceptIp\" : null,\n      \"interceptDnsHostname\" : null,\n      \"interceptDnsPort\" : 0,\n      \"interceptFirstPort\" : 0,\n      \"interceptLastPort\" : 0,\n      \"gatewayIp\" : null,\n      \"gatewayCidrBlock\" : 0,\n      \"netflowIndex\" : 0,\n      \"profileIndex\" : 0,\n      \"o365Conflict\" : false,\n      \"status\" : 0,\n      \"protectionGroupId\" : null,\n      \"portInterceptMode\" : null,\n      \"endpointId\" : null,\n      \"gatewayClusterId\" : null,\n      \"networkId\" : null,\n      \"ownerIdentityId\" : null,\n      \"interceptIncludePorts\" : null,\n      \"interceptExcludePorts\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"Service 02\",\n      \"gatewayNetmask\" : \"\",\n      \"interceptPorts\" : {\n        \"include\" : [ ],\n        \"exclude\" : [ ]\n      },\n      \"id\" : null\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networkgroups/bd2f50a7-fede-4a76-ad88-70a9f01d17f7/services\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks": {
            "get": {
                "tags": [
                    "networks"
                ],
                "summary": "this is a shorter summary",
                "description": "this is a longer description with **commonmark** support",
                "operationId": "get-all-networks-paged",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks256777470"
                                },
                                "examples": {
                                    "get-all-networks-paged": {
                                        "value": "{\n  \"_embedded\" : {\n    \"networks\" : [ {\n      \"createdAt\" : \"2020-05-29T11:55:56.563+0000\",\n      \"updatedAt\" : \"2020-05-29T21:55:56.563+0000\",\n      \"name\" : \"Test Network 01\",\n      \"caName\" : \"CA_f443d037-de4f-41ce-b9ba-426e4dfafcfa\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"d2281d0d-41f8-4035-bfd5-e5434f5ca9ff\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"d46719ef-02a0-4bf8-82ad-e9ddcc28fbf6\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/d46719ef-02a0-4bf8-82ad-e9ddcc28fbf6\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/d2281d0d-41f8-4035-bfd5-e5434f5ca9ff\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/d46719ef-02a0-4bf8-82ad-e9ddcc28fbf6/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/d46719ef-02a0-4bf8-82ad-e9ddcc28fbf6/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/d46719ef-02a0-4bf8-82ad-e9ddcc28fbf6/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/d46719ef-02a0-4bf8-82ad-e9ddcc28fbf6/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/d46719ef-02a0-4bf8-82ad-e9ddcc28fbf6/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/d46719ef-02a0-4bf8-82ad-e9ddcc28fbf6/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/d46719ef-02a0-4bf8-82ad-e9ddcc28fbf6/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/d46719ef-02a0-4bf8-82ad-e9ddcc28fbf6/networkConfigMetadata\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-05-29T11:55:56.565+0000\",\n      \"updatedAt\" : \"2020-05-29T21:55:56.565+0000\",\n      \"name\" : \"Test Network 02\",\n      \"caName\" : \"CA_fd3fd510-7249-44a7-8231-4cb015eb49fa\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"d2281d0d-41f8-4035-bfd5-e5434f5ca9ff\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"ba15e487-08e8-4916-95c2-8ba500cceca3\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/ba15e487-08e8-4916-95c2-8ba500cceca3\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/d2281d0d-41f8-4035-bfd5-e5434f5ca9ff\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/ba15e487-08e8-4916-95c2-8ba500cceca3/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/ba15e487-08e8-4916-95c2-8ba500cceca3/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/ba15e487-08e8-4916-95c2-8ba500cceca3/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/ba15e487-08e8-4916-95c2-8ba500cceca3/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/ba15e487-08e8-4916-95c2-8ba500cceca3/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/ba15e487-08e8-4916-95c2-8ba500cceca3/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/ba15e487-08e8-4916-95c2-8ba500cceca3/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/ba15e487-08e8-4916-95c2-8ba500cceca3/networkConfigMetadata\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks?page=0,size=10,sort=name,asc\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    },
                                    "get-all-networks": {
                                        "value": "{\n  \"_embedded\" : {\n    \"networks\" : [ {\n      \"createdAt\" : \"2020-05-29T11:55:56.334+0000\",\n      \"updatedAt\" : \"2020-05-29T21:55:56.334+0000\",\n      \"name\" : \"Test Network 01\",\n      \"caName\" : \"CA_075ebc3a-b1d2-40fd-88be-ae6283e46479\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"3e0e678e-7a76-4f52-9bdf-8c89da30925f\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"93cec4a0-95ba-4571-9e24-fed6f2fcdd2b\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/93cec4a0-95ba-4571-9e24-fed6f2fcdd2b\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/3e0e678e-7a76-4f52-9bdf-8c89da30925f\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/93cec4a0-95ba-4571-9e24-fed6f2fcdd2b/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/93cec4a0-95ba-4571-9e24-fed6f2fcdd2b/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/93cec4a0-95ba-4571-9e24-fed6f2fcdd2b/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/93cec4a0-95ba-4571-9e24-fed6f2fcdd2b/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/93cec4a0-95ba-4571-9e24-fed6f2fcdd2b/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/93cec4a0-95ba-4571-9e24-fed6f2fcdd2b/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/93cec4a0-95ba-4571-9e24-fed6f2fcdd2b/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/93cec4a0-95ba-4571-9e24-fed6f2fcdd2b/networkConfigMetadata\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-05-29T11:55:56.336+0000\",\n      \"updatedAt\" : \"2020-05-29T21:55:56.336+0000\",\n      \"name\" : \"Test Network 02\",\n      \"caName\" : \"CA_0e2bbf51-4e32-4225-80f5-7f59a88a652f\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"3e0e678e-7a76-4f52-9bdf-8c89da30925f\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"e1659a8b-6452-40de-a3c9-df5f76cc0861\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/e1659a8b-6452-40de-a3c9-df5f76cc0861\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/3e0e678e-7a76-4f52-9bdf-8c89da30925f\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/e1659a8b-6452-40de-a3c9-df5f76cc0861/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/e1659a8b-6452-40de-a3c9-df5f76cc0861/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/e1659a8b-6452-40de-a3c9-df5f76cc0861/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/e1659a8b-6452-40de-a3c9-df5f76cc0861/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/e1659a8b-6452-40de-a3c9-df5f76cc0861/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/e1659a8b-6452-40de-a3c9-df5f76cc0861/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/e1659a8b-6452-40de-a3c9-df5f76cc0861/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/e1659a8b-6452-40de-a3c9-df5f76cc0861/networkConfigMetadata\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "networks"
                ],
                "operationId": "create-network",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks761588672"
                            },
                            "examples": {
                                "create-network": {
                                    "value": "{\n  \"name\" : \"Test Network 01\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"networkConfigName\" : \"medium\",\n  \"locationCode\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"subscriptionId\" : null\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-582637379"
                                },
                                "examples": {
                                    "create-network": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-29T11:55:56.159+0000\",\n  \"updatedAt\" : \"2020-05-29T21:55:56.159+0000\",\n  \"name\" : \"Test Network 01\",\n  \"caName\" : \"CA_b8656ceb-cb8f-4725-8c37-11a39160d9f0\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"provisionedAt\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : null,\n  \"mfaIssuerId\" : null,\n  \"status\" : 100,\n  \"organizationId\" : \"3a83f248-6675-4174-8bfe-20ff8036bd6e\",\n  \"ownerIdentityId\" : null,\n  \"networkConfigMetadataId\" : null,\n  \"id\" : \"c12ddf4e-4c57-44bb-bc7b-f2c97ac22d93\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks/c12ddf4e-4c57-44bb-bc7b-f2c97ac22d93\"\n    },\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/3a83f248-6675-4174-8bfe-20ff8036bd6e\"\n    },\n    \"networkControllerHosts\" : {\n      \"href\" : \"http://localhost/networks/c12ddf4e-4c57-44bb-bc7b-f2c97ac22d93/networkControllerHosts\"\n    },\n    \"endpoints\" : {\n      \"href\" : \"http://localhost/networks/c12ddf4e-4c57-44bb-bc7b-f2c97ac22d93/endpoints\"\n    },\n    \"endpointGroups\" : {\n      \"href\" : \"http://localhost/networks/c12ddf4e-4c57-44bb-bc7b-f2c97ac22d93/endpointGroups\"\n    },\n    \"services\" : {\n      \"href\" : \"http://localhost/networks/c12ddf4e-4c57-44bb-bc7b-f2c97ac22d93/services\"\n    },\n    \"appWans\" : {\n      \"href\" : \"http://localhost/networks/c12ddf4e-4c57-44bb-bc7b-f2c97ac22d93/appWans\"\n    },\n    \"gatewayClusters\" : {\n      \"href\" : \"http://localhost/networks/c12ddf4e-4c57-44bb-bc7b-f2c97ac22d93/gatewayClusters\"\n    },\n    \"virtualWanSites\" : {\n      \"href\" : \"http://localhost/networks/c12ddf4e-4c57-44bb-bc7b-f2c97ac22d93/virtualWanSites\"\n    },\n    \"networkConfigMetadata\" : {\n      \"href\" : \"http://localhost/networks/c12ddf4e-4c57-44bb-bc7b-f2c97ac22d93/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks/{networkId}": {
            "get": {
                "tags": [
                    "networks"
                ],
                "operationId": "get-network",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-1626269863"
                                },
                                "examples": {
                                    "get-network": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-29T11:55:55.947+0000\",\n  \"updatedAt\" : \"2020-05-29T21:55:55.947+0000\",\n  \"name\" : \"Test Network 01\",\n  \"caName\" : \"CA_e0239684-7d9c-437b-81b8-9789aec84c78\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"provisionedAt\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : null,\n  \"mfaIssuerId\" : null,\n  \"status\" : 100,\n  \"organizationId\" : \"ed85f2c8-d4ef-42a5-a07e-218e2f92360a\",\n  \"ownerIdentityId\" : null,\n  \"networkConfigMetadataId\" : null,\n  \"id\" : \"dfcd6833-11c1-495f-ab69-e9ad4c190bd2\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks/dfcd6833-11c1-495f-ab69-e9ad4c190bd2\"\n    },\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/ed85f2c8-d4ef-42a5-a07e-218e2f92360a\"\n    },\n    \"networkControllerHosts\" : {\n      \"href\" : \"http://localhost/networks/dfcd6833-11c1-495f-ab69-e9ad4c190bd2/networkControllerHosts\"\n    },\n    \"endpoints\" : {\n      \"href\" : \"http://localhost/networks/dfcd6833-11c1-495f-ab69-e9ad4c190bd2/endpoints\"\n    },\n    \"endpointGroups\" : {\n      \"href\" : \"http://localhost/networks/dfcd6833-11c1-495f-ab69-e9ad4c190bd2/endpointGroups\"\n    },\n    \"services\" : {\n      \"href\" : \"http://localhost/networks/dfcd6833-11c1-495f-ab69-e9ad4c190bd2/services\"\n    },\n    \"appWans\" : {\n      \"href\" : \"http://localhost/networks/dfcd6833-11c1-495f-ab69-e9ad4c190bd2/appWans\"\n    },\n    \"gatewayClusters\" : {\n      \"href\" : \"http://localhost/networks/dfcd6833-11c1-495f-ab69-e9ad4c190bd2/gatewayClusters\"\n    },\n    \"virtualWanSites\" : {\n      \"href\" : \"http://localhost/networks/dfcd6833-11c1-495f-ab69-e9ad4c190bd2/virtualWanSites\"\n    },\n    \"networkConfigMetadata\" : {\n      \"href\" : \"http://localhost/networks/dfcd6833-11c1-495f-ab69-e9ad4c190bd2/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "networks"
                ],
                "operationId": "update-network",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-networkId-54152969"
                            },
                            "examples": {
                                "update-network": {
                                    "value": "{\n  \"name\" : \"Test Network 01 Updated\",\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : \"1234\",\n  \"mfaIssuerId\" : \"https://okta\"\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-1500717383"
                                },
                                "examples": {
                                    "update-network": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-29T11:55:56.256+0000\",\n  \"updatedAt\" : \"2020-05-29T21:55:56.256+0000\",\n  \"name\" : \"Test Network 01 Updated\",\n  \"caName\" : \"CA_3a8a5345-6429-435b-96c2-e97230d7fe77\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"provisionedAt\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : null,\n  \"mfaIssuerId\" : null,\n  \"status\" : 100,\n  \"organizationId\" : \"9fce436d-5c83-45f7-9f3e-28937ea7898c\",\n  \"ownerIdentityId\" : null,\n  \"networkConfigMetadataId\" : null,\n  \"id\" : \"44810d5d-8671-4376-be87-b0622db97ea6\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks/44810d5d-8671-4376-be87-b0622db97ea6\"\n    },\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/9fce436d-5c83-45f7-9f3e-28937ea7898c\"\n    },\n    \"networkControllerHosts\" : {\n      \"href\" : \"http://localhost/networks/44810d5d-8671-4376-be87-b0622db97ea6/networkControllerHosts\"\n    },\n    \"endpoints\" : {\n      \"href\" : \"http://localhost/networks/44810d5d-8671-4376-be87-b0622db97ea6/endpoints\"\n    },\n    \"endpointGroups\" : {\n      \"href\" : \"http://localhost/networks/44810d5d-8671-4376-be87-b0622db97ea6/endpointGroups\"\n    },\n    \"services\" : {\n      \"href\" : \"http://localhost/networks/44810d5d-8671-4376-be87-b0622db97ea6/services\"\n    },\n    \"appWans\" : {\n      \"href\" : \"http://localhost/networks/44810d5d-8671-4376-be87-b0622db97ea6/appWans\"\n    },\n    \"gatewayClusters\" : {\n      \"href\" : \"http://localhost/networks/44810d5d-8671-4376-be87-b0622db97ea6/gatewayClusters\"\n    },\n    \"virtualWanSites\" : {\n      \"href\" : \"http://localhost/networks/44810d5d-8671-4376-be87-b0622db97ea6/virtualWanSites\"\n    },\n    \"networkConfigMetadata\" : {\n      \"href\" : \"http://localhost/networks/44810d5d-8671-4376-be87-b0622db97ea6/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "networks"
                ],
                "operationId": "delete-network",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/networks/{networkId}/appWan-processes": {
            "get": {
                "tags": [
                    "networks"
                ],
                "summary": "Monitor the progress of an AppWAN modification.",
                "description": "Monitor the progress of a prior UPDATE to an AppWan. It returns an array of processing steps that an AppWan will go through when being created or updated.  The returned steps contain a current status (in progress, completed, etc.), reflecting the current state of that process-step.",
                "operationId": "find-appwan-processes",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-appWan-processes766456683"
                                },
                                "examples": {
                                    "find-appwan-processes": {
                                        "value": "[ {\n  \"businessKey\" : \"adee536b-e7c1-4f58-968e-a42a4711107a\",\n  \"processDefinitionKey\" : \"createAppwan\",\n  \"workFlowStatus\" : [ {\n    \"task\" : \"Started\",\n    \"status\" : \"InProgress\"\n  } ]\n} ]"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks/{networkId}/appWans": {
            "get": {
                "tags": [
                    "networks"
                ],
                "operationId": "get-all-app-wans-for-network-paged",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-appWans175155576"
                                },
                                "examples": {
                                    "get-all-app-wans-for-network-paged": {
                                        "value": "{\n  \"_embedded\" : {\n    \"appWans\" : [ {\n      \"createdAt\" : \"2020-05-29T11:56:11.568+0000\",\n      \"updatedAt\" : \"2020-05-29T21:56:11.568+0000\",\n      \"name\" : \"AppWan 01\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"ee8eca22-d7ea-42a8-9f92-6bfa2b732da9\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/5aba695e-e2fa-43b5-b9cd-c38e8390249d/appWans/ee8eca22-d7ea-42a8-9f92-6bfa2b732da9\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/5aba695e-e2fa-43b5-b9cd-c38e8390249d\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/5aba695e-e2fa-43b5-b9cd-c38e8390249d/appWans/ee8eca22-d7ea-42a8-9f92-6bfa2b732da9/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/5aba695e-e2fa-43b5-b9cd-c38e8390249d/appWans/ee8eca22-d7ea-42a8-9f92-6bfa2b732da9/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/5aba695e-e2fa-43b5-b9cd-c38e8390249d/appWans/ee8eca22-d7ea-42a8-9f92-6bfa2b732da9/services\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-05-29T11:56:11.569+0000\",\n      \"updatedAt\" : \"2020-05-29T21:56:11.569+0000\",\n      \"name\" : \"AppWan 02\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"5eb36b3d-1cb4-405c-a120-72d978949f73\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/5aba695e-e2fa-43b5-b9cd-c38e8390249d/appWans/5eb36b3d-1cb4-405c-a120-72d978949f73\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/5aba695e-e2fa-43b5-b9cd-c38e8390249d\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/5aba695e-e2fa-43b5-b9cd-c38e8390249d/appWans/5eb36b3d-1cb4-405c-a120-72d978949f73/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/5aba695e-e2fa-43b5-b9cd-c38e8390249d/appWans/5eb36b3d-1cb4-405c-a120-72d978949f73/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/5aba695e-e2fa-43b5-b9cd-c38e8390249d/appWans/5eb36b3d-1cb4-405c-a120-72d978949f73/services\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"first\" : {\n      \"href\" : \"http://localhost/networks/5aba695e-e2fa-43b5-b9cd-c38e8390249d/appWans?page=0,size=10,sort=name,asc\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    },
                                    "get-all-app-wans-for-network": {
                                        "value": "{\n  \"_embedded\" : {\n    \"appWans\" : [ {\n      \"createdAt\" : \"2020-05-29T11:56:11.831+0000\",\n      \"updatedAt\" : \"2020-05-29T21:56:11.831+0000\",\n      \"name\" : \"AppWan 01\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"1044776f-3d57-405c-bf30-a34370464303\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/2169e6c7-8f99-4aa6-b25d-7735e71165b4/appWans/1044776f-3d57-405c-bf30-a34370464303\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/2169e6c7-8f99-4aa6-b25d-7735e71165b4\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/2169e6c7-8f99-4aa6-b25d-7735e71165b4/appWans/1044776f-3d57-405c-bf30-a34370464303/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/2169e6c7-8f99-4aa6-b25d-7735e71165b4/appWans/1044776f-3d57-405c-bf30-a34370464303/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/2169e6c7-8f99-4aa6-b25d-7735e71165b4/appWans/1044776f-3d57-405c-bf30-a34370464303/services\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-05-29T11:56:11.832+0000\",\n      \"updatedAt\" : \"2020-05-29T21:56:11.832+0000\",\n      \"name\" : \"AppWan 02\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"2a0d1de2-3c52-4195-981e-f2f27128503f\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/2169e6c7-8f99-4aa6-b25d-7735e71165b4/appWans/2a0d1de2-3c52-4195-981e-f2f27128503f\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/2169e6c7-8f99-4aa6-b25d-7735e71165b4\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/2169e6c7-8f99-4aa6-b25d-7735e71165b4/appWans/2a0d1de2-3c52-4195-981e-f2f27128503f/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/2169e6c7-8f99-4aa6-b25d-7735e71165b4/appWans/2a0d1de2-3c52-4195-981e-f2f27128503f/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/2169e6c7-8f99-4aa6-b25d-7735e71165b4/appWans/2a0d1de2-3c52-4195-981e-f2f27128503f/services\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"first\" : {\n      \"href\" : \"http://localhost/networks/2169e6c7-8f99-4aa6-b25d-7735e71165b4/appWans?page=0,size=10,sort=name,asc\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "networks"
                ],
                "summary": "Initialize an empty AppWAN",
                "description": "Initialize an empty AppWAN for authorizations that will be added later.",
                "operationId": "create-app-wan",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-networkId-appWans751732740"
                            },
                            "examples": {
                                "create-app-wan": {
                                    "value": "{\n  \"name\" : \"Test AppWan Create\",\n  \"subscriptionId\" : \"d10a3e4f-e0bd-4fef-b3b0-d63c9b70b3f4\"\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-appWans-2073924989"
                                },
                                "examples": {
                                    "create-app-wan": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-29T11:56:11.958+0000\",\n  \"updatedAt\" : \"2020-05-29T21:56:11.958+0000\",\n  \"name\" : \"Test AppWan Create\",\n  \"networkId\" : null,\n  \"status\" : 300,\n  \"ownerIdentityId\" : null,\n  \"id\" : \"ae693fe0-f0d5-4f62-a28c-6250e7dc71a8\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks/9eede817-09fe-4ad4-bcf1-a8b3da679e1e/appWans/ae693fe0-f0d5-4f62-a28c-6250e7dc71a8\"\n    },\n    \"network\" : {\n      \"href\" : \"http://localhost/networks/9eede817-09fe-4ad4-bcf1-a8b3da679e1e\"\n    },\n    \"endpointGroups\" : {\n      \"href\" : \"http://localhost/networks/9eede817-09fe-4ad4-bcf1-a8b3da679e1e/appWans/ae693fe0-f0d5-4f62-a28c-6250e7dc71a8/endpointGroups\"\n    },\n    \"endpoints\" : {\n      \"href\" : \"http://localhost/networks/9eede817-09fe-4ad4-bcf1-a8b3da679e1e/appWans/ae693fe0-f0d5-4f62-a28c-6250e7dc71a8/endpoints\"\n    },\n    \"services\" : {\n      \"href\" : \"http://localhost/networks/9eede817-09fe-4ad4-bcf1-a8b3da679e1e/appWans/ae693fe0-f0d5-4f62-a28c-6250e7dc71a8/services\"\n    }\n  }\n}"
                                    },
                                    "create-app-wan-from-yaml": {
                                        "value": "{\n  \"businessKey\" : \"8e5595fb-5d66-4cfe-9391-aec906d91550\",\n  \"appWan\" : {\n    \"createdAt\" : \"2020-05-29T11:56:11.536+0000\",\n    \"updatedAt\" : \"2020-05-29T21:56:11.536+0000\",\n    \"name\" : \"Test AppWan\",\n    \"networkId\" : null,\n    \"status\" : 300,\n    \"ownerIdentityId\" : null,\n    \"id\" : \"b8da22a8-2e0d-4200-b025-09bc839d3945\",\n    \"_links\" : {\n      \"self\" : {\n        \"href\" : \"http://localhost/networks/8e5595fb-5d66-4cfe-9391-aec906d91550/appWans/b8da22a8-2e0d-4200-b025-09bc839d3945\"\n      },\n      \"network\" : {\n        \"href\" : \"http://localhost/networks/8e5595fb-5d66-4cfe-9391-aec906d91550\"\n      },\n      \"endpointGroups\" : {\n        \"href\" : \"http://localhost/networks/8e5595fb-5d66-4cfe-9391-aec906d91550/appWans/b8da22a8-2e0d-4200-b025-09bc839d3945/endpointGroups\"\n      },\n      \"endpoints\" : {\n        \"href\" : \"http://localhost/networks/8e5595fb-5d66-4cfe-9391-aec906d91550/appWans/b8da22a8-2e0d-4200-b025-09bc839d3945/endpoints\"\n      },\n      \"services\" : {\n        \"href\" : \"http://localhost/networks/8e5595fb-5d66-4cfe-9391-aec906d91550/appWans/b8da22a8-2e0d-4200-b025-09bc839d3945/services\"\n      }\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks/{networkId}/blueprint": {
            "get": {
                "tags": [
                    "networks"
                ],
                "operationId": "get-network-as-code",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/yml": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations-organizationId486549215"
                                },
                                "examples": {
                                    "get-network-as-code": {
                                        "value": "network:\n  name: Network12\n  productFamily: DVN\n  productVersion: 1.0.0-123\n  gateways: []\n  clients: []\n  endpointGroups: []\n  services: []\n  appWans: []\n  gatewayClusters: []\n"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks/{networkId}/cas": {
            "post": {
                "tags": [
                    "networks"
                ],
                "operationId": "create-certificate-authority",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
[...]
