{
    "openapi": "3.0.1",
    "info": {
        "title": "NetFoundry Public REST API",
        "description": "NetFoundry\u2019s web console and API are used to define networks by designing and instantly deploying AppWANs which are policies that describe how endpoints are permitted to access services. \n\nMost operations require an expiring auth token as described in [the authentication guide](https://developer.netfoundry.io/v1/guides/authentication/).\n\nYou may find more helpful guides, references, and tools to use with this API in the [NetFoundry Developer Portal](https://developer.netfoundry.io/).\n",
        "version": "0.0.3-SNAPSHOT"
    },
    "servers": [
        {
            "url": "https://gateway.production.netfoundry.io/rest/v1"
        },
        {
            "url": "https://gateway.staging.netfoundry.io/rest/v1"
        },
        {
            "url": "https://gateway.sandbox.netfoundry.io/rest/v1"
        }
    ],
    "paths": {
        "/azureSubscriptions": {
            "get": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "get-all-azure-subscriptions",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions1321751198"
                                },
                                "examples": {
                                    "get-all-azure-subscriptions": {
                                        "value": "{\n  \"_embedded\" : {\n    \"azureSubscriptions\" : [ {\n      \"name\" : \"AZ Sub 01\",\n      \"subscriptionId\" : \"f8eee2eb-4ed2-463a-bb55-f57d2c4e3984\",\n      \"tenantId\" : \"2d52e043-5d36-4323-9e0f-cf87001318dd\",\n      \"applicationId\" : \"2a503098-6765-47ac-bb3c-a5077eeae1b3\",\n      \"applicationKey\" : \"9e73c8ad-ac81-49c5-832a-cc01fd7c9991\",\n      \"organizationId\" : \"128b98b0-55e9-4de7-af38-46e9fb094025\",\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : \"2020-05-23T08:16:44.067+0000\",\n      \"updatedAt\" : \"2020-05-23T18:16:44.067+0000\",\n      \"id\" : \"1bd2e26a-6f3d-49bb-9ee9-0611c642399c\",\n      \"_links\" : {\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/638f0580-2253-49a9-b67c-397e496fbcb3\"\n        },\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/1bd2e26a-6f3d-49bb-9ee9-0611c642399c\"\n        },\n        \"resourceGroups\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/1bd2e26a-6f3d-49bb-9ee9-0611c642399c/resourceGroups\"\n        },\n        \"virtualWans\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/1bd2e26a-6f3d-49bb-9ee9-0611c642399c/virtualWans\"\n        }\n      }\n    }, {\n      \"name\" : \"AZ Sub 02\",\n      \"subscriptionId\" : \"8389fff4-1d3b-4b96-bcec-463bd0e32695\",\n      \"tenantId\" : \"000c56be-b66a-44e5-a9d2-d53d89a66706\",\n      \"applicationId\" : \"70cbb677-2252-4b64-9a1f-ea5a18d3a0fd\",\n      \"applicationKey\" : \"38524050-72fe-4f76-8cc0-0766ecbb7bfb\",\n      \"organizationId\" : \"d1c886ca-60b6-4509-af24-7889affe781b\",\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : \"2020-05-23T08:16:44.068+0000\",\n      \"updatedAt\" : \"2020-05-23T18:16:44.068+0000\",\n      \"id\" : \"74ddebd0-1f6a-4c77-a3e3-8fcd6d2528e8\",\n      \"_links\" : {\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/638f0580-2253-49a9-b67c-397e496fbcb3\"\n        },\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/74ddebd0-1f6a-4c77-a3e3-8fcd6d2528e8\"\n        },\n        \"resourceGroups\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/74ddebd0-1f6a-4c77-a3e3-8fcd6d2528e8/resourceGroups\"\n        },\n        \"virtualWans\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/74ddebd0-1f6a-4c77-a3e3-8fcd6d2528e8/virtualWans\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "create-azure-subscription",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/azureSubscriptions-1310085210"
                            },
                            "examples": {
                                "create-azure-subscription": {
                                    "value": "{\n  \"name\" : \"Test AZ Subscription 02\",\n  \"subscriptionId\" : \"7275a9e6-a853-4d61-a6b6-a4c593cc0a51\",\n  \"tenantId\" : \"4bc07cf8-51df-45e8-82e6-e1f4eeb4178a\",\n  \"applicationId\" : \"39a7396e-fdb0-4dd5-af5e-c9ddee5721cb\",\n  \"applicationKey\" : \"bf013102-a36e-44df-a38e-2726b7a8b322\"\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions1018328653"
                                },
                                "examples": {
                                    "create-azure-subscription": {
                                        "value": "{\n  \"name\" : \"Test AZ Subscription 02\",\n  \"subscriptionId\" : \"2bf26c1c-0847-4bbd-a93a-76857bcb33f5\",\n  \"tenantId\" : \"e93c412f-b4e5-42aa-83b2-6b0e0b4872f9\",\n  \"applicationId\" : \"957b9fa3-0aae-4c61-96a6-a26428274fa2\",\n  \"applicationKey\" : \"7e423dbd-884f-46e5-bc19-47559a7130f4\",\n  \"organizationId\" : \"0b847039-cc01-4833-9f69-ecc5047e53bd\",\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : \"2020-05-23T08:16:44.106+0000\",\n  \"updatedAt\" : \"2020-05-23T18:16:44.106+0000\",\n  \"id\" : \"4830b652-1c98-445e-83ec-87c18377ac33\",\n  \"_links\" : {\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/612569bd-a4cd-4882-8b7d-87632c0c9ebc\"\n    },\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4830b652-1c98-445e-83ec-87c18377ac33\"\n    },\n    \"resourceGroups\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4830b652-1c98-445e-83ec-87c18377ac33/resourceGroups\"\n    },\n    \"virtualWans\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4830b652-1c98-445e-83ec-87c18377ac33/virtualWans\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/azureSubscriptions/{azureSubscriptionId}": {
            "get": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "get-azure-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions1018328653"
                                },
                                "examples": {
                                    "get-azure-subscription": {
                                        "value": "{\n  \"name\" : \"Test AZ Subscription 01\",\n  \"subscriptionId\" : \"9f8c37ea-f59d-4020-a958-7bb6212fd70d\",\n  \"tenantId\" : \"8492e93d-fe77-43e9-a2f3-877df5a20e8c\",\n  \"applicationId\" : \"ed5447fa-e795-4ce8-876c-3a122b310fce\",\n  \"applicationKey\" : \"05bef0fb-0c3a-4cc9-b4c0-f98391a45a57\",\n  \"organizationId\" : \"c2d84e22-bd70-4c6a-8233-903e13b27b27\",\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : \"2020-05-23T08:16:44.161+0000\",\n  \"updatedAt\" : \"2020-05-23T18:16:44.161+0000\",\n  \"id\" : \"792c03fb-8c33-41be-b2c9-d5deed004188\",\n  \"_links\" : {\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/a86493fc-fae4-477f-aad0-52d431305f4f\"\n    },\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/792c03fb-8c33-41be-b2c9-d5deed004188\"\n    },\n    \"resourceGroups\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/792c03fb-8c33-41be-b2c9-d5deed004188/resourceGroups\"\n    },\n    \"virtualWans\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/792c03fb-8c33-41be-b2c9-d5deed004188/virtualWans\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "update-azure-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-networkId-endpointGroups-endpointGroupId-endpoints486549215"
                            },
                            "examples": {
                                "update-azure-subscription": {
                                    "value": "{\n  \"name\" : \"Test AZ Subscription 01\",\n  \"subscriptionId\" : \"ccc83d7d-ecdb-47b4-9268-707d28ee6f98\",\n  \"tenantId\" : \"da9a8ee1-6f19-403b-9ec3-dc103f54d44c\",\n  \"applicationId\" : \"e67ecc0e-ed95-4cae-b774-186b5d8902e5\",\n  \"applicationKey\" : \"6dbb0749-992a-4e00-ad1f-99cd2de7d2c6\",\n  \"organizationId\" : null,\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"id\" : null\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions1018328653"
                                },
                                "examples": {
                                    "update-azure-subscription": {
                                        "value": "{\n  \"name\" : \"Test AZ Subscription 01\",\n  \"subscriptionId\" : \"28352262-4e55-4853-aba7-8cd0cba980f7\",\n  \"tenantId\" : \"9cc32999-8943-4223-9421-a959b492f1c2\",\n  \"applicationId\" : \"de5411ef-8ec7-4aff-bbb0-e103acb1e7bd\",\n  \"applicationKey\" : \"fe342455-bb55-477a-9e3c-45e1ad43684a\",\n  \"organizationId\" : \"79fc346f-b29d-4b16-a9ba-9f7b10f2f579\",\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : \"2020-05-23T08:16:44.134+0000\",\n  \"updatedAt\" : \"2020-05-23T18:16:44.134+0000\",\n  \"id\" : \"3781ac31-b28d-43dd-b20a-1094b910f89a\",\n  \"_links\" : {\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/5b57168d-98a8-4091-9fe7-655309cd0ee0\"\n    },\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/3781ac31-b28d-43dd-b20a-1094b910f89a\"\n    },\n    \"resourceGroups\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/3781ac31-b28d-43dd-b20a-1094b910f89a/resourceGroups\"\n    },\n    \"virtualWans\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/3781ac31-b28d-43dd-b20a-1094b910f89a/virtualWans\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "delete-azure-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/azureSubscriptions/{azureSubscriptionId}/virtualWanSites": {
            "get": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "get-all-virtual-wan-sites-for-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions-azureSubscriptionId-virtualWanSites-670838162"
                                },
                                "examples": {
                                    "get-all-virtual-wan-sites-for-subscription": {
                                        "value": "{\n  \"_embedded\" : {\n    \"azureVirtualWanSites\" : [ {\n      \"azureId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/azsite01?api-version=2018-04-01\",\n      \"azureSubscriptionId\" : null,\n      \"azureResourceGroupName\" : \"resourceGroup01\",\n      \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n      \"publicIpAddress\" : \"8.8.8.8\",\n      \"bgp\" : false,\n      \"bgpPeeringAddress\" : null,\n      \"bgpASN\" : null,\n      \"bgpPeerWeight\" : null,\n      \"deviceLinkSpeed\" : 0,\n      \"deviceVendor\" : null,\n      \"deviceModel\" : null,\n      \"neighborPeers\" : null,\n      \"advertiseLocal\" : true,\n      \"advertisedPrefixes\" : null,\n      \"preSharedKey\" : null,\n      \"ipSecResponder01\" : null,\n      \"ipSecResponder02\" : null,\n      \"status\" : 0,\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"azsite01\",\n      \"azureVirtualWanName\" : \"wan1\",\n      \"deployable\" : false,\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/0a933d2c-0c49-4719-8674-e3601109478c\"\n        },\n        \"dataCenter\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/0a933d2c-0c49-4719-8674-e3601109478c/dataCenter\"\n        },\n        \"endpoint\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/0a933d2c-0c49-4719-8674-e3601109478c/endpoint\"\n        },\n        \"azureSubscription\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59\"\n        }\n      }\n    }, {\n      \"azureId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/azsite02?api-version=2018-04-01\",\n      \"azureSubscriptionId\" : null,\n      \"azureResourceGroupName\" : \"resourceGroup01\",\n      \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n      \"publicIpAddress\" : \"8.8.8.8\",\n      \"bgp\" : false,\n      \"bgpPeeringAddress\" : null,\n      \"bgpASN\" : null,\n      \"bgpPeerWeight\" : null,\n      \"deviceLinkSpeed\" : 0,\n      \"deviceVendor\" : null,\n      \"deviceModel\" : null,\n      \"neighborPeers\" : null,\n      \"advertiseLocal\" : true,\n      \"advertisedPrefixes\" : null,\n      \"preSharedKey\" : null,\n      \"ipSecResponder01\" : null,\n      \"ipSecResponder02\" : null,\n      \"status\" : 0,\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"azsite02\",\n      \"azureVirtualWanName\" : \"wan1\",\n      \"deployable\" : false,\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/a4554cdd-90be-4f5e-801e-0ca167854797\"\n        },\n        \"dataCenter\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/a4554cdd-90be-4f5e-801e-0ca167854797/dataCenter\"\n        },\n        \"endpoint\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/a4554cdd-90be-4f5e-801e-0ca167854797/endpoint\"\n        },\n        \"azureSubscription\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "create-azure-virtual-wan-site",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/azureSubscriptions-azureSubscriptionId-virtualWanSites1393634693"
                            },
                            "examples": {
                                "create-azure-virtual-wan-site": {
                                    "value": "{\n  \"name\" : \"azsite01\",\n  \"endpointId\" : \"4f02de0c-2969-493c-b36b-654143f16c81\",\n  \"dataCenterId\" : \"ead775f3-bacd-4a54-8318-00c8f7616cb5\",\n  \"azureSubscriptionId\" : null,\n  \"azureResourceGroupName\" : \"resourceGroup01\",\n  \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n  \"publicIpAddress\" : \"8.8.8.8\",\n  \"bgp\" : {\n    \"localPeeringAddress\" : {\n      \"ipAddress\" : \"192.168.0.1\",\n      \"asn\" : 64515\n    },\n    \"bgpPeerWeight\" : null,\n    \"deviceLinkSpeed\" : null,\n    \"deviceVendor\" : null,\n    \"deviceModel\" : null,\n    \"neighborPeers\" : [ {\n      \"ipAddress\" : \"192.168.0.2\",\n      \"asn\" : 64513\n    }, {\n      \"ipAddress\" : \"192.168.0.3\",\n      \"asn\" : 64514\n    } ],\n    \"advertiseLocal\" : true,\n    \"advertisedPrefixes\" : [ \"10.0.0.0/24\" ]\n  }\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions-azureSubscriptionId-virtualWanSites1859069655"
                                },
                                "examples": {
                                    "create-azure-virtual-wan-site": {
                                        "value": "{\n  \"azureId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/azsite01?api-version=2018-04-01\",\n  \"azureSubscriptionId\" : null,\n  \"azureResourceGroupName\" : \"resourceGroup01\",\n  \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n  \"publicIpAddress\" : \"8.8.8.8\",\n  \"bgp\" : false,\n  \"bgpPeeringAddress\" : null,\n  \"bgpASN\" : null,\n  \"bgpPeerWeight\" : null,\n  \"deviceLinkSpeed\" : 0,\n  \"deviceVendor\" : null,\n  \"deviceModel\" : null,\n  \"neighborPeers\" : null,\n  \"advertiseLocal\" : true,\n  \"advertisedPrefixes\" : null,\n  \"preSharedKey\" : null,\n  \"ipSecResponder01\" : null,\n  \"ipSecResponder02\" : null,\n  \"status\" : 0,\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"azsite01\",\n  \"azureVirtualWanName\" : \"wan1\",\n  \"deployable\" : false,\n  \"id\" : null,\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/c5d0c0cb-3055-42a7-88d6-42f0c2719cc2\"\n    },\n    \"dataCenter\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/c5d0c0cb-3055-42a7-88d6-42f0c2719cc2/dataCenter\"\n    },\n    \"endpoint\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/c5d0c0cb-3055-42a7-88d6-42f0c2719cc2/endpoint\"\n    },\n    \"azureSubscription\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/azureSubscriptions/{azureSubscriptionId}/virtualWanSites/{siteId}": {
            "delete": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "delete-azure-virtual-wan-site",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "the id of the Azure vWAN VPN site",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/dataCenters": {
            "get": {
                "tags": [
                    "dataCenters"
                ],
                "operationId": "get-data-center-by-location-code",
                "parameters": [
                    {
                        "name": "locationCode",
                        "in": "query",
                        "description": "the locationCode by which to filter data centers",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/dataCenters2066924366"
                                },
                                "examples": {
                                    "get-data-center-by-location-code": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-23T08:16:46.914+0000\",\n  \"updatedAt\" : \"2020-05-23T18:16:46.914+0000\",\n  \"name\" : \"dc01\",\n  \"address\" : \"123 That Street\",\n  \"city\" : \"Nashville\",\n  \"stateCode\" : \"TN\",\n  \"stateName\" : \"Great State\",\n  \"continentName\" : \"North America\",\n  \"continentCode\" : \"NA\",\n  \"countryName\" : \"United States\",\n  \"countryCode\" : \"US\",\n  \"isp\" : \"aws\",\n  \"lat\" : 1.0,\n  \"lng\" : 2.0,\n  \"locationCode\" : \"us-east-2a\",\n  \"locationName\" : \"us-east-2\",\n  \"provider\" : \"aws\",\n  \"id\" : null,\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/dataCenters/0bf90fb0-e2d6-4b43-8364-9d6d3ae8bb15\"\n    },\n    \"geoRegions\" : {\n      \"href\" : \"http://localhost/dataCenters/0bf90fb0-e2d6-4b43-8364-9d6d3ae8bb15/geoRegions\"\n    }\n  }\n}"
                                    },
                                    "get-data-centers": {
                                        "value": "{\n  \"_embedded\" : {\n    \"dataCenters\" : [ {\n      \"createdAt\" : \"2020-05-23T08:16:46.824+0000\",\n      \"updatedAt\" : \"2020-05-23T18:16:46.824+0000\",\n      \"name\" : \"dc01\",\n      \"address\" : \"123 That Street\",\n      \"city\" : \"Nashville\",\n      \"stateCode\" : \"TN\",\n      \"stateName\" : \"Great State\",\n      \"continentName\" : \"North America\",\n      \"continentCode\" : \"NA\",\n      \"countryName\" : \"United States\",\n      \"countryCode\" : \"US\",\n      \"isp\" : \"aws\",\n      \"lat\" : 1.0,\n      \"lng\" : 2.0,\n      \"locationCode\" : \"us-east-1b\",\n      \"locationName\" : \"us-east-1\",\n      \"provider\" : \"aws\",\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/dataCenters/d9d41312-a3e3-463b-952a-2093877f9cd9\"\n        },\n        \"geoRegions\" : {\n          \"href\" : \"http://localhost/dataCenters/d9d41312-a3e3-463b-952a-2093877f9cd9/geoRegions\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-05-23T08:16:46.824+0000\",\n      \"updatedAt\" : \"2020-05-23T18:16:46.824+0000\",\n      \"name\" : \"dc01\",\n      \"address\" : \"123 That Street\",\n      \"city\" : \"Nashville\",\n      \"stateCode\" : \"TN\",\n      \"stateName\" : \"Great State\",\n      \"continentName\" : \"North America\",\n      \"continentCode\" : \"NA\",\n      \"countryName\" : \"United States\",\n      \"countryCode\" : \"US\",\n      \"isp\" : \"aws\",\n      \"lat\" : 1.0,\n      \"lng\" : 2.0,\n      \"locationCode\" : \"us-east-2c\",\n      \"locationName\" : \"us-east-2\",\n      \"provider\" : \"aws\",\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/dataCenters/2def063c-b986-4739-8718-9dd9a53db30e\"\n        },\n        \"geoRegions\" : {\n          \"href\" : \"http://localhost/dataCenters/2def063c-b986-4739-8718-9dd9a53db30e/geoRegions\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/dataCenters\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dataCenters/{dataCenterId}": {
            "get": {
                "tags": [
                    "dataCenters"
                ],
                "operationId": "get-data-center-by-id",
                "parameters": [
                    {
                        "name": "dataCenterId",
                        "in": "path",
                        "description": "the id of the data center",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/dataCenters-dataCenterId-1060459100"
                                },
                                "examples": {
                                    "get-data-center-by-id": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-23T08:16:46.892+0000\",\n  \"updatedAt\" : \"2020-05-23T18:16:46.892+0000\",\n  \"name\" : \"dc01\",\n  \"address\" : \"123 That Street\",\n  \"city\" : \"Nashville\",\n  \"stateCode\" : \"TN\",\n  \"stateName\" : \"Great State\",\n  \"continentName\" : \"North America\",\n  \"continentCode\" : \"NA\",\n  \"countryName\" : \"United States\",\n  \"countryCode\" : \"US\",\n  \"isp\" : \"aws\",\n  \"lat\" : 1.0,\n  \"lng\" : 2.0,\n  \"locationCode\" : \"us-east-1a\",\n  \"locationName\" : \"us-east-1\",\n  \"provider\" : \"aws\",\n  \"id\" : null,\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/dataCenters/d8fb45e6-9e36-4fef-8fd1-adb459a1f631\"\n    },\n    \"geoRegions\" : {\n      \"href\" : \"http://localhost/dataCenters/d8fb45e6-9e36-4fef-8fd1-adb459a1f631/geoRegions\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/elastic/ncentityevent/{orgId}/_search/": {
            "post": {
                "tags": [
                    "elastic"
                ],
                "operationId": "search",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "description": "the id of the network group",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-networkId-endpointGroups-endpointGroupId-endpoints486549215"
                            },
                            "examples": {
                                "search": {
                                    "value": "{\n  \"query\" : {\n    \"bool\" : {\n      \"must\" : [ {\n        \"query_string\" : {\n          \"query\" : \"*\",\n          \"analyze_wildcard\" : true\n        }\n      }, {\n        \"match_phrase\" : {\n          \"tags.keyword\" : {\n            \"query\" : \"customer\"\n          }\n        }\n      }, {\n        \"range\" : {\n          \"@timestamp\" : {\n            \"gte\" : 1493587166000,\n            \"lte\" : 1525123166533,\n            \"format\" : \"epoch_millis\"\n          }\n        }\n      }, {\n        \"match_phrase\" : {\n          \"networkId\" : {\n            \"query\" : \"5d4a71e3-d676-4c37-8af8-46604f0352d1\"\n          }\n        }\n      } ],\n      \"must_not\" : [ {\n        \"match_phrase\" : {\n          \"changeType\" : {\n            \"query\" : \"soft\"\n          }\n        }\n      } ]\n    }\n  },\n  \"size\" : 500,\n  \"sort\" : [ {\n    \"@timestamp\" : {\n      \"order\" : \"desc\",\n      \"unmapped_type\" : \"boolean\"\n    }\n  } ],\n  \"_source\" : {\n    \"excludes\" : [ ]\n  }\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/elastic-ncentityevent-orgId-_search-2011801923"
                                },
                                "examples": {
                                    "search": {
                                        "value": "{\n  \"took\" : 3727,\n  \"timed_out\" : false,\n  \"_shards\" : {\n    \"total\" : 1666,\n    \"successful\" : 1666,\n    \"skipped\" : 1636,\n    \"failed\" : 0\n  },\n  \"hits\" : {\n    \"total\" : 0,\n    \"max_score\" : \"null\",\n    \"hits\" : [ ]\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/geoRegions": {
            "get": {
                "tags": [
                    "geoRegions"
                ],
                "operationId": "get-geo-regions",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/geoRegions-446812573"
                                },
                                "examples": {
                                    "get-geo-regions": {
                                        "value": "{\n  \"_embedded\" : {\n    \"geoRegions\" : [ {\n      \"createdAt\" : \"2020-05-23T08:16:08.057+0000\",\n      \"updatedAt\" : \"2020-05-23T18:16:08.057+0000\",\n      \"name\" : \"Geo Region 01\",\n      \"id\" : \"9bbca6aa-767c-4c48-b4ab-dac0ead018fc\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/geoRegions/9bbca6aa-767c-4c48-b4ab-dac0ead018fc\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-05-23T08:16:08.057+0000\",\n      \"updatedAt\" : \"2020-05-23T18:16:08.057+0000\",\n      \"name\" : \"Geo Region 02\",\n      \"id\" : \"9bbca6aa-767c-4c48-b4ab-dac0ead018fc\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/geoRegions/9bbca6aa-767c-4c48-b4ab-dac0ead018fc\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/geoRegions\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/geoRegions/{geoRegionId}": {
            "get": {
                "tags": [
                    "geoRegions"
                ],
                "operationId": "get-geo-region-by-id",
                "parameters": [
                    {
                        "name": "geoRegionId",
                        "in": "path",
                        "description": "the id of the geographic region",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/geoRegions-geoRegionId-1492212157"
                                },
                                "examples": {
                                    "get-geo-region-by-id": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-23T08:16:07.948+0000\",\n  \"updatedAt\" : \"2020-05-23T18:16:07.948+0000\",\n  \"name\" : \"Geo Region 01\",\n  \"id\" : \"9bbca6aa-767c-4c48-b4ab-dac0ead018fc\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/geoRegions/9bbca6aa-767c-4c48-b4ab-dac0ead018fc\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hosts": {
            "get": {
                "tags": [
                    "hosts"
                ],
                "operationId": "get-hosts-for-network",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/hosts-1480010628"
                                },
                                "examples": {
                                    "get-hosts-for-network": {
                                        "value": "{\n  \"_embedded\" : {\n    \"hosts\" : [ {\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"Host 1\",\n      \"networkId\" : \"cc211aea-626d-4984-8168-92c4c887f2a0\",\n      \"hostType\" : \"NC\",\n      \"primaryIpAddress\" : \"10.0.0.0\",\n      \"memGb\" : 0,\n      \"numCpu\" : 0,\n      \"model\" : null,\n      \"os\" : null,\n      \"providerId\" : \"i-1234\",\n      \"providerName\" : null,\n      \"userData\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"6c98075a-8fc8-4065-be2f-29a555a6ea1f\"\n    } ]\n  },\n  \"_links\" : {\n    \"network\" : {\n      \"href\" : \"http://localhost/networks/cc211aea-626d-4984-8168-92c4c887f2a0\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hosts/{hostId}": {
            "get": {
                "tags": [
                    "hosts"
                ],
                "operationId": "get-host",
                "parameters": [
                    {
                        "name": "hostId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/hosts-hostId-1233713338"
                                },
                                "examples": {
                                    "get-host": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"Host 1\",\n  \"networkId\" : \"5240aa0e-350a-467a-bbb8-291a81b98e76\",\n  \"hostType\" : \"NC\",\n  \"primaryIpAddress\" : \"10.0.0.0\",\n  \"memGb\" : 0,\n  \"numCpu\" : 0,\n  \"model\" : null,\n  \"os\" : null,\n  \"providerId\" : \"i-1234\",\n  \"providerName\" : null,\n  \"userData\" : null,\n  \"status\" : 300,\n  \"ownerIdentityId\" : null,\n  \"id\" : \"5594630a-fe76-4d13-bdc1-3f58b12836c3\",\n  \"_links\" : {\n    \"network\" : {\n      \"href\" : \"http://localhost/networks/5240aa0e-350a-467a-bbb8-291a81b98e76\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/network-processes": {
            "get": {
                "tags": [
                    "network-processes"
                ],
                "operationId": "find-network-processes",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/network-processes-393734757"
                                },
                                "examples": {
                                    "find-network-processes": {
                                        "value": "[ {\n  \"businessKey\" : \"5435e122-de2f-49a6-ad08-ab015b2d771d\",\n  \"processDefinitionKey\" : \"createNetworkFromDepotAsync\",\n  \"processInstanceId\" : 123,\n  \"workFlowStatus\" : [ {\n    \"task\" : \"Started\",\n    \"status\" : \"InProgress\",\n    \"calledProcessInstanceId\" : null\n  } ]\n} ]"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/network-processes/{businessKey}": {
            "get": {
                "tags": [
                    "network-processes"
                ],
                "operationId": "get-network-processes",
                "parameters": [
                    {
                        "name": "businessKey",
                        "in": "path",
                        "description": "the business key to filter",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/network-processes-393734757"
                                },
                                "examples": {
                                    "get-network-processes": {
                                        "value": "[ {\n  \"businessKey\" : \"64abaa3d-5ff4-4b2f-baaa-469b21d6d899\",\n  \"processDefinitionKey\" : \"createNetworkFromDepotAsync\",\n  \"processInstanceId\" : 123,\n  \"workFlowStatus\" : [ {\n    \"task\" : \"Started\",\n    \"status\" : \"InProgress\",\n    \"calledProcessInstanceId\" : null\n  } ]\n} ]"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networkConfigMetadata": {
            "get": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "operationId": "find-network-config-metadata",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkConfigMetadata-1344539778"
                                },
                                "examples": {
                                    "find-network-config-metadata": {
                                        "value": "{\n  \"_embedded\" : {\n    \"networkConfigMetadatas\" : [ {\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"small\",\n      \"awsNetworkControllerSize\" : null,\n      \"awsGatewaySize\" : null,\n      \"awsTransferNodeSize\" : null,\n      \"azureTransferNodeSize\" : null,\n      \"alicloudTransferNodeSize\" : null,\n      \"gcpTransferNodeSize\" : null,\n      \"networkControllerVolumeSize\" : 0,\n      \"transferNodeVolumeSize\" : 0,\n      \"gatewayVolumeSize\" : 0,\n      \"id\" : \"9dccf59e-ac58-454f-872c-187754611604\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/9dccf59e-ac58-454f-872c-187754611604\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "operationId": "create-network-config-metadata",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networkConfigMetadata-networkConfigMetadataId-1781842714"
                            },
                            "examples": {
                                "create-network-config-metadata": {
                                    "value": "{\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : \"T2Medium\",\n  \"awsGatewaySize\" : \"T2Large\",\n  \"awsTransferNodeSize\" : \"T2Large\",\n  \"azureTransferNodeSize\" : \"T2Large\",\n  \"alicloudTransferNodeSize\" : \"T2Large\",\n  \"gcpTransferNodeSize\" : \"T2Large\",\n  \"networkControllerVolumeSize\" : 20,\n  \"transferNodeVolumeSize\" : 10,\n  \"gatewayVolumeSize\" : 10\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-networkConfigMetadata-299031831"
                                },
                                "examples": {
                                    "create-network-config-metadata": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : null,\n  \"awsGatewaySize\" : null,\n  \"awsTransferNodeSize\" : null,\n  \"azureTransferNodeSize\" : null,\n  \"alicloudTransferNodeSize\" : null,\n  \"gcpTransferNodeSize\" : null,\n  \"networkControllerVolumeSize\" : 0,\n  \"transferNodeVolumeSize\" : 0,\n  \"gatewayVolumeSize\" : 0,\n  \"id\" : \"35a6d936-cbeb-4fd0-bc94-d304dc2045de\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/35a6d936-cbeb-4fd0-bc94-d304dc2045de\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networkConfigMetadata/{networkConfigMetadataId}": {
            "get": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "operationId": "get-network-config-metadata",
                "parameters": [
                    {
                        "name": "networkConfigMetadataId",
                        "in": "path",
                        "description": "the id of the configuration",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-networkConfigMetadata-299031831"
                                },
                                "examples": {
                                    "get-network-config-metadata": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : null,\n  \"awsGatewaySize\" : null,\n  \"awsTransferNodeSize\" : null,\n  \"azureTransferNodeSize\" : null,\n  \"alicloudTransferNodeSize\" : null,\n  \"gcpTransferNodeSize\" : null,\n  \"networkControllerVolumeSize\" : 0,\n  \"transferNodeVolumeSize\" : 0,\n  \"gatewayVolumeSize\" : 0,\n  \"id\" : \"10ea6e7b-3665-4e87-932a-183a1624fd3f\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/10ea6e7b-3665-4e87-932a-183a1624fd3f\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "operationId": "update-network-config-metadata",
                "parameters": [
                    {
                        "name": "networkConfigMetadataId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networkConfigMetadata-networkConfigMetadataId-1781842714"
                            },
                            "examples": {
                                "update-network-config-metadata": {
                                    "value": "{\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : \"T2Medium\",\n  \"awsGatewaySize\" : \"T2Large\",\n  \"awsTransferNodeSize\" : \"T2Large\",\n  \"azureTransferNodeSize\" : \"T2Large\",\n  \"alicloudTransferNodeSize\" : \"T2Large\",\n  \"gcpTransferNodeSize\" : \"T2Large\",\n  \"networkControllerVolumeSize\" : 20,\n  \"transferNodeVolumeSize\" : 10,\n  \"gatewayVolumeSize\" : 10\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-networkConfigMetadata-299031831"
                                },
                                "examples": {
                                    "update-network-config-metadata": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : null,\n  \"awsGatewaySize\" : null,\n  \"awsTransferNodeSize\" : null,\n  \"azureTransferNodeSize\" : null,\n  \"alicloudTransferNodeSize\" : null,\n  \"gcpTransferNodeSize\" : null,\n  \"networkControllerVolumeSize\" : 0,\n  \"transferNodeVolumeSize\" : 0,\n  \"gatewayVolumeSize\" : 0,\n  \"id\" : \"9b2116a3-4c8b-41c4-a548-34b97c5313ca\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/9b2116a3-4c8b-41c4-a548-34b97c5313ca\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "operationId": "delete-network-config-metadata",
                "parameters": [
                    {
                        "name": "networkConfigMetadataId",
                        "in": "path",
                        "description": "the id of the configuration",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/networkgroups/{networkGroupId}/endpoints": {
            "get": {
                "tags": [
                    "networkgroups"
                ],
                "operationId": "get-all-endpoints-for-network-group",
                "parameters": [
                    {
                        "name": "networkGroupId",
                        "in": "path",
                        "description": "the id of the network group for which to get endpoints",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkgroups-networkGroupId-endpoints-592200708"
                                },
                                "examples": {
                                    "get-all-endpoints-for-network-group": {
                                        "value": "{\n  \"_embedded\" : {\n    \"endpoints\" : [ {\n      \"createdAt\" : \"2020-05-23T08:16:52.362+0000\",\n      \"updatedAt\" : \"2020-05-23T18:16:52.362+0000\",\n      \"name\" : \"Endpoint 01\",\n      \"networkId\" : null,\n      \"endpointType\" : \"GW\",\n      \"clientType\" : \"\",\n      \"clientVersion\" : \"\",\n      \"source\" : null,\n      \"syncId\" : null,\n      \"registrationKey\" : \"regKey value\",\n      \"registrationAttemptsLeft\" : 5,\n      \"status\" : 100,\n      \"currentState\" : 100,\n      \"stateLastUpdated\" : null,\n      \"endpointProtectionRole\" : null,\n      \"haEndpointType\" : \"HAGW\",\n      \"o365BreakoutNextHopIp\" : null,\n      \"gatewayClusterId\" : null,\n      \"clientMfaEnable\" : \"NO\",\n      \"ownerIdentityId\" : null,\n      \"countryId\" : null,\n      \"geoRegionId\" : null,\n      \"dataCenterId\" : null,\n      \"sessionIdentityId\" : null,\n      \"id\" : \"4c879a04-1254-4795-a957-4bc8179b0fc1\",\n      \"componentId\" : \"\"\n    }, {\n      \"createdAt\" : \"2020-05-23T08:16:52.362+0000\",\n      \"updatedAt\" : \"2020-05-23T18:16:52.362+0000\",\n      \"name\" : \"Endpoint 02\",\n      \"networkId\" : null,\n      \"endpointType\" : \"GW\",\n      \"clientType\" : \"\",\n      \"clientVersion\" : \"\",\n      \"source\" : null,\n      \"syncId\" : null,\n      \"registrationKey\" : \"regKey value\",\n      \"registrationAttemptsLeft\" : 5,\n      \"status\" : 100,\n      \"currentState\" : 100,\n      \"stateLastUpdated\" : null,\n      \"endpointProtectionRole\" : null,\n      \"haEndpointType\" : \"HAGW\",\n      \"o365BreakoutNextHopIp\" : null,\n      \"gatewayClusterId\" : null,\n      \"clientMfaEnable\" : \"NO\",\n      \"ownerIdentityId\" : null,\n      \"countryId\" : null,\n      \"geoRegionId\" : null,\n      \"dataCenterId\" : null,\n      \"sessionIdentityId\" : null,\n      \"id\" : \"c6ad2d8c-65e3-49ee-be62-425ac0f717c8\",\n      \"componentId\" : \"\"\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networkgroups/ee04c1bb-eb97-4440-8eb1-de6db0247005/endpoints\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networkgroups/{networkGroupId}/services": {
            "get": {
                "tags": [
                    "networkgroups"
                ],
                "operationId": "get-all-services-for-network-group",
                "parameters": [
                    {
                        "name": "networkGroupId",
                        "in": "path",
                        "description": "the id of the network group",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkgroups-networkGroupId-services-1977395650"
                                },
                                "examples": {
                                    "get-all-services-for-network-group": {
                                        "value": "{\n  \"_embedded\" : {\n    \"services\" : [ {\n      \"serviceClass\" : \"CS\",\n      \"serviceInterceptType\" : null,\n      \"serviceType\" : null,\n      \"lowLatency\" : null,\n      \"dataInterleaving\" : null,\n      \"transparency\" : null,\n      \"localNetworkGateway\" : null,\n      \"multicast\" : null,\n      \"dnsOptions\" : null,\n      \"icmpTunnel\" : null,\n      \"cryptoLevel\" : null,\n      \"permanentConnection\" : null,\n      \"collectionLocation\" : null,\n      \"pbrType\" : null,\n      \"rateSmoothing\" : null,\n      \"networkIp\" : null,\n      \"networkNetmask\" : null,\n      \"networkFirstPort\" : 0,\n      \"networkLastPort\" : 0,\n      \"interceptIp\" : null,\n      \"interceptDnsHostname\" : null,\n      \"interceptDnsPort\" : 0,\n      \"interceptFirstPort\" : 0,\n      \"interceptLastPort\" : 0,\n      \"gatewayIp\" : null,\n      \"gatewayCidrBlock\" : 0,\n      \"netflowIndex\" : 0,\n      \"profileIndex\" : 0,\n      \"o365Conflict\" : false,\n      \"status\" : 0,\n      \"protectionGroupId\" : null,\n      \"portInterceptMode\" : null,\n      \"endpointId\" : null,\n      \"gatewayClusterId\" : null,\n      \"networkId\" : null,\n      \"ownerIdentityId\" : null,\n      \"interceptIncludePorts\" : null,\n      \"interceptExcludePorts\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"Service 01\",\n      \"gatewayNetmask\" : \"\",\n      \"interceptPorts\" : {\n        \"include\" : [ ],\n        \"exclude\" : [ ]\n      },\n      \"id\" : null\n    }, {\n      \"serviceClass\" : \"CS\",\n      \"serviceInterceptType\" : null,\n      \"serviceType\" : null,\n      \"lowLatency\" : null,\n      \"dataInterleaving\" : null,\n      \"transparency\" : null,\n      \"localNetworkGateway\" : null,\n      \"multicast\" : null,\n      \"dnsOptions\" : null,\n      \"icmpTunnel\" : null,\n      \"cryptoLevel\" : null,\n      \"permanentConnection\" : null,\n      \"collectionLocation\" : null,\n      \"pbrType\" : null,\n      \"rateSmoothing\" : null,\n      \"networkIp\" : null,\n      \"networkNetmask\" : null,\n      \"networkFirstPort\" : 0,\n      \"networkLastPort\" : 0,\n      \"interceptIp\" : null,\n      \"interceptDnsHostname\" : null,\n      \"interceptDnsPort\" : 0,\n      \"interceptFirstPort\" : 0,\n      \"interceptLastPort\" : 0,\n      \"gatewayIp\" : null,\n      \"gatewayCidrBlock\" : 0,\n      \"netflowIndex\" : 0,\n      \"profileIndex\" : 0,\n      \"o365Conflict\" : false,\n      \"status\" : 0,\n      \"protectionGroupId\" : null,\n      \"portInterceptMode\" : null,\n      \"endpointId\" : null,\n      \"gatewayClusterId\" : null,\n      \"networkId\" : null,\n      \"ownerIdentityId\" : null,\n      \"interceptIncludePorts\" : null,\n      \"interceptExcludePorts\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"Service 02\",\n      \"gatewayNetmask\" : \"\",\n      \"interceptPorts\" : {\n        \"include\" : [ ],\n        \"exclude\" : [ ]\n      },\n      \"id\" : null\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networkgroups/20e4a110-aa41-44d3-9dce-06ba4eac2bb4/services\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks": {
            "get": {
                "tags": [
                    "networks"
                ],
                "summary": "this is a shorter summary",
                "description": "this is a longer description with **commonmark** support",
                "operationId": "get-all-networks-paged",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks256777470"
                                },
                                "examples": {
                                    "get-all-networks-paged": {
                                        "value": "{\n  \"_embedded\" : {\n    \"networks\" : [ {\n      \"createdAt\" : \"2020-05-23T08:16:17.570+0000\",\n      \"updatedAt\" : \"2020-05-23T18:16:17.570+0000\",\n      \"name\" : \"Test Network 01\",\n      \"caName\" : \"CA_5c359e63-2a65-4ce5-8222-a10864cecbf5\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"42a54a49-13ca-4fc1-aad0-04c7add739d3\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"98576e27-5842-4feb-97dc-f3a77b3d3926\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/98576e27-5842-4feb-97dc-f3a77b3d3926\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/42a54a49-13ca-4fc1-aad0-04c7add739d3\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/98576e27-5842-4feb-97dc-f3a77b3d3926/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/98576e27-5842-4feb-97dc-f3a77b3d3926/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/98576e27-5842-4feb-97dc-f3a77b3d3926/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/98576e27-5842-4feb-97dc-f3a77b3d3926/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/98576e27-5842-4feb-97dc-f3a77b3d3926/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/98576e27-5842-4feb-97dc-f3a77b3d3926/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/98576e27-5842-4feb-97dc-f3a77b3d3926/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/98576e27-5842-4feb-97dc-f3a77b3d3926/networkConfigMetadata\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-05-23T08:16:17.571+0000\",\n      \"updatedAt\" : \"2020-05-23T18:16:17.571+0000\",\n      \"name\" : \"Test Network 02\",\n      \"caName\" : \"CA_0b699f02-4e7f-4049-8f8c-8de8718440d3\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"42a54a49-13ca-4fc1-aad0-04c7add739d3\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"2b3fc94f-7f82-4462-8405-4972e2e01ae5\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/2b3fc94f-7f82-4462-8405-4972e2e01ae5\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/42a54a49-13ca-4fc1-aad0-04c7add739d3\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/2b3fc94f-7f82-4462-8405-4972e2e01ae5/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/2b3fc94f-7f82-4462-8405-4972e2e01ae5/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/2b3fc94f-7f82-4462-8405-4972e2e01ae5/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/2b3fc94f-7f82-4462-8405-4972e2e01ae5/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/2b3fc94f-7f82-4462-8405-4972e2e01ae5/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/2b3fc94f-7f82-4462-8405-4972e2e01ae5/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/2b3fc94f-7f82-4462-8405-4972e2e01ae5/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/2b3fc94f-7f82-4462-8405-4972e2e01ae5/networkConfigMetadata\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks?page=0,size=10,sort=name,asc\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    },
                                    "get-all-networks": {
                                        "value": "{\n  \"_embedded\" : {\n    \"networks\" : [ {\n      \"createdAt\" : \"2020-05-23T08:16:17.409+0000\",\n      \"updatedAt\" : \"2020-05-23T18:16:17.409+0000\",\n      \"name\" : \"Test Network 01\",\n      \"caName\" : \"CA_c3aadcd4-398d-45a4-9e4f-1350965a46bc\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"fa5dcfe2-64e1-4034-93f8-72fb6f3a222d\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"2c2e58d4-33fc-4934-bdd1-1f08daa53c86\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/2c2e58d4-33fc-4934-bdd1-1f08daa53c86\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/fa5dcfe2-64e1-4034-93f8-72fb6f3a222d\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/2c2e58d4-33fc-4934-bdd1-1f08daa53c86/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/2c2e58d4-33fc-4934-bdd1-1f08daa53c86/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/2c2e58d4-33fc-4934-bdd1-1f08daa53c86/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/2c2e58d4-33fc-4934-bdd1-1f08daa53c86/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/2c2e58d4-33fc-4934-bdd1-1f08daa53c86/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/2c2e58d4-33fc-4934-bdd1-1f08daa53c86/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/2c2e58d4-33fc-4934-bdd1-1f08daa53c86/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/2c2e58d4-33fc-4934-bdd1-1f08daa53c86/networkConfigMetadata\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-05-23T08:16:17.410+0000\",\n      \"updatedAt\" : \"2020-05-23T18:16:17.410+0000\",\n      \"name\" : \"Test Network 02\",\n      \"caName\" : \"CA_981d5a47-dde8-468d-b8f8-8b21a446c3ae\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"fa5dcfe2-64e1-4034-93f8-72fb6f3a222d\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"7a3eb7ac-c504-4f96-a4ee-6eebf34c0220\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/7a3eb7ac-c504-4f96-a4ee-6eebf34c0220\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/fa5dcfe2-64e1-4034-93f8-72fb6f3a222d\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/7a3eb7ac-c504-4f96-a4ee-6eebf34c0220/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/7a3eb7ac-c504-4f96-a4ee-6eebf34c0220/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/7a3eb7ac-c504-4f96-a4ee-6eebf34c0220/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/7a3eb7ac-c504-4f96-a4ee-6eebf34c0220/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/7a3eb7ac-c504-4f96-a4ee-6eebf34c0220/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/7a3eb7ac-c504-4f96-a4ee-6eebf34c0220/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/7a3eb7ac-c504-4f96-a4ee-6eebf34c0220/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/7a3eb7ac-c504-4f96-a4ee-6eebf34c0220/networkConfigMetadata\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "networks"
                ],
                "operationId": "create-network",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks761588672"
                            },
                            "examples": {
                                "create-network": {
                                    "value": "{\n  \"name\" : \"Test Network 01\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"networkConfigName\" : \"medium\",\n  \"locationCode\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"subscriptionId\" : null\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-582637379"
                                },
                                "examples": {
                                    "create-network": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-23T08:16:17.272+0000\",\n  \"updatedAt\" : \"2020-05-23T18:16:17.272+0000\",\n  \"name\" : \"Test Network 01\",\n  \"caName\" : \"CA_5e5a5e49-61c7-4803-bf1f-589f729bbb33\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"provisionedAt\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : null,\n  \"mfaIssuerId\" : null,\n  \"status\" : 100,\n  \"organizationId\" : \"58317a6f-faa4-4183-81d9-407c814a9274\",\n  \"ownerIdentityId\" : null,\n  \"networkConfigMetadataId\" : null,\n  \"id\" : \"71d25699-a83f-483e-a894-8ba3e09f606b\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks/71d25699-a83f-483e-a894-8ba3e09f606b\"\n    },\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/58317a6f-faa4-4183-81d9-407c814a9274\"\n    },\n    \"networkControllerHosts\" : {\n      \"href\" : \"http://localhost/networks/71d25699-a83f-483e-a894-8ba3e09f606b/networkControllerHosts\"\n    },\n    \"endpoints\" : {\n      \"href\" : \"http://localhost/networks/71d25699-a83f-483e-a894-8ba3e09f606b/endpoints\"\n    },\n    \"endpointGroups\" : {\n      \"href\" : \"http://localhost/networks/71d25699-a83f-483e-a894-8ba3e09f606b/endpointGroups\"\n    },\n    \"services\" : {\n      \"href\" : \"http://localhost/networks/71d25699-a83f-483e-a894-8ba3e09f606b/services\"\n    },\n    \"appWans\" : {\n      \"href\" : \"http://localhost/networks/71d25699-a83f-483e-a894-8ba3e09f606b/appWans\"\n    },\n    \"gatewayClusters\" : {\n      \"href\" : \"http://localhost/networks/71d25699-a83f-483e-a894-8ba3e09f606b/gatewayClusters\"\n    },\n    \"virtualWanSites\" : {\n      \"href\" : \"http://localhost/networks/71d25699-a83f-483e-a894-8ba3e09f606b/virtualWanSites\"\n    },\n    \"networkConfigMetadata\" : {\n      \"href\" : \"http://localhost/networks/71d25699-a83f-483e-a894-8ba3e09f606b/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks/{networkId}": {
            "get": {
                "tags": [
                    "networks"
                ],
                "operationId": "get-network",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-1626269863"
                                },
                                "examples": {
                                    "get-network": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-23T08:16:17.089+0000\",\n  \"updatedAt\" : \"2020-05-23T18:16:17.089+0000\",\n  \"name\" : \"Test Network 01\",\n  \"caName\" : \"CA_2231f083-94e0-4823-9d7e-3820507f5908\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"provisionedAt\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : null,\n  \"mfaIssuerId\" : null,\n  \"status\" : 100,\n  \"organizationId\" : \"00f683a1-8b82-4446-9c90-9b514abb4925\",\n  \"ownerIdentityId\" : null,\n  \"networkConfigMetadataId\" : null,\n  \"id\" : \"c45daf23-00c4-4e2e-b628-f93b1e609dd2\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks/c45daf23-00c4-4e2e-b628-f93b1e609dd2\"\n    },\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/00f683a1-8b82-4446-9c90-9b514abb4925\"\n    },\n    \"networkControllerHosts\" : {\n      \"href\" : \"http://localhost/networks/c45daf23-00c4-4e2e-b628-f93b1e609dd2/networkControllerHosts\"\n    },\n    \"endpoints\" : {\n      \"href\" : \"http://localhost/networks/c45daf23-00c4-4e2e-b628-f93b1e609dd2/endpoints\"\n    },\n    \"endpointGroups\" : {\n      \"href\" : \"http://localhost/networks/c45daf23-00c4-4e2e-b628-f93b1e609dd2/endpointGroups\"\n    },\n    \"services\" : {\n      \"href\" : \"http://localhost/networks/c45daf23-00c4-4e2e-b628-f93b1e609dd2/services\"\n    },\n    \"appWans\" : {\n      \"href\" : \"http://localhost/networks/c45daf23-00c4-4e2e-b628-f93b1e609dd2/appWans\"\n    },\n    \"gatewayClusters\" : {\n      \"href\" : \"http://localhost/networks/c45daf23-00c4-4e2e-b628-f93b1e609dd2/gatewayClusters\"\n    },\n    \"virtualWanSites\" : {\n      \"href\" : \"http://localhost/networks/c45daf23-00c4-4e2e-b628-f93b1e609dd2/virtualWanSites\"\n    },\n    \"networkConfigMetadata\" : {\n      \"href\" : \"http://localhost/networks/c45daf23-00c4-4e2e-b628-f93b1e609dd2/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "networks"
                ],
                "operationId": "update-network",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-networkId-54152969"
                            },
                            "examples": {
                                "update-network": {
                                    "value": "{\n  \"name\" : \"Test Network 01 Updated\",\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : \"1234\",\n  \"mfaIssuerId\" : \"https://okta\"\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-1500717383"
                                },
                                "examples": {
                                    "update-network": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-23T08:16:17.359+0000\",\n  \"updatedAt\" : \"2020-05-23T18:16:17.359+0000\",\n  \"name\" : \"Test Network 01 Updated\",\n  \"caName\" : \"CA_17900d7d-6828-45c3-abbe-d02cd9903e59\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"provisionedAt\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : null,\n  \"mfaIssuerId\" : null,\n  \"status\" : 100,\n  \"organizationId\" : \"ba5317ab-63e7-4922-94e9-401872b4f31b\",\n  \"ownerIdentityId\" : null,\n  \"networkConfigMetadataId\" : null,\n  \"id\" : \"a82084f3-58ff-4b96-884e-1f6fbc4439fd\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks/a82084f3-58ff-4b96-884e-1f6fbc4439fd\"\n    },\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/ba5317ab-63e7-4922-94e9-401872b4f31b\"\n    },\n    \"networkControllerHosts\" : {\n      \"href\" : \"http://localhost/networks/a82084f3-58ff-4b96-884e-1f6fbc4439fd/networkControllerHosts\"\n    },\n    \"endpoints\" : {\n      \"href\" : \"http://localhost/networks/a82084f3-58ff-4b96-884e-1f6fbc4439fd/endpoints\"\n    },\n    \"endpointGroups\" : {\n      \"href\" : \"http://localhost/networks/a82084f3-58ff-4b96-884e-1f6fbc4439fd/endpointGroups\"\n    },\n    \"services\" : {\n      \"href\" : \"http://localhost/networks/a82084f3-58ff-4b96-884e-1f6fbc4439fd/services\"\n    },\n    \"appWans\" : {\n      \"href\" : \"http://localhost/networks/a82084f3-58ff-4b96-884e-1f6fbc4439fd/appWans\"\n    },\n    \"gatewayClusters\" : {\n      \"href\" : \"http://localhost/networks/a82084f3-58ff-4b96-884e-1f6fbc4439fd/gatewayClusters\"\n    },\n    \"virtualWanSites\" : {\n      \"href\" : \"http://localhost/networks/a82084f3-58ff-4b96-884e-1f6fbc4439fd/virtualWanSites\"\n    },\n    \"networkConfigMetadata\" : {\n      \"href\" : \"http://localhost/networks/a82084f3-58ff-4b96-884e-1f6fbc4439fd/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "networks"
                ],
                "operationId": "delete-network",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/networks/{networkId}/appWan-processes": {
            "get": {
                "tags": [
                    "networks"
                ],
                "summary": "Monitor the progress of an AppWAN modification.",
                "description": "Monitor the progress of a prior UPDATE to an AppWan. It returns an array of processing steps that an AppWan will go through when being created or updated.  The returned steps contain a current status (in progress, completed, etc.), reflecting the current state of that process-step.",
                "operationId": "find-appwan-processes",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-appWan-processes-businessKey766456683"
                                },
                                "examples": {
                                    "find-appwan-processes": {
                                        "value": "[ {\n  \"businessKey\" : \"1bbeb2e4-05b6-4991-bf7b-fde8b2e8ec07\",\n  \"processDefinitionKey\" : \"createAppwan\",\n  \"workFlowStatus\" : [ {\n    \"task\" : \"Started\",\n    \"status\" : \"InProgress\"\n  } ]\n} ]"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks/{networkId}/appWans": {
            "get": {
                "tags": [
                    "networks"
                ],
                "operationId": "get-all-app-wans-for-network-paged",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-appWans175155576"
                                },
                                "examples": {
                                    "get-all-app-wans-for-network-paged": {
                                        "value": "{\n  \"_embedded\" : {\n    \"appWans\" : [ {\n      \"createdAt\" : \"2020-05-23T08:16:29.208+0000\",\n      \"updatedAt\" : \"2020-05-23T18:16:29.208+0000\",\n      \"name\" : \"AppWan 01\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"da8e5d3d-3ec5-4988-b8c3-db8c013a5d06\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/08523d34-c5de-4811-903b-76ea89f6f6d4/appWans/da8e5d3d-3ec5-4988-b8c3-db8c013a5d06\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/08523d34-c5de-4811-903b-76ea89f6f6d4\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/08523d34-c5de-4811-903b-76ea89f6f6d4/appWans/da8e5d3d-3ec5-4988-b8c3-db8c013a5d06/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/08523d34-c5de-4811-903b-76ea89f6f6d4/appWans/da8e5d3d-3ec5-4988-b8c3-db8c013a5d06/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/08523d34-c5de-4811-903b-76ea89f6f6d4/appWans/da8e5d3d-3ec5-4988-b8c3-db8c013a5d06/services\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-05-23T08:16:29.208+0000\",\n      \"updatedAt\" : \"2020-05-23T18:16:29.208+0000\",\n      \"name\" : \"AppWan 02\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"2e72212e-df72-4a8d-9eeb-7bdfe6015fd4\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/08523d34-c5de-4811-903b-76ea89f6f6d4/appWans/2e72212e-df72-4a8d-9eeb-7bdfe6015fd4\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/08523d34-c5de-4811-903b-76ea89f6f6d4\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/08523d34-c5de-4811-903b-76ea89f6f6d4/appWans/2e72212e-df72-4a8d-9eeb-7bdfe6015fd4/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/08523d34-c5de-4811-903b-76ea89f6f6d4/appWans/2e72212e-df72-4a8d-9eeb-7bdfe6015fd4/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/08523d34-c5de-4811-903b-76ea89f6f6d4/appWans/2e72212e-df72-4a8d-9eeb-7bdfe6015fd4/services\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"first\" : {\n      \"href\" : \"http://localhost/networks/08523d34-c5de-4811-903b-76ea89f6f6d4/appWans?page=0,size=10,sort=name,asc\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    },
                                    "get-all-app-wans-for-network": {
                                        "value": "{\n  \"_embedded\" : {\n    \"appWans\" : [ {\n      \"createdAt\" : \"2020-05-23T08:16:29.407+0000\",\n      \"updatedAt\" : \"2020-05-23T18:16:29.407+0000\",\n      \"name\" : \"AppWan 01\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"33510bbe-9f48-4484-9b5b-2f74857081e6\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/80ec3a9d-addd-4f7b-9d14-8ce0a2de8d59/appWans/33510bbe-9f48-4484-9b5b-2f74857081e6\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/80ec3a9d-addd-4f7b-9d14-8ce0a2de8d59\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/80ec3a9d-addd-4f7b-9d14-8ce0a2de8d59/appWans/33510bbe-9f48-4484-9b5b-2f74857081e6/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/80ec3a9d-addd-4f7b-9d14-8ce0a2de8d59/appWans/33510bbe-9f48-4484-9b5b-2f74857081e6/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/80ec3a9d-addd-4f7b-9d14-8ce0a2de8d59/appWans/33510bbe-9f48-4484-9b5b-2f74857081e6/services\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-05-23T08:16:29.408+0000\",\n      \"updatedAt\" : \"2020-05-23T18:16:29.408+0000\",\n      \"name\" : \"AppWan 02\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"0071727b-2781-4e24-8fd3-a73b0f99234c\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/80ec3a9d-addd-4f7b-9d14-8ce0a2de8d59/appWans/0071727b-2781-4e24-8fd3-a73b0f99234c\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/80ec3a9d-addd-4f7b-9d14-8ce0a2de8d59\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/80ec3a9d-addd-4f7b-9d14-8ce0a2de8d59/appWans/0071727b-2781-4e24-8fd3-a73b0f99234c/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/80ec3a9d-addd-4f7b-9d14-8ce0a2de8d59/appWans/0071727b-2781-4e24-8fd3-a73b0f99234c/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/80ec3a9d-addd-4f7b-9d14-8ce0a2de8d59/appWans/0071727b-2781-4e24-8fd3-a73b0f99234c/services\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"first\" : {\n      \"href\" : \"http://localhost/networks/80ec3a9d-addd-4f7b-9d14-8ce0a2de8d59/appWans?page=0,size=10,sort=name,asc\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "networks"
                ],
                "summary": "Initialize an empty AppWAN",
                "description": "Initialize an empty AppWAN for authorizations that will be added later.",
                "operationId": "create-app-wan",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-networkId-appWans751732740"
                            },
                            "examples": {
                                "create-app-wan": {
                                    "value": "{\n  \"name\" : \"Test AppWan Create\",\n  \"subscriptionId\" : \"48a7b79c-9216-466b-9439-97c35d23846b\"\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-appWans-2073924989"
                                },
                                "examples": {
                                    "create-app-wan": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-23T08:16:29.494+0000\",\n  \"updatedAt\" : \"2020-05-23T18:16:29.494+0000\",\n  \"name\" : \"Test AppWan Create\",\n  \"networkId\" : null,\n  \"status\" : 300,\n  \"ownerIdentityId\" : null,\n  \"id\" : \"67f673bf-c11e-4468-a0f5-e85cfd6736c8\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks/6685c301-7690-4d85-82fc-e547146e55c8/appWans/67f673bf-c11e-4468-a0f5-e85cfd6736c8\"\n    },\n    \"network\" : {\n      \"href\" : \"http://localhost/networks/6685c301-7690-4d85-82fc-e547146e55c8\"\n    },\n    \"endpointGroups\" : {\n      \"href\" : \"http://localhost/networks/6685c301-7690-4d85-82fc-e547146e55c8/appWans/67f673bf-c11e-4468-a0f5-e85cfd6736c8/endpointGroups\"\n    },\n    \"endpoints\" : {\n      \"href\" : \"http://localhost/networks/6685c301-7690-4d85-82fc-e547146e55c8/appWans/67f673bf-c11e-4468-a0f5-e85cfd6736c8/endpoints\"\n    },\n    \"services\" : {\n      \"href\" : \"http://localhost/networks/6685c301-7690-4d85-82fc-e547146e55c8/appWans/67f673bf-c11e-4468-a0f5-e85cfd6736c8/services\"\n    }\n  }\n}"
                                    },
                                    "create-app-wan-from-yaml": {
                                        "value": "{\n  \"businessKey\" : \"3b02926c-b831-4d55-bdf0-c63f1c6a8a18\",\n  \"appWan\" : {\n    \"createdAt\" : \"2020-05-23T08:16:29.180+0000\",\n    \"updatedAt\" : \"2020-05-23T18:16:29.180+0000\",\n    \"name\" : \"Test AppWan\",\n    \"networkId\" : null,\n    \"status\" : 300,\n    \"ownerIdentityId\" : null,\n    \"id\" : \"2ae09c62-79ba-432a-8548-602441db5f73\",\n    \"_links\" : {\n      \"self\" : {\n        \"href\" : \"http://localhost/networks/3b02926c-b831-4d55-bdf0-c63f1c6a8a18/appWans/2ae09c62-79ba-432a-8548-602441db5f73\"\n      },\n      \"network\" : {\n        \"href\" : \"http://localhost/networks/3b02926c-b831-4d55-bdf0-c63f1c6a8a18\"\n      },\n      \"endpointGroups\" : {\n        \"href\" : \"http://localhost/networks/3b02926c-b831-4d55-bdf0-c63f1c6a8a18/appWans/2ae09c62-79ba-432a-8548-602441db5f73/endpointGroups\"\n      },\n      \"endpoints\" : {\n        \"href\" : \"http://localhost/networks/3b02926c-b831-4d55-bdf0-c63f1c6a8a18/appWans/2ae09c62-79ba-432a-8548-602441db5f73/endpoints\"\n      },\n      \"services\" : {\n        \"href\" : \"http://localhost/networks/3b02926c-b831-4d55-bdf0-c63f1c6a8a18/appWans/2ae09c62-79ba-432a-8548-602441db5f73/services\"\n      }\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks/{networkId}/blueprint": {
            "get": {
                "tags": [
                    "networks"
                ],
                "operationId": "get-network-as-code",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/yml": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-endpointGroups-endpointGroupId-endpoints486549215"
                                },
                                "examples": {
                                    "get-network-as-code": {
                                        "value": "network:\n  name: Network12\n  productFamily: DVN\n  productVersion: 1.0.0-123\n  gateways: []\n  clients: []\n  endpointGroups: []\n  services: []\n  appWans: []\n  gatewayClusters: []\n"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks/{networkId}/cas": {
            "post": {
                "tags": [
                    "networks"
                ],
                "operationId": "create-certificate-authority",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
[...]
