{
    "openapi": "3.0.1",
    "info": {
        "title": "NetFoundry Public REST API",
        "description": "NetFoundry\u2019s web console and API are used to define networks by designing and instantly deploying AppWANs which are policies that describe how endpoints are permitted to access services. \n\nMost operations require an expiring auth token as described in [the authentication guide](https://developer.netfoundry.io/v1/guides/authentication/).\n\nYou may find more helpful guides, references, and tools to use with this API in the [NetFoundry Developer Portal](https://developer.netfoundry.io/).\n",
        "version": "0.0.3-SNAPSHOT"
    },
    "servers": [
        {
            "url": "https://gateway.production.netfoundry.io/rest/v1"
        },
        {
            "url": "https://gateway.staging.netfoundry.io/rest/v1"
        },
        {
            "url": "https://gateway.sandbox.netfoundry.io/rest/v1"
        }
    ],
    "paths": {
        "/azureSubscriptions": {
            "get": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "get-all-azure-subscriptions",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions1321751198"
                                },
                                "examples": {
                                    "get-all-azure-subscriptions": {
                                        "value": "{\n  \"_embedded\" : {\n    \"azureSubscriptions\" : [ {\n      \"name\" : \"AZ Sub 01\",\n      \"subscriptionId\" : \"4860f119-67d5-4811-80a4-96cac99467b4\",\n      \"tenantId\" : \"8d0de870-7760-4067-af18-b2a515c12fbb\",\n      \"applicationId\" : \"1583d01e-cd46-4c3f-a7af-f0fb44fff8d0\",\n      \"applicationKey\" : \"769436c6-ed46-4752-b075-f6668f205f86\",\n      \"organizationId\" : \"bbda4234-618d-4823-90e3-63fa8130bbe4\",\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : \"2020-05-28T09:08:53.443+0000\",\n      \"updatedAt\" : \"2020-05-28T19:08:53.443+0000\",\n      \"id\" : \"c2f1fbdc-28f2-463e-9d13-3ef39e0bc3ee\",\n      \"_links\" : {\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/6c6f6a15-14ed-499a-956c-3b10cb27bf17\"\n        },\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/c2f1fbdc-28f2-463e-9d13-3ef39e0bc3ee\"\n        },\n        \"resourceGroups\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/c2f1fbdc-28f2-463e-9d13-3ef39e0bc3ee/resourceGroups\"\n        },\n        \"virtualWans\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/c2f1fbdc-28f2-463e-9d13-3ef39e0bc3ee/virtualWans\"\n        }\n      }\n    }, {\n      \"name\" : \"AZ Sub 02\",\n      \"subscriptionId\" : \"755fe3ef-69df-40be-8079-3e6bcc388d8f\",\n      \"tenantId\" : \"d4bd74be-b346-4b02-b259-d7b32b8f4261\",\n      \"applicationId\" : \"eed7471c-92a2-462c-bbd4-1e45bfaa6919\",\n      \"applicationKey\" : \"ba506f1c-97c7-4e33-802e-4e0edf4ea390\",\n      \"organizationId\" : \"1823c15b-5256-495e-82ae-661bf560ff8f\",\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : \"2020-05-28T09:08:53.443+0000\",\n      \"updatedAt\" : \"2020-05-28T19:08:53.443+0000\",\n      \"id\" : \"920ed6d6-5f3c-4cdf-a799-3abcba8e4814\",\n      \"_links\" : {\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/6c6f6a15-14ed-499a-956c-3b10cb27bf17\"\n        },\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/920ed6d6-5f3c-4cdf-a799-3abcba8e4814\"\n        },\n        \"resourceGroups\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/920ed6d6-5f3c-4cdf-a799-3abcba8e4814/resourceGroups\"\n        },\n        \"virtualWans\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/920ed6d6-5f3c-4cdf-a799-3abcba8e4814/virtualWans\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "create-azure-subscription",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/azureSubscriptions-1310085210"
                            },
                            "examples": {
                                "create-azure-subscription": {
                                    "value": "{\n  \"name\" : \"Test AZ Subscription 02\",\n  \"subscriptionId\" : \"d1f37d1b-f0c3-4695-a4db-58190cff7af9\",\n  \"tenantId\" : \"8477a812-713a-4b1e-a019-ae4f091bc202\",\n  \"applicationId\" : \"797831fa-de49-4354-9aa7-52a37c5af41f\",\n  \"applicationKey\" : \"cf58e6be-97c4-4b9c-aa89-31a7d2ed0c6a\"\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions1018328653"
                                },
                                "examples": {
                                    "create-azure-subscription": {
                                        "value": "{\n  \"name\" : \"Test AZ Subscription 02\",\n  \"subscriptionId\" : \"83cdf589-bb9c-4948-922e-9ff064d06a37\",\n  \"tenantId\" : \"daae2d5d-49a5-4931-afe5-3333519afdd3\",\n  \"applicationId\" : \"3cd67788-7c36-4b93-b094-76f63821e278\",\n  \"applicationKey\" : \"af4ad42a-8e3a-4eaa-a0e8-ea5ead783586\",\n  \"organizationId\" : \"3cd61c81-039a-4390-9152-f12ddb3e3d69\",\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : \"2020-05-28T09:08:53.490+0000\",\n  \"updatedAt\" : \"2020-05-28T19:08:53.490+0000\",\n  \"id\" : \"25925c4f-f9ca-4a84-bec6-d35acdf25ced\",\n  \"_links\" : {\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/48022843-532a-4ace-8d3c-06d707feb516\"\n    },\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/25925c4f-f9ca-4a84-bec6-d35acdf25ced\"\n    },\n    \"resourceGroups\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/25925c4f-f9ca-4a84-bec6-d35acdf25ced/resourceGroups\"\n    },\n    \"virtualWans\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/25925c4f-f9ca-4a84-bec6-d35acdf25ced/virtualWans\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/azureSubscriptions/{azureSubscriptionId}": {
            "get": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "get-azure-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions1018328653"
                                },
                                "examples": {
                                    "get-azure-subscription": {
                                        "value": "{\n  \"name\" : \"Test AZ Subscription 01\",\n  \"subscriptionId\" : \"ba2b4418-61a6-4eb6-9e0d-d06c276c43d9\",\n  \"tenantId\" : \"e9df6a33-8959-4004-be46-c03c5b01199e\",\n  \"applicationId\" : \"88a3d1db-d1f2-44cc-8a68-1e39692e0806\",\n  \"applicationKey\" : \"22627881-dc48-4ee1-835f-6ca9873a4272\",\n  \"organizationId\" : \"6ac2c377-15c6-4227-b261-c8d12522a7e9\",\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : \"2020-05-28T09:08:53.556+0000\",\n  \"updatedAt\" : \"2020-05-28T19:08:53.556+0000\",\n  \"id\" : \"62cb13a5-c6b4-4f86-b0c9-fbc32491473c\",\n  \"_links\" : {\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/d5359457-6aaa-449e-89d9-276075760df2\"\n    },\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/62cb13a5-c6b4-4f86-b0c9-fbc32491473c\"\n    },\n    \"resourceGroups\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/62cb13a5-c6b4-4f86-b0c9-fbc32491473c/resourceGroups\"\n    },\n    \"virtualWans\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/62cb13a5-c6b4-4f86-b0c9-fbc32491473c/virtualWans\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "update-azure-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-networkId-endpointGroups-endpointGroupId-endpoints486549215"
                            },
                            "examples": {
                                "update-azure-subscription": {
                                    "value": "{\n  \"name\" : \"Test AZ Subscription 01\",\n  \"subscriptionId\" : \"52087043-e00a-4353-ac6b-c78ec7f2fb0b\",\n  \"tenantId\" : \"34749106-4a4b-4b95-9020-cc0cb478c234\",\n  \"applicationId\" : \"5b8ba006-1b0c-4e88-8801-fd6b22135165\",\n  \"applicationKey\" : \"1a1ccfb1-2afa-4851-996a-fe9ec8bc061e\",\n  \"organizationId\" : null,\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"id\" : null\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions1018328653"
                                },
                                "examples": {
                                    "update-azure-subscription": {
                                        "value": "{\n  \"name\" : \"Test AZ Subscription 01\",\n  \"subscriptionId\" : \"c76e3cb2-1f59-4937-bfb8-e2403f5985de\",\n  \"tenantId\" : \"914a3544-8838-4de2-a561-fe516d5aa754\",\n  \"applicationId\" : \"5772db7a-2d1b-40d1-b1c1-49b4e4c9a504\",\n  \"applicationKey\" : \"95d0ed38-2221-4fa3-8290-ffbc6061e5ce\",\n  \"organizationId\" : \"8dae1b5b-fa6f-4106-9f06-093af40b0931\",\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : \"2020-05-28T09:08:53.525+0000\",\n  \"updatedAt\" : \"2020-05-28T19:08:53.525+0000\",\n  \"id\" : \"6c29d429-d713-4b44-80a0-0ff84aca2d35\",\n  \"_links\" : {\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/3cc561ff-d2d7-4712-8c78-36b856ecfe7e\"\n    },\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/6c29d429-d713-4b44-80a0-0ff84aca2d35\"\n    },\n    \"resourceGroups\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/6c29d429-d713-4b44-80a0-0ff84aca2d35/resourceGroups\"\n    },\n    \"virtualWans\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/6c29d429-d713-4b44-80a0-0ff84aca2d35/virtualWans\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "delete-azure-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/azureSubscriptions/{azureSubscriptionId}/virtualWanSites": {
            "get": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "get-all-virtual-wan-sites-for-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions-azureSubscriptionId-virtualWanSites-670838162"
                                },
                                "examples": {
                                    "get-all-virtual-wan-sites-for-subscription": {
                                        "value": "{\n  \"_embedded\" : {\n    \"azureVirtualWanSites\" : [ {\n      \"azureId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/azsite01?api-version=2018-04-01\",\n      \"azureSubscriptionId\" : null,\n      \"azureResourceGroupName\" : \"resourceGroup01\",\n      \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n      \"publicIpAddress\" : \"8.8.8.8\",\n      \"bgp\" : false,\n      \"bgpPeeringAddress\" : null,\n      \"bgpASN\" : null,\n      \"bgpPeerWeight\" : null,\n      \"deviceLinkSpeed\" : 0,\n      \"deviceVendor\" : null,\n      \"deviceModel\" : null,\n      \"neighborPeers\" : null,\n      \"advertiseLocal\" : true,\n      \"advertisedPrefixes\" : null,\n      \"preSharedKey\" : null,\n      \"ipSecResponder01\" : null,\n      \"ipSecResponder02\" : null,\n      \"status\" : 0,\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"azsite01\",\n      \"azureVirtualWanName\" : \"wan1\",\n      \"deployable\" : false,\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/f5ca643b-6c8c-48bc-8f65-959c907d9ded\"\n        },\n        \"dataCenter\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/f5ca643b-6c8c-48bc-8f65-959c907d9ded/dataCenter\"\n        },\n        \"endpoint\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/f5ca643b-6c8c-48bc-8f65-959c907d9ded/endpoint\"\n        },\n        \"azureSubscription\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59\"\n        }\n      }\n    }, {\n      \"azureId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/azsite02?api-version=2018-04-01\",\n      \"azureSubscriptionId\" : null,\n      \"azureResourceGroupName\" : \"resourceGroup01\",\n      \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n      \"publicIpAddress\" : \"8.8.8.8\",\n      \"bgp\" : false,\n      \"bgpPeeringAddress\" : null,\n      \"bgpASN\" : null,\n      \"bgpPeerWeight\" : null,\n      \"deviceLinkSpeed\" : 0,\n      \"deviceVendor\" : null,\n      \"deviceModel\" : null,\n      \"neighborPeers\" : null,\n      \"advertiseLocal\" : true,\n      \"advertisedPrefixes\" : null,\n      \"preSharedKey\" : null,\n      \"ipSecResponder01\" : null,\n      \"ipSecResponder02\" : null,\n      \"status\" : 0,\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"azsite02\",\n      \"azureVirtualWanName\" : \"wan1\",\n      \"deployable\" : false,\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/2284f2bc-ce6f-4bcd-aa0b-6e12b6a01e10\"\n        },\n        \"dataCenter\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/2284f2bc-ce6f-4bcd-aa0b-6e12b6a01e10/dataCenter\"\n        },\n        \"endpoint\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/2284f2bc-ce6f-4bcd-aa0b-6e12b6a01e10/endpoint\"\n        },\n        \"azureSubscription\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "create-azure-virtual-wan-site",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/azureSubscriptions-azureSubscriptionId-virtualWanSites1393634693"
                            },
                            "examples": {
                                "create-azure-virtual-wan-site": {
                                    "value": "{\n  \"name\" : \"azsite01\",\n  \"endpointId\" : \"37dc3bf1-60e6-4eba-b6e9-1c665d2de936\",\n  \"dataCenterId\" : \"44a80ac4-0aae-4111-b1bf-7acf5619bde6\",\n  \"azureSubscriptionId\" : null,\n  \"azureResourceGroupName\" : \"resourceGroup01\",\n  \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n  \"publicIpAddress\" : \"8.8.8.8\",\n  \"bgp\" : {\n    \"localPeeringAddress\" : {\n      \"ipAddress\" : \"192.168.0.1\",\n      \"asn\" : 64515\n    },\n    \"bgpPeerWeight\" : null,\n    \"deviceLinkSpeed\" : null,\n    \"deviceVendor\" : null,\n    \"deviceModel\" : null,\n    \"neighborPeers\" : [ {\n      \"ipAddress\" : \"192.168.0.2\",\n      \"asn\" : 64513\n    }, {\n      \"ipAddress\" : \"192.168.0.3\",\n      \"asn\" : 64514\n    } ],\n    \"advertiseLocal\" : true,\n    \"advertisedPrefixes\" : [ \"10.0.0.0/24\" ]\n  }\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions-azureSubscriptionId-virtualWanSites1859069655"
                                },
                                "examples": {
                                    "create-azure-virtual-wan-site": {
                                        "value": "{\n  \"azureId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/azsite01?api-version=2018-04-01\",\n  \"azureSubscriptionId\" : null,\n  \"azureResourceGroupName\" : \"resourceGroup01\",\n  \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n  \"publicIpAddress\" : \"8.8.8.8\",\n  \"bgp\" : false,\n  \"bgpPeeringAddress\" : null,\n  \"bgpASN\" : null,\n  \"bgpPeerWeight\" : null,\n  \"deviceLinkSpeed\" : 0,\n  \"deviceVendor\" : null,\n  \"deviceModel\" : null,\n  \"neighborPeers\" : null,\n  \"advertiseLocal\" : true,\n  \"advertisedPrefixes\" : null,\n  \"preSharedKey\" : null,\n  \"ipSecResponder01\" : null,\n  \"ipSecResponder02\" : null,\n  \"status\" : 0,\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"azsite01\",\n  \"azureVirtualWanName\" : \"wan1\",\n  \"deployable\" : false,\n  \"id\" : null,\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/7a8b6003-f4ed-400e-8b46-c2fffcd69eeb\"\n    },\n    \"dataCenter\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/7a8b6003-f4ed-400e-8b46-c2fffcd69eeb/dataCenter\"\n    },\n    \"endpoint\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/7a8b6003-f4ed-400e-8b46-c2fffcd69eeb/endpoint\"\n    },\n    \"azureSubscription\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/azureSubscriptions/{azureSubscriptionId}/virtualWanSites/{siteId}": {
            "delete": {
                "tags": [
                    "azureSubscriptions"
                ],
                "operationId": "delete-azure-virtual-wan-site",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "the id of the Azure vWAN VPN site",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/dataCenters": {
            "get": {
                "tags": [
                    "dataCenters"
                ],
                "operationId": "get-data-center-by-location-code",
                "parameters": [
                    {
                        "name": "locationCode",
                        "in": "query",
                        "description": "the locationCode by which to filter data centers",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/dataCenters2066924366"
                                },
                                "examples": {
                                    "get-data-center-by-location-code": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-28T09:08:57.295+0000\",\n  \"updatedAt\" : \"2020-05-28T19:08:57.295+0000\",\n  \"name\" : \"dc01\",\n  \"address\" : \"123 That Street\",\n  \"city\" : \"Nashville\",\n  \"stateCode\" : \"TN\",\n  \"stateName\" : \"Great State\",\n  \"continentName\" : \"North America\",\n  \"continentCode\" : \"NA\",\n  \"countryName\" : \"United States\",\n  \"countryCode\" : \"US\",\n  \"isp\" : \"aws\",\n  \"lat\" : 1.0,\n  \"lng\" : 2.0,\n  \"locationCode\" : \"us-east-2a\",\n  \"locationName\" : \"us-east-2\",\n  \"provider\" : \"aws\",\n  \"id\" : null,\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/dataCenters/c35aed2e-bdf8-4467-a54f-341ce48e5a45\"\n    },\n    \"geoRegions\" : {\n      \"href\" : \"http://localhost/dataCenters/c35aed2e-bdf8-4467-a54f-341ce48e5a45/geoRegions\"\n    }\n  }\n}"
                                    },
                                    "get-data-centers": {
                                        "value": "{\n  \"_embedded\" : {\n    \"dataCenters\" : [ {\n      \"createdAt\" : \"2020-05-28T09:08:57.159+0000\",\n      \"updatedAt\" : \"2020-05-28T19:08:57.159+0000\",\n      \"name\" : \"dc01\",\n      \"address\" : \"123 That Street\",\n      \"city\" : \"Nashville\",\n      \"stateCode\" : \"TN\",\n      \"stateName\" : \"Great State\",\n      \"continentName\" : \"North America\",\n      \"continentCode\" : \"NA\",\n      \"countryName\" : \"United States\",\n      \"countryCode\" : \"US\",\n      \"isp\" : \"aws\",\n      \"lat\" : 1.0,\n      \"lng\" : 2.0,\n      \"locationCode\" : \"us-east-1b\",\n      \"locationName\" : \"us-east-1\",\n      \"provider\" : \"aws\",\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/dataCenters/91ddaeb4-9588-4d73-ba18-5454a7ba7217\"\n        },\n        \"geoRegions\" : {\n          \"href\" : \"http://localhost/dataCenters/91ddaeb4-9588-4d73-ba18-5454a7ba7217/geoRegions\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-05-28T09:08:57.160+0000\",\n      \"updatedAt\" : \"2020-05-28T19:08:57.160+0000\",\n      \"name\" : \"dc01\",\n      \"address\" : \"123 That Street\",\n      \"city\" : \"Nashville\",\n      \"stateCode\" : \"TN\",\n      \"stateName\" : \"Great State\",\n      \"continentName\" : \"North America\",\n      \"continentCode\" : \"NA\",\n      \"countryName\" : \"United States\",\n      \"countryCode\" : \"US\",\n      \"isp\" : \"aws\",\n      \"lat\" : 1.0,\n      \"lng\" : 2.0,\n      \"locationCode\" : \"us-east-2c\",\n      \"locationName\" : \"us-east-2\",\n      \"provider\" : \"aws\",\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/dataCenters/dc054a22-7888-479f-ac76-b5f5ad376d8f\"\n        },\n        \"geoRegions\" : {\n          \"href\" : \"http://localhost/dataCenters/dc054a22-7888-479f-ac76-b5f5ad376d8f/geoRegions\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/dataCenters\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dataCenters/{dataCenterId}": {
            "get": {
                "tags": [
                    "dataCenters"
                ],
                "operationId": "get-data-center-by-id",
                "parameters": [
                    {
                        "name": "dataCenterId",
                        "in": "path",
                        "description": "the id of the data center",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/dataCenters-dataCenterId-1060459100"
                                },
                                "examples": {
                                    "get-data-center-by-id": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-28T09:08:57.265+0000\",\n  \"updatedAt\" : \"2020-05-28T19:08:57.265+0000\",\n  \"name\" : \"dc01\",\n  \"address\" : \"123 That Street\",\n  \"city\" : \"Nashville\",\n  \"stateCode\" : \"TN\",\n  \"stateName\" : \"Great State\",\n  \"continentName\" : \"North America\",\n  \"continentCode\" : \"NA\",\n  \"countryName\" : \"United States\",\n  \"countryCode\" : \"US\",\n  \"isp\" : \"aws\",\n  \"lat\" : 1.0,\n  \"lng\" : 2.0,\n  \"locationCode\" : \"us-east-1a\",\n  \"locationName\" : \"us-east-1\",\n  \"provider\" : \"aws\",\n  \"id\" : null,\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/dataCenters/23681a4f-0faa-40c5-a0cb-5f9a5beb1ad9\"\n    },\n    \"geoRegions\" : {\n      \"href\" : \"http://localhost/dataCenters/23681a4f-0faa-40c5-a0cb-5f9a5beb1ad9/geoRegions\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/elastic/ncentityevent/{orgId}/_search/": {
            "post": {
                "tags": [
                    "elastic"
                ],
                "operationId": "search",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "description": "the id of the network group",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-networkId-endpointGroups-endpointGroupId-endpoints486549215"
                            },
                            "examples": {
                                "search": {
                                    "value": "{\n  \"query\" : {\n    \"bool\" : {\n      \"must\" : [ {\n        \"query_string\" : {\n          \"query\" : \"*\",\n          \"analyze_wildcard\" : true\n        }\n      }, {\n        \"match_phrase\" : {\n          \"tags.keyword\" : {\n            \"query\" : \"customer\"\n          }\n        }\n      }, {\n        \"range\" : {\n          \"@timestamp\" : {\n            \"gte\" : 1493587166000,\n            \"lte\" : 1525123166533,\n            \"format\" : \"epoch_millis\"\n          }\n        }\n      }, {\n        \"match_phrase\" : {\n          \"networkId\" : {\n            \"query\" : \"5d4a71e3-d676-4c37-8af8-46604f0352d1\"\n          }\n        }\n      } ],\n      \"must_not\" : [ {\n        \"match_phrase\" : {\n          \"changeType\" : {\n            \"query\" : \"soft\"\n          }\n        }\n      } ]\n    }\n  },\n  \"size\" : 500,\n  \"sort\" : [ {\n    \"@timestamp\" : {\n      \"order\" : \"desc\",\n      \"unmapped_type\" : \"boolean\"\n    }\n  } ],\n  \"_source\" : {\n    \"excludes\" : [ ]\n  }\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/elastic-ncentityevent-orgId-_search-2011801923"
                                },
                                "examples": {
                                    "search": {
                                        "value": "{\n  \"took\" : 3727,\n  \"timed_out\" : false,\n  \"_shards\" : {\n    \"total\" : 1666,\n    \"successful\" : 1666,\n    \"skipped\" : 1636,\n    \"failed\" : 0\n  },\n  \"hits\" : {\n    \"total\" : 0,\n    \"max_score\" : \"null\",\n    \"hits\" : [ ]\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/geoRegions": {
            "get": {
                "tags": [
                    "geoRegions"
                ],
                "operationId": "get-geo-regions",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/geoRegions-446812573"
                                },
                                "examples": {
                                    "get-geo-regions": {
                                        "value": "{\n  \"_embedded\" : {\n    \"geoRegions\" : [ {\n      \"createdAt\" : \"2020-05-28T09:08:05.268+0000\",\n      \"updatedAt\" : \"2020-05-28T19:08:05.268+0000\",\n      \"name\" : \"Geo Region 01\",\n      \"id\" : \"9bbca6aa-767c-4c48-b4ab-dac0ead018fc\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/geoRegions/9bbca6aa-767c-4c48-b4ab-dac0ead018fc\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-05-28T09:08:05.268+0000\",\n      \"updatedAt\" : \"2020-05-28T19:08:05.268+0000\",\n      \"name\" : \"Geo Region 02\",\n      \"id\" : \"9bbca6aa-767c-4c48-b4ab-dac0ead018fc\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/geoRegions/9bbca6aa-767c-4c48-b4ab-dac0ead018fc\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/geoRegions\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/geoRegions/{geoRegionId}": {
            "get": {
                "tags": [
                    "geoRegions"
                ],
                "operationId": "get-geo-region-by-id",
                "parameters": [
                    {
                        "name": "geoRegionId",
                        "in": "path",
                        "description": "the id of the geographic region",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/geoRegions-geoRegionId-1492212157"
                                },
                                "examples": {
                                    "get-geo-region-by-id": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-28T09:08:05.109+0000\",\n  \"updatedAt\" : \"2020-05-28T19:08:05.109+0000\",\n  \"name\" : \"Geo Region 01\",\n  \"id\" : \"9bbca6aa-767c-4c48-b4ab-dac0ead018fc\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/geoRegions/9bbca6aa-767c-4c48-b4ab-dac0ead018fc\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hosts": {
            "get": {
                "tags": [
                    "hosts"
                ],
                "operationId": "get-hosts-for-network",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/hosts-1480010628"
                                },
                                "examples": {
                                    "get-hosts-for-network": {
                                        "value": "{\n  \"_embedded\" : {\n    \"hosts\" : [ {\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"Host 1\",\n      \"networkId\" : \"ac271c00-fca4-4055-b59d-3f1ae520a39d\",\n      \"hostType\" : \"NC\",\n      \"primaryIpAddress\" : \"10.0.0.0\",\n      \"memGb\" : 0,\n      \"numCpu\" : 0,\n      \"model\" : null,\n      \"os\" : null,\n      \"providerId\" : \"i-1234\",\n      \"providerName\" : null,\n      \"userData\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"ff654f9f-436e-45df-b90a-3a6dd4460e98\"\n    } ]\n  },\n  \"_links\" : {\n    \"network\" : {\n      \"href\" : \"http://localhost/networks/ac271c00-fca4-4055-b59d-3f1ae520a39d\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hosts/{hostId}": {
            "get": {
                "tags": [
                    "hosts"
                ],
                "operationId": "get-host",
                "parameters": [
                    {
                        "name": "hostId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/hosts-hostId-1233713338"
                                },
                                "examples": {
                                    "get-host": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"Host 1\",\n  \"networkId\" : \"694716f7-70a8-49ce-a0a9-7b492c95e619\",\n  \"hostType\" : \"NC\",\n  \"primaryIpAddress\" : \"10.0.0.0\",\n  \"memGb\" : 0,\n  \"numCpu\" : 0,\n  \"model\" : null,\n  \"os\" : null,\n  \"providerId\" : \"i-1234\",\n  \"providerName\" : null,\n  \"userData\" : null,\n  \"status\" : 300,\n  \"ownerIdentityId\" : null,\n  \"id\" : \"018b6488-c4c0-4c96-9597-11e01ab5dd7e\",\n  \"_links\" : {\n    \"network\" : {\n      \"href\" : \"http://localhost/networks/694716f7-70a8-49ce-a0a9-7b492c95e619\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/network-processes": {
            "get": {
                "tags": [
                    "network-processes"
                ],
                "operationId": "find-network-processes",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/network-processes-393734757"
                                },
                                "examples": {
                                    "find-network-processes": {
                                        "value": "[ {\n  \"businessKey\" : \"0a1ab588-c40b-4c64-98dc-d6dbee6ce605\",\n  \"processDefinitionKey\" : \"createNetworkFromDepotAsync\",\n  \"processInstanceId\" : 123,\n  \"workFlowStatus\" : [ {\n    \"task\" : \"Started\",\n    \"status\" : \"InProgress\",\n    \"calledProcessInstanceId\" : null\n  } ]\n} ]"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/network-processes/{businessKey}": {
            "get": {
                "tags": [
                    "network-processes"
                ],
                "operationId": "get-network-processes",
                "parameters": [
                    {
                        "name": "businessKey",
                        "in": "path",
                        "description": "the business key to filter",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/network-processes-393734757"
                                },
                                "examples": {
                                    "get-network-processes": {
                                        "value": "[ {\n  \"businessKey\" : \"d71fd934-0c22-4867-b4d3-810aa89a4abd\",\n  \"processDefinitionKey\" : \"createNetworkFromDepotAsync\",\n  \"processInstanceId\" : 123,\n  \"workFlowStatus\" : [ {\n    \"task\" : \"Started\",\n    \"status\" : \"InProgress\",\n    \"calledProcessInstanceId\" : null\n  } ]\n} ]"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networkConfigMetadata": {
            "get": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "operationId": "find-network-config-metadata",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkConfigMetadata-1344539778"
                                },
                                "examples": {
                                    "find-network-config-metadata": {
                                        "value": "{\n  \"_embedded\" : {\n    \"networkConfigMetadatas\" : [ {\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"small\",\n      \"awsNetworkControllerSize\" : null,\n      \"awsGatewaySize\" : null,\n      \"awsTransferNodeSize\" : null,\n      \"azureTransferNodeSize\" : null,\n      \"alicloudTransferNodeSize\" : null,\n      \"gcpTransferNodeSize\" : null,\n      \"networkControllerVolumeSize\" : 0,\n      \"transferNodeVolumeSize\" : 0,\n      \"gatewayVolumeSize\" : 0,\n      \"id\" : \"1534a4d3-1bdc-4f9d-9964-4af23879b564\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/1534a4d3-1bdc-4f9d-9964-4af23879b564\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "operationId": "create-network-config-metadata",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networkConfigMetadata-1781842714"
                            },
                            "examples": {
                                "create-network-config-metadata": {
                                    "value": "{\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : \"T2Medium\",\n  \"awsGatewaySize\" : \"T2Large\",\n  \"awsTransferNodeSize\" : \"T2Large\",\n  \"azureTransferNodeSize\" : \"T2Large\",\n  \"alicloudTransferNodeSize\" : \"T2Large\",\n  \"gcpTransferNodeSize\" : \"T2Large\",\n  \"networkControllerVolumeSize\" : 20,\n  \"transferNodeVolumeSize\" : 10,\n  \"gatewayVolumeSize\" : 10\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkConfigMetadata-299031831"
                                },
                                "examples": {
                                    "create-network-config-metadata": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : null,\n  \"awsGatewaySize\" : null,\n  \"awsTransferNodeSize\" : null,\n  \"azureTransferNodeSize\" : null,\n  \"alicloudTransferNodeSize\" : null,\n  \"gcpTransferNodeSize\" : null,\n  \"networkControllerVolumeSize\" : 0,\n  \"transferNodeVolumeSize\" : 0,\n  \"gatewayVolumeSize\" : 0,\n  \"id\" : \"554da1a7-ef20-4987-9945-6f18aa004457\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/554da1a7-ef20-4987-9945-6f18aa004457\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networkConfigMetadata/{networkConfigMetadataId}": {
            "get": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "operationId": "get-network-config-metadata",
                "parameters": [
                    {
                        "name": "networkConfigMetadataId",
                        "in": "path",
                        "description": "the id of the configuration",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkConfigMetadata-299031831"
                                },
                                "examples": {
                                    "get-network-config-metadata": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : null,\n  \"awsGatewaySize\" : null,\n  \"awsTransferNodeSize\" : null,\n  \"azureTransferNodeSize\" : null,\n  \"alicloudTransferNodeSize\" : null,\n  \"gcpTransferNodeSize\" : null,\n  \"networkControllerVolumeSize\" : 0,\n  \"transferNodeVolumeSize\" : 0,\n  \"gatewayVolumeSize\" : 0,\n  \"id\" : \"d53e96c9-131f-49a0-8ff0-84f66661089c\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/d53e96c9-131f-49a0-8ff0-84f66661089c\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "operationId": "update-network-config-metadata",
                "parameters": [
                    {
                        "name": "networkConfigMetadataId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networkConfigMetadata-1781842714"
                            },
                            "examples": {
                                "update-network-config-metadata": {
                                    "value": "{\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : \"T2Medium\",\n  \"awsGatewaySize\" : \"T2Large\",\n  \"awsTransferNodeSize\" : \"T2Large\",\n  \"azureTransferNodeSize\" : \"T2Large\",\n  \"alicloudTransferNodeSize\" : \"T2Large\",\n  \"gcpTransferNodeSize\" : \"T2Large\",\n  \"networkControllerVolumeSize\" : 20,\n  \"transferNodeVolumeSize\" : 10,\n  \"gatewayVolumeSize\" : 10\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkConfigMetadata-299031831"
                                },
                                "examples": {
                                    "update-network-config-metadata": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : null,\n  \"awsGatewaySize\" : null,\n  \"awsTransferNodeSize\" : null,\n  \"azureTransferNodeSize\" : null,\n  \"alicloudTransferNodeSize\" : null,\n  \"gcpTransferNodeSize\" : null,\n  \"networkControllerVolumeSize\" : 0,\n  \"transferNodeVolumeSize\" : 0,\n  \"gatewayVolumeSize\" : 0,\n  \"id\" : \"4a7c05e2-46af-4d57-a632-7f6896b3a6c2\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/4a7c05e2-46af-4d57-a632-7f6896b3a6c2\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "operationId": "delete-network-config-metadata",
                "parameters": [
                    {
                        "name": "networkConfigMetadataId",
                        "in": "path",
                        "description": "the id of the configuration",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/networkgroups/{networkGroupId}/endpoints": {
            "get": {
                "tags": [
                    "networkgroups"
                ],
                "summary": "List all endpoints for network group.",
                "description": "List all endpoints for network group.",
                "operationId": "get-all-endpoints-for-network-group",
                "parameters": [
                    {
                        "name": "networkGroupId",
                        "in": "path",
                        "description": "the ID of the network group for which to get endpoints",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkgroups-networkGroupId-endpoints-592200708"
                                },
                                "examples": {
                                    "get-all-endpoints-for-network-group": {
                                        "value": "{\n  \"_embedded\" : {\n    \"endpoints\" : [ {\n      \"createdAt\" : \"2020-05-28T09:09:04.516+0000\",\n      \"updatedAt\" : \"2020-05-28T19:09:04.516+0000\",\n      \"name\" : \"Endpoint 01\",\n      \"networkId\" : null,\n      \"endpointType\" : \"GW\",\n      \"clientType\" : \"\",\n      \"clientVersion\" : \"\",\n      \"source\" : null,\n      \"syncId\" : null,\n      \"registrationKey\" : \"regKey value\",\n      \"registrationAttemptsLeft\" : 5,\n      \"status\" : 100,\n      \"currentState\" : 100,\n      \"stateLastUpdated\" : null,\n      \"endpointProtectionRole\" : null,\n      \"haEndpointType\" : \"HAGW\",\n      \"o365BreakoutNextHopIp\" : null,\n      \"gatewayClusterId\" : null,\n      \"clientMfaEnable\" : \"NO\",\n      \"ownerIdentityId\" : null,\n      \"countryId\" : null,\n      \"geoRegionId\" : null,\n      \"dataCenterId\" : null,\n      \"sessionIdentityId\" : null,\n      \"id\" : \"cbc66c36-64d5-4cab-a9e6-680d877a6c2a\",\n      \"componentId\" : \"\"\n    }, {\n      \"createdAt\" : \"2020-05-28T09:09:04.516+0000\",\n      \"updatedAt\" : \"2020-05-28T19:09:04.516+0000\",\n      \"name\" : \"Endpoint 02\",\n      \"networkId\" : null,\n      \"endpointType\" : \"GW\",\n      \"clientType\" : \"\",\n      \"clientVersion\" : \"\",\n      \"source\" : null,\n      \"syncId\" : null,\n      \"registrationKey\" : \"regKey value\",\n      \"registrationAttemptsLeft\" : 5,\n      \"status\" : 100,\n      \"currentState\" : 100,\n      \"stateLastUpdated\" : null,\n      \"endpointProtectionRole\" : null,\n      \"haEndpointType\" : \"HAGW\",\n      \"o365BreakoutNextHopIp\" : null,\n      \"gatewayClusterId\" : null,\n      \"clientMfaEnable\" : \"NO\",\n      \"ownerIdentityId\" : null,\n      \"countryId\" : null,\n      \"geoRegionId\" : null,\n      \"dataCenterId\" : null,\n      \"sessionIdentityId\" : null,\n      \"id\" : \"832b0a74-3a1f-453e-8905-508ccc79052e\",\n      \"componentId\" : \"\"\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networkgroups/d1702b56-cb87-405f-b0ac-9375bb78752b/endpoints\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networkgroups/{networkGroupId}/services": {
            "get": {
                "tags": [
                    "networkgroups"
                ],
                "operationId": "get-all-services-for-network-group",
                "parameters": [
                    {
                        "name": "networkGroupId",
                        "in": "path",
                        "description": "the id of the network group",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkgroups-networkGroupId-services-1977395650"
                                },
                                "examples": {
                                    "get-all-services-for-network-group": {
                                        "value": "{\n  \"_embedded\" : {\n    \"services\" : [ {\n      \"serviceClass\" : \"CS\",\n      \"serviceInterceptType\" : null,\n      \"serviceType\" : null,\n      \"lowLatency\" : null,\n      \"dataInterleaving\" : null,\n      \"transparency\" : null,\n      \"localNetworkGateway\" : null,\n      \"multicast\" : null,\n      \"dnsOptions\" : null,\n      \"icmpTunnel\" : null,\n      \"cryptoLevel\" : null,\n      \"permanentConnection\" : null,\n      \"collectionLocation\" : null,\n      \"pbrType\" : null,\n      \"rateSmoothing\" : null,\n      \"networkIp\" : null,\n      \"networkNetmask\" : null,\n      \"networkFirstPort\" : 0,\n      \"networkLastPort\" : 0,\n      \"interceptIp\" : null,\n      \"interceptDnsHostname\" : null,\n      \"interceptDnsPort\" : 0,\n      \"interceptFirstPort\" : 0,\n      \"interceptLastPort\" : 0,\n      \"gatewayIp\" : null,\n      \"gatewayCidrBlock\" : 0,\n      \"netflowIndex\" : 0,\n      \"profileIndex\" : 0,\n      \"o365Conflict\" : false,\n      \"status\" : 0,\n      \"protectionGroupId\" : null,\n      \"portInterceptMode\" : null,\n      \"endpointId\" : null,\n      \"gatewayClusterId\" : null,\n      \"networkId\" : null,\n      \"ownerIdentityId\" : null,\n      \"interceptIncludePorts\" : null,\n      \"interceptExcludePorts\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"Service 01\",\n      \"gatewayNetmask\" : \"\",\n      \"interceptPorts\" : {\n        \"include\" : [ ],\n        \"exclude\" : [ ]\n      },\n      \"id\" : null\n    }, {\n      \"serviceClass\" : \"CS\",\n      \"serviceInterceptType\" : null,\n      \"serviceType\" : null,\n      \"lowLatency\" : null,\n      \"dataInterleaving\" : null,\n      \"transparency\" : null,\n      \"localNetworkGateway\" : null,\n      \"multicast\" : null,\n      \"dnsOptions\" : null,\n      \"icmpTunnel\" : null,\n      \"cryptoLevel\" : null,\n      \"permanentConnection\" : null,\n      \"collectionLocation\" : null,\n      \"pbrType\" : null,\n      \"rateSmoothing\" : null,\n      \"networkIp\" : null,\n      \"networkNetmask\" : null,\n      \"networkFirstPort\" : 0,\n      \"networkLastPort\" : 0,\n      \"interceptIp\" : null,\n      \"interceptDnsHostname\" : null,\n      \"interceptDnsPort\" : 0,\n      \"interceptFirstPort\" : 0,\n      \"interceptLastPort\" : 0,\n      \"gatewayIp\" : null,\n      \"gatewayCidrBlock\" : 0,\n      \"netflowIndex\" : 0,\n      \"profileIndex\" : 0,\n      \"o365Conflict\" : false,\n      \"status\" : 0,\n      \"protectionGroupId\" : null,\n      \"portInterceptMode\" : null,\n      \"endpointId\" : null,\n      \"gatewayClusterId\" : null,\n      \"networkId\" : null,\n      \"ownerIdentityId\" : null,\n      \"interceptIncludePorts\" : null,\n      \"interceptExcludePorts\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"Service 02\",\n      \"gatewayNetmask\" : \"\",\n      \"interceptPorts\" : {\n        \"include\" : [ ],\n        \"exclude\" : [ ]\n      },\n      \"id\" : null\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networkgroups/fe2b438b-832c-4cb1-86a3-58364ff82e05/services\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks": {
            "get": {
                "tags": [
                    "networks"
                ],
                "summary": "this is a shorter summary",
                "description": "this is a longer description with **commonmark** support",
                "operationId": "get-all-networks-paged",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks256777470"
                                },
                                "examples": {
                                    "get-all-networks-paged": {
                                        "value": "{\n  \"_embedded\" : {\n    \"networks\" : [ {\n      \"createdAt\" : \"2020-05-28T09:08:17.842+0000\",\n      \"updatedAt\" : \"2020-05-28T19:08:17.842+0000\",\n      \"name\" : \"Test Network 01\",\n      \"caName\" : \"CA_86ed0041-48e9-44fd-a2a0-415fe1dcb27c\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"2eba4a8b-050d-4f9d-9b29-1122c391722e\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"936d9cb3-c50f-4ba9-bafb-7d54f3c96567\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/936d9cb3-c50f-4ba9-bafb-7d54f3c96567\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/2eba4a8b-050d-4f9d-9b29-1122c391722e\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/936d9cb3-c50f-4ba9-bafb-7d54f3c96567/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/936d9cb3-c50f-4ba9-bafb-7d54f3c96567/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/936d9cb3-c50f-4ba9-bafb-7d54f3c96567/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/936d9cb3-c50f-4ba9-bafb-7d54f3c96567/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/936d9cb3-c50f-4ba9-bafb-7d54f3c96567/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/936d9cb3-c50f-4ba9-bafb-7d54f3c96567/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/936d9cb3-c50f-4ba9-bafb-7d54f3c96567/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/936d9cb3-c50f-4ba9-bafb-7d54f3c96567/networkConfigMetadata\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-05-28T09:08:17.844+0000\",\n      \"updatedAt\" : \"2020-05-28T19:08:17.844+0000\",\n      \"name\" : \"Test Network 02\",\n      \"caName\" : \"CA_56c03884-7edd-420b-babf-76fbf97ec171\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"2eba4a8b-050d-4f9d-9b29-1122c391722e\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"9a88fb7c-d8de-4f40-891a-3c3c7c156fa4\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/9a88fb7c-d8de-4f40-891a-3c3c7c156fa4\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/2eba4a8b-050d-4f9d-9b29-1122c391722e\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/9a88fb7c-d8de-4f40-891a-3c3c7c156fa4/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/9a88fb7c-d8de-4f40-891a-3c3c7c156fa4/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/9a88fb7c-d8de-4f40-891a-3c3c7c156fa4/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/9a88fb7c-d8de-4f40-891a-3c3c7c156fa4/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/9a88fb7c-d8de-4f40-891a-3c3c7c156fa4/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/9a88fb7c-d8de-4f40-891a-3c3c7c156fa4/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/9a88fb7c-d8de-4f40-891a-3c3c7c156fa4/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/9a88fb7c-d8de-4f40-891a-3c3c7c156fa4/networkConfigMetadata\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks?page=0,size=10,sort=name,asc\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    },
                                    "get-all-networks": {
                                        "value": "{\n  \"_embedded\" : {\n    \"networks\" : [ {\n      \"createdAt\" : \"2020-05-28T09:08:17.632+0000\",\n      \"updatedAt\" : \"2020-05-28T19:08:17.632+0000\",\n      \"name\" : \"Test Network 01\",\n      \"caName\" : \"CA_67214279-9732-4be4-88a7-d0b01d1386db\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"2e10f9b5-a650-4a58-b1c9-78b962e90b3c\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"fe0e602e-23be-4aae-bad6-0a7a0b92582f\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/fe0e602e-23be-4aae-bad6-0a7a0b92582f\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/2e10f9b5-a650-4a58-b1c9-78b962e90b3c\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/fe0e602e-23be-4aae-bad6-0a7a0b92582f/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/fe0e602e-23be-4aae-bad6-0a7a0b92582f/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/fe0e602e-23be-4aae-bad6-0a7a0b92582f/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/fe0e602e-23be-4aae-bad6-0a7a0b92582f/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/fe0e602e-23be-4aae-bad6-0a7a0b92582f/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/fe0e602e-23be-4aae-bad6-0a7a0b92582f/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/fe0e602e-23be-4aae-bad6-0a7a0b92582f/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/fe0e602e-23be-4aae-bad6-0a7a0b92582f/networkConfigMetadata\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-05-28T09:08:17.633+0000\",\n      \"updatedAt\" : \"2020-05-28T19:08:17.633+0000\",\n      \"name\" : \"Test Network 02\",\n      \"caName\" : \"CA_ae9d24b9-d6e1-4c33-af70-2bd0a7e4f0b2\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"2e10f9b5-a650-4a58-b1c9-78b962e90b3c\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"2f5aac73-4fd8-47d1-aeca-3a9e71201775\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/2f5aac73-4fd8-47d1-aeca-3a9e71201775\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/2e10f9b5-a650-4a58-b1c9-78b962e90b3c\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/2f5aac73-4fd8-47d1-aeca-3a9e71201775/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/2f5aac73-4fd8-47d1-aeca-3a9e71201775/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/2f5aac73-4fd8-47d1-aeca-3a9e71201775/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/2f5aac73-4fd8-47d1-aeca-3a9e71201775/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/2f5aac73-4fd8-47d1-aeca-3a9e71201775/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/2f5aac73-4fd8-47d1-aeca-3a9e71201775/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/2f5aac73-4fd8-47d1-aeca-3a9e71201775/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/2f5aac73-4fd8-47d1-aeca-3a9e71201775/networkConfigMetadata\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "networks"
                ],
                "operationId": "create-network",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks761588672"
                            },
                            "examples": {
                                "create-network": {
                                    "value": "{\n  \"name\" : \"Test Network 01\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"networkConfigName\" : \"medium\",\n  \"locationCode\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"subscriptionId\" : null\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-582637379"
                                },
                                "examples": {
                                    "create-network": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-28T09:08:17.452+0000\",\n  \"updatedAt\" : \"2020-05-28T19:08:17.452+0000\",\n  \"name\" : \"Test Network 01\",\n  \"caName\" : \"CA_2bd1103e-9893-437e-be4a-47fcb6d86b38\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"provisionedAt\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : null,\n  \"mfaIssuerId\" : null,\n  \"status\" : 100,\n  \"organizationId\" : \"c7f5f58a-16d6-4ce9-8ae2-b65731d6f77e\",\n  \"ownerIdentityId\" : null,\n  \"networkConfigMetadataId\" : null,\n  \"id\" : \"fe8154c9-61c1-4d4e-ab31-aeef9c2c4f2e\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks/fe8154c9-61c1-4d4e-ab31-aeef9c2c4f2e\"\n    },\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/c7f5f58a-16d6-4ce9-8ae2-b65731d6f77e\"\n    },\n    \"networkControllerHosts\" : {\n      \"href\" : \"http://localhost/networks/fe8154c9-61c1-4d4e-ab31-aeef9c2c4f2e/networkControllerHosts\"\n    },\n    \"endpoints\" : {\n      \"href\" : \"http://localhost/networks/fe8154c9-61c1-4d4e-ab31-aeef9c2c4f2e/endpoints\"\n    },\n    \"endpointGroups\" : {\n      \"href\" : \"http://localhost/networks/fe8154c9-61c1-4d4e-ab31-aeef9c2c4f2e/endpointGroups\"\n    },\n    \"services\" : {\n      \"href\" : \"http://localhost/networks/fe8154c9-61c1-4d4e-ab31-aeef9c2c4f2e/services\"\n    },\n    \"appWans\" : {\n      \"href\" : \"http://localhost/networks/fe8154c9-61c1-4d4e-ab31-aeef9c2c4f2e/appWans\"\n    },\n    \"gatewayClusters\" : {\n      \"href\" : \"http://localhost/networks/fe8154c9-61c1-4d4e-ab31-aeef9c2c4f2e/gatewayClusters\"\n    },\n    \"virtualWanSites\" : {\n      \"href\" : \"http://localhost/networks/fe8154c9-61c1-4d4e-ab31-aeef9c2c4f2e/virtualWanSites\"\n    },\n    \"networkConfigMetadata\" : {\n      \"href\" : \"http://localhost/networks/fe8154c9-61c1-4d4e-ab31-aeef9c2c4f2e/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks/{networkId}": {
            "get": {
                "tags": [
                    "networks"
                ],
                "operationId": "get-network",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-1626269863"
                                },
                                "examples": {
                                    "get-network": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-28T09:08:17.231+0000\",\n  \"updatedAt\" : \"2020-05-28T19:08:17.231+0000\",\n  \"name\" : \"Test Network 01\",\n  \"caName\" : \"CA_4eda9977-17ec-4cd6-96fe-4dfb59321381\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"provisionedAt\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : null,\n  \"mfaIssuerId\" : null,\n  \"status\" : 100,\n  \"organizationId\" : \"227f0556-8ae8-4633-891c-399f2563a8f5\",\n  \"ownerIdentityId\" : null,\n  \"networkConfigMetadataId\" : null,\n  \"id\" : \"183ea89c-7f93-4ffc-95d6-f6b936e3b898\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks/183ea89c-7f93-4ffc-95d6-f6b936e3b898\"\n    },\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/227f0556-8ae8-4633-891c-399f2563a8f5\"\n    },\n    \"networkControllerHosts\" : {\n      \"href\" : \"http://localhost/networks/183ea89c-7f93-4ffc-95d6-f6b936e3b898/networkControllerHosts\"\n    },\n    \"endpoints\" : {\n      \"href\" : \"http://localhost/networks/183ea89c-7f93-4ffc-95d6-f6b936e3b898/endpoints\"\n    },\n    \"endpointGroups\" : {\n      \"href\" : \"http://localhost/networks/183ea89c-7f93-4ffc-95d6-f6b936e3b898/endpointGroups\"\n    },\n    \"services\" : {\n      \"href\" : \"http://localhost/networks/183ea89c-7f93-4ffc-95d6-f6b936e3b898/services\"\n    },\n    \"appWans\" : {\n      \"href\" : \"http://localhost/networks/183ea89c-7f93-4ffc-95d6-f6b936e3b898/appWans\"\n    },\n    \"gatewayClusters\" : {\n      \"href\" : \"http://localhost/networks/183ea89c-7f93-4ffc-95d6-f6b936e3b898/gatewayClusters\"\n    },\n    \"virtualWanSites\" : {\n      \"href\" : \"http://localhost/networks/183ea89c-7f93-4ffc-95d6-f6b936e3b898/virtualWanSites\"\n    },\n    \"networkConfigMetadata\" : {\n      \"href\" : \"http://localhost/networks/183ea89c-7f93-4ffc-95d6-f6b936e3b898/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "networks"
                ],
                "operationId": "update-network",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-networkId-54152969"
                            },
                            "examples": {
                                "update-network": {
                                    "value": "{\n  \"name\" : \"Test Network 01 Updated\",\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : \"1234\",\n  \"mfaIssuerId\" : \"https://okta\"\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-1500717383"
                                },
                                "examples": {
                                    "update-network": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-28T09:08:17.567+0000\",\n  \"updatedAt\" : \"2020-05-28T19:08:17.567+0000\",\n  \"name\" : \"Test Network 01 Updated\",\n  \"caName\" : \"CA_f00478cf-1a28-4bda-8912-5d738263cbbb\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"provisionedAt\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : null,\n  \"mfaIssuerId\" : null,\n  \"status\" : 100,\n  \"organizationId\" : \"5470bf79-15e4-44ff-8b0e-e402159882a0\",\n  \"ownerIdentityId\" : null,\n  \"networkConfigMetadataId\" : null,\n  \"id\" : \"963964c8-bc3e-4f44-bd61-c518c1bf7ec6\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks/963964c8-bc3e-4f44-bd61-c518c1bf7ec6\"\n    },\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/5470bf79-15e4-44ff-8b0e-e402159882a0\"\n    },\n    \"networkControllerHosts\" : {\n      \"href\" : \"http://localhost/networks/963964c8-bc3e-4f44-bd61-c518c1bf7ec6/networkControllerHosts\"\n    },\n    \"endpoints\" : {\n      \"href\" : \"http://localhost/networks/963964c8-bc3e-4f44-bd61-c518c1bf7ec6/endpoints\"\n    },\n    \"endpointGroups\" : {\n      \"href\" : \"http://localhost/networks/963964c8-bc3e-4f44-bd61-c518c1bf7ec6/endpointGroups\"\n    },\n    \"services\" : {\n      \"href\" : \"http://localhost/networks/963964c8-bc3e-4f44-bd61-c518c1bf7ec6/services\"\n    },\n    \"appWans\" : {\n      \"href\" : \"http://localhost/networks/963964c8-bc3e-4f44-bd61-c518c1bf7ec6/appWans\"\n    },\n    \"gatewayClusters\" : {\n      \"href\" : \"http://localhost/networks/963964c8-bc3e-4f44-bd61-c518c1bf7ec6/gatewayClusters\"\n    },\n    \"virtualWanSites\" : {\n      \"href\" : \"http://localhost/networks/963964c8-bc3e-4f44-bd61-c518c1bf7ec6/virtualWanSites\"\n    },\n    \"networkConfigMetadata\" : {\n      \"href\" : \"http://localhost/networks/963964c8-bc3e-4f44-bd61-c518c1bf7ec6/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "networks"
                ],
                "operationId": "delete-network",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/networks/{networkId}/appWan-processes": {
            "get": {
                "tags": [
                    "networks"
                ],
                "summary": "Monitor the progress of an AppWAN modification.",
                "description": "Monitor the progress of a prior UPDATE to an AppWan. It returns an array of processing steps that an AppWan will go through when being created or updated.  The returned steps contain a current status (in progress, completed, etc.), reflecting the current state of that process-step.",
                "operationId": "find-appwan-processes",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-appWan-processes766456683"
                                },
                                "examples": {
                                    "find-appwan-processes": {
                                        "value": "[ {\n  \"businessKey\" : \"8f56e16e-0cde-466f-8264-c3a435d2828e\",\n  \"processDefinitionKey\" : \"createAppwan\",\n  \"workFlowStatus\" : [ {\n    \"task\" : \"Started\",\n    \"status\" : \"InProgress\"\n  } ]\n} ]"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks/{networkId}/appWans": {
            "get": {
                "tags": [
                    "networks"
                ],
                "operationId": "get-all-app-wans-for-network-paged",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-appWans175155576"
                                },
                                "examples": {
                                    "get-all-app-wans-for-network-paged": {
                                        "value": "{\n  \"_embedded\" : {\n    \"appWans\" : [ {\n      \"createdAt\" : \"2020-05-28T09:08:34.593+0000\",\n      \"updatedAt\" : \"2020-05-28T19:08:34.593+0000\",\n      \"name\" : \"AppWan 01\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"66dca288-fa80-4df0-93a8-06bc0dae86ae\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/5627254b-2541-415e-8717-cbf010b6df44/appWans/66dca288-fa80-4df0-93a8-06bc0dae86ae\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/5627254b-2541-415e-8717-cbf010b6df44\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/5627254b-2541-415e-8717-cbf010b6df44/appWans/66dca288-fa80-4df0-93a8-06bc0dae86ae/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/5627254b-2541-415e-8717-cbf010b6df44/appWans/66dca288-fa80-4df0-93a8-06bc0dae86ae/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/5627254b-2541-415e-8717-cbf010b6df44/appWans/66dca288-fa80-4df0-93a8-06bc0dae86ae/services\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-05-28T09:08:34.594+0000\",\n      \"updatedAt\" : \"2020-05-28T19:08:34.594+0000\",\n      \"name\" : \"AppWan 02\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"f1d61714-3f38-4c6b-8085-5cd24e8ed136\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/5627254b-2541-415e-8717-cbf010b6df44/appWans/f1d61714-3f38-4c6b-8085-5cd24e8ed136\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/5627254b-2541-415e-8717-cbf010b6df44\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/5627254b-2541-415e-8717-cbf010b6df44/appWans/f1d61714-3f38-4c6b-8085-5cd24e8ed136/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/5627254b-2541-415e-8717-cbf010b6df44/appWans/f1d61714-3f38-4c6b-8085-5cd24e8ed136/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/5627254b-2541-415e-8717-cbf010b6df44/appWans/f1d61714-3f38-4c6b-8085-5cd24e8ed136/services\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"first\" : {\n      \"href\" : \"http://localhost/networks/5627254b-2541-415e-8717-cbf010b6df44/appWans?page=0,size=10,sort=name,asc\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    },
                                    "get-all-app-wans-for-network": {
                                        "value": "{\n  \"_embedded\" : {\n    \"appWans\" : [ {\n      \"createdAt\" : \"2020-05-28T09:08:34.892+0000\",\n      \"updatedAt\" : \"2020-05-28T19:08:34.892+0000\",\n      \"name\" : \"AppWan 01\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"f0e023d3-2202-48db-830c-b6bfa766fc3f\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/8e12dfde-94e6-4407-8049-67f6e54f62d3/appWans/f0e023d3-2202-48db-830c-b6bfa766fc3f\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/8e12dfde-94e6-4407-8049-67f6e54f62d3\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/8e12dfde-94e6-4407-8049-67f6e54f62d3/appWans/f0e023d3-2202-48db-830c-b6bfa766fc3f/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/8e12dfde-94e6-4407-8049-67f6e54f62d3/appWans/f0e023d3-2202-48db-830c-b6bfa766fc3f/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/8e12dfde-94e6-4407-8049-67f6e54f62d3/appWans/f0e023d3-2202-48db-830c-b6bfa766fc3f/services\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-05-28T09:08:34.893+0000\",\n      \"updatedAt\" : \"2020-05-28T19:08:34.893+0000\",\n      \"name\" : \"AppWan 02\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"c36ffaba-ec96-4610-bdad-757fcce429bd\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/8e12dfde-94e6-4407-8049-67f6e54f62d3/appWans/c36ffaba-ec96-4610-bdad-757fcce429bd\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/8e12dfde-94e6-4407-8049-67f6e54f62d3\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/8e12dfde-94e6-4407-8049-67f6e54f62d3/appWans/c36ffaba-ec96-4610-bdad-757fcce429bd/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/8e12dfde-94e6-4407-8049-67f6e54f62d3/appWans/c36ffaba-ec96-4610-bdad-757fcce429bd/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/8e12dfde-94e6-4407-8049-67f6e54f62d3/appWans/c36ffaba-ec96-4610-bdad-757fcce429bd/services\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"first\" : {\n      \"href\" : \"http://localhost/networks/8e12dfde-94e6-4407-8049-67f6e54f62d3/appWans?page=0,size=10,sort=name,asc\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "networks"
                ],
                "summary": "Initialize an empty AppWAN",
                "description": "Initialize an empty AppWAN for authorizations that will be added later.",
                "operationId": "create-app-wan",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-networkId-appWans751732740"
                            },
                            "examples": {
                                "create-app-wan": {
                                    "value": "{\n  \"name\" : \"Test AppWan Create\",\n  \"subscriptionId\" : \"c28b8abb-9176-405d-b484-946e538183f3\"\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-appWans-2073924989"
                                },
                                "examples": {
                                    "create-app-wan": {
                                        "value": "{\n  \"createdAt\" : \"2020-05-28T09:08:35.000+0000\",\n  \"updatedAt\" : \"2020-05-28T19:08:35.000+0000\",\n  \"name\" : \"Test AppWan Create\",\n  \"networkId\" : null,\n  \"status\" : 300,\n  \"ownerIdentityId\" : null,\n  \"id\" : \"48e809e0-b78c-4b78-ac2e-dbbc72700a1b\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks/ebd5af5e-3fdd-4055-97b5-43bdc708030d/appWans/48e809e0-b78c-4b78-ac2e-dbbc72700a1b\"\n    },\n    \"network\" : {\n      \"href\" : \"http://localhost/networks/ebd5af5e-3fdd-4055-97b5-43bdc708030d\"\n    },\n    \"endpointGroups\" : {\n      \"href\" : \"http://localhost/networks/ebd5af5e-3fdd-4055-97b5-43bdc708030d/appWans/48e809e0-b78c-4b78-ac2e-dbbc72700a1b/endpointGroups\"\n    },\n    \"endpoints\" : {\n      \"href\" : \"http://localhost/networks/ebd5af5e-3fdd-4055-97b5-43bdc708030d/appWans/48e809e0-b78c-4b78-ac2e-dbbc72700a1b/endpoints\"\n    },\n    \"services\" : {\n      \"href\" : \"http://localhost/networks/ebd5af5e-3fdd-4055-97b5-43bdc708030d/appWans/48e809e0-b78c-4b78-ac2e-dbbc72700a1b/services\"\n    }\n  }\n}"
                                    },
                                    "create-app-wan-from-yaml": {
                                        "value": "{\n  \"businessKey\" : \"ae60f701-9949-4aec-9e82-c30155d164b4\",\n  \"appWan\" : {\n    \"createdAt\" : \"2020-05-28T09:08:34.550+0000\",\n    \"updatedAt\" : \"2020-05-28T19:08:34.550+0000\",\n    \"name\" : \"Test AppWan\",\n    \"networkId\" : null,\n    \"status\" : 300,\n    \"ownerIdentityId\" : null,\n    \"id\" : \"d32e75d6-b470-4896-a676-57af9a501017\",\n    \"_links\" : {\n      \"self\" : {\n        \"href\" : \"http://localhost/networks/ae60f701-9949-4aec-9e82-c30155d164b4/appWans/d32e75d6-b470-4896-a676-57af9a501017\"\n      },\n      \"network\" : {\n        \"href\" : \"http://localhost/networks/ae60f701-9949-4aec-9e82-c30155d164b4\"\n      },\n      \"endpointGroups\" : {\n        \"href\" : \"http://localhost/networks/ae60f701-9949-4aec-9e82-c30155d164b4/appWans/d32e75d6-b470-4896-a676-57af9a501017/endpointGroups\"\n      },\n      \"endpoints\" : {\n        \"href\" : \"http://localhost/networks/ae60f701-9949-4aec-9e82-c30155d164b4/appWans/d32e75d6-b470-4896-a676-57af9a501017/endpoints\"\n      },\n      \"services\" : {\n        \"href\" : \"http://localhost/networks/ae60f701-9949-4aec-9e82-c30155d164b4/appWans/d32e75d6-b470-4896-a676-57af9a501017/services\"\n      }\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks/{networkId}/blueprint": {
            "get": {
                "tags": [
                    "networks"
                ],
                "operationId": "get-network-as-code",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/yml": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-endpointGroups-endpointGroupId-endpoints486549215"
                                },
                                "examples": {
                                    "get-network-as-code": {
                                        "value": "network:\n  name: Network12\n  productFamily: DVN\n  productVersion: 1.0.0-123\n  gateways: []\n  clients: []\n  endpointGroups: []\n  services: []\n  appWans: []\n  gatewayClusters: []\n"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks/{networkId}/cas": {
            "post": {
                "tags": [
                    "networks"
                ],
                "operationId": "create-certificate-authority",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
[...]
