name: Labeler

on: [pull_request]

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - name: Run Labeler
        uses: actions/labeler@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: .github/labeler.yml
          sync-labels: true
