name: Update Resume

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: "0 0 1 * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      #with:
      #repository: cschindlbeck/cv
      #ref: refs/heads/main
    - name: Build Resume
      run: |
        # Cloning via PAT
        git clone https://${{ secrets.ACCESS_TOKEN }}@github.com/cschindlbeck/cv.git
        cd cv
        ./latexdockercmd.sh pdflatex resume_cschindlbeck.tex
        cd ..
        cp cv/resume_cschindlbeck.pdf assets/docs/resume_cschindlbeck.pdf
        rm -rf cv
    - name: Push code
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git status
        git add -f assets/docs/resume_cschindlbeck.pdf
        # Prevent empty add to result in error
        git diff-index --quiet HEAD || git commit -m "Updated Resume"
        git pull origin ${GITHUB_REF##*/} --rebase
        git push
